﻿<md-content id="account" layout="row" flex layout-wrap layout-align="start start">
    <div flex="100">
        <md-nav-bar md-selected-nav-item="currentNavItem" id="page-nav" layout-algin="center center" aria-label="page-nav">
            <md-nav-item md-nav-click="clickNavigation('#/account')" name="account">ACCOUNT</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/billing')" name="billing">BILLING</md-nav-item>
        </md-nav-bar>
    </div>
    <div class="outer-layout" layout="row" flex="100" layout-wrap>
        <div class="headings" flex="100">
            <label class="heading" ng-if="!user.organization">EDIT PROFILE</label>
            <label class="heading" ng-if="user.organization">EDIT ORGANIZATION PROFILE</label>
        </div>
        <div flex="100" layout="row" layout-wrap>
            <div class="avatar-layout" flex-sm="100" flex-xs="100">
                <img ngf-src="account.avatar" />
                <a href="javascript:void(0)" ngf-select="" ng-model="account.avatar" name="file" ngf-accept="'image/*'">Change Photo</a>
            </div>
            <div flex layout="row" layout-wrap layout-align="start start" flex-sm="100" flex-xs="100">
                <div class="form-group small" flex="50" flex-xs="100" ng-if="!user.organization">
                    <label>First name</label>
                    <input type="text" class="form-control" ng-model="account.firstName">
                </div>
                <div class="form-group small" flex="50" flex-xs="100" ng-if="!user.organization">
                    <label>Last name</label>
                    <input type="text" class="form-control" ng-model="account.lastName">
                </div>
                <div class="form-group small" flex="100" ng-if="user.organization">
                    <label>Display name</label>
                    <input type="text" class="form-control" ng-model="account.displayName">
                </div>
                <div class="form-group" flex="100">
                    <label>Roles</label>
                    <md-chips ng-model="account.roles" class="form-control chips" md-autocomplete-snap md-transform-chip="roleTransformChip($chip)" md-require-match="true">
                        <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in roles | filter : searchText" md-item-text="item.name" placeholder="Add another role...">
                            <span md-highlight-text="searchText">{{item.name}}</span>
                        </md-autocomplete>
                        <md-chip-template>
                            <span>
                                <span>{{$chip.name}}</span>
                            </span>
                        </md-chip-template>
                    </md-chips>
                </div>
            </div>
            <div flex="100">
                <div class="form-group">
                    <label>About</label>
                    <textarea class="form-control textarea" ng-model="account.about"></textarea>
                </div>
            </div>
            <div flex="100" ng-if="user.organization">
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" ng-model="account.address">
                </div>
            </div>
            <div flex="100" ng-if="user.organization" class="text-right">
                <md-button>ADD ANOTHER ADDRESS</md-button>
            </div>
        </div>
        <div class="headings" flex="100" ng-if="user.organization">
            <label class="heading">CONTACT INFORMATION</label>
        </div>
        <div flex="100" layout="row" layout-wrap layout-align="start start" ng-if="user.organization">
            <div class="form-group" flex="50" flex-xs="100">
                <label>Contact Email</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="account.email">
                    <span class="input-group-addon" ng-click="account.showEmail = !account.showEmail">
                        <md-icon class="icon icon-visible" ng-if="account.showEmail"></md-icon>
                        <md-icon class="icon icon-hidden" ng-if="!account.showEmail"></md-icon>
                    </span>
                </div>
            </div>
            <div class="form-group" flex="50" flex-xs="100">
                <label>Website URL</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="account.website">
                    <span class="input-group-addon" ng-click="account.showWebsite = !account.showWebsite">
                        <md-icon class="icon icon-visible" ng-if="account.showWebsite"></md-icon>
                        <md-icon class="icon icon-hidden" ng-if="!account.showWebsite"></md-icon>
                    </span>
                </div>
            </div>
            <div class="form-group" flex="50" flex-xs="100">
                <label>Phone</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="account.phoneNumber">
                    <span class="input-group-addon" ng-click="account.showPhoneNumber = !account.showPhoneNumber">
                        <md-icon class="icon icon-visible" ng-if="account.showPhoneNumber"></md-icon>
                        <md-icon class="icon icon-hidden" ng-if="!account.showPhoneNumber"></md-icon>
                    </span>
                </div>
            </div>
            <div class="form-group" flex="50" flex-xs="100">
                <label>Fax</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="account.fax">
                    <span class="input-group-addon" ng-click="account.showFax = !account.showFax">
                        <md-icon class="icon icon-visible" ng-if="account.showFax"></md-icon>
                        <md-icon class="icon icon-hidden" ng-if="!account.showFax"></md-icon>
                    </span>
                </div>
            </div>
            <div class="form-group" flex="100">
                <label>Social Media</label>
                <input type="text" class="form-control" ng-model="account.socialMedia">
            </div>
            <div flex="100" class="text-right margin-b-32">
                <md-button>+ LINK</md-button>
            </div>
        </div>

        <div class="headings" flex="100">
            <label class="heading">CHANGE PASSWORD</label>
        </div>

        <div flex="100" layout="row" layout-wrap layout-align="start start">
            <div class="form-group" flex="50" flex-xs="100">
                <label>Current Password</label>
                <input type="password" class="form-control" ng-model="account.password">
            </div>
            <div class="form-group" flex="50" flex-xs="100">
                <label>New Password</label>
                <input type="password" class="form-control" ng-model="account.newPassword">
            </div>
            <div flex="100" class="text-right">
                <md-button>SAVE</md-button>
            </div>
        </div>

        <div class="headings" flex="100" ng-if="!user.organization">
            <label class="heading">PERSONAL INFORMATION</label>
        </div>

        <div flex="100" layout="row" layout-wrap layout-align="start start" ng-if="!user.organization">
            <div class="form-group" flex="50" flex-xs="100">
                <label>Email Address</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="account.email">
                    <span class="input-group-addon" ng-click="account.showEmail = !account.showEmail">
                        <md-icon class="icon icon-visible" ng-if="account.showEmail"></md-icon>
                        <md-icon class="icon icon-hidden" ng-if="!account.showEmail"></md-icon>
                    </span>
                </div>
            </div>
            <div class="form-group" flex="50" flex-xs="100">
                <label>Phone Number</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="account.phoneNumber">
                    <span class="input-group-addon" ng-click="account.showPhoneNumber = !account.showPhoneNumber">
                        <md-icon class="icon icon-visible" ng-if="account.showPhoneNumber"></md-icon>
                        <md-icon class="icon icon-hidden" ng-if="!account.showPhoneNumber"></md-icon>
                    </span>
                </div>
            </div>
            <div class="form-group" flex="100">
                <label>Social Media</label>
                <input type="text" class="form-control" ng-model="account.socialMedia">
            </div>
            <div flex="100" class="text-right margin-b-32">
                <md-button>+ LINK</md-button>
            </div>
        </div>

        <div flex="100" layout="row" layout-wrap layout-align="start start" ng-if="!user.organization">
            <div class="form-group" flex="100">
                <label>Organization Name</label>
                <md-menu md-offset="-575 50">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="account.organizationName">
                        <span class="input-group-addon" ng-click="$mdOpenMenu($event);">
                            <md-icon class="icon icon-chevron"></md-icon>
                        </span>
                    </div>
                    <md-menu-content id="organization-menu">
                        <div layout="row" layout-wrap layout-align="start start" ng-if="!openNewOrganization">
                            <div layout="row" flex="33" flex-xs="100" class="flex-organization-33">
                                <div flex layout="row" class="organization add" md-prevent-menu-close ng-click="newOrganization()">
                                    <div class="avatar">
                                        <md-icon class="icon icon-add-small-white"></md-icon>
                                    </div>
                                    <div flex layout="column" layout-align="center start">
                                        <div class="name">New organization</div>
                                    </div>
                                </div>
                            </div>
                            <div layout="row" flex="33" flex-xs="100" class="flex-organization-33" ng-repeat="organization in organizations">
                                <div flex layout="row" class="organization" ng-click="selectedOrganization(organization)">
                                    <div class="avatar">
                                        <img ng-src="{{organization.avatar}}" ng-if="organization.avatar" />
                                    </div>
                                    <div flex layout="column" layout-align="center start">
                                        <div class="name">{{organization.name}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div layout="row" layout-wrap layout-align="start start" ng-if="openNewOrganization">
                            <div flex="100" class="head">
                                Invite new organization
                            </div>
                            <div flex="100">
                                <div class="form-group">
                                    <label>Organization contact email</label>
                                    <input type="email" class="form-control" ng-model="newOrganization.email">
                                </div>
                            </div>
                            <div flex="100">
                                <div class="form-group">
                                    <label>Include Optional Message</label>
                                    <textarea class="form-control textarea" ng-model="newOrganization.message"></textarea>
                                </div>
                            </div>
                            <div flex="100" class="text-right margin-lb-24-16">
                                <md-button ng-click="inviteOrganization()">SEND INVITE</md-button>
                            </div>
                        </div>
                    </md-menu-content>
                </md-menu>
            </div>
            <div class="form-group" flex="50" flex-xs="100">
                <label>Email Address</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="account.organizationEmail">
                    <span class="input-group-addon" ng-click="account.showOrganizationEmail = !account.showOrganizationEmail">
                        <md-icon class="icon icon-visible" ng-if="account.showOrganizationEmail"></md-icon>
                        <md-icon class="icon icon-hidden" ng-if="!account.showOrganizationEmail"></md-icon>
                    </span>
                </div>
            </div>
            <div class="form-group" flex="50" flex-xs="100">
                <label>Website URL</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="account.organizationWebsite">
                    <span class="input-group-addon" ng-click="account.showOrganizationWebsite = !account.showOrganizationWebsite">
                        <md-icon class="icon icon-visible" ng-if="account.showOrganizationWebsite"></md-icon>
                        <md-icon class="icon icon-hidden" ng-if="!account.showOrganizationWebsite"></md-icon>
                    </span>
                </div>
            </div>
        </div>
        <!-- Only for artis-->
        <div class="headings" flex="100" ng-if="user.artist">
            <label class="heading">AGENTS INFORMATION</label>
        </div>
        <div flex="100" layout="row" layout-wrap class="agents-layout" ng-if="user.artist">
            <div flex="100" layout="row" layout-wrap class="add-agent" ng-if="addToggleVal">
                <div flex="100" layout="row" class="head">
                    <span>Invite new agent</span>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="close" ng-click="addToggle()">
                        <md-icon class="icon icon-close"></md-icon>
                    </md-button>
                </div>
                <div class="form-group" flex="100">
                    <label>Email</label>

                    <md-chips ng-model="newAgent.agents" class="form-control chips agent" md-autocomplete-snap md-transform-chip="agentTransformChip($chip)" md-require-match="false">
                        <md-autocomplete md-selected-item="selectedItem1" md-search-text="searchText1" md-items="item in agents | filter : searchText1" md-item-text="item.name" placeholder="Separate multiple agents’ emails with commas.." secondary-placeholder=" ">
                            <span md-highlight-text="searchText1">{{item.name}}</span>
                        </md-autocomplete>
                        <md-chip-template>
                            <div layout="row" class="chips-agent">
                                <div class="avatar">
                                    <img ng-src="{{$chip.avatar}}" ng-if="$chip.avatar" />
                                    <span ng-if="!$chip.avatar" class="new-agent">?</span>
                                </div>
                                <div flex layout="column" layout-align="center center">
                                    <div class="organization">{{$chip.organization}}</div>
                                    <div class="name">{{$chip.name}}</div>
                                </div>
                            </div>
                        </md-chip-template>
                    </md-chips>
                </div>
                <div class="form-group" flex="100">
                    <label>Include Optional Message</label>
                    <textarea class="form-control textarea" ng-model="newAgent.message"></textarea>
                </div>
                <div flex="100" class="text-right">
                    <md-button ng-click="sendAgentInvite()">SEND INVITE</md-button>
                </div>
            </div>
            <div flex="33" flex-xs="100" ng-if="!addToggleVal">
                <div layout="row" class="agents add" ng-click="addToggle()">
                    <div class="avatar">
                        <md-icon class="icon icon-add-small-white"></md-icon>
                    </div>
                    <div flex layout="column" layout-align="center start">
                        <div class="name">Add agents</div>
                    </div>
                </div>
            </div>
            <div flex="33" flex-xs="100" ng-repeat="agent in account.agents">
                <div layout="row" class="agents">
                    <div class="avatar">
                        <img ng-src="{{agent.avatar}}" ng-if="agent.avatar" />
                        <div class="pending-status" ng-if="agent.status == 'pending'">
                            <md-icon class="icon icon-pending-white"></md-icon>
                        </div>
                    </div>
                    <div flex layout="column" layout-align="space-between start">
                        <div class="organization">{{agent.organization}}</div>
                        <div class="name">{{agent.name}}</div>
                        <div class="phone-number" ng-if="agent.status != 'pending'">{{agent.phoneNumber}}</div>
                        <div class="pending" ng-if="agent.status == 'pending'">PENDING</div>
                    </div>
                    <div layout="column" layout-align="center center">
                        <a href="javascript:void(0)" ng-click="removeAgent($index)">
                            <md-icon class="icon icon-close-small"></md-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Only for agent-->
        <div class="headings" flex="100" ng-if="user.agent && !user.organization">
            <label class="heading">ARTISTS INFORMATION</label>
        </div>
        <div flex="100" layout="row" layout-wrap class="agents-layout" ng-if="user.agent && !user.organization">
            <div flex="100" layout="row" layout-wrap class="add-agent" ng-if="addToggleVal">
                <div flex="100" layout="row" class="head">
                    <span>Invite new artist</span>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="close" ng-click="addToggle()">
                        <md-icon class="icon icon-close"></md-icon>
                    </md-button>
                </div>
                <div class="form-group" flex="100">
                    <label>Email</label>

                    <md-chips ng-model="newArtist.artists" class="form-control chips agent" md-autocomplete-snap md-transform-chip="agentTransformChip($chip)" md-require-match="false">
                        <md-autocomplete md-selected-item="selectedItem1" md-search-text="searchText1" md-items="item in artists | filter : searchText1" md-item-text="item.name" placeholder="Separate multiple artists’ emails with commas.." secondary-placeholder=" ">
                            <span md-highlight-text="searchText1">{{item.name}}</span>
                        </md-autocomplete>
                        <md-chip-template>
                            <div layout="row" class="chips-agent">
                                <div class="avatar">
                                    <img ng-src="{{$chip.avatar}}" ng-if="$chip.avatar" />
                                    <span ng-if="!$chip.avatar" class="new-agent">?</span>
                                </div>
                                <div flex layout="column" layout-align="center center">
                                    <div class="organization">{{$chip.role}}</div>
                                    <div class="name">{{$chip.name}}</div>
                                </div>
                            </div>
                        </md-chip-template>
                    </md-chips>
                </div>
                <div class="form-group" flex="100">
                    <label>Include Optional Message</label>
                    <textarea class="form-control textarea" ng-model="newArtist.message"></textarea>
                </div>
                <div flex="100" class="text-right">
                    <md-button ng-click="sendArtistInvite()">SEND INVITE</md-button>
                </div>
            </div>
            <div flex="33" flex-xs="100" ng-if="!addToggleVal">
                <div layout="row" class="agents add" ng-click="addToggle()">
                    <div class="avatar">
                        <md-icon class="icon icon-add-small-white"></md-icon>
                    </div>
                    <div flex layout="column" layout-align="center start">
                        <div class="name">Add artists</div>
                    </div>
                </div>
            </div>
            <div flex="33" flex-xs="100" ng-repeat="artist in account.artists">
                <div layout="row" class="agents">
                    <div class="avatar">
                        <img ng-src="{{artist.avatar}}" ng-if="artist.avatar" />
                        <div class="pending-status" ng-if="artist.status == 'pending'">
                            <md-icon class="icon icon-pending-white"></md-icon>
                        </div>
                    </div>
                    <div flex layout="column" layout-align="space-between start">
                        <div class="organization">{{artist.role}}</div>
                        <div class="name">{{artist.name}}</div>
                        <div class="phone-number" ng-if="artist.status != 'pending'">{{artist.phoneNumber}}</div>
                        <div class="pending" ng-if="artist.status == 'pending'">PENDING</div>
                    </div>
                    <div layout="column" layout-align="center center">
                        <a href="javascript:void(0)" ng-click="removeArtist($index)">
                            <md-icon class="icon icon-close-small"></md-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Only for employee-->
        <div class="headings" flex="100" ng-if="user.organization">
            <label class="heading">EMPLOYEE INFORMATION</label>
        </div>
        <div flex="100" layout="row" layout-wrap class="agents-layout" ng-if="user.organization">
            <div flex="100" layout="row" layout-wrap class="add-agent" ng-if="addToggleVal">
                <div flex="100" layout="row" class="head">
                    <span>Invite new employee</span>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="close" ng-click="addToggle()">
                        <md-icon class="icon icon-close"></md-icon>
                    </md-button>
                </div>
                <div class="form-group" flex="100">
                    <label>Email</label>

                    <md-chips ng-model="newEmployee.employees" class="form-control chips agent" md-autocomplete-snap md-transform-chip="agentTransformChip($chip)" md-require-match="false">
                        <md-autocomplete md-selected-item="selectedItem1" md-search-text="searchText1" md-items="item in employees | filter : searchText1" md-item-text="item.name" placeholder="Separate multiple employees’ emails with commas.." secondary-placeholder=" ">
                            <span md-highlight-text="searchText1">{{item.name}}</span>
                        </md-autocomplete>
                        <md-chip-template>
                            <div layout="row" class="chips-agent">
                                <div class="avatar">
                                    <img ng-src="{{$chip.avatar}}" ng-if="$chip.avatar" />
                                    <span ng-if="!$chip.avatar" class="new-agent">?</span>
                                </div>
                                <div flex layout="column" layout-align="center center">
                                    <div class="organization">{{$chip.role}}</div>
                                    <div class="name">{{$chip.name}}</div>
                                </div>
                            </div>
                        </md-chip-template>
                    </md-chips>
                </div>
                <div class="form-group" flex="100">
                    <label>Include Optional Message</label>
                    <textarea class="form-control textarea" ng-model="newEmployee.message"></textarea>
                </div>
                <div flex="100" class="text-right">
                    <md-button ng-click="sendEmployeeInvite()">SEND INVITE</md-button>
                </div>
            </div>
            <div flex="33" flex-xs="100" ng-if="!addToggleVal">
                <div layout="row" class="agents add" ng-click="addToggle()">
                    <div class="avatar">
                        <md-icon class="icon icon-add-small-white"></md-icon>
                    </div>
                    <div flex layout="column" layout-align="center start">
                        <div class="name">Add employees</div>
                    </div>
                </div>
            </div>
            <div flex="33" flex-xs="100" ng-repeat="employee in account.employees">
                <div layout="row" class="agents">
                    <div class="avatar">
                        <img ng-src="{{employee.avatar}}" ng-if="employee.avatar" />
                        <div class="pending-status" ng-if="employee.status == 'pending'">
                            <md-icon class="icon icon-pending-white"></md-icon>
                        </div>
                    </div>
                    <div flex layout="column" layout-align="space-between start">
                        <div class="organization">{{employee.role}}</div>
                        <div class="name">{{employee.name}}</div>
                        <div class="phone-number" ng-if="employee.status != 'pending'">{{employee.phoneNumber}}</div>
                        <div class="pending" ng-if="employee.status == 'pending'">PENDING</div>
                    </div>
                    <div layout="column" layout-align="center center">
                        <a href="javascript:void(0)" ng-click="removeEmployee($index)">
                            <md-icon class="icon icon-close-small"></md-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>



    </div>
</md-content>