﻿<md-content id="billing" layout="row" flex layout-wrap layout-align="start start">
    <div flex="100">
        <md-nav-bar md-selected-nav-item="currentNavItem" id="page-nav" layout-algin="center center" aria-label="page-nav">
            <md-nav-item md-nav-click="clickNavigation('#/account')" name="account">ACCOUNT</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/billing')" name="billing">BILLING</md-nav-item>
        </md-nav-bar>
    </div>
    <div class="outer-layout" layout="row" layout-wrap flex="100">
        <div class="inner-layout" layout="row" layout-wrap flex ng-if="!account.upgrade && upgradeSetp == 1">
            <div class="headings" flex="100">
                <label class="heading">UPGRADE YOUR ACCOUNT</label>
            </div>
            <div layout="row" flex="100" layout-wrap class="upgrade-layout">
                <label flex="50" flex-xs="100" flex-sm="100">Upgrade your account lenspire account and get access to all of Lenspire’s features. This includes lorem ipsum dolor sit amet, consectetur adipiscing elit. </label>
                <div flex="50" flex-xs="100" flex-sm="100" class="upgrade-area">
                    <md-button class="upgrade yellow-btn" ng-click="upgradeNow()">UPGRADE NOW</md-button>
                </div>
            </div>

            <div class="headings" flex="100">
                <label class="heading">UNCLAIM CREDIT</label>
            </div>
            <div layout="row" flex="100" layout-wrap class="un-claim" layout-align="start center" ng-repeat="credits in unclaim">
                <div class="credits-img" flex flex-sm="100" flex-xs="100">
                    <img ng-src="{{credits.avatar}}" />
                </div>
                <div layout="column" flex flex-sm="100" flex-xs="100">
                    <label class="bold">{{credits.name}}</label>
                    <label class="bold">{{credits.title}}</label>
                    <label>Role: <span class="bold">{{credits.role}}</span></label>
                </div>
                <div class="claim-area" flex-sm="100" flex-xs="100">
                    <md-button flex class="yellow-btn">CLAIM CREDIT</md-button>
                </div>
            </div>
        </div>

        <div class="inner-layout" layout="row" layout-wrap flex ng-if="!account.upgrade && upgradeSetp == 2">
            <div flex="100">
                <label class="heading" flex="100">1. CHOOSE LENSPIRE PLAN </label>
            </div>
            <div class="table-responsive" flex="100">
                <table class="table table-bordered">
                    <tr>
                        <th>Billed annually (save 20%)</th>
                        <th>Billed monthly</th>
                    </tr>
                    <tr>
                        <td>
                            <md-radio-group ng-model="account.plan.name" md-no-ink="false">
                                <md-radio-button name="plan" value="annually">
                                    <div layout="column">
                                        <label class="label-bold">$20/month</label>
                                        <label class="label-light">$240 charged annually</label>
                                    </div>
                                </md-radio-button>
                            </md-radio-group>
                        </td>
                        <td>
                            <md-radio-group ng-model="account.plan.name" md-no-ink="false">
                                <md-radio-button name="plan" value="monthly">
                                    <div layout="column">
                                        <label class="label-bold">$25/month</label>
                                        <label class="label-light">$300 charged annually</label>
                                    </div>
                                </md-radio-button>
                            </md-radio-group>
                        </td>
                    </tr>
                </table>
            </div>
            <div layout="row" layout-wrap flex="100">
                <label class="heading" flex="100">2. SELECT PAYMENT PLAN</label>
            </div>
            <div layout="row" class="section-two" layout-wrap flex="100">
                <form layout="row" layout-wrap flex>
                    <div flex="50" flex-sm="100" flex-xs="100">
                        <div class="form-group">
                            <label>Credit card number</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div flex="25" flex-sm="100" flex-xs="100">
                        <div class="form-group">
                            <label>Security code</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div flex="25" flex-sm="100" flex-xs="100">
                        <div class="form-group">
                            <label>Expiration date</label>
                            <input type="text" class="form-control" placeholder="MM/YY">
                        </div>
                    </div>
                    <div flex="25" flex-sm="100" flex-xs="100">
                        <div class="form-group">
                            <label>Billing ZIP</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div flex="50" flex-sm="100" flex-xs="100">
                        <div class="form-group">
                            <label>Country</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <div layout="row" layout-wrap class="section-three" layout-align="space-between start" flex="100">
                <div class="table-responsive" flex flex-sm="100" flex-xs="100">
                    <table class="table">
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td><label class="year">Yearly price</label></td>
                            <td><label class="doller">$240.00</label></td>
                        </tr>
                        <tr>
                            <td><label class="bill"> Billed now</label></td>
                            <td><label class="bill">$240.00</label></td>
                        </tr>
                    </table>
                </div>
                <label flex flex-sm="100" flex-xs="100">
                    You’ll be charged $240.00
                    yearly plus applicable taxes until you cancel your subscription.
                    Previous charges won’t be refunded when you cancel
                    unless it’s legally required.
                    Your payment data is encrypted and secure.
                    All amounts are shown in USD.
                </label>
            </div>
            <div layout="row" class="section-last" layout-align="end center" flex="100">
                <md-button ng-click="buyNow()">BUY NOW</md-button>
            </div>
        </div>

        <div class="inner-layout" layout="row" layout-wrap flex ng-if="account.upgrade">
            <div class="headings" flex="100">
                <label class="heading">Your current plan</label>
            </div>
            <div layout="row" layout-wrap class="table-responsive" flex="100">
                <table class="table table-bordered bill-table" flex="100">
                    <tr>
                        <th>Billed annually <b>(save 20%)</b></th>
                    </tr>
                    <tr>
                        <td layout="column">
                            <label class="label-bold center">$20/month</label>
                            <label class="label-light">$240 charged annually</label>
                        </td>
                    </tr>
                </table>
            </div>
            <div layout="row" layout-wrap class="buttons" layout-align="end center" flex="100">
                <md-button class="unsubscribe" ng-click="unSubscribe()">UNSUBSCRIBE</md-button>
                <md-button class="payment" ng-click="changePlan()">CHANGE PAYMENT PLAN</md-button>
            </div>
        </div>
    </div>
</md-content>