<md-content layout="column" flex class="bg-transparent" id="page-content">
    <div layout="row" class="content-padding">
        <div layout="row" layout-wrap flex>
            <div class="page-heading" flex="100">
                <h2>DAILY LENSPIRATION</h2>
                <p>
                    "Start by doing what's necessary; then do what's possible; and suddenly you are doing the impossible." - Francis of Assisi
                </p>
                <div class="input-group search-group">
                    <input type="text" ng-model="search" class="form-control" id="search" placeholder="Search people, images">
                    <div class="input-group-addon">
                        <md-icon class="icon icon-magnify"></md-icon>
                    </div>
                </div>
            </div>
            <div flex="100" class="xe-masonry" ng-class="{'sm' :sidenavOpen}">
                <div class="item" ng-repeat="feed in feeds | filter : search">
                    <md-card class="xe-card">
                        <img ng-src="{{feed.image}}" class="md-card-image pointer" ng-click="openEnlarged($event, feed)">
                        <md-card-actions layout="row" layout-align="start center" uib-dropdown>
                            <md-card-icon-actions>
                                {{feed.winkName}}
                            </md-card-icon-actions>
                            <md-menu md-offset="-77 12">
                                <md-button class="md-icon-button icon-btn" aria-label="share" ng-click="$mdOpenMenu($event)">
                                    <md-icon class="icon icon-share"></md-icon>
                                    <md-icon class="icon icon-share-active active"></md-icon>
                                </md-button>
                                <md-menu-content class="share-dropdown">
                                    <div class="input-group search-group">
                                        <input type="text" ng-model="search" class="form-control" id="search" placeholder="Name or email">
                                        <div class="input-group-addon hover">
                                            <md-icon class="icon icon-go"></md-icon>
                                            <md-icon class="icon icon-go-active hover"></md-icon>
                                        </div>
                                    </div>
                                    <md-list flex>
                                        <md-list-item>
                                            <md-button flex layout="row">
                                                <img src="images/data/avatar-1.png" class="md-avatar" />
                                                <div class="md-list-item-text" layout="column">
                                                    <h2>Assistant</h2>
                                                    <h3>Chad Cooper</h3>
                                                </div>
                                            </md-button>
                                        </md-list-item>
                                        <md-list-item>
                                            <md-button flex layout="row">
                                                <img src="images/data/avatar-2.png" class="md-avatar" />
                                                <div class="md-list-item-text" layout="column">
                                                    <h2>Photographer</h2>
                                                    <h3>Heather Greene</h3>
                                                </div>
                                            </md-button>
                                        </md-list-item>
                                        <md-list-item>
                                            <md-button flex layout="row">
                                                <img src="images/data/avatar-3.png" class="md-avatar" />
                                                <div class="md-list-item-text" layout="column">
                                                    <h2>Art Director</h2>
                                                    <h3>Matt Jackson</h3>
                                                </div>
                                            </md-button>
                                        </md-list-item>
                                        <md-list-item>
                                            <md-button flex layout="row">
                                                <img src="images/data/avatar-4.png" class="md-avatar" />
                                                <div class="md-list-item-text" layout="column">
                                                    <h2>Set Designer</h2>
                                                    <h3>Lili Regen</h3>
                                                </div>
                                            </md-button>
                                        </md-list-item>
                                    </md-list>
                                    <div class="social-media-group">
                                        <h2>Share on social media</h2>
                                        <div class="icon-btns" ng-show="!openlink">
                                            <md-button class="md-icon-button icon-btn" aria-label="share">
                                                <md-icon class="icon icon-facebook"></md-icon>
                                            </md-button>
                                            <md-button class="md-icon-button icon-btn" aria-label="share">
                                                <md-icon class="icon icon-linkedin"></md-icon>
                                            </md-button>
                                            <md-button class="md-icon-button icon-btn" aria-label="share">
                                                <md-icon class="icon icon-twitter"></md-icon>
                                            </md-button>
                                            <md-button class="md-icon-button icon-btn" aria-label="share" ng-click="openlink=true" md-prevent-menu-close>
                                                <md-icon class="icon icon-social-media"></md-icon>
                                            </md-button>
                                        </div>
                                        <div class="input-group social-media-link" ng-show="openlink">
                                            <md-icon class="icon icon-link"></md-icon>
                                            <input type="text" class="form-control" placeholder="" value="http://lenspire.com/abc">
                                            <div class="input-group-addon" ng-click="openlink=false" md-prevent-menu-close>
                                                <md-icon class="icon icon-close-12x12"></md-icon>
                                            </div>
                                        </div>
                                    </div>
                                </md-menu-content>
                            </md-menu>
                            <md-button class="md-icon-button icon-btn" aria-label="wink" ng-click="addToWinkboard($event, feed)">
                                <md-icon class="icon icon-wink"></md-icon>
                            </md-button>
                        </md-card-actions>
                        <md-card-header ng-if="!feed.show">
                            <md-card-avatar ng-repeat="publisher in feed.publishers | limitTo : 3 ">
                                <img class="md-user-avatar" ng-src="{{publisher.publisherAvatar}}" />
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title">Published by</span>
                                <span class="md-subhead">{{feed.publishers[0].publisherName}} <span ng-if="feed.publishers.length>1">+{{feed.publishers.length-1}}</span></span>
                            </md-card-header-text>
                            <md-button class="md-icon-button icon-btn" aria-label="share" ng-if="feed.publishers.length>1" ng-click="feed.show=true">
                                <md-icon class="icon icon-chevron-180"></md-icon>
                            </md-button>
                        </md-card-header>
                        <md-list ng-if="feed.show">
                            <md-list-item ng-repeat="publisher in feed.publishers" layout="row">
                                <a href="#/winkboards-public-view" layout="row" flex layout-align="start center">
                                    <img class="md-user-avatar-expand" ng-src="{{publisher.publisherAvatar}}" />
                                    <div layout="column">
                                        <span class="title" ng-if="$first">Published by</span>
                                        <span class="subhead">{{publisher.publisherName}}</span>
                                    </div>
                                </a>
                                <md-button class="md-secondary md-icon-button icon-btn pull-right" ng-if="$first" ng-click="feed.show=false">
                                    <md-icon class="icon icon-chevron"></md-icon>
                                </md-button>
                            </md-list-item>
                        </md-list>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
    <md-button class="md-icon-button" id="home-min-btn" ng-class="{'open' :sidenavOpen}" aria-label="open sidebar" ng-click="sidebarToggle()">
        <md-icon class="icon icon-minimize"></md-icon>
    </md-button>
</md-content>
<md-sidenav id="home-sidenav" class="md-sidenav-right md-whiteframe-4dp" md-is-open="sidenavOpen" md-is-locked-open="$mdMedia('gt-xs') && sidenavOpen" md-component-id="right" md-disable-backdrop md-whiteframe="4" ng-include="sideBar">

</md-sidenav>
