﻿<md-button class="md-icon-button message-leftnav-min-btn" id="leftnav-min-btn" ng-class="{'open' :(sidenavOpen), 'close':(!sidenavOpen),'showExpander' :!screen}" aria-label="open sidebar" ng-click="sidebarToggleLeft()">
    <md-icon class="icon icon-minimize"></md-icon>
</md-button>
<md-sidenav class="md-sidenav-left  leftSideNaveSize" ng-class="{'side-nav-area' :!screen}" id="leftnav" md-is-open="sidenavOpen" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" md-disable-backdrop md-whiteframe="4" ng-include="messageLeftSideBar">
</md-sidenav>
<div layout="column" flex layout-align="start none">
    <div layout="row" flex>
        <md-content flex id="messageArea">
            <div class="column">
                <div ng-repeat="book in messager">
                    <div class="displayDate">{{book.date}}</div>
                    <md-list>
                        <md-list-item class="messageDetail" ng-repeat="msg in book.message ">
                            <div class="pull-right userMessage" layout="row" layout-align="start end" ng-show="msg.userid==1">
                                <span flex></span>
                                <div class="messageplaceUser">
                                    <div class="messagContent">
                                        {{msg.messages}}
                                    </div>
                                </div>
                                <img ng-src="{{msg.avatar}}" class="avatar" />
                            </div>
                            <div layout="row" class="userMessage" layout-align="start end" ng-show="msg.userid!=1">
                                <img ng-src="{{msg.avatar}}" class="avatar" />
                                <div class="messageplace">
                                    <div class="messagContent">
                                        {{msg.messages}}
                                    </div>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </md-content>
    </div>
    <md-content flex id="type">
        <div class="textAreaAlign">
            <div>
                <textarea type="text" class="enter"></textarea>
            </div>
            <div layout="row" flex>
                <div layout="column">
                    <md-icon class="icon icon-picture " aria-hidden="true"></md-icon>
                </div>
                <div layout="column">
                    <md-icon class="icon icon-attach " aria-hidden="true"></md-icon>
                </div>
                <span flex></span>
                <div layout="column" class="sendAlign">
                    <div>
                        <md-button href="javascript:void(0)" class="send">SEND</md-button>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
</div>
<md-button class="md-icon-button" id="rightnav-min-btn" ng-class="{'open' :(sidenavOpenright), 'close':(!sidenavOpenright),'showExpander' :!screen}" aria-label="open sidebar" ng-click="sidebarToggleRight()">
    <md-icon class="icon icon-minimize"></md-icon>
</md-button>
<md-sidenav class="md-sidenav-right rightSideNaveSize" ng-class="{'side-nav-area' :!screen}" id="rightnav" md-is-open="sidenavOpenright" md-is-locked-open="$mdMedia('gt-sm')"  md-component-id="right" md-disable-backdrop md-whiteframe="4" ng-include="messageRightSideBar">
</md-sidenav>
