<div layout="column" flex>
    <div>
        <md-nav-bar md-selected-nav-item="currentNavItem" id="page-nav" layout-algin="center center" aria-label="page-nav">
            <md-nav-item md-nav-click="clickNavigation('#/winkboards')" name="winkborad">WINK BOARD</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/myartists')" name="myartists">MY ARTISTS</md-nav-item>
        </md-nav-bar>
    </div>
    <md-button class="md-icon-button" id="leftnav-min-btn" ng-class="{'open' :(sidenavOpen), 'close':(!sidenavOpen),'showExpander' :screen}" aria-label="open sidebar" ng-click="sidebarToggle()">
        <md-icon class="icon icon-minimize"></md-icon>
    </md-button>
    <div flex layout="row">
        <md-sidenav id="artists-sidenav" ng-class="{'leftside-nav-area' :screen}" class="md-sidenav-left" md-is-open="sidenavOpen" md-is-locked-open="$mdMedia('gt-xs')" md-component-id="left" md-disable-backdrop md-whiteframe="4" ng-include="myartistsTemplate">
        </md-sidenav>
        <md-content layout="column" flex class="bg-transparent" id="page-content">
            <div layout="row" class="content-padding artists">
                <div layout="column" flex layout-wrap>
                    <md-toolbar class="bg-transparent page-toolbar">
                        <div class="md-toolbar-tools" flex layout-wrap>
                            <h2>MY ARTISTS ({{artistsList.length}})</h2>
                            <span flex></span>
                            <div class="sort-select">
                                <label>SORT:</label>
                                <md-menu id="sortMenu" md-offset="0 24">
                                    <md-button ng-click="$mdOpenMenu($event)">
                                        <span>{{sortBy}}</span>
                                    </md-button>
                                    <md-menu-content id="sortMenu-content">
                                        <md-menu-item>
                                            <md-button ng-click="setSortBy('alphabetically')">
                                                alphabetically
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                <i class="icon icon-chevron"></i>
                            </div>
                        </div>
                    </md-toolbar>
                    <div flex>
                        <div layout="row" layout-wrap>
                            <div flex-xs="100" flex-sm="50" flex-md="33" flex-lg="33" flex-gt-lg="33" ng-repeat="art in artistsList">
                                <md-card class="xe-card artists">
                                    <img ng-src="{{art.avatar}}" class="md-card-image">
                                    <md-card-header>
                                        <md-card-header-text>
                                            <span class="md-title">{{art.name}}</span>
                                            <span class="md-subhead">{{art.job}}</span>
                                        </md-card-header-text>
                                    </md-card-header>
                                </md-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>
    </div>
</div>