﻿<md-dialog id="new-message">
    <div layout="column">
        <md-toolbar class="close">
            <ul class="nobullet">
                <li class="pull-right list">
                    <md-button class="md-icon-button closeAlign" ng-click="cancel()">
                        <img src="images/data/icon_x.png" aria-label="Close dialog">
                    </md-button>
                </li>
            </ul>
        </md-toolbar>
        <div layout="row" layout-wrap class="form-container">
            <div class="inner-layout">
                <div class="title" flex="100">
                    <label>NEW MESSAGE</label>
                </div>
                <div class="second-layer" flex="100" layout="row">
                    <div class="content" layout="row" flex layout-wrap ng-click="focus()">
                        <div class="selected-crew" layout="row" layout-align="space-between center" ng-repeat="chosenCrew in chosenCrews">
                            <label class="crew-name">{{chosenCrew.name}}</label>
                            <span class="icon icon-small-close pull-right" ng-click="remove($index,chosenCrew)"></span>
                        </div>
                        <input type="text" id="terms" ng-model="search" />
                    </div>
                    <md-button ng-click="chosenCrew()">GO</md-button>
                </div>
                <div class="last-layer">
                    <md-list>
                        <md-list-item ng-repeat="member in productionBook|filter : search" ng-click="selected(member,$index,productionBook)">
                            <div layout="row" class="outline">
                                <div layout="column">
                                    <img ng-src="{{member.pic}}" class="avatar" />
                                </div>
                                <div layout="column" class="person-detail">
                                    <label class="designation">{{member.profession}}</label>
                                    <label class="name">{{member.name}}</label>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </div>
    </div>
</md-dialog>
