<div layout="column" flex>
    <div flex layout="row">
        <md-content layout="column" flex class="bg-transparent" id="page-content">
            <div layout="row" class="content-padding" layout-wrap id="notification-page">
                <md-toolbar class="bg-transparent page-toolbar">
                    <div class="md-toolbar-tools">
                        <h1>Notification <span class="notify-number">({{notifications.length}})</span></h1>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <div flex="100" class="notification-layout">
                    <md-card ng-repeat="notify in notifications" ng-class="{'read': notify.read}">
                        <md-card-header layout="row" layout-wrap flex>
                            <md-card-avatar>
                                <img class="md-user-avatar" ng-src="{{notify.avatar}}" />
                            </md-card-avatar>
                            <md-card-action layout="column"  layout-align="space-between stretch"flex>
                                <div class="md-card-action-text" ng-html-compile="notify.notificationText"></div>
                                <div>
                                    <span class="date"> {{notify.date}}</span>
                                </div>
                            </md-card-action>
                            <md-card-content ng-if="notify.status==1" flex-sm="100" flex-xs="100" flex>
                                <md-button class="btn-decline">decline</md-button>
                                <md-button class="btn-accept">Accept</md-button>
                            </md-card-content>
                            <md-card-content ng-if="notify.status ==2" flex-sm="100" flex-xs="100" flex>
                                <md-button class="btn-decline" ng-click="notify.status=4" ng-model="btntext">follow</md-button>
                            </md-card-content>
                            <md-card-content ng-if="notify.status ==4" flex-sm="100" flex-xs="100" flex>
                                <md-button class="btn-yellow" ng-model="btntext">following</md-button>
                            </md-card-content>
                        </md-card-header>
                    </md-card>
                </div>

            </div>
        </md-content>
    </div>
</div>