<div layout="column" flex>
    <div layout="row">
        <md-nav-bar md-selected-nav-item="currentNavItem" id="page-nav" layout-algin="center center" flex nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="clickNavigation('#/story')" name="story">STORY</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/behindscene')" name="behindscenes">BEHIND THE SCENES</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/credits')" name="credits">CREDITS</md-nav-item>
        </md-nav-bar>
    </div>
    <div flex layout="row">
        <md-content flex class="col-xs-12 bg-transparent padding-0" id="page-content">
            <div layout="column" flex class="padding-36" id="story">
                <div layout="column" flex class="story-container" layout-wrap>
                    <div>
                        <h2 class="title">South East Asian Photoshoot</h2>
                        <div class="date">FEBRUARY 12, 2016</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a dui molestie, porttitor sapien quis, venenatis turpis. Nunc auctor dui neque, varius sodales neque egestas vitae. Nunc ac felis sed purus ullamcorper sagittis. Morbi ac tellus. </p>
                    </div>
                    <div flex class="xe-masonry masonry-2" dnd-list="feeds">
                        <div class="item" ng-repeat="feed in feeds" dnd-draggable="feed" dnd-moved="feeds.splice($index, 1)" dnd-effect-allowed="move">
                            <md-card class="xe-card">
                                <img ng-src="{{feed.image}}" class="md-card-image pointer" ng-click="openEnlarged($event, feed)">
                                <md-card-actions layout="row" layout-align="start center" uib-dropdown>
                                    <md-card-icon-actions>
                                        {{feed.winkName}}
                                    </md-card-icon-actions>
                                    <md-menu md-offset="-77 12">
                                        <md-button class="md-icon-button icon-btn" aria-label="share" ng-click="$mdOpenMenu($event)">
                                            <md-icon class="icon icon-share"></md-icon>
                                            <md-icon class="icon icon-share-active active"></md-icon>
                                        </md-button>
                                        <md-menu-content class="share-dropdown">
                                            <div class="input-group search-group">
                                                <input type="text" ng-model="search" class="form-control" id="search" placeholder="Name or email">
                                                <div class="input-group-addon hover">
                                                    <md-icon class="icon icon-go"></md-icon>
                                                    <md-icon class="icon icon-go-active hover"></md-icon>
                                                </div>
                                            </div>
                                            <md-list flex>
                                                <md-list-item>
                                                    <md-button flex layout="row">
                                                        <img src="images/data/avatar-1.png" class="md-avatar" />
                                                        <div class="md-list-item-text" layout="column">
                                                            <h2>Assistant</h2>
                                                            <h3>Chad Cooper</h3>
                                                        </div>
                                                    </md-button>
                                                </md-list-item>
                                                <md-list-item>
                                                    <md-button flex layout="row">
                                                        <img src="images/data/avatar-2.png" class="md-avatar" />
                                                        <div class="md-list-item-text" layout="column">
                                                            <h2>Photographer</h2>
                                                            <h3>Heather Greene</h3>
                                                        </div>
                                                    </md-button>
                                                </md-list-item>
                                                <md-list-item>
                                                    <md-button flex layout="row">
                                                        <img src="images/data/avatar-3.png" class="md-avatar" />
                                                        <div class="md-list-item-text" layout="column">
                                                            <h2>Art Director</h2>
                                                            <h3>Matt Jackson</h3>
                                                        </div>
                                                    </md-button>
                                                </md-list-item>
                                                <md-list-item>
                                                    <md-button flex layout="row">
                                                        <img src="images/data/avatar-4.png" class="md-avatar" />
                                                        <div class="md-list-item-text" layout="column">
                                                            <h2>Set Designer</h2>
                                                            <h3>Lili Regen</h3>
                                                        </div>
                                                    </md-button>
                                                </md-list-item>
                                            </md-list>
                                            <div class="social-media-group">
                                                <h2>Share on social media</h2>
                                                <div class="icon-btns" ng-show="!openlink">
                                                    <md-button class="md-icon-button icon-btn" aria-label="share">
                                                        <md-icon class="icon icon-facebook"></md-icon>
                                                    </md-button>
                                                    <md-button class="md-icon-button icon-btn" aria-label="share">
                                                        <md-icon class="icon icon-linkedin"></md-icon>
                                                    </md-button>
                                                    <md-button class="md-icon-button icon-btn" aria-label="share">
                                                        <md-icon class="icon icon-twitter"></md-icon>
                                                    </md-button>
                                                    <md-button class="md-icon-button icon-btn" aria-label="share" ng-click="openlink=true" md-prevent-menu-close>
                                                        <md-icon class="icon icon-social-media"></md-icon>
                                                    </md-button>
                                                </div>
                                                <div class="input-group social-media-link" ng-show="openlink">
                                                    <md-icon class="icon icon-link"></md-icon>
                                                    <input type="text" class="form-control" placeholder="" value="http://lenspire.com/abc">
                                                    <div class="input-group-addon" ng-click="openlink=false" md-prevent-menu-close>
                                                        <md-icon class="icon icon-close-12x12"></md-icon>
                                                    </div>
                                                </div>
                                            </div>
                                        </md-menu-content>
                                    </md-menu>

                                    <md-button class="md-icon-button icon-btn" aria-label="wink" ng-click="addToWinkboard($event, feed)">
                                        <md-icon class="icon icon-wink"></md-icon>
                                    </md-button>
                                </md-card-actions>
                            </md-card>
                        </div>
                    </div>
                </div>
            </div>
            <md-button class="md-icon-button nav-top" id="home-min-btn"ng-class="{'open' : sidenavOpen}" aria-label="open sidebar" ng-click="sidebarToggle()">
                <md-icon class="icon icon-minimize"></md-icon>
            </md-button>
        </md-content>
        <md-sidenav id="user-sidenav" class="md-sidenav-right md-whiteframe-4dp" md-is-open="sidenavOpen" md-is-locked-open="$mdMedia('gt-xs') && sidenavOpen" md-component-id="right" md-disable-backdrop md-whiteframe="4" ng-include="sideBar">

        </md-sidenav>
    </div>
</div>