<div layout="column" flex>
    <div layout="row">
        <md-nav-bar md-selected-nav-item="currentNavItem" id="page-nav" layout-algin="center center" flex aria-label="page-nav">
            <md-nav-item md-nav-click="clickNavigation('#/story')" name="story">STORY</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/behindscene')" name="behindscenes">BEHIND THE SCENES</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/credits')" name="credits">CREDITS</md-nav-item>
        </md-nav-bar>
    </div>
    <div flex layout="row">
        <md-content flex class="bg-transparent" id="page-content">
            <div layout="column" flex class="padding-36" id="story">
                <div layout="column" flex class="story-container" layout-wrap>
                    <div>
                        <h2 class="title">South East Asian Photoshoot</h2>
                        <div class="date">FEBRUARY 12, 2016</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a dui molestie, porttitor sapien quis, venenatis turpis. Nunc auctor dui neque, varius sodales neque egestas vitae. Nunc ac felis sed purus ullamcorper sagittis. Morbi ac tellus. </p>
                    </div>
                    <div flex class="margin-lr-14">
                        <div layout="row" layout-wrap>
                            <div flex="33" flex-xs="100" flex-sm="100" class="story-credits" ng-repeat="cre in credits1"> 
                                <md-list-item>
                                    <img ng-src="{{cre.image}}" class="md-avatar" />
                                    <div class="md-list-item-text" layout="column">
                                        <div class="job-title">{{cre.job}}</div>
                                        <div class="members" ng-repeat="mem in cre.members">{{mem}}</div>
                                    </div>
                                </md-list-item>
                            </div>
                        </div>
                        <md-divider class="margin-18-10"></md-divider>
                        <div layout="row" layout-wrap class="margin-lr-10">
                            <div flex="33" flex-xs="100" flex-sm="100" class="story-credits" ng-repeat="cre in credits2">
                                <md-list-item>
                                    <img ng-src="{{cre.image}}" class="md-avatar" />
                                    <div class="md-list-item-text" layout="column">
                                        <div class="job-title">{{cre.job}}</div>
                                        <div class="members" ng-repeat="mem in cre.members">{{mem}}</div>
                                    </div>
                                </md-list-item>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <md-button class="md-icon-button nav-top" id="home-min-btn" ng-class="{'open' : sidenavOpen}" aria-label="open sidebar" ng-click="sidebarToggle()">
                <md-icon class="icon icon-minimize"></md-icon>
            </md-button>
        </md-content>
        <md-sidenav id="user-sidenav" class="md-sidenav-right md-whiteframe-4dp" md-is-open="sidenavOpen" md-is-locked-open="$mdMedia('gt-xs') && sidenavOpen" md-component-id="right" md-disable-backdrop md-whiteframe="4" ng-include="sideBar">

        </md-sidenav>
    </div>
</div>