﻿<md-dialog id="enlarged-dialog">
    <md-toolbar class="bg-transparent">
        <div class="md-toolbar-tools">
            <span flex></span>
            <md-button  aria-label="close" class="md-icon-button" ng-click="close()">
                <md-icon class="icon icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div layout="row" layout-align="center center">
            <div class="button-layout">
                <md-button class="md-icon-button" aria-label="prev" ng-click="carouselprev()">
                    <md-icon class="icon icon-chevron-left"></md-icon>
                </md-button>
            </div>            
            <div flex class="layout carousel slide" id="carousel" data-ride="carousel">
                <div layout="column" class="carousel-inner" role="listbox">
                    <div class="xe-btn-group">
                        <md-menu md-offset="-77 12">
                            <md-button class="md-icon-button icon-btn" aria-label="share" ng-click="$mdOpenMenu($event)">
                                <md-icon class="icon icon-share-white "></md-icon>
                                <md-icon class="icon icon-share-active active"></md-icon>
                            </md-button>
                            <md-menu-content class="share-dropdown">
                                <div class="input-group search-group">
                                    <input type="text" ng-model="search" class="form-control" id="search" placeholder="Name or email">
                                    <div class="input-group-addon hover">
                                        <md-icon class="icon icon-go"></md-icon>
                                        <md-icon class="icon icon-go-active hover"></md-icon>
                                    </div>
                                </div>
                                <md-list flex>
                                    <md-list-item>
                                        <md-button flex layout="row">
                                            <img src="images/data/avatar-1.png" class="md-avatar" />
                                            <div class="md-list-item-text" layout="column">
                                                <h2>Assistant</h2>
                                                <h3>Chad Cooper</h3>
                                            </div>
                                        </md-button>
                                    </md-list-item>
                                    <md-list-item>
                                        <md-button flex layout="row">
                                            <img src="images/data/avatar-2.png" class="md-avatar" />
                                            <div class="md-list-item-text" layout="column">
                                                <h2>Photographer</h2>
                                                <h3>Heather Greene</h3>
                                            </div>
                                        </md-button>
                                    </md-list-item>
                                    <md-list-item>
                                        <md-button flex layout="row">
                                            <img src="images/data/avatar-3.png" class="md-avatar" />
                                            <div class="md-list-item-text" layout="column">
                                                <h2>Art Director</h2>
                                                <h3>Matt Jackson</h3>
                                            </div>
                                        </md-button>
                                    </md-list-item>
                                    <md-list-item>
                                        <md-button flex layout="row">
                                            <img src="images/data/avatar-4.png" class="md-avatar" />
                                            <div class="md-list-item-text" layout="column">
                                                <h2>Set Designer</h2>
                                                <h3>Lili Regen</h3>
                                            </div>
                                        </md-button>
                                    </md-list-item>
                                </md-list>
                                <div class="social-media-group">
                                    <h2>Share on social media</h2>
                                    <div class="icon-btns" ng-show="!openlink">
                                        <md-button class="md-icon-button icon-btn" aria-label="share">
                                            <md-icon class="icon icon-facebook"></md-icon>
                                        </md-button>
                                        <md-button class="md-icon-button icon-btn" aria-label="share">
                                            <md-icon class="icon icon-linkedin"></md-icon>
                                        </md-button>
                                        <md-button class="md-icon-button icon-btn" aria-label="share">
                                            <md-icon class="icon icon-twitter"></md-icon>
                                        </md-button>
                                        <md-button class="md-icon-button icon-btn" aria-label="share" ng-click="openlink=true" md-prevent-menu-close>
                                            <md-icon class="icon icon-social-media"></md-icon>
                                        </md-button>
                                    </div>
                                    <div class="input-group social-media-link" ng-show="openlink">
                                        <md-icon class="icon icon-link"></md-icon>
                                        <input type="text" class="form-control" placeholder="" value="http://lenspire.com/abc">
                                        <div class="input-group-addon" ng-click="openlink=false" md-prevent-menu-close>
                                            <md-icon class="icon icon-close-12x12"></md-icon>
                                        </div>
                                    </div>
                                </div>
                            </md-menu-content>
                        </md-menu>
                        <md-button class="md-icon-button icon-btn" aria-label="wink" ng-click="addToWinkboard($event, feed)">
                            <md-icon class="icon icon-wink-white"></md-icon>
                        </md-button>
                    </div>
                    <div class="item active">
                        <div class="image-layout">
                            <a href="images/data/photo-big.png" target="_blank">
                                <img src="images/data/photo-big.png" />
                            </a>                           
                        </div>
                        <div class="title">
                            <h2>Violet River</h2>
                            <a href="#/story" ng-click="close()">SOUTH EAST ASIAN PHOTOSHOOT</a>
                            <div>FEBRUARY 12, 2016</div>
                        </div>
                        <md-divider></md-divider>
                        <div layout="row" flex layout-align="start start" layout-wrap class="member-list">
                            <div flex="33" flex-sm="100" flex-xs="100" class="member" ng-repeat="credit in credits">
                                <md-list-item>
                                    <img ng-src="{{credit.avatar}}" class="md-avatar" />
                                    <div ng-if="credit.pending" class="pending-overlay">
                                        <md-icon class="icon icon-pending-white"></md-icon>
                                    </div>
                                    <div class="md-list-item-text" layout="column">
                                        <h3>{{credit.role}}</h3>
                                        <h2 ng-if="credit.name">{{credit.name}}</h2>
                                        <span ng-if="credit.pending" class="pending">PENDING</span>
                                    </div>
                                    <md-button class="md-secondary md-icon-button" ng-click="removecredit($index)" ng-if="credit.pending" aria-label="remove">
                                        <md-icon class="icon icon-small-close"></md-icon>
                                    </md-button>
                                </md-list-item>
                            </div>
                        </div>
                        <div layout="row" flex layout-align="center center" layout-wrap class="member-list">
                            <md-menu md-offset="6 -300" id="add-credit-menu">
                                <md-button ng-click="$mdOpenMenu($event)">ADD CREDITS</md-button>
                                <md-menu-content class="add-credit" layout="row">
                                    <div layout="column" class="add-credit-content" ng-class="{'open' :!openNewArtist}">
                                        <h1 class="title">ADD CREDIT</h1>
                                        <div class="input-group search-group">
                                            <input type="text" ng-model="search" class="form-control" id="search" placeholder="Name or email">
                                            <div class="input-group-addon hover">
                                                <md-icon class="icon icon-go"></md-icon>
                                                <md-icon class="icon icon-go-active hover"></md-icon>
                                            </div>
                                        </div>
                                        <md-list flex>
                                            <md-list-item>
                                                <md-button aria-label="open" md-prevent-menu-close ng-click="openNewArtistFun()" layout="row">
                                                    <div class="md-avatar new-artist">
                                                        <md-icon class="icon icon-add-small-white"></md-icon>
                                                    </div>
                                                    <div class="md-list-item-text" layout="column">
                                                        <h3>Invite new artist</h3>
                                                    </div>
                                                </md-button>
                                            </md-list-item>
                                            <md-list-item ng-repeat="list in lists | filter: role" ng-click="addCredit(list)">
                                                <img ng-src="{{list.avatar}}" class="md-avatar" />
                                                <div class="md-list-item-text" layout="column">
                                                    <h3>{{list.name}}</h3>
                                                </div>
                                            </md-list-item>
                                        </md-list>
                                    </div>
                                    <form class="new-credit add-credit-content" ng-class="{'open': openNewArtist}" ng-submit="addNewArtist()">
                                        <div class="header">
                                            <h1 class="title">
                                                <md-button aria-label="open" md-prevent-menu-close class="md-icon-button back-btn" ng-click="openNewArtistFun()">
                                                    <md-icon class="icon icon-chevron-black"></md-icon>
                                                </md-button>
                                                INVITE NEW ARTIST
                                            </h1>
                                            <div class="form-group">
                                                <label for="role">Role</label>
                                                <input type="text" class="form-control" id="role" ng-model="newArtist.role">
                                            </div>
                                        </div>
                                        <div class="body">
                                            <div class="form-group">
                                                <label for="artist">Artist Name or Email</label>
                                                <input type="text" class="form-control" id="artist" ng-model="newArtist.name">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Agent Email</label>
                                                <input type="text" class="form-control" id="email" ng-model="newArtist.agentEmail">
                                            </div>
                                            <md-button type="submit"> INVITE </md-button>
                                        </div>
                                    </form>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image-layout">
                            <a href="images/data/photo-big.png" target="_blank">
                                <img src="images/data/photo-big-2.png" />
                            </a>                            
                        </div>
                        <div class="title">
                            <h2>Plaza Water</h2>
                            <a href="#/story" ng-click="close()">SOUTH EAST ASIAN PHOTOSHOOT</a>
                            <div>FEBRUARY 12, 2016</div>
                        </div>
                        <md-divider></md-divider>
                        <div layout="row" flex layout-align="start start" layout-wrap class="member-list">
                            <div flex="33" flex-sm="100" flex-xs="100" class="member" ng-repeat="credit in credits">
                                <md-list-item>
                                    <img ng-src="{{credit.avatar}}" class="md-avatar" />
                                    <div ng-if="credit.pending" class="pending-overlay">
                                        <md-icon class="icon icon-pending-white"></md-icon>
                                    </div>
                                    <div class="md-list-item-text" layout="column">
                                        <h3>{{credit.role}}</h3>
                                        <h2 ng-if="credit.name">{{credit.name}}</h2>
                                        <span ng-if="credit.pending" class="pending">PENDING</span>
                                    </div>
                                    <md-button class="md-secondary md-icon-button" ng-click="removecredit($index)" ng-if="credit.pending" aria-label="remove">
                                        <md-icon class="icon icon-small-close"></md-icon>
                                    </md-button>
                                </md-list-item>
                            </div>
                        </div>
                        <div layout="row" flex layout-align="center center" layout-wrap class="member-list">
                            <md-menu md-offset="6 -300" id="add-credit-menu">
                                <md-button ng-click="$mdOpenMenu($event)">ADD CREDITS</md-button>
                                <md-menu-content class="add-credit" layout="row">
                                    <div layout="column" class="add-credit-content" ng-class="{'open' :!openNewArtist}">
                                        <h1 class="title">ADD CREDIT</h1>
                                        <div class="input-group search-group">
                                            <input type="text" ng-model="search" class="form-control" id="search" placeholder="Name or email">
                                            <div class="input-group-addon hover">
                                                <md-icon class="icon icon-go"></md-icon>
                                                <md-icon class="icon icon-go-active hover"></md-icon>
                                            </div>
                                        </div>
                                        <md-list flex>
                                            <md-list-item>
                                                <md-button aria-label="open" md-prevent-menu-close ng-click="openNewArtistFun()" layout="row">
                                                    <div class="md-avatar new-artist">
                                                        <md-icon class="icon icon-add-small-white"></md-icon>
                                                    </div>
                                                    <div class="md-list-item-text" layout="column">
                                                        <h3>Invite new artist</h3>
                                                    </div>
                                                </md-button>
                                            </md-list-item>
                                            <md-list-item ng-repeat="list in lists | filter: role" ng-click="addCredit(list)">
                                                <img ng-src="{{list.avatar}}" class="md-avatar" />
                                                <div class="md-list-item-text" layout="column">
                                                    <h3>{{list.name}}</h3>
                                                </div>
                                            </md-list-item>
                                        </md-list>
                                    </div>
                                    <form class="new-credit add-credit-content" ng-class="{'open': openNewArtist}" ng-submit="addNewArtist()">
                                        <div class="header">
                                            <h1 class="title">
                                                <md-button aria-label="open" md-prevent-menu-close class="md-icon-button back-btn" ng-click="openNewArtistFun()">
                                                    <md-icon class="icon icon-chevron-black"></md-icon>
                                                </md-button>
                                                INVITE NEW ARTIST
                                            </h1>
                                            <div class="form-group">
                                                <label for="role">Role</label>
                                                <input type="text" class="form-control" id="role" ng-model="newArtist.role">
                                            </div>
                                        </div>
                                        <div class="body">
                                            <div class="form-group">
                                                <label for="artist">Artist Name or Email</label>
                                                <input type="text" class="form-control" id="artist" ng-model="newArtist.name">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Agent Email</label>
                                                <input type="text" class="form-control" id="email" ng-model="newArtist.agentEmail">
                                            </div>
                                            <md-button type="submit"> INVITE </md-button>
                                        </div>
                                    </form>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-layout">
                <md-button class="md-icon-button" aria-label="next" ng-click="carouselNext()">
                    <md-icon class="icon icon-chevron-right"></md-icon>
                </md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>