﻿<md-dialog id="company" class="dialog-size">
    <md-toolbar class="top-color">
        <ul class="company-font heading-align">
            <li class="generate-coupon-align">PROVIDE COMPANY INFORMATION</li>
            <li class="close-button">
                <md-button class="md-icon-button " ng-click="cancel()">
                    <img src="../images/data/icon_x.png" aria-label="Close dialog">
                </md-button>
            </li>
        </ul>
    </md-toolbar>
    <md-dialog-content>
        <form layout="row" layout-wrap flex>
            <div class="left-companyDetail" flex="50" flex-xs="100">
                <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" class="form-control" ng-model="company.companyName"/>
                </div>
                <div class="form-group">
                    <label>Contact First Name</label>
                    <input type="text" class="form-control" ng-model="company.contactFirstName"/>
                </div>
                <div class="form-group">
                    <label>Contact Last Name</label>
                    <input type="text" class="form-control" ng-model="company.contactLastName"/>
                </div>
            </div>
            <div class="right-companyDetail" flex="50" flex-xs="100">
                <div class="form-group">
                    <label>Website</label>
                    <input type="text" class="form-control" ng-model="company.website"/>
                </div>
                <div class="form-group">
                    <label>Company Email</label>
                    <input type="text" class="form-control" ng-model="company.email"/>
                </div>
                <div class="form-group">
                    <label>Company Phone Number</label>
                    <input type="text" class="form-control" ng-model="company.phoneNumber"/>
                </div>
            </div>
            <div layout="row" flex="100" class="submit-area">
                <span flex></span>
                <div>
                    <md-button typeof="submit" class="add-button" ng-click="addCompany()">ADD</md-button>
                </div>
                <span flex></span>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>
