﻿<div layout="column" flex id="common">
    <div>
        <md-nav-bar aria-label="sub-menu" md-selected-nav-item="currentNavItem" id="page-nav" layout-algin="center center">
            <md-nav-item md-nav-click="clickNavigation('#/admin/user')" name="users"> USERS</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/audit')" name="audit">AUDIT LOG</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/history')" name="login"> LOGIN HISTORY</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/sent')" name="sent"> SENT LOG</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/product')" name="product releases"> PRODUCT RELEASES</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/coupon')" name="coupon"> COUPON</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/company')" name="company"> COMPANY</md-nav-item>
        </md-nav-bar>
    </div>
    <md-content layout="column" flex class="sideArrange">
        <div layout="row" layout-wrap flex layout-align="start start" >
            <div class="select-category" flex="100"> SEARCH </div>
            <div flex="100" layout="row">
                <div class="input-group search-group p">
                    <input type="text" ng-model="search" class="form-control Search-user" id="search" placeholder="Search user">
                    <div class="input-group-addon">
                        <md-icon class="icon icon-magnify"></md-icon>
                    </div>
                </div>
            </div>
            <div id="table-area">
                <div class="table-condensed table-responsive tablesize" id="scroll">
                    <table class="table">
                        <tr class="tableHeaderStyle ">
                            <th class="front-table-space">
                                Name
                            </th>
                            <th>
                                Module
                            </th>
                            <th>
                                <div layout>
                                    Date
                                    <md-select ng-model="timezone" aria-label="ct" class="time-zone" md-container-class="time-zone-container">
                                        <md-option ng-value="CT"> CT </md-option>
                                    </md-select>
                                </div>
                            </th>
                        </tr>
                        <tr ng-repeat="detail in auditDetail | filter : search ">
                            <td class="front-table-space name">
                                {{detail.name}}
                            </td>
                            <td>
                                {{detail.Module}}
                            </td>
                            <td class="date">
                                {{detail.Date}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </md-content>
</div>