﻿<div layout="column" flex id="common">
    <div>
        <md-nav-bar aria-label="sub-menu" md-selected-nav-item="currentNavItem" id="page-nav" layout-algin="center center">
            <md-nav-item md-nav-click="clickNavigation('#/admin/user')" name="users"> USERS</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/audit')" name="audit">AUDIT LOG</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/history')" name="login"> LOGIN HISTORY</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/sent')" name="sent"> SENT LOG</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/product')" name="product"> PRODUCT RELEASES</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/coupon')" name="coupon"> COUPON</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/company')" name="company"> COMPANY</md-nav-item>
        </md-nav-bar>
    </div>
    <md-content layout="column" flex class="sideArrange">
        <div layout="row" layout-wrap flex layout-align="start start" >
            <div class="select-category" flex="100"> SEARCH </div>
            <div flex="100" layout="row" layout-wrap>
                <div class="input-group search-group p">
                    <input type="text" ng-model="search" class="form-control Search-user" id="search" placeholder="Search user">
                    <div class="input-group-addon">
                        <md-icon class="icon icon-magnify"></md-icon>
                    </div>
                </div>
                <span class="space" flex></span>
                <md-button class="btn  company company-button" ng-click="companyCreate($event)">+ ADD COMPANY</md-button>
            </div>
            <div id="table-area">
                <div class="table-condensed table-responsive tablesize" id="scroll">
                    <table class="table">
                        <tr class="tableHeaderStyle">
                            <th class="front-table-space">
                                Company Name
                            </th>
                            <th>
                                Company Email
                            </th>
                            <th>
                                Company Phone
                            </th>
                            <th>
                                Contact Person
                            </th>
                            <th>
                                Website
                            </th>
                        </tr>
                        <tr ng-repeat="detail in comp | filter : search | filter : option.id ">
                            <td class="front-table-space">
                                {{detail.company}}
                            </td>
                            <td class="email">
                                {{detail.companyEmail}}
                            </td>
                            <td class="phone">
                                {{detail.companyPhone}}
                            </td>
                            <td>
                                {{detail.contactPerson}}
                            </td>
                            <td>
                                {{detail.website}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </md-content>
</div>