﻿<md-dialog class="dialog-size-coupon" id="coupon">
    <form>
        <md-toolbar class="top-color">
            <ul class="coupon-info1 heading-align">
                <li class="generate-coupon-align">GENERATE COUPON</li>
                <li class="close-button">
                    <md-button class="md-icon-button " ng-click="cancel()">
                        <img src="../images/data/icon_x.png" aria-label="Close dialog">
                    </md-button>
                </li>
            </ul>
        </md-toolbar>
        <md-dialog-content>
            <div layout="row" layout-wrap flex>
                <div layout="column" flex="100">
                    <label class="coupon-title">Number of coupons</label>
                    <div class="form-group">
                        <input type="text"/>
                    </div>
                </div>
                <div layout="row" flex="100" layout-wrap>
                    <div layout="column" flex="50" flex-sm="100" flex-xs="100">
                        <label class="coupon-title">Expiry date</label>
                        <div layout="row" class="form-group">
                            <input type="text"placeholder="DD" />
                            <input type="text"placeholder="MM"  id="month"/>
                            <input type="text"placeholder="YYYY" />
                        </div>
                    </div>
                    <div layout="column" class="form-group" flex="50" flex-sm="100" flex-xs="100">
                        <label class="coupon-title">Duration (in months)</label>
                        <input type="text"/>
                    </div>

                </div>
                <div layout="column" flex="100">
                    <label class="coupon-title">Description</label>
                    <div class="form-group">
                        <textarea id="Description"/>
                    </div>
                </div>
                <div layout="row" flex="100">
                    <span flex></span>
                    <div class="form-group">
                        <md-button class="generate-button" value="ADD">GENERATE</md-button>
                    </div>
                    <span flex></span>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>