﻿<div layout="column" flex id="product">
    <div>
        <md-nav-bar aria-label="sub-menu" md-selected-nav-item="currentNavItem" id="page-nav" layout-algin="center center">
            <md-nav-item md-nav-click="clickNavigation('#/admin/user')" name="users"> USERS</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/audit')" name="audit">AUDIT LOG</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/history')" name="login"> LOGIN HISTORY</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/sent')" name="sent"> SENT LOG</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/product')" name="product"> PRODUCT RELEASES</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/coupon')" name="coupon"> COUPON</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/company')" name="company"> COMPANY</md-nav-item>
        </md-nav-bar>
    </div>
    <md-content layout="row" flex id="common">
        <div layout="row" layout-wrap layout-align="center center" flex class="product-container">
            <div class="inner-layout-align">
                <form>
                    <div class="form-group">
                        <label class="product-label">Current app version</label>
                        <input type="text" class="product-textbox" />
                    </div>
                    <div class="form-group">
                        <label class="product-label">Previous app version</label>
                        <input type="text" class="product-textbox" />
                    </div>
                    <div class="form-group">
                        <label class="product-label">Previous version compatibility</label>
                        <input type="text" class="product-textbox" />
                    </div>
                    <div class="form-group">
                        <label class="product-label">Forced migration date</label>
                        <input type="text" class="product-textbox" />
                    </div>
                    <div layout="row" flex>
                        <span flex></span>
                        <div class="form-group">
                            <md-button class="coupon-button" value="ADD">SAVE</md-button>
                        </div>
                        <span flex></span>
                    </div>
                </form>
            </div>
        </div>
    </md-content>
</div>
