﻿
<div layout="column" flex id="common">
    <div>
        <md-nav-bar aria-label="sub-menu" md-selected-nav-item="currentNavItem" id="page-nav" layout-algin="center center" aria-label="sub-NaveBar">
            <md-nav-item md-nav-click="clickNavigation('#/admin/user')" name="users"> USERS</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/audit')" name="audit">AUDIT LOG</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/history')" name="login"> LOGIN HISTORY</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/sent')" name="sent"> SENT LOG</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/product')" name="product"> PRODUCT RELEASES</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/coupon')" name="coupon"> COUPON</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/admin/company')" name="company"> COMPANY</md-nav-item>
        </md-nav-bar>
    </div>
    <md-content layout="column" flex class="sideArrange" id="user">
        <div layout="row" layout-wrap flex layout-align="start start">
            <div class="select-category" flex="100">SELECT CATEGORY</div>
            <div flex="100" layout="row" layout-wrap>
                <div layout="row">
                    <md-select ng-model="category" aria-label="category" class="sorting-menu" md-container-class="sorting-menu-container">
                        <md-option ng-repeat="cat in categories" ng-value="cat.id">
                            {{cat.name}}
                        </md-option>
                    </md-select>
                </div>
                <div layout="row">
                    <md-button class="btn approve-button">APPROVE</md-button>
                    <md-button class="btn decline-Button">DECLINE</md-button>
                </div>
                <span class="space" flex></span>
                <div class="input-group search-group p">
                    <input type="text" ng-model="search" class="form-control Search-user" id="search" placeholder="Search user">
                    <div class="input-group-addon">
                        <md-icon class="icon icon-magnify"></md-icon>
                    </div>
                </div>
            </div>
            <div id="table-area">
                <div class="table-condensed table-responsive tablesize" id="scroll">
                    <table class="table">
                        <tr class="tableHeaderStyle">
                            <th>
                                <md-checkbox aria-label="select" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">
                                </md-checkbox>
                            </th>
                            <th class="front-table-space">
                                Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Role
                            </th>
                            <th>
                                Status
                            </th>
                            <th class="row-title-size">
                                <div layout>
                                    Requested Date
                                    <md-select ng-model="timezone" aria-label="ct" class="time-zone" md-container-class="time-zone-container">
                                        <md-option ng-value="CT"> CT </md-option>
                                    </md-select>
                                </div>
                            </th>
                            <th class="row-title-size">
                                Aprroved By
                            </th>
                            <th class="row-title-size">
                                <div layout>
                                    Approved Date
                                    <md-select ng-model="timezone" aria-label="ct" class="time-zone" md-container-class="time-zone-container">
                                        <md-option ng-value="CT"> CT </md-option>
                                    </md-select>
                                </div>
                            </th>
                            <th class="row-title-size">
                                Decline By
                            </th>
                            <th class="row-title-size">
                                <div layout>
                                    Declined Date
                                    <md-select ng-model="timezone" aria-label="ct" class="time-zone" md-container-class="time-zone-container">
                                        <md-option ng-value="CT"> CT </md-option>
                                    </md-select>
                                </div>
                            </th>
                        </tr>
                        <tr ng-repeat="user in users = (usersList | filter : search | filter :  (!!category || undefined) && {'status': category})">
                            <td>
                                <md-checkbox ng-checked="exists(user)" ng-click="toggle(user)" aria-label="select">

                                </md-checkbox>
                            </td>
                            <td class="front-table-space name">
                                {{user.name}}
                            </td>
                            <td class="email">
                                {{user.email}}
                            </td>
                            <td class="phone">
                                {{user.phone}}
                            </td>
                            <td>
                                {{user.role}}
                            </td>
                            <td>
                                {{user.status}}
                            </td>
                            <td>
                                {{user.requestedDates}}
                            </td>
                            <td>
                                {{user.approvedBy}}
                            </td>
                            <td class="date">
                                {{user.approvedDate}}
                            </td>
                            <td>
                                {{user.declineBy}}
                            </td>
                            <td class="date">
                                {{user.declineDate}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </md-content>
</div>
