﻿<md-toolbar>
    <div class="md-toolbar-tools">
        <div flex layout="column" layout-align="start stretch">
            <div flex class="today">
                <span class="day">Thu</span>
                <md-icon class="icon shape"></md-icon>
                <span class="date">May 19, 2016</span>

            </div>
            <div flex class="address" layout="row">
                <md-icon class="icon icon-location"></md-icon>
                <div flex class="text">1500 MARILLA ST, DALLAS TX 75201</div>
            </div>
            <div flex class="weather" layout="row">
                <md-icon class="icon icon-sun"></md-icon>
                <div flex class="text">
                    <div>80&deg; / 65&deg;</div>
                    <div>SUNNY</div>
                </div>
            </div>
        </div>
    </div>
</md-toolbar>
<md-content>
    <md-tabs md-dynamic-height md-stretch-tabs="never">
        <md-tab label="TODAY">
            <md-content>
                <md-list flex class="atrist-list">
                    <md-list-item class="md-2-line">
                        <img class="md-avatar" ng-src="images/data/avatar-1.png" />
                        <div class="md-list-item-text" layout="column">
                            <h3 ng-click="agDetailsCollapsed = !agDetailsCollapsed">
                                <span>Chad Cooper</span>
                                <md-icon class="icon icon-chevron" ng-class="{'open': agDetailsCollapsed}"></md-icon>
                                <md-icon class="icon icon-calendar pull-right margin-right-6"></md-icon>
                            </h3>
                        </div>
                    </md-list-item>
                    <div class="agent-details" uib-collapse="agDetailsCollapsed">
                        <h2>SUMMER PHOTOSHOOT</h2>
                        <dl class="dl-horizontal">
                            <dt>11:30 AM</dt>
                            <dd>FLIGHT QWE123 DFW - LAX</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>4:30 PM</dt>
                            <dd>Setup up photography equipment in room for tomorrow's shoot.</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>6:30 PM</dt>
                            <dd>Dinner with crew.</dd>
                        </dl>
                    </div>
                    <md-list-item class="md-2-line">
                        <img class="md-avatar" ng-src="images/data/avatar-2.png" />
                        <div class="md-list-item-text" layout="column">
                            <h3 ng-click="agDetailsCollapsed1 = !agDetailsCollapsed1">
                                <span>Heather Greene</span>
                                <md-icon class="icon icon-chevron" ng-class="{'open': agDetailsCollapsed1}"></md-icon>
                                <md-icon class="icon icon-calendar pull-right margin-right-6"></md-icon>
                            </h3>
                        </div>
                    </md-list-item>
					 <div class="agent-details" uib-collapse="agDetailsCollapsed1">
                        <h2>SUMMER PHOTOSHOOT1</h2>
                        <dl class="dl-horizontal">
                            <dt>11:30 AM</dt>
                            <dd>FLIGHT QWE123 DFW - LAX</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>4:30 PM</dt>
                            <dd>Setup up photography equipment in room for tomorrow's shoot.</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>6:30 PM</dt>
                            <dd>Dinner with crew.</dd>
                        </dl>
                    </div>
                    <md-list-item class="md-2-line">
                        <img class="md-avatar" ng-src="images/data/avatar-3.png" />
                        <div class="md-list-item-text" layout="column">
                            <h3>
                                <span>Matt Jackson</span>
                                <md-icon class="icon icon-chevron open"></md-icon>
                                <md-icon class="icon icon-calendar pull-right margin-right-6"></md-icon>
                            </h3>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <img class="md-avatar" ng-src="images/data/avatar-4.png" />
                        <div class="md-list-item-text" layout="column">
                            <h3>
                                <span>Lili Regen</span>
                                <md-icon class="icon icon-chevron open"></md-icon>
                                <md-icon class="icon icon-calendar pull-right margin-right-6"></md-icon>
                            </h3>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-tab>
		 <md-tab label="UPCOMING">
            <md-content>
                <md-list flex class="atrist-list">
                    <md-list-item class="md-2-line">
                        <img class="md-avatar" ng-src="images/data/avatar-1.png" />
                        <div class="md-list-item-text" layout="column">
                            <h3 ng-click="agDetailsCollapsed = !agDetailsCollapsed">
                                <spam>Chad Cooper</spam>
                                <md-icon class="icon icon-chevron" ng-class="{'open': agDetailsCollapsed}"></md-icon>
                                <md-icon class="icon icon-calendar pull-right margin-right-6"></md-icon>
                            </h3>
                        </div>
                    </md-list-item>
                    <div class="agent-details" uib-collapse="agDetailsCollapsed">
                        <h2>SUMMER PHOTOSHOOT</h2>
                        <dl class="dl-horizontal">
                            <dt>11:30 AM</dt>
                            <dd>FLIGHT QWE123 DFW - LAX</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>4:30 PM</dt>
                            <dd>Setup up photography equipment in room for tomorrow's shoot.</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>6:30 PM</dt>
                            <dd>Dinner with crew.</dd>
                        </dl>
                    </div>
                    <md-list-item class="md-2-line">
                        <img class="md-avatar" ng-src="images/data/avatar-2.png" />
                        <div class="md-list-item-text" layout="column">
                            <h3>
                                <span>Heather Greene</span>
                                <md-icon class="icon icon-chevron"></md-icon>
                                <md-icon class="icon icon-calendar pull-right margin-right-6"></md-icon>
                            </h3>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <img class="md-avatar" ng-src="images/data/avatar-3.png" />
                        <div class="md-list-item-text" layout="column">
                            <h3>
                                <span>Matt Jackson</span>
                                <md-icon class="icon icon-chevron"></md-icon>
                                <md-icon class="icon icon-calendar pull-right margin-right-6"></md-icon>
                            </h3>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <img class="md-avatar" ng-src="images/data/avatar-4.png" />
                        <div class="md-list-item-text" layout="column">
                            <h3>
                                <span>Lili Regen</span>
                                <md-icon class="icon icon-chevron"></md-icon>
                                <md-icon class="icon icon-calendar pull-right margin-right-6"></md-icon>
                            </h3>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-tab>

    </md-tabs>
    <md-list flex class="productions-list">
        <md-subheader class="md-no-sticky">CURRENT PRODUCTIONS</md-subheader>
        <md-list-item class="md-2-line agent">
            <md-icon class="md-avatar"></md-icon>
            <div class="md-list-item-text" layout="column">
                <h3>BEACH PHOTOSHOOT</h3>
                <h4>JULY 12, 2016 - JULY 13, 2016</h4>
                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" ng-src="images/data/avatar-8.png" />
                        </md-card-avatar>
                        <md-card-avatar>
                            <img class="md-user-avatar" ng-src="images/data/avatar-9.png" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Heather Greene +1</span>
                        </md-card-header-text>
                    </md-card-header>
                </md-card>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line agent">
            <md-icon class="md-avatar"></md-icon>
            <div class="md-list-item-text" layout="column">
                <h3>PORTLAND PHOTOSHOOT</h3>
                <h4>JULY 22, 2016 - JULY 23, 2016</h4>
                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" ng-src="images/data/avatar-7.png" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Lili Regen</span>
                        </md-card-header-text>
                    </md-card-header>
                </md-card>
            </div>
        </md-list-item>
    </md-list>
</md-content>