﻿<md-toolbar>
    <div class="md-toolbar-tools">
        <div flex layout="column" layout-align="start stretch">
            <div flex class="today">
                <span class="day">Thu</span>
                <md-icon class="icon shape"></md-icon>
                <span class="date">May 19, 2016</span>

            </div>
            <div flex class="address" layout="row">
                <md-icon class="icon icon-location"></md-icon>
                <div flex class="text">1500 MARILLA ST, DALLAS TX 75201</div>
            </div>
            <div flex class="weather" layout="row">
                <md-icon class="icon icon-sun"></md-icon>
                <div flex class="text">
                    <div>80&deg; / 65&deg;</div>
                    <div>SUNNY</div>
                </div>
            </div>
        </div>
    </div>
</md-toolbar>
<md-content>
    <md-tabs md-dynamic-height md-stretch-tabs="never">
        <md-tab label="TODAY">
            <md-content>
                <div class="agent-details">
                    <h2>SUMMER PHOTOSHOOT</h2>
                    <dl class="dl-horizontal">
                        <dt>11:30 AM</dt>
                        <dd>FLIGHT QWE123 DFW - LAX</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>4:30 PM</dt>
                        <dd>Setup up photography equipment in room for tomorrow's shoot.</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>6:30 PM</dt>
                        <dd>Dinner with crew.</dd>
                    </dl>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="UPCOMING">
            <md-content>
                <div class="agent-details">
                    <h2>SUMMER PHOTOSHOOT</h2>
                    <dl class="dl-horizontal">
                        <dt>11:30 AM</dt>
                        <dd>FLIGHT QWE123 DFW - LAX</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>4:30 PM</dt>
                        <dd>Setup up photography equipment in room for tomorrow's shoot.</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>6:30 PM</dt>
                        <dd>Dinner with crew.</dd>
                    </dl>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
    <md-list flex class="productions-list">
        <md-subheader class="md-no-sticky">CURRENT PRODUCTIONS</md-subheader>
        <md-list-item class="md-2-line">
            <md-icon class="md-avatar"></md-icon>
            <div class="md-list-item-text" layout="column">
                <h3>BEACH PHOTOSHOOT</h3>
                <h4>JULY 12, 2016 - JULY 13, 2016</h4>
                <p>{{ item.notes }}</p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <md-icon class="md-avatar"></md-icon>
            <div class="md-list-item-text">
                <h3>NATURE PHOTOSHOOT</h3>
                <h4>JULY 17, 2016 - JULY 18, 2016</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <md-icon class="md-avatar"></md-icon>
            <div class="md-list-item-text">
                <h3>NATURE PHOTOSHOOT</h3>
                <h4>JULY 17, 2016 - JULY 18, 2016</h4>
            </div>
        </md-list-item>
    </md-list>
</md-content>