﻿<md-content id="messagerighttoolbar">
    <md-list flex id="groups" class="shadow">
        <md-list-item class="toggle">
            <h3 class="production" ng-click="shareDetailsCollapsed = !shareDetailsCollapsed">
                <span>SHARED FILES</span>
                <md-icon class="icon icon-chevron " ng-class="{'open': shareDetailsCollapsed}"></md-icon>
            </h3>
        </md-list-item>
        <div uib-collapse="shareDetailsCollapsed">
            <md-list-item class="document ">
                <span><md-icon class="icon icon-attach "></md-icon></span><span class="doc">document.doc</span>

            </md-list-item><md-list-item class="document">
                <span><md-icon class="icon icon-picture "></md-icon></span><span class="doc">picture.jpg</span>
            </md-list-item>
        </div>
    </md-list>
    <md-list flex class="groups" ng-show="selected.members">
        <md-list-item class="toggle">
            <h3 class="production" ng-click="membersDetailsCollapsed = !membersDetailsCollapsed">
                <span>MEMBERS</span>
                <md-icon class="icon icon-chevron " ng-class="{'open': membersDetailsCollapsed}"></md-icon>
            </h3>
        </md-list-item>
        <div uib-collapse="membersDetailsCollapsed">
            <md-list-item class="messageDetail" ng-repeat="book in selected.members">
                <div layout="row">
                    <div layout="column" class="imgRight">
                        <img ng-src="{{book.pic}}" class="picture" />
                    </div>
                    <div layout="column">
                        <div class="bookName">
                            {{book.name}}
                        </div>
                        <div class="members">
                            {{book.profession}} {{book.members}}
                        </div>
                    </div>
                </div>
            </md-list-item>        
        </div>
    </md-list>
</md-content>


