﻿<md-toolbar id="messagetoolbar">
    <div flex layout="column" layout-align="start stretch">
        <label>
            My Messages <span class="numberOfMsg">(2)</span>
        </label>
        <div class="composeAlign">
            <md-button href="javascript:void(0)" class="compose" ng-click="openMessageDialog($event)">
                <span>
                    <md-icon class="icon icon-edit-white"></md-icon>
                </span>
                <span>COMPOSE</span>
            </md-button>
        </div>
        <div class="input-group search-group">
            <input type="text" ng-model="search" class="form-control" id="search" placeholder="Search messages">
            <div class="input-group-addon">
                <md-icon class="icon icon-magnify"></md-icon>
            </div>
        </div>
    </div>
</md-toolbar>
<md-content>
    <md-list flex class="groups">
        <md-list-item class="toggle">
            <h3 class="production" ng-click="productionDetailsCollapsed = !productionDetailsCollapsed">
                <span>PRODUCTION BOOKS</span>
                <md-icon class="icon icon-chevron " ng-class="{'open': productionDetailsCollapsed}"></md-icon>
            </h3>
        </md-list-item>
        <div uib-collapse="productionDetailsCollapsed">
            <md-list-item class="productionDetail" ng-repeat="detail in productionBook | filter : search " ng-class="{'selected': detail.id == selected.id}">
                <div layout="row" class="outline" ng-click="match(detail)">
                    <div layout="column">
                        <md-icon class="md-avatar material-icons productionpic" aria-hidden="true"></md-icon>
                    </div>
                    <div layout="column" class="topContentAlign">
                        <div class="bookName">
                            {{detail.bookName}}
                        </div>
                        <div class="members">
                            {{detail.members.length}} members
                        </div>
                    </div>
                </div>
            </md-list-item>
        </div>
    </md-list>
    <md-list flex class="directMessage">
        <md-list-item class="toggle">
            <h3 class="direct" ng-click="productionDirectMessageCollapsed = !productionDirectMessageCollapsed">
                <span>DIRECT MESSAGES</span>
                <md-icon class="icon icon-chevron " ng-class="{'open': productionDirectMessageCollapsed}"></md-icon>
            </h3>
        </md-list-item>
        <div class="" uib-collapse="productionDirectMessageCollapsed">
            <div ng-repeat="detail in directMessage | filter : search">
                <md-list-item class="messageDetail" ng-repeat="message in detail.members| limitTo:1"  ng-class="{'selected': detail.id == personal.id}">
                    <div layout="row" class="outline" ng-click="single(detail)">
                        <div layout="column">
                            <img ng-src={{message.pic}} class="productionpic" />
                        </div>
                        <div layout="column" class="topContentAlign">
                            <div class="bookName">
                                {{message.name}}
                                <span ng-if="detail.members.length>1">+{{detail.members.length-1}}</span>
                                <span class="pull-right date">{{detail.date| date : 'MM /d/ yyyy'}}</span>
                            </div>
                            <div class="members">
                                {{detail.status}}
                            </div>
                        </div>
                    </div>
                </md-list-item>
            </div>
        </div>
    </md-list>
</md-content>
