﻿<md-content ng-controller="ProfileCtrl as pro">
    <div layout="column" flex>
        <div class="avatar-layout text-center">
            <img ngf-src="pro.profile.avatar" class="avatar" />           
        </div>
        <h2 class="name value"> {{pro.profile.name}} </h2>
        <div layout="row" layout-align="space-around center">
            <div class="count" ng-if="pro.profile.showNoOfFollowers">
                <div class="dd">{{pro.profile.followersCount}}</div>
                <div class="dt">FOLLOWERS</div>
            </div>
            <div class="count" ng-if="pro.profile.showNoOfProjects">
                <div class="dd">{{pro.profile.projectsCount}}</div>
                <div class="dt">PROJECTS</div>
            </div>
        </div>
        <div layout="row" layout-align="space-around center" class="button-layout">
            <div layout="column">
                <md-button class="black">FOLLOW</md-button>
                <md-button>MESSAGE</md-button>
            </div>
        </div>
        <div layout="column" class="role-layout">
            <h2 class="title">ROLE</h2>
            <div ng-repeat="role in pro.profile.roles">
                <span class="value">{{role}}</span>
            </div>
        </div>
        <div layout="column" class="specialty-layout">
            <h2 class="title">SPECIALTY</h2>
            <div ng-repeat="spec in pro.profile.specialty">
                <span class="value">{{spec}}</span>
            </div>            
        </div>
        <div layout="column" class="aboutme-layout">
            <h2 class="title">ABOUT ME</h2>
            <div class="value">{{pro.profile.aboutme}}</div>            
        </div>
        <div layout="column" class="agency-layout" ng-if="pro.profile.showAgency">
            <h2 class="title">AGENCY</h2>
            <div ng-repeat="agen in pro.profile.agency">
                <span class="value">{{agen}}</span>
            </div>
        </div>
        <div layout="column" class="contact-layout" ng-if="pro.profile.showAgencyContact">
            <h2 class="title">AGENT CONTACT</h2>
            <div class="value">{{pro.profile.agencyContact}}</div>            
        </div>
        <div layout="column" class="contact-layout" ng-if="pro.profile.showPersonalWebsite">
            <h2 class="title">PERSONAL WEBSITE</h2>
            <div class="value">{{pro.profile.personalContact}}</div>            
        </div>        
    </div>
</md-content>
