﻿<md-content ng-controller="ProfileAgentCtrl as pro">
    <div layout="column" flex>
        <div class="avatar-layout text-center">
            <img ngf-src="pro.profile.avatar" class="avatar" />
        </div>
        <h2 class="name value"> {{pro.profile.name}} </h2>
        <div layout="row" layout-align="space-around center">
            <div class="count">
                <div class="dd">{{pro.profile.followersCount}}</div>
                <div class="dt">FOLLOWERS</div>
            </div>
        </div>
        <div layout="row" layout-align="space-around center" class="button-layout">
            <div layout="column">
                <md-button class="yellow">FOLLOWING</md-button>
                <md-button class="black" ng-href="#/account">EDIT PROFILE</md-button>
            </div>
        </div>
        <div layout="column" class="role-layout">
            <h2 class="title">ROLE</h2>
            <div ng-repeat="role in pro.profile.roles">
                <span class="value">{{role}}</span>
            </div>           
        </div>
        <div layout="column" class="aboutme-layout">
            <h2 class="title">ABOUT</h2>
            <div class="value">{{pro.profile.aboutme}}</div>
           
        </div>
        <div layout="column" class="aboutme-layout">
            <h2 class="title">ADDRESS</h2>
            <div class="value">{{pro.profile.address}}</div>           
        </div>
        <div layout="column" class="contact-layout">
            <h2 class="title">CONTACT</h2>
            <div class="value">{{pro.profile.contact}}</div>            
        </div>
    </div>
</md-content>
