﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lenspire</title>
    <link rel="stylesheet" href="assets/vendor.min.css" />
    <link rel="stylesheet" href="css/icon-sprite.css" />
    <link rel="stylesheet" href="css/style.css" />
   
</head>
<body layout="column" ng-cloak ng-app="lenspireHomeApp" ng-controller="LenspireCtrl" class="logoin-bg">
      <div layout="row" flex>
        <md-content layout="column" flex class="md-content content-padding bg-transparent" layout-align="center center">
            <form ng-submit="login()" id="login-dialog" flex-xs="100">
                <md-button aria-label="close" class="md-icon-button close-btn">
                    <md-icon class="icon icon-close-dark"></md-icon>
                </md-button>
                <div class="login-container text-center">
                    <h2>HELLO!</h2>
                    <input type="email" mg-model="user.email" class="form-control" id="email" placeholder="Email">
                    <input type="password" mg-model="user.password" class="form-control" id="password" placeholder="Password">
                    <a href="forgot-password.html" class="forgot-password">FORGOT MY PASSWORD</a>
                    <md-radio-group ng-model="user.role">
                        <md-radio-button value="1" style="display: inline-block;">Artist </md-radio-button>
                        <md-radio-button value="2" style="display: inline-block;margin-left: 20px;"> Agent </md-radio-button>
                        <md-radio-button value="3" style="display: inline-block;margin-left: 20px;">Organization</md-radio-button>
</md-radio-group>
                    <md-button type="submit" id="login-btn">LOG IN</md-button>
                    <div>
                        <md-button href="registration.html" id="apply-btn">APPLY FOR MEMBERSHIP</md-button>
                    </div>
                    <div>
                        <md-button href="javascript:void(0)" class="link-btn" traget="_blank">TERMS OF SERVICE</md-button>
                        <md-button href="javascript:void(0)" class="link-btn" traget="_blank">PRIVATE POLICY</md-button>
                    </div>
                </div>
            </form>
        </md-content>
    </div>
    <script src="assets/vendor.min.js"></script>
    <script src="assets/ui.min.js"></script>
    <script>
        var app = angular.module('lenspireHomeApp', ['ngMaterial']);
        app.controller('LenspireCtrl', function ($scope) {            
            $scope.user = {
                avatar: "images/data/avatar-1.png",
                role: 1,
                artist: false,
                agent: false,
                organization : false,
            }
            $scope.login = function () {
                localStorage.setItem("USER", null);
                localStorage.setItem("PRODUCTINBOOK", null);
                localStorage.setItem("CREWS", null);
                if ($scope.user.role == 1) {
                    $scope.user.artist = true;
                    $scope.user.avatar = "images/data/avatar-1.png";
                } else if ($scope.user.role == 2) {
                    $scope.user.agent = true;
                    $scope.user.avatar = "images/data/avatar-11.png";
                } else if ($scope.user.role == 3) {
                    $scope.user.agent = true;
                    $scope.user.organization = true;
                    $scope.user.avatar = "images/data/avatar-11.png";
                }
                localStorage.setItem("USER", JSON.stringify($scope.user));
                window.location.href = "main.html";
            };
        });
    </script>
    
</body>
</html>
