﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lenspire</title>
    <link rel="stylesheet" href="assets/vendor.min.css">
    <link rel="stylesheet" href="css/icon-sprite.css" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body layout="column" ng-cloak ng-app="lenspireApp" class="bg-gray-97">
    <header class="navbar navbar-static-top" id="header" role="banner" ng-controller="HeaderCtrl">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#header-navbar" aria-controls="header-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="javascript:void(0)" class="navbar-brand">
                    <img src="images/lenspire-black-logo.png" />
                </a>
            </div>
            <nav id="header-navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/home" class="page-link" ng-class="{'active' : getPageName() == 'Home'}">HOME</a>
                    </li>
                    <li>
                        <a href="#/production/current" class="page-link" ng-class="{'active' : getPageName() == 'Production'}">PRODUCTION BOOK</a>
                    </li>
                    <li>
                        <a href="#/calendar" class="page-link" ng-class="{'active' : getPageName() == 'Calendar'}">CALENDAR</a>
                    </li>
                    <li>
                        <a href="#/admin/user" class="page-link" ng-class="{'active' : getPageName() == 'Admin'}">ADMINISTRATOR</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li uib-dropdown id="notifications">
                        <a href="javascript:void(0)" uib-dropdown-toggle>
                            <md-icon class="icon icon-bell"></md-icon>
                            <md-icon class="icon icon-alert notifiy"></md-icon>
                        </a>
                        <div class="panel panel-default arrow-right border-radius-0" uib-dropdown-menu>
                            <md-card ng-repeat="notify in notifications" ng-class="{'read': notify.read}">
                                <md-card-header>
                                    <md-card-avatar>
                                        <img class="md-user-avatar" ng-src="{{notify.avatar}}" />
                                    </md-card-avatar>
                                    <md-card-action ng-if="notify.status==1">
                                        <div ng-html-compile="notify.notificationText"></div>
                                        <div>
                                            <md-button class="btn-decline">decline</md-button>
                                            <md-button class="btn-accept">Accept</md-button>
                                        </div>
                                    </md-card-action>
                                    <md-card-action ng-if="notify.status==2">
                                        <div ng-html-compile="notify.notificationText"></div>
                                        <div>
                                            <md-button class="btn-decline">Follow</md-button>
                                        </div>
                                    </md-card-action>
                                    <md-card-action ng-if="notify.status==3">
                                        <div ng-html-compile="notify.notificationText"></div>
                                    </md-card-action>
                                    <md-card-content>
                                        <md-icon class="icon"> {{notify.date}}</md-icon>
                                    </md-card-content>
                                </md-card-header>
                            </md-card>
                            <md-button class="view-all page-link" href="#/notifications">View all Notifications</md-button>
                        </div>
                    </li>                  
                    <li uib-dropdown id="message">
                        <a href="javascript:void(0)" uib-dropdown-toggle>
                            <md-icon class="icon icon-envelope"></md-icon>
                            <md-icon class="icon icon-alert notifiy"></md-icon>
                        </a>
                        <div class="panel panel-default arrow-right  border-radius-0" uib-dropdown-menu>
                            <md-card ng-repeat="mdmsg in messages" ng-class="{'read': mdmsg.read}">
                                <md-card-header>
                                    <md-card-avatar>
                                        <img class="md-user-avatar" ng-src="{{mdmsg.profileUrl}}" />
                                    </md-card-avatar>
                                    <md-card-action>
                                        <h2>{{mdmsg.fromText}}</h2>
                                        <h3>{{mdmsg.to}}</h3>
                                    </md-card-action>
                                    <md-card-content>
                                        <md-icon class="icon"> {{mdmsg.date}}</md-icon>
                                    </md-card-content>
                                </md-card-header>
                            </md-card>
                            <md-button class="view-all page-link" href="#/messages">View all Messages</md-button>
                        </div>
                    </li>
                    <li uib-dropdown id="notifications" class="smallScreen-nav">
                        <a href="#/notifications" class="page-link">
                            <md-icon class="icon icon-bell"></md-icon>
                            <md-icon class="icon icon-alert notifiy"></md-icon>
                        </a>
                    </li>
                    <li uib-dropdown id="message" class="smallScreen-nav">
                        <a href="#/messages" class="page-link">
                            <md-icon class="icon icon-envelope"></md-icon>
                            <md-icon class="icon icon-alert notifiy"></md-icon>
                        </a>
                    </li>
                    <li uib-dropdown id="profile-dropdown">
                        <a href="javascript:;" uib-dropdown-toggle>
                            <img ng-src="{{user.avatar}}" />
                            <md-icon class="icon icon-chevron"></md-icon>
                        </a>
                        <div class="panel panel-default arrow-right  border-radius-0" uib-dropdown-menu>
                            <md-card ng-if="user.artist">
                                <md-card-header>
                                    <md-card-action>
                                        <a href="#/productions" class="page-link">
                                            <span>My Productions</span>
                                        </a>
                                    </md-card-action>
                                </md-card-header>
                            </md-card>
                            <md-card ng-if="user.agent">
                                <md-card-header>
                                    <md-card-action>
                                        <a href="#/profile/productions" class="page-link">
                                            <span>My Profile</span>
                                        </a>
                                    </md-card-action>
                                </md-card-header>
                            </md-card>
                            <md-card>
                                <md-card-header>
                                    <md-card-action>
                                        <a href="#/winkboards" class="page-link">
                                            <span>My Wink Boards</span>
                                        </a>
                                    </md-card-action>
                                </md-card-header>
                            </md-card>
                            <md-card ng-if="user.artist">
                                <md-card-header>
                                    <md-card-action>
                                        <a href="#/account" class="page-link">
                                            <span>My Account</span>
                                        </a>
                                    </md-card-action>
                                </md-card-header>
                            </md-card>
                            <md-card ng-if="user.agent">
                                <md-card-header>
                                    <md-card-action>
                                        <a href="#/myartists" class="page-link">
                                            <span> My Artists </span>
                                        </a>
                                    </md-card-action>
                                </md-card-header>
                            </md-card>
                            <md-card class="bg-white-three">
                                <md-card-header>
                                    <md-card-action>
                                        <a href="javascript:void(0)">
                                            <span>Help</span>
                                        </a>
                                    </md-card-action>
                                </md-card-header>
                            </md-card>
                            <md-card class="bg-white-three">
                                <md-card-header>
                                    <md-card-action>
                                        <a href="javascript:void(0)">
                                            <span>Feedback</span>
                                        </a>
                                    </md-card-action>
                                </md-card-header>
                            </md-card>
                            <md-card class="bg-white-three">
                                <md-card-header>
                                    <md-card-action>
                                        <a href="index.html">
                                            <span>Log out</span>
                                        </a>
                                    </md-card-action>
                                </md-card-header>
                            </md-card>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div layout="row" flex ng-view>

    </div>
    <script src="assets/vendor.min.js"></script>
    <script src="assets/ui.min.js"></script>
    <script src="js/template.js"></script>
    <script src="js/bundle.js"></script>

</body>
</html>
