﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lenspire</title>
    <link rel="stylesheet" href="assets/vendor.min.css" />
    <link rel="stylesheet" href="css/icon-sprite.css" />
    <link rel="stylesheet" href="css/style.css" />

</head>
<body layout="column" ng-cloak ng-app="lenspireHomeApp" ng-controller="LenspireCtrl" class="logoin-bg">
    <div layout="row" flex>
        <md-content layout="column" flex class="md-content content-padding bg-transparent" layout-align="center center">
            <form ng-submit="password()" id="registration-dialog" class="step-1" ng-show="step==1" flex-xs="100">
                <md-button aria-label="close" class="md-icon-button close-btn" href="index.html">
                    <md-icon class="icon icon-close-dark"></md-icon>
                </md-button>
                <div layout="row" layout-wrap flex class="registration-container bottom-32 text-center">                   
                    <label flex="100">Super!</label>
                    <label flex="100" class="member bottom-40">YOU’RE IN!</label>
                    <label flex="100" class="text-hint">
                        First up let’s get you secure!
                        Choose a Lenspirational password. (Minimum 6 characters, no spaces!)
                    </label>
                    <div layout="row" layout-wrap flex="100" class="registration-controls">
                        <input flex="100" type="text" class="form-control" id="password" placeholder="Password">
                        <input flex="100" type="text" class="form-control" id="confirm-Password" placeholder="Confirm Password">
                        <md-button class="apply" type="submit">NEXT</md-button>
                    </div>
                </div>
            </form>

            <form ng-submit="agent()" id="registration-dialog" class="step-2" ng-show="step==2" flex-xs="100">
                <md-button aria-label="close" class="md-icon-button close-btn" href="index.html">
                    <md-icon class="icon icon-close-dark"></md-icon>
                </md-button>
                <div layout="row" layout-wrap flex class="registration-container bottom-32 text-center">                  
                    <label flex="100">Add your agents!</label>
                    <label flex="100" class="member bottom-40">ALMOST THERE!</label>
                    <md-chips flex="100" ng-model="user.agents" md-separator-keys="keys" placeholder="Agent’s email" secondary-placeholder=""></md-chips>
                    <label flex="100" class="text-hint2">
                        Please seperate multiple emails with commas. You will be able to add more later!
                    </label>
                    <div  flex="50" flex-xs="100">
                        <md-button class="apply not-have" ng-click="agent()">I DO NOT HAVE AN AGENT</md-button>
                    </div>
                    <div flex="50" flex-xs="100">
                        <md-button class="apply next" type="submit">NEXT</md-button>
                    </div>
                </div>
            </form>

            <form ng-submit="artists()" id="registration-dialog" class="step-2" ng-show="step==3" flex-xs="100">
                <md-button aria-label="close" class="md-icon-button close-btn" href="index.html">
                    <md-icon class="icon icon-close-dark"></md-icon>
                </md-button>
                <div layout="row" layout-wrap flex class="registration-container bottom-32 text-center">
                    <label flex="100">Add your artists!</label>
                    <label flex="100" class="member bottom-40">ALMOST THERE!</label>
                    <md-chips flex="100" ng-model="user.artists" md-separator-keys="keys" placeholder="Artist’s email" secondary-placeholder=""></md-chips>
                    <label flex="100" class="text-hint2">
                        Please seperate multiple emails with commas. You will be able to add more later!
                    </label>
                    <div layout="row" layout-wrap flex="100" class="registration-controls">
                        <md-button class="apply" type="submit">NEXT</md-button>
                    </div>
                </div>
            </form>

            <form ng-submit="done()" id="registration-dialog" class="step-3 last-step" ng-show="step==4" flex-xs="100">
                <div layout="row" layout-wrap flex class="registration-container welcome bottom-32 text-center">
                    <label flex="100">We’ve got everything we need to set up your profile.</label>
                    <label flex="100" class="member bottom-40">ALL SET.</label>
                    <div layout="row" layout-wrap flex="100" class="registration-controls">
                        <md-button class="apply welcome" type="submit">WELCOME</md-button>
                    </div>
                </div>
            </form>
        </md-content>
    </div>
    <script src="assets/vendor.min.js"></script>
    <script src="assets/ui.min.js"></script>
    <script>
        var app = angular.module('lenspireHomeApp', ['ngMaterial']);
        app.controller('LenspireCtrl', function ($scope, $mdConstant) {
            $scope.step = 1;
            $scope.keys = [$mdConstant.KEY_CODE.ENTER, $mdConstant.KEY_CODE.COMMA];
            $scope.user = {
                artists: [],
                agents: []
            }

            $scope.password = function () {
                $scope.step = 2;
            }

            $scope.agent = function () {
                $scope.step = 3;
            }

            $scope.artists = function () {
                $scope.step = 4;
            }

            $scope.done = function () {
                window.location.href = "index.html";
                localStorage.setItem("USER", null);
                localStorage.setItem("PRODUCTINBOOK", null);
                localStorage.setItem("CREWS", null);
               
                $scope.user.agent = true;
                $scope.user.avatar = "images/data/avatar-11.png";
               
                localStorage.setItem("USER", JSON.stringify($scope.user));
                window.location.href = "main.html";
            }
        });
    </script>
</body>
</html>
