<md-button class="md-icon-button" id="leftnav-min-btn" ng-class="{'open' :(sidenavOpen), 'close':(!sidenavOpen),'showExpander' :screen}" aria-label="open sidebar" ng-click="sidebarToggle()" ng-if="user.agent">
    <md-icon class="icon icon-minimize"></md-icon>
</md-button>
<md-sidenav class="md-sidenav-left calender-sidebar" id="production-book-sidebar" ng-class="{'leftside-nav-area' :screen}" md-is-open="sidenavOpen" md-is-locked-open="$mdMedia('gt-xs')" md-component-id="left" md-disable-backdrop md-whiteframe="4" ng-include="calensarSideBar" ng-if="user.agent">
</md-sidenav>
<md-content layout="column" flex id="calendar-view">
    <div flex class="calendar-layout">
        <div id="calendar" ui-calendar="calendarOptions" ng-model="eventSources" ng-if="showCalendar"></div>
    </div>
</md-content>