﻿<md-dialog id="winkboard-creation">
    <md-toolbar class="bg-transparent">
        <div class="md-toolbar-tools">
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()" aria-label="close">
                <md-icon class="icon icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div layout="row" layout-wrap flex>
        <label class="heading" ng-if="!winkboard.id" flex="100">CREATE WINKBOARD</label>
        <label class="heading" ng-if="winkboard.id" flex="100">EDIT WINKBOARD</label>
        <div layout="row" flex="100" class="top" layout-wrap>
            <div flex class="left" flex-xs="100">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Untitled" ng-model="winkboard.name">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea type="text" rows="5" class="form-control" id="description" placeholder="Add description" ng-model="winkboard.description"></textarea>
                </div>
                <div class="form-group">
                    <label for="tags">Tags</label>
                    <input type="text" class="form-control" id="tags" placeholder="Add tags" ng-model="winkboard.tags">
                </div>
            </div>
            <div flex class="right" flex-xs="100">
                <div class="form-group">
                    <label for="type">Privacy </label>
                    <select class="form-control" ng-model="winkboard.type">
                        <option value="public">Public - Everyone</option>
                        <option value="private">Private - Only me</option>
                    </select>

                </div>
                <div class="form-group">
                    <label for="invite">Invite Collaborator</label>
                    <div layout="row" layout-wrap>
                        <input type="text" flex class="form-control" id="invite" placeholder="Name or email">
                        <md-button class="invite">INVITE</md-button>
                    </div>
                </div>
                <div class="form-group">
                    <div layout="row" layout-wrap class="select-layout">
                        <div flex="50" flex-sm="100" flex-xs="100" ng-repeat="col in winkboard.collaborators">
                            <md-card class="xe-card">
                                <md-card-header>
                                    <md-card-avatar ng-mouseover="hoverIn()" class="avatar-border" ng-mouseleave="hoverOut()">
                                        <img class="md-user-avatar" ng-src="{{col.avatar}}" />
                                        <md-button ng-if="removebtn" class="remove-btn">Remove</md-button>
                                    </md-card-avatar>
                                    <md-card-header-text>
                                        <span class="md-title">{{col.job}}</span>
                                        <span class="md-subhead">{{col.name}}</span>
                                    </md-card-header-text>
                                </md-card-header>
                            </md-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div layout="row" layout-wrap class="button-layout" flex="100">
            <md-button class="delete" ng-if="winkboard.id" ng-click="close()" ng-href="#/winkboards">DELETE WINK BOARD</md-button>
            <span flex></span>
            <div layout="row" layout-wrap>
                <md-button class="cancel" ng-click="close()">CANCEL</md-button>
                <md-button class="save" ng-click="save()" ng-if="!winkboard.id">CREATE</md-button>
                <md-button class="save" ng-click="save()" ng-if="winkboard.id">UPDATE</md-button>
            </div>
        </div>
    </div>
</md-dialog>
