<div layout="column" flex>
    <div>
        <md-nav-bar md-selected-nav-item="currentNavItem" id="page-nav" layout-algin="center center" aria-label="page-nav">
            <md-nav-item md-nav-click="clickNavigation('#/winkboards-public-view')" name="winkborad">WINK BOARD</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/productions-public-view')" name="productions">PRODUCTIONS</md-nav-item>
        </md-nav-bar>
    </div>
    <md-button class="md-icon-button" id="leftnav-min-btn" ng-class="{'open' :(sidenavOpen), 'close':(!sidenavOpen),'showExpander' :screen}" aria-label="open sidebar" ng-click="sidebarToggle()">
        <md-icon class="icon icon-minimize"></md-icon>
    </md-button>
    <div flex layout="row">
        <md-sidenav id="artists-sidenav" ng-class="{'leftside-nav-area' :screen}" class="md-sidenav-left" md-is-open="sidenavOpen" md-is-locked-open="$mdMedia('gt-xs')" md-component-id="left" md-disable-backdrop md-whiteframe="4" ng-include="profileTemplate">
        </md-sidenav>
        <md-content layout="column" flex class="bg-transparent" id="page-content">
            <div layout="row" class="padding-0-36 winkBoard" layout-wrap >
                <div flex="100" class="board-details">
                    <h2>WINK BOARDS &#8226; <span class="name">{{winkBoard.name}}</span> ({{winkBoard.feeds.length}})</h2>
                    <p class="description">{{winkBoard.description}}</p>
                    <div class="tags">TAGS: <span>{{winkBoard.tags}}</span></div>
                    <div layout="row" class="btn-layout" layout-wrap>
                        <img class="collaborators" ng-src="{{col.avatar}}" ng-repeat="col in winkBoard.collaborators" title="{{col.name}}" />
                        <span flex></span>                        
                        <md-menu md-offset="-77 12">
                            <md-button class="share-btn" aria-label="share" ng-click="$mdOpenMenu($event)">SHARE</md-button>
                            <md-menu-content class="share-dropdown">
                                <div class="input-group search-group">
                                    <input type="text" ng-model="search" class="form-control" id="search" placeholder="Name or email">
                                    <div class="input-group-addon hover">
                                        <md-icon class="icon icon-go"></md-icon>
                                        <md-icon class="icon icon-go-active hover"></md-icon>
                                    </div>
                                </div>
                                <md-list flex>
                                    <md-list-item>
                                        <md-button flex layout="row">
                                            <img src="images/data/avatar-1.png" class="md-avatar" />
                                            <div class="md-list-item-text" layout="column">
                                                <h2>Assistant</h2>
                                                <h3>Chad Cooper</h3>
                                            </div>
                                        </md-button>
                                    </md-list-item>
                                    <md-list-item>
                                        <md-button flex layout="row">
                                            <img src="images/data/avatar-2.png" class="md-avatar" />
                                            <div class="md-list-item-text" layout="column">
                                                <h2>Photographer</h2>
                                                <h3>Heather Greene</h3>
                                            </div>
                                        </md-button>
                                    </md-list-item>
                                    <md-list-item>
                                        <md-button flex layout="row">
                                            <img src="images/data/avatar-3.png" class="md-avatar" />
                                            <div class="md-list-item-text" layout="column">
                                                <h2>Art Director</h2>
                                                <h3>Matt Jackson</h3>
                                            </div>
                                        </md-button>
                                    </md-list-item>
                                    <md-list-item>
                                        <md-button flex layout="row">
                                            <img src="images/data/avatar-4.png" class="md-avatar" />
                                            <div class="md-list-item-text" layout="column">
                                                <h2>Set Designer</h2>
                                                <h3>Lili Regen</h3>
                                            </div>
                                        </md-button>
                                    </md-list-item>
                                </md-list>
                                <div class="social-media-group">
                                    <h2>Share on social media</h2>
                                    <div class="icon-btns" ng-show="!openlink">
                                        <md-button class="md-icon-button icon-btn" aria-label="share">
                                            <md-icon class="icon icon-facebook"></md-icon>
                                        </md-button>
                                        <md-button class="md-icon-button icon-btn" aria-label="share">
                                            <md-icon class="icon icon-linkedin"></md-icon>
                                        </md-button>
                                        <md-button class="md-icon-button icon-btn" aria-label="share">
                                            <md-icon class="icon icon-twitter"></md-icon>
                                        </md-button>
                                        <md-button class="md-icon-button icon-btn" aria-label="share" ng-click="openlink=true" md-prevent-menu-close>
                                            <md-icon class="icon icon-social-media"></md-icon>
                                        </md-button>
                                    </div>
                                    <div class="input-group social-media-link" ng-show="openlink">
                                        <md-icon class="icon icon-link"></md-icon>
                                        <input type="text" class="form-control" placeholder="" value="http://lenspire.com/abc">
                                        <div class="input-group-addon" ng-click="openlink=false" md-prevent-menu-close>
                                            <md-icon class="icon icon-close-12x12"></md-icon>
                                        </div>
                                    </div>
                                </div>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
                <div flex="100" class="xe-masonry masonry-3" ng-class="{'sm' :sidenavOpen}">
                    <div class="item" ng-repeat="feed in winkBoard.feeds | filter : search">
                        <md-card class="xe-card winkBoard-xe-card"  ng-click="openEnlarged($event,feed)">
                            <img ng-src="{{feed.image}}" class="md-card-image">
                            <md-button class="md-icon-button icon-trash-btn" aria-label="delete" ng-click="deleteFeed($index)">
                                <md-icon class="icon-delete"></md-icon>
                            </md-button>
                            <md-card-actions layout="row" layout-align="start center" uib-dropdown>
                                <md-card-icon-actions class="wink-text">
                                   <a>{{feed.winkName}}</a> 
                                </md-card-icon-actions>
                                <md-menu md-offset="-77 12">
                                    <md-button class="md-icon-button icon-btn" aria-label="share" ng-click="$mdOpenMenu($event)">
                                        <md-icon class="icon icon-share"></md-icon>
                                        <md-icon class="icon icon-share-active active"></md-icon>
                                    </md-button>
                                    <md-menu-content class="share-dropdown">
                                        <div class="input-group search-group">
                                            <input type="text" ng-model="search" class="form-control" id="search" placeholder="Name or email">
                                            <div class="input-group-addon hover">
                                                <md-icon class="icon icon-go"></md-icon>
                                                <md-icon class="icon icon-go-active hover"></md-icon>
                                            </div>
                                        </div>
                                        <md-list flex>
                                            <md-list-item>
                                                <md-button flex layout="row">
                                                    <img src="images/data/avatar-1.png" class="md-avatar" />
                                                    <div class="md-list-item-text" layout="column">
                                                        <h2>Assistant</h2>
                                                        <h3>Chad Cooper</h3>
                                                    </div>
                                                </md-button>
                                            </md-list-item>
                                            <md-list-item>
                                                <md-button flex layout="row">
                                                    <img src="images/data/avatar-2.png" class="md-avatar" />
                                                    <div class="md-list-item-text" layout="column">
                                                        <h2>Photographer</h2>
                                                        <h3>Heather Greene</h3>
                                                    </div>
                                                </md-button>
                                            </md-list-item>
                                            <md-list-item>
                                                <md-button flex layout="row">
                                                    <img src="images/data/avatar-3.png" class="md-avatar" />
                                                    <div class="md-list-item-text" layout="column">
                                                        <h2>Art Director</h2>
                                                        <h3>Matt Jackson</h3>
                                                    </div>
                                                </md-button>
                                            </md-list-item>
                                            <md-list-item>
                                                <md-button flex layout="row">
                                                    <img src="images/data/avatar-4.png" class="md-avatar" />
                                                    <div class="md-list-item-text" layout="column">
                                                        <h2>Set Designer</h2>
                                                        <h3>Lili Regen</h3>
                                                    </div>
                                                </md-button>
                                            </md-list-item>
                                        </md-list>
                                        <div class="social-media-group">
                                            <h2>Share on social media</h2>
                                            <div class="icon-btns" ng-show="!openlink">
                                                <md-button class="md-icon-button icon-btn" aria-label="share">
                                                    <md-icon class="icon icon-facebook"></md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button icon-btn" aria-label="share">
                                                    <md-icon class="icon icon-linkedin"></md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button icon-btn" aria-label="share">
                                                    <md-icon class="icon icon-twitter"></md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button icon-btn" aria-label="share" ng-click="openlink=true" md-prevent-menu-close>
                                                    <md-icon class="icon icon-social-media"></md-icon>
                                                </md-button>
                                            </div>
                                            <div class="input-group social-media-link" ng-show="openlink">
                                                <md-icon class="icon icon-link"></md-icon>
                                                <input type="text" class="form-control" placeholder="" value="http://lenspire.com/abc">
                                                <div class="input-group-addon" ng-click="openlink=false" md-prevent-menu-close>
                                                    <md-icon class="icon icon-close-12x12"></md-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </md-menu-content>
                                </md-menu>
                                <md-button class="md-icon-button icon-btn" aria-label="wink">
                                    <md-icon class="icon icon-wink-disable"></md-icon>
                                </md-button>
                            </md-card-actions>
                            <md-card-header>
                                <md-card-avatar ng-repeat="publisher in feed.publishers | limitTo : 3 ">
                                    <img class="md-user-avatar" ng-src="{{publisher.publisherAvatar}}" />
                                </md-card-avatar>
                                <md-card-header-text>
                                    <span class="md-title">Published by</span>
                                    <span class="md-subhead">{{feed.publishers[0].publisherName}} <span ng-if="feed.publishers.length>1">+{{feed.publishers.length-1}}</span></span>
                                </md-card-header-text>
                            </md-card-header>
                        </md-card>

                    </div>
                </div>
            </div>          
        </md-content>
    </div>
</div>