<div layout="column" flex>
    <div>
        <md-nav-bar md-selected-nav-item="currentNavItem" id="page-nav" layout-algin="center center" aria-label="page-nav">
            <md-nav-item md-nav-click="clickNavigation('#/winkboards')" name="winkborad">WINK BOARD</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/productions')" name="productions">PRODUCTIONS</md-nav-item>
        </md-nav-bar>
    </div>
    <md-button class="md-icon-button" id="leftnav-min-btn" ng-class="{'open' :(sidenavOpen), 'close':(!sidenavOpen),'showExpander' :screen}" aria-label="open sidebar" ng-click="sidebarToggle()">
        <md-icon class="icon icon-minimize"></md-icon>
    </md-button>
    <div flex layout="row">
        <md-sidenav class="md-sidenav-left" id="artists-sidenav" ng-class="{'leftside-nav-area' :screen}" md-is-open="sidenavOpen" md-is-locked-open="$mdMedia('gt-xs')" md-component-id="left" md-disable-backdrop md-whiteframe="4" ng-include="profileTemplate">
        </md-sidenav>
        <md-content layout="column" flex class="bg-transparent" id="page-content">
            <div layout="row" class="content-padding winkboards" layout-wrap>
                <div layout="column" flex="100">
                    <md-toolbar class="bg-transparent page-toolbar">
                        <div class="md-toolbar-tools">
                            <h1>My Public Wink Boards ({{publicWinkBoards.length}})</h1>
                            <span flex></span>
                        </div>
                    </md-toolbar>
                    <div flex>
                        <div layout="row" layout-wrap class="mywinkboards">                            
                            <div flex-xs="100" flex-sm="50" flex-md="33" flex-lg="33" flex-gt-lg="33">
                                <md-card class="winkboard add-box" layout="column" flex="grow">
                                    <div class="add-button" flex layout="column" layout-align="center center" ng-click="addWinkboard($event, 'public');">
                                        <div>
                                            <md-icon class="icon icon-add"></md-icon>
                                            <span>CREATE A NEW PUBLIC WINK BOARD</span>
                                        </div>
                                    </div>
                                </md-card>
                            </div>
                            <div flex-xs="100" flex-sm="50" flex-md="33" flex-lg="33" flex-gt-lg="33" ng-repeat="wink in publicWinkBoards">
                                <md-card class="winkboard" layout="column">
                                    <div flex layout="column">
                                        <div flex class="image-layout">
                                            <img class="md-user-avatar" ng-src="{{wink.images[0]}}" />
                                        </div>
                                        <div flex layout="row" ng-if="wink.images.length!=1">
                                            <div flex class="image-layout">
                                                <img class="md-user-avatar" ng-src="{{wink.images[1]}}" />
                                            </div>
                                            <div flex class="image-layout" ng-if="wink.images.length!=2">
                                                <img class="md-user-avatar" ng-src="{{wink.images[2]}}" />                                                
                                            </div>
                                        </div>
                                        <span class="winks" ng-if="wink.images.length">{{wink.images.length}} WINKS</span>
                                    </div>
                                    <md-card-actions layout="row" layout-align="start center" uib-dropdown>
                                        <md-card-icon-actions class="wink-text">
                                            <a ng-href="#/winkboard/{{$index}}">{{wink.name}}</a>
                                        </md-card-icon-actions>
                                        <md-menu md-offset="-77 12">
                                            <md-button class="md-icon-button icon-btn" aria-label="share" ng-click="$mdOpenMenu($event)">
                                                <md-icon class="icon icon-share"></md-icon>
                                                <md-icon class="icon icon-share-active active"></md-icon>
                                            </md-button>
                                            <md-menu-content class="share-dropdown">
                                                <div class="input-group search-group">
                                                    <input type="text" ng-model="search" class="form-control" id="search" placeholder="Name or email">
                                                    <div class="input-group-addon hover">
                                                        <md-icon class="icon icon-go"></md-icon>
                                                        <md-icon class="icon icon-go-active hover"></md-icon>
                                                    </div>
                                                </div>
                                                <md-list flex>
                                                    <md-list-item>
                                                        <md-button flex layout="row">
                                                            <img src="images/data/avatar-1.png" class="md-avatar" />
                                                            <div class="md-list-item-text" layout="column">
                                                                <h2>Assistant</h2>
                                                                <h3>Chad Cooper</h3>
                                                            </div>
                                                        </md-button>
                                                    </md-list-item>
                                                    <md-list-item>
                                                        <md-button flex layout="row">
                                                            <img src="images/data/avatar-2.png" class="md-avatar" />
                                                            <div class="md-list-item-text" layout="column">
                                                                <h2>Photographer</h2>
                                                                <h3>Heather Greene</h3>
                                                            </div>
                                                        </md-button>
                                                    </md-list-item>
                                                    <md-list-item>
                                                        <md-button flex layout="row">
                                                            <img src="images/data/avatar-3.png" class="md-avatar" />
                                                            <div class="md-list-item-text" layout="column">
                                                                <h2>Art Director</h2>
                                                                <h3>Matt Jackson</h3>
                                                            </div>
                                                        </md-button>
                                                    </md-list-item>
                                                    <md-list-item>
                                                        <md-button flex layout="row">
                                                            <img src="images/data/avatar-4.png" class="md-avatar" />
                                                            <div class="md-list-item-text" layout="column">
                                                                <h2>Set Designer</h2>
                                                                <h3>Lili Regen</h3>
                                                            </div>
                                                        </md-button>
                                                    </md-list-item>
                                                </md-list>
                                                <div class="social-media-group">
                                                    <h2>Share on social media</h2>
                                                    <div class="icon-btns" ng-show="!openlink">
                                                        <md-button class="md-icon-button icon-btn" aria-label="share">
                                                            <md-icon class="icon icon-facebook"></md-icon>
                                                        </md-button>
                                                        <md-button class="md-icon-button icon-btn" aria-label="share">
                                                            <md-icon class="icon icon-linkedin"></md-icon>
                                                        </md-button>
                                                        <md-button class="md-icon-button icon-btn" aria-label="share">
                                                            <md-icon class="icon icon-twitter"></md-icon>
                                                        </md-button>
                                                        <md-button class="md-icon-button icon-btn" aria-label="share" ng-click="openlink=true" md-prevent-menu-close>
                                                            <md-icon class="icon icon-social-media"></md-icon>
                                                        </md-button>
                                                    </div>
                                                    <div class="input-group social-media-link" ng-show="openlink">
                                                        <md-icon class="icon icon-link"></md-icon>
                                                        <input type="text" class="form-control" placeholder="" value="http://lenspire.com/abc">
                                                        <div class="input-group-addon" ng-click="openlink=false" md-prevent-menu-close>
                                                            <md-icon class="icon icon-close-12x12"></md-icon>
                                                        </div>
                                                    </div>
                                                </div>
                                            </md-menu-content>
                                        </md-menu>
                                    </md-card-actions>
                                </md-card>
                            </div>
                        </div>
                    </div>
                </div>
                <md-divider flex="100" class="winkboard-divider"></md-divider>
                <div layout="column" flex="100">
                    <md-toolbar class="bg-transparent page-toolbar">
                        <div class="md-toolbar-tools">
                            <h1>MY PRIVATE WINK BOARDS ({{privateWinkBoards.length}})</h1>
                            <span flex></span>
                        </div>
                    </md-toolbar>
                    <div flex>
                        <div layout="row" layout-wrap class="mywinkboards">
                            <div flex-xs="100" flex-sm="50" flex-md="33" flex-lg="33" flex-gt-lg="33">
                                <md-card class="winkboard add-box" layout="column" flex="grow">
                                    <div class="add-button" flex layout="column" layout-align="center center" ng-click="addWinkboard($event, 'private');">
                                        <div>
                                            <md-icon class="icon icon-add"></md-icon>
                                            <span>CREATE A NEW PRIVATE WINK BOARD</span>
                                        </div>
                                    </div>
                                </md-card>
                            </div>
                            <div flex-xs="100" flex-sm="50" flex-md="33" flex-lg="33" flex-gt-lg="33" ng-repeat="wink in privateWinkBoards">
                                <md-card class="winkboard" layout="column">
                                    <div flex layout="column">
                                        <div flex class="image-layout">
                                            <img class="md-user-avatar" ng-src="{{wink.images[0]}}" />
                                        </div>
                                        <div flex layout="row" ng-if="wink.images.length!=1">
                                            <div flex class="image-layout">
                                                <img class="md-user-avatar" ng-src="{{wink.images[1]}}" />
                                            </div>
                                            <div flex class="image-layout" ng-if="wink.images.length!=2">
                                                <img class="md-user-avatar" ng-src="{{wink.images[2]}}" />
                                            </div>
                                        </div>
                                        <span class="winks" ng-if="wink.images.length">{{wink.images.length}} WINKS</span>
                                    </div>
                                    <md-card-actions layout="row" layout-align="start center" uib-dropdown>
                                        <md-card-icon-actions class="wink-text">
                                            <a ng-href="#/winkboard/{{$index}}">{{wink.name}}</a>
                                        </md-card-icon-actions>
                                        <md-menu md-offset="-77 12">
                                            <md-button class="md-icon-button icon-btn" aria-label="share" ng-click="$mdOpenMenu($event)">
                                                <md-icon class="icon icon-share"></md-icon>
                                                <md-icon class="icon icon-share-active active"></md-icon>
                                            </md-button>
                                            <md-menu-content class="share-dropdown">
                                                <div class="input-group search-group">
                                                    <input type="text" ng-model="search" class="form-control" id="search" placeholder="Name or email">
                                                    <div class="input-group-addon hover">
                                                        <md-icon class="icon icon-go"></md-icon>
                                                        <md-icon class="icon icon-go-active hover"></md-icon>
                                                    </div>
                                                </div>
                                                <md-list flex>
                                                    <md-list-item>
                                                        <md-button flex layout="row">
                                                            <img src="images/data/avatar-1.png" class="md-avatar" />
                                                            <div class="md-list-item-text" layout="column">
                                                                <h2>Assistant</h2>
                                                                <h3>Chad Cooper</h3>
                                                            </div>
                                                        </md-button>
                                                    </md-list-item>
                                                    <md-list-item>
                                                        <md-button flex layout="row">
                                                            <img src="images/data/avatar-2.png" class="md-avatar" />
                                                            <div class="md-list-item-text" layout="column">
                                                                <h2>Photographer</h2>
                                                                <h3>Heather Greene</h3>
                                                            </div>
                                                        </md-button>
                                                    </md-list-item>
                                                    <md-list-item>
                                                        <md-button flex layout="row">
                                                            <img src="images/data/avatar-3.png" class="md-avatar" />
                                                            <div class="md-list-item-text" layout="column">
                                                                <h2>Art Director</h2>
                                                                <h3>Matt Jackson</h3>
                                                            </div>
                                                        </md-button>
                                                    </md-list-item>
                                                    <md-list-item>
                                                        <md-button flex layout="row">
                                                            <img src="images/data/avatar-4.png" class="md-avatar" />
                                                            <div class="md-list-item-text" layout="column">
                                                                <h2>Set Designer</h2>
                                                                <h3>Lili Regen</h3>
                                                            </div>
                                                        </md-button>
                                                    </md-list-item>
                                                </md-list>
                                                <div class="social-media-group">
                                                    <h2>Share on social media</h2>
                                                    <div class="icon-btns" ng-show="!openlink">
                                                        <md-button class="md-icon-button icon-btn" aria-label="share">
                                                            <md-icon class="icon icon-facebook"></md-icon>
                                                        </md-button>
                                                        <md-button class="md-icon-button icon-btn" aria-label="share">
                                                            <md-icon class="icon icon-linkedin"></md-icon>
                                                        </md-button>
                                                        <md-button class="md-icon-button icon-btn" aria-label="share">
                                                            <md-icon class="icon icon-twitter"></md-icon>
                                                        </md-button>
                                                        <md-button class="md-icon-button icon-btn" aria-label="share" ng-click="openlink=true" md-prevent-menu-close>
                                                            <md-icon class="icon icon-social-media"></md-icon>
                                                        </md-button>
                                                    </div>
                                                    <div class="input-group social-media-link" ng-show="openlink">
                                                        <md-icon class="icon icon-link"></md-icon>
                                                        <input type="text" class="form-control" placeholder="" value="http://lenspire.com/abc">
                                                        <div class="input-group-addon" ng-click="openlink=false" md-prevent-menu-close>
                                                            <md-icon class="icon icon-close-12x12"></md-icon>
                                                        </div>
                                                    </div>
                                                </div>
                                            </md-menu-content>
                                        </md-menu>
                                    </md-card-actions>
                                </md-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </md-content>
    </div>
</div>