﻿<md-dialog id="winkboard-dialog" layout="column" flex>
    <div layout="row" flex layout-wrap>
        <div class="left" flex flex-xs="100">
            <md-toolbar class="bg-transparent" hide-gt-xs>
                <div class="md-toolbar-tools">
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="close()" aria-label="close">
                        <md-icon class="icon icon-close"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <div class="left-inner-layout">
                <h2> ADD TO A WINK BOARD </h2>
                <md-card>
                    <img ng-src="images/data/photo-big.png" class="md-card-image">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title">Violet River</span>
                            <span class="md-subhead">SOUTH EAST ASIAN PHOTOSHOOT</span>
                        </md-card-header-text>
                    </md-card-header>
                </md-card>
                <div class="form-group">
                    <label for="notes">Notes (Optional)</label>
                    <input type="text" class="form-control" id="notes">
                </div>
                <div class="form-group">
                    <label for="winking">Who are you winking at? (Optional)</label>
                    <div layout="row" layout-wrap class="select-layout" flex>
                        <div flex="50" flex-xs="100" ng-repeat="win in winking">
                            <md-card class="xe-card" ng-class="{'selected':win.selected }" ng-click="win.selected = !win.selected">
                                <md-card-header>
                                    <md-card-avatar>
                                        <img class="md-user-avatar" ng-src="{{win.avatar}}" />
                                    </md-card-avatar>
                                    <md-card-header-text>
                                        <span class="md-title">{{win.job}}</span>
                                        <span class="md-subhead">{{win.name}}</span>
                                    </md-card-header-text>
                                </md-card-header>
                            </md-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div flex class="right" layout="column" flex-xs="100">
            <md-toolbar class="bg-transparent" hide-xs>
                <div class="md-toolbar-tools">
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="close()" aria-label="close">
                        <md-icon class="icon icon-close"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <div flex class="padding-layout" layout="column">
                <div class="input-group search-group">
                    <input type="text" ng-model="search" class="form-control" id="search" placeholder="Search Wink Boards">
                    <div class="input-group-addon">
                        <md-icon class="icon icon-magnify"></md-icon>
                    </div>
                </div>
                <div layout="row" flex layout-wrap class="winkboards">
                    <div flex="50" flex-xs="100">
                        <md-card class="winkboard add-box" layout="column">
                            <div class="add-button" flex layout="column" layout-align="center center" ng-click="addWinkboard();">
                                <div>
                                    <md-icon class="icon icon-add"></md-icon>
                                    <span>CREATE A NEW WINK BOARD</span>
                                </div>
                            </div>
                        </md-card>
                    </div>
                    <div flex="50" ng-repeat="wink in winkboard" flex-xs="100">
                        <md-card class="winkboard" layout="column" ng-click="winkSelected(wink)" ng-class="{'selected': wink.selected}">
                            <div flex layout="column">
                                <div flex="50" class="image-layout">
                                    <img class="md-user-avatar" ng-src="{{wink.images[0]}}" />
                                </div>
                                <div flex="50" layout="row">
                                    <div flex="50" class="image-layout">
                                        <img class="md-user-avatar" ng-src="{{wink.images[1]}}" />
                                    </div>
                                    <div flex="50" class="image-layout">
                                        <img class="md-user-avatar" ng-src="{{wink.images[2]}}" />
                                        <span class="winks" ng-if="wink.images.length">{{wink.images.length}} WINKS</span>
                                    </div>
                                </div>
                            </div>
                            <div class="wink-name">
                                {{wink.name}}
                            </div>
                        </md-card>
                    </div>
                </div>
            </div>
            <div layout="row" layout-align="end center" class="btn-layout">
                <md-button id="btn-add">
                    ADD
                </md-button>
            </div>
        </div>
    </div>
</md-dialog>
