<div layout="column" flex>
    <div>
        <md-nav-bar md-selected-nav-item="currentNavItem" id="page-nav" layout-algin="center center" aria-label="page-nav">
            <md-nav-item md-nav-click="clickNavigation('#/winkboards')" name="winkborad">WINK BOARD</md-nav-item>
            <md-nav-item md-nav-click="clickNavigation('#/productions')" name="productions">PRODUCTIONS</md-nav-item>
        </md-nav-bar>
    </div>
    <md-button class="md-icon-button" id="leftnav-min-btn" ng-class="{'open' :(sidenavOpen), 'close':(!sidenavOpen),'showExpander' :screen}" aria-label="open sidebar" ng-click="sidebarToggle()">
        <md-icon class="icon icon-minimize"></md-icon>
    </md-button>
    <div flex layout="row">
        <md-sidenav id="artists-sidenav" ng-class="{'leftside-nav-area' :screen}" class="md-sidenav-left" md-is-open="sidenavOpen" md-is-locked-open="$mdMedia('gt-xs')" md-component-id="left" md-disable-backdrop md-whiteframe="4" ng-include="profileTemplate">
        </md-sidenav>
        <md-content layout="column" flex class="bg-transparent" id="page-content">
            <div layout="row" class="content-padding productions" layout-wrap>
                <div flex-xs="100" flex-sm="50" flex-md="33" flex-gt-md="33" ng-repeat="prod in productions">
                    <md-card class="production" layout="column">
                        <div flex layout="column">
                            <div flex class="image-layout">
                                <img class="md-user-avatar" ng-src="{{prod.image}}" />
                                <md-button class="md-icon-button icon-btn visible-btn" aria-label="share" ng-click="hidden(prod)">
                                    <md-icon class="icon icon-visible-2" ng-class="{'active': prod.hidden}"></md-icon>
                                    <md-icon class="icon icon-hidden-2" ng-class="{'active': !prod.hidden}"></md-icon>
                                </md-button>
                            </div>
                        </div>
                        <md-card-actions layout="row" layout-align="start center" uib-dropdown>
                            <md-card-icon-actions>
                                <a ng-href="#/story">{{prod.name}}</a>
                            </md-card-icon-actions>
                        </md-card-actions>
                    </md-card>
                </div>

            </div>
        </md-content>
    </div>
</div>