﻿<md-dialog id="portfolio-select">

    <md-content layout="row" class="rowSize">
        <div flex layout="column" class="border">
            <label class="heading talent">SELECT FROM TALENTS</label>
            <div class="input-group search-group">
                <input type="text" ng-model="search" class="form-control" id="search" placeholder="">
                <div class="input-group-addon">
                    <md-icon class="icon icon-magnify"></md-icon>
                </div>
            </div>
            <div class="talent-space table-responsive">
                <md-list-item ng-repeat="talent in talents | filter : search " ng-class="{'selected': talent.id == selected.id}">
                    <div layout="row" class="outline" ng-click="match(talent)">
                        <div class="listAlign">
                            <img class="image" ng-src={{talent.avatar}} />
                        </div>
                        <div class="production">
                            <div class="role">{{talent.role}}</div>
                            <div class="name">{{talent.name}}</div>
                        </div>
                    </div>
                </md-list-item>
            </div>
        </div>

        <div class="secondColor" layout="column">
            <div layout="column" class="second-row">
                <md-toolbar class="close">
                    <ul>
                        <li class="pull-right">
                            <md-button class="md-icon-button closeAlign" ng-click="cancel()">
                                <img src="images/data/icon_x.png" aria-label="Close dialog">
                            </md-button>
                        </li>
                    </ul>
                </md-toolbar>
                <div flex layout-wrap layout="row">
                    <div class="imagesAlign" layout="column" flex layout-wrap>
                        <div class="xe-masonry masonry-2">
                            <img src="images/data/photo-14.png" class="item newpic" />
                            <img src="images/data/photo-13.png" class="item newpic" />
                            <img src="images/data/photo-15.png" class="item newpic" />
                            <img src="images/data/photo-17.png" class="item newpic" />
                            <img src="images/data/photo-18.png" class="item newpic" />
                            <img src="images/data/photo-19.png" class="item newpic" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="addto">
                <button class="btn" ng-click="addToPortfolio()">ADD TO WORK </button>
            </div>
        </div>
    </md-content>
</md-dialog>