﻿@import "base";

#account {
    width: 100%;

    .outer-layout {
        width: 100%;
        max-width: 752px;
        margin: auto;
        background-color: $white;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
        padding: 0px 68px 48px;

        .heading {
            font-family: $helveticaneuemedium;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            color: $steel;
            text-align: center;
            margin-top: 48px;
            margin-bottom: 32px;
            width: 100%;
            text-transform: uppercase;
        }

        .avatar-layout {
            text-align: center;
            padding-right: 24px;

            img {
                width: 160px;
                height: 160px;
                background-color: $steel;
                border-radius: 50%;
            }

            a {
                display: block;
                font-family: $helveticaneuemedium;
                font-size: 12px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                text-align: center;
                color: $black;
                margin-top: 12px;
                margin-bottom: 20px;
            }
        }

        .md-button {
            min-width: 138px;
            height: 36px;
            background-color: $piss-yellow;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
            font-family: $montserrat;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            text-align: center;
            color: $black;
            margin: 0px;
            border-radius: 0px;
            box-shadow: none;
            padding: 0px 23px;
        }

        .margin-b-32 {
            margin-bottom: 32px;
        }

        .form-group {
            margin-bottom: 12px;

            label {
                font-family: $montserratlight;
                font-size: 12px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                text-align: left;
                color: $steel;
                margin-bottom: 2px;
            }

            .form-control {
                height: 36px;
                background-color: $white;
                border: solid 1px #e1e1e5;
                border-radius: 0px;
                box-shadow: none;
                font-family: $helveticaneuemedium;
                font-size: 12px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.17;
                text-align: left;
                color: $black-two;

                &.textarea {
                    height: 108px;
                }

                &.chips {
                    height: auto;
                    min-height: 108px;
                    padding: 0px 8px;

                    .md-chips {
                        box-shadow: none !important;

                        md-autocomplete {
                            min-width: 275px;
                        }
                    }

                    md-chip {
                        background-color: #f7f7f7 !important;
                        border: solid 1px #e1e1e5;
                        font-family: $helveticaneuemedium;
                        font-size: 12px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 28px;
                        text-align: left;
                        color: $black-two;
                        border-radius: 0px;
                        height: 28px;
                    }

                    input {
                        font-family: $helveticaneue;
                        font-size: 12px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.5;
                        text-align: left;
                        color: $black-two;
                    }

                    .md-chip-remove {
                        height: 28px;

                        &:after {
                            content: "";
                            background-image: url(icon-sprite.png);
                            background-position: 0px -58px;
                            width: 8px;
                            height: 8px;
                            position: absolute;
                            top: 10px;
                        }

                        md-icon {
                            display: none;
                        }
                    }

                    &.agent {
                        md-chip {
                            height: auto;
                            background-color: $white !important;
                            border: solid 1px $pale-grey;
                            border-radius: 0px;
                            padding-left: 0px;

                            .md-chip-remove {
                                height: auto;
                            }

                            .md-autocomplete {
                                min-width: 270px;
                            }

                            .chips-agent {
                                padding: 6px 8px 4px 8px;

                                .avatar {
                                    position: relative;
                                    width: 40px;
                                    height: 40px;
                                    background-color: $steel;
                                    border-radius: 50%;
                                    margin-right: 12px;

                                    .icon-add-small-white {
                                        margin: 16px;
                                    }

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }

                                    .new-agent {
                                        font-size: 20px;
                                        color: #FFF;
                                        margin: 5px;
                                        display: block;
                                        text-align: center;
                                    }
                                }

                                .organization {
                                    font-family: $helveticaneuelight;
                                    font-size: 12px;
                                    font-weight: 300;
                                    font-style: normal;
                                    font-stretch: normal;
                                    line-height: 1;
                                    text-align: left;
                                    color: $steel;
                                }

                                .name {
                                    font-family: $helveticaneuebold;
                                    font-size: 12px;
                                    font-weight: bold;
                                    font-style: normal;
                                    font-stretch: normal;
                                    line-height: 1;
                                    text-align: left;
                                    color: $black-two;
                                    margin: 4px 0px;
                                }
                            }
                        }
                    }
                }
            }

            .input-group {
                .form-control {
                    border-right: 0;
                }
            }

            .input-group-addon {
                height: 36px;
                background-color: $white;
                padding: 0px 12px;
                border: solid 1px #e1e1e5;
                border-left: 0;
                border-radius: 0px;
            }

            &.flex-50 {
                padding-right: 11px;

                &.small {
                    padding-right: 4px;
                }
            }

            &.flex-50 + .flex-50 {
                padding-left: 11px;
                padding-right: 0px;

                &.small {
                    padding-left: 4px;
                    padding-right: 0px;
                }
            }
        }

        .agents-layout {
            margin: 0px -10px;

            .add-agent {
                margin: 0px 10px 20px;
                background-color: $white;
                border: solid 1px #e1e1e5;
                padding: 24px;

                .head {
                    font-family: $helveticaneuemedium;
                    font-size: 12px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1;
                    color: $black-two;
                    margin-bottom: 16px;

                    .md-button {
                        background: none;
                        box-shadow: none;
                        height: 20px;
                        width: 20px;
                        padding: 0px;
                        min-height: 0px;
                        min-width: 20px;
                        margin: -4px -4px 0px 0px;
                    }
                }
            }

            .flex-33 {
                padding: 0px 10px;

                .agents {
                    background-color: $white;
                    border: solid 1px $pale-grey;
                    padding: 6px 8px 4px 8px;
                    margin-bottom: 20px;

                    &.add {
                        border: dashed 1px $pale-grey;
                    }

                    .avatar {
                        position: relative;
                        width: 40px;
                        height: 40px;
                        background-color: $steel;
                        border-radius: 50%;
                        margin-right: 12px;

                        .icon-add-small-white {
                            margin: 16px;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                        }

                        .pending-status {
                            background-color: rgba(36,36,36,.5);
                            position: absolute;
                            top: 0px;
                            padding: 6px;
                            border-radius: 50%;
                        }
                    }

                    .organization {
                        font-family: $helveticaneuelight;
                        font-size: 12px;
                        font-weight: 300;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        text-align: left;
                        color: $steel;
                    }

                    .name {
                        font-family: $helveticaneuebold;
                        font-size: 12px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        text-align: left;
                        color: $black-two;
                        margin: 4px 0px;
                    }

                    .phone-number {
                        font-family: $helveticaneuelight;
                        font-size: 12px;
                        font-weight: 300;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        text-align: left;
                        color: $black;
                    }

                    .pending {
                        width: 72px;
                        height: 16px;
                        background-color: $piss-yellow;
                        font-family: $helveticaneuemedium;
                        font-size: 12px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 16px;
                        text-align: center;
                        color: $black-two;
                    }
                }
            }
        }
    }
}

#billing {
    width: 100%;

    .outer-layout {
        width: 100%;
        max-width: 752px;
        margin: auto;
        display: block;

        .inner-layout {
            padding: 48px 62px;
            background-color: $white;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);

            .upgrade-layout {
                label {
                    font-family: $helveticaneuelight;
                    font-size: 12px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.33;
                    text-align: left;
                    color: $black-two;
                }

                margin-bottom: 78px;

                .upgrade-area {
                    padding: 0px 0px 0px 30px;
                    text-align: center;
                }

                .upgrade {
                    max-width: 276px;
                    height: 36px;
                    width: 100%;
                }
            }

            .yellow-btn {
                border-radius: 0px;
                width: 138px;
                height: 36px;
                background-color: $piss-yellow;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);

                span {
                    font-family: $montserrat;
                    font-size: 12px;
                    font-weight: 400;
                    text-align: center;
                    color: $black;
                }
            }

            .buttons {
                margin-bottom: 0px;

                .unsubscribe {
                    width: 138px;
                    height: 36px;
                    background-color: $steel;
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
                    margin: 20px 0px 0px 0px;
                    border-radius: 0px;

                    span {
                        font-family: $montserrat;
                        font-size: 12px;
                        font-weight: 400;
                        text-align: center;
                        color: $white;
                    }
                }

                .payment {
                    width: 276px;
                    height: 36px;
                    background-color: $piss-yellow;
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
                    margin: 20px 0px 0px 32px;
                    border-radius: 0px;

                    span {
                        font-family: $montserrat;
                        font-size: 12px;
                        font-weight: 400;
                        text-align: center;
                        color: $black;
                    }
                }
            }

            .un-claim {
                margin-bottom: 28px;

                .credits-img {
                    width: 165px;
                    height: 116px;
                    margin-right: 42px;
                    text-align: center;

                    img {
                        width: auto;
                        height: 100%;
                    }
                }

                label {
                    font-family: $helveticaneuelight;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 1.33;
                    color: $black;
                }

                .bold {
                    font-family: $helveticaneuebold;
                    font-size: 12px;
                    font-weight: 700;
                    color: $black-two;
                    margin-bottom: 4px;
                }
            }


            .heading {
                font-family: $helveticaneuemedium;
                font-size: 12px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                color: $steel;
                text-align: center;
                margin-bottom: 32px;
                width: 100%;
                text-transform: uppercase;
            }

            .table-responsive {
                margin-bottom: 40px;

                table {
                    margin-bottom: 0px;

                    &.bill-table {
                        margin-bottom: 4px;
                    }

                    th {
                        background-color: $pale-grey;
                        border: solid 1px #e1e1e5;
                        text-align: center;
                        font-family: $montserrat;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1;
                        color: $black-two;
                        padding: 13px 0px;
                    }

                    td {
                        padding: 26px 10px;
                        text-align: center;

                        md-radio-button {
                            width: 200px;
                            margin: auto;

                            .md-container {
                                &:before {
                                    background-color: transparent !important;
                                }
                            }

                            .md-off {
                                width: 12px;
                                height: 12px;
                                border: solid 1px #e1e1e5;
                            }

                            .md-on {
                                width: 8px;
                                height: 8px;
                                background-color: #ffffff;
                                margin: 2px;
                            }

                            &.md-checked {
                                .md-off {
                                    width: 12px;
                                    height: 12px;
                                    border: none;
                                    background-color: $piss-yellow;
                                }
                            }
                        }

                        .label-bold {
                            font-family: $helveticaneuebold;
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 1.43;
                            color: $black-two;
                            text-align-last: left;

                            &.center {
                                text-align-last: auto;
                                text-align: center;
                            }
                        }

                        .label-light {
                            font-family: $helveticaneue;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 1.43;
                            color: $steel;
                        }
                    }
                }
            }


            .section-two {
                form {
                    margin: 0px -15px;

                    .form-group {
                        margin-bottom: 32px;
                        padding: 0px 15px;

                        label {
                            font-family: $montserratlight;
                            font-size: 12px;
                            font-weight: 300;
                            line-height: 1.5;
                            color: $steel;
                            margin-bottom: 2px;
                        }

                        .form-control {
                            height: 36px;
                            background-color: $white;
                            border: solid 1px #e1e1e5;
                            border-radius: 0px;
                            box-shadow: none;
                        }
                    }
                }
            }

            .section-three {
                .year {
                    font-family: $helveticaneue;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.43;
                    color: $black-two;
                    padding-top: 23px;
                }

                .doller {
                    font-family: $helveticaneue;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.43;
                    color: $steel;
                    padding-top: 23px;
                }

                .bill {
                    font-family: $helveticaneuebold;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 1.43;
                    color: $black-two;
                    padding-top: 11px;
                }

                .table-responsive {
                    margin: 0px;
                    border: none;

                    .table {
                        max-width: 286px;
                        height: 116px;
                        margin: 0px auto;

                        tbody {
                            border: solid 1px #e1e1e5;

                            td {
                                border: none;
                                padding: 0px;
                            }

                            th {
                                height: 9px;
                                padding: 0px;
                                background-color: $piss-yellow;
                                border: none;
                            }
                        }
                    }
                }


                label {
                    font-family: $helveticaneuelight;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 1.67;
                    color: $black;
                }
            }

            .section-last {
                .md-button {
                    border-radius: 0px;
                    width: 276px;
                    height: 36px;
                    background-color: $piss-yellow;
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
                    margin: 32px 0px 122px 0px;

                    span {
                        font-family: $montserrat;
                        font-size: 12px;
                        font-weight: 400;
                        text-align: center;
                        color: $black;
                    }
                }
            }
        }
    }
}

#organization-menu {
    max-width: 616px;
    width: 100%;
    height: 272px;
    background-color: $white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.36);
    padding: 16px 8px;

    .flex-organization-33 {
        padding: 4px;

        .organization {
            background-color: $white;
            border: solid 1px $pale-grey;
            padding: 8px;

            &.add {
                .avatar {
                    background-color: $steel;
                }
            }

            .avatar {
                width: 40px;
                height: 40px;
                background-color: #d8d8d8;
                margin-right: 12px;
                border-radius: 50%;

                md-icon {
                    margin: 16px;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .name {
                font-family: $helveticaneuebold;
                font-size: 12px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                text-align: left;
                color: $black;
            }
        }
    }

    .md-button {
        min-width: 138px;
        height: 36px;
        background-color: $piss-yellow;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
        font-family: $montserrat;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        text-align: center;
        color: $black;
        margin: 0px;
        border-radius: 0px;
        box-shadow: none;
        padding: 0px 23px;
    }

    .head {
        font-family: $helveticaneuemedium;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        color: $black;
        margin: 4px 0px 16px 16px;
    }

    .margin-lb-24-16 {
        margin: 0px 16px 24px 0px;
    }

    .form-group {
        margin: 0px 16px 12px 16px;

        label {
            font-family: $montserratlight;
            font-size: 12px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            text-align: left;
            color: $steel;
            margin-bottom: 2px;
        }

        .form-control {
            height: 36px;
            background-color: $white;
            border: solid 1px #e1e1e5;
            border-radius: 0px;
            box-shadow: none;
            font-family: $helveticaneuemedium;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            text-align: left;
            color: $black-two;

            &.textarea {
                height: 108px;
            }
        }
    }
}


@media (max-width:600px) {
    #account {
        .outer-layout {
            padding: 0px 10px 48px;

            .form-group {
                &.flex-50 {
                    padding-right: 0px;

                    + .flex-50 {
                        padding-left: 0px;
                    }
                }

                .form-control.chips {
                    .md-chips {
                        md-autocomplete {
                            min-width: 100px;
                        }
                    }
                }
            }
        }
    }

    #billing {
        .outer-layout {
            .inner-layout {
                padding: 48px 16px;

                .upgrade-layout {
                    .upgrade-area {
                        padding: 0px;
                    }
                }
            }
        }
    }
}

@media (max-width:960px) {
    #billing {
        .outer-layout {
            .inner-layout {
                .un-claim {
                    text-align: center;

                    .credits-img {
                        width: 165px;
                        margin: 10px auto;
                        text-align: center;
                    }

                    .claim-area {
                        margin: 4px 0px;
                    }
                }
            }
        }
    }
}
