﻿@import "base";

#user {
    .sorting-menu {
        margin: 12px 12px 0px 0px;

        .md-select-value {
            width: 240px;
            min-height: 22px;
            height: 22px;
            background-color: $white;
            box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.04);
            border: solid 1px #e1e1e5;
            font-family: $helveticaneuemedium;
            font-size: 12px;
            font-weight: 500;
            color: $black;
            text-align: left;
            text-transform: none;
            padding: 2px 0px 0px 12px;

            .md-select-icon {
                &:after {
                    content: "";
                    background-image: url(icon-sprite.png);
                    background-position: 0px -18px;
                    width: 8px;
                    height: 4px;
                    transform: none;
                    margin: auto;
                }
            }
        }
    }

    md-checkbox {
        margin: 0px;
        width: 20px;
        height: 20px;

        &.md-indeterminate {
            .md-icon:after {
                border: none;
            }
        }

        &.md-checked {
            .md-icon {
                width: 16px;
                height: 16px;
                border: solid 1px #d9d9d9;
                background-color: #fff;

                &:after {
                    width: 4px;
                    height: 10px;
                    border-color: #e6e51a;
                    left: 5px;
                    top: 1px;
                }
            }
        }

        .md-default-theme {
            &:not(.md-checked) {
                .md-icon {
                    width: 16px;
                    height: 16px;
                    border-radius: 2px;
                    background-color: #ffffff;
                    border: solid 1px #d9d9d9;
                }
            }

            &.md-checked {
                .md-icon {
                    background-color: #fff;

                    &:after {
                        width: 4px;
                        height: 10px;
                        border-color: #e6e51a;
                        left: 5px;
                        top: 1px;
                    }
                }
            }
        }

        &:not(.md-checked) {
            .md-icon {
                width: 16px;
                height: 16px;
                border-radius: 2px;
                background-color: #ffffff;
                border: solid 1px #d9d9d9;
            }
        }
    }


    .btn {
        width: 240px;
        height: 24px;
        border-radius: 0px;

        &.approve-button {
            width: 100px;
            min-height: 24px;
            margin: 12px 0px 0px 0px;
            background-color: $piss-yellow;
            font-family: $helveticaneuemedium;
            font-size: 12px;
            font-weight: 500;
            line-height: 0.83;
            text-align: center;
            color: $black;
        }

        &.decline-Button {
            margin: 12px 0px 0px 8px;
            width: 100px;
            min-height: 24px;
            border: solid 0.5px #000000;
            background: transparent;
            font-family: $helveticaneuemedium;
            font-size: 12px;
            font-weight: 500;
            line-height: 0.83;
            text-align: center;
            color: $black;
        }
    }
}

.sorting-menu-container {
    min-width: 245px !important;
    left: 64px !important;
    top: 153px !important;

    md-select-menu {
        md-content {
            padding: 0px !important;
        }

        md-option {
            height: 24px;
            font-family: $helveticaneuemedium;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            padding-left: 12px;
            color: $black !important;

            &[selected] {
                background-color: $piss-yellow !important;
                box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.04);
            }
        }
    }
}

#company {
    background-image: url("../images/bg-1.png");
    border-radius: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 720px;

    md-toolbar {
        &:not(.md-menu-toolbar) {
            background-color: transparent;
            color: $black;
            min-height: 78px;
        }

        .heading-align {
            display: inline-flex;
            list-style-type: none;
            text-align: center;
            font-family: $montserratlight;
            font-size: 16px;
            font-weight: 300;
            line-height: 1;
            color: $black;

            .generate-coupon-align {
                padding-top: 36px;
                padding-bottom: 26px;
                left: 0;
                right: 0;
                position: absolute;
                margin: auto;
            }

            .close-button {
                right: 0;
                position: absolute;

                .md-button.md-icon-button {
                    max-width: 16px;
                    height: 16px;
                    margin: 5px 16px 0px 0px;
                    padding: 0px;
                }
            }
        }
    }

    md-dialog-content {
        form {
            margin: 0px 36px;

            label {
                font-family: $montserrat;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #4a4a4a;
                margin-bottom: 6px;
            }

            input {
                height: 36px;
                background-color: #ffffff;
                border: solid 1px #e1e1e5;
                border-radius: 0px;
            }

            .form-group {
                margin-bottom: 16px;
            }

            .left-companyDetail {
                padding: 0px 28px;
            }

            .right-companyDetail {
                padding: 0px 28px;
            }

            .submit-area {
                margin-bottom: 36px;
                margin-top: 8px;

                .add-button {
                    border-radius: 0px;
                    width: 132px;
                    height: 36px;
                    background-color: $piss-yellow;
                    font-family: $montserrat;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 1.17;
                    text-align: center;
                    color: $black;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
            }
        }
    }
}


#coupon {
    background-image: url("../images/bg-1.png");
    border-radius: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 720px;

    .form-group {
        margin-bottom: 16px;
    }

    md-toolbar {
        &:not(.md-menu-toolbar) {
            background-color: transparent;
            color: $black;
            min-height: 78px;
        }

        .heading-align {
            display: inline-flex;
            list-style-type: none;
            text-align: center;
            font-family: $montserratlight;
            font-size: 16px;
            font-weight: 300;
            line-height: 1;
            color: $black;

            .generate-coupon-align {
                padding-top: 36px;
                padding-bottom: 26px;
                left: 0;
                right: 0;
                position: absolute;
                margin: auto;
            }

            .close-button {
                right: 0;
                position: absolute;

                .md-button.md-icon-button {
                    max-width: 16px;
                    height: 16px;
                    margin: 5px 16px 0px 0px;
                    padding: 0px;
                }
            }
        }
    }

    md-dialog-content {
        margin-left: 160px;
        margin-right: 160px;

        .coupon-title {
            font-family: $montserrat;
            font-size: 12px;
            font-weight: normal;
            color: #4a4a4a;
            margin-bottom: 6px;
        }

        input {
            width: 48px;
            height: 36px;
            background-color: $white;
            border: solid 1px #e1e1e5;
            text-align: center;

            &#month {
                margin: 0px 8px;
            }
        }

        textarea {
            max-width: 360px;
            width: 100%;
            height: 72px;
            padding: 10px;
            background-color: $white;
            border: solid 1px #e1e1e5;
        }

        .generate-button {
            border-radius: 0px;
            width: 132px;
            height: 36px;
            background-color: $piss-yellow;
            font-family: $montserrat;
            font-size: 12px;
            font-weight: normal;
            line-height: 1.17;
            text-align: center;
            color: $black;
            margin-top: 8px;
            margin-bottom: 36px;
        }
    }
}

#product {
    width: 100%;

    .product-container {
        background-image: url("../images/bg-1.png");
        border-radius: 0px;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 900px;
        width: 100%;
        height: 420.4px;
        margin: auto;
        margin-top: 40px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);

        .inner-layout-align {
            padding: 54px 20px 8px 20px;

            .product-label {
                font-family: $montserrat;
                font-size: 12px;
                font-weight: normal;
                color: #4a4a4a;
                margin-bottom: 6px;
            }

            .product-textbox {
                max-width: 360px;
                width: 100%;
                height: 36px;
                background-color: $white;
                border: solid 1px #e1e1e5;
                margin-bottom: 1px;
                padding: 10px;
            }

            .coupon-button {
                border-radius: 0px;
                font-family: $montserrat;
                font-size: 12px;
                font-weight: normal;
                line-height: 1.17;
                color: $black;
                margin-top: 8px;
                margin-bottom: 0px;
                width: 132px;
                height: 36px;
                background-color: $piss-yellow;
            }
        }
    }
}


#common {
    height: 100%;
    background-color: #f7f7f7;

    md-content {
        height: 100%;
    }

    .sideArrange {
        padding: 40px 64px 40px 64px;
    }

    .select-category {
        width: 112px;
        height: 10px;
        font-family: $helveticaneue;
        font-size: 12px;
        font-weight: normal;
        line-height: 0.83;
        color: #000000;
    }

    .search-group {
        max-width: 339px;
        width: 100%;
        margin-top: 12px;
        background-color: $white;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.04);
        border: solid 1px #e1e1e5;
    }

    .company-button {
        border-radius: 0px;
        width: 200px;
        height: 24px;
        min-height: 24px;
        background-color: $piss-yellow;
        font-family: $helveticaneuemedium;
        font-size: 12px;
        font-weight: 500;
        line-height: 0.83;
        text-align: center;
        color: $black;
        margin: 0px;
        margin-top: 12px;
    }

    #table-area {
        margin-top: 12px;
        width: 100%;

        .tablesize {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
            overflow-y: hidden;

            .table {
                margin-bottom: 0px;

                th {
                    padding: 10px 8px 10px 8px;
                    line-height: 1.42857143;
                    vertical-align: top;
                    border-top: none;
                    border-bottom: solid 1px #e1e1e5;
                    font-weight: normal;
                    vertical-align: middle;

                    &:first-child {
                        padding-left: 42px;
                    }

                    .time-zone {
                        margin: 0px 0px 0px 5px;

                        .md-select-value {
                            min-width: 38px;
                            height: 16px;
                            min-height: 16px;
                            font-family: $helveticaneuebold;
                            background-color: $pale-grey;
                            font-size: 12px;
                            font-weight: normal;
                            color: $black;
                            text-align: left;
                            text-transform: none;
                            border: none;

                            .md-select-icon {
                                width: 10px;

                                &:after {
                                    content: "";
                                    background-image: url(icon-sprite.png);
                                    background-position: 0px -36px;
                                    width: 8px;
                                    height: 4px;
                                    transform: none;
                                    margin: auto;
                                }
                            }
                        }
                    }
                }

                tr {
                    &.tableHeaderStyle {
                        font-family: $helveticaneuelight;
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 1;
                        color: $steel;
                        background-color: $white !important;
                    }

                    &:nth-child(even) {
                        background-color: $white-three;
                    }

                    &:nth-child(odd) {
                        background-color: $white;
                    }

                    th {
                        &.first-cell-size {
                            min-width: 175px;
                        }

                        &.row-title-size {
                            min-width: 155px;
                        }
                    }
                }

                td {
                    font-family: $helveticaneue;
                    font-size: 12px;
                    padding: 10px 8px 10px 8px;
                    line-height: 1;
                    vertical-align: top;
                    border-top: none;
                    font-weight: normal;
                    vertical-align: middle;
                    color: #000000;

                    &:first-child {
                        padding-left: 42px;
                    }

                    &.first-cell-date {
                        min-width: 190px !important;
                    }

                    &.name {
                        min-width: 105px;
                    }

                    &.phone {
                        min-width: 100px;
                    }

                    &.email {
                        min-width: 110px;
                    }

                    &.subject {
                        min-width: 160px;
                    }

                    &.messages {
                        min-width: 140px;
                    }

                    &.module {
                        min-width: 155px;
                    }

                    &.date {
                        min-width: 190px;
                    }
                }
            }
        }
    }

    #scroll::-webkit-scrollbar {
        width: 8px;
        height: 2px;
        display: block;
    }

    #scroll::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        border-radius: 0px;
        background-color: transparent;
        display: block;
    }

    #scroll::-webkit-scrollbar-thumb {
        border-radius: 0px;
        -webkit-box-shadow: inset 1px 1px 6px #333;
        background-color: $steel;
        display: block;
    }
}

.time-zone-container {
    min-width: 38px !important;

    md-select-menu {
        min-height: 0px;

        md-content {
            padding: 0px !important;
            min-width: 0px;
            min-height: 0px;
        }

        md-option {
            height: 24px;
            font-family: $helveticaneuemedium;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            padding-left: 12px;
            color: $black !important;

            &[selected] {
                background-color: $piss-yellow !important;
                box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.04);
            }
        }
    }
}

@media (max-width: 767px) {
    #common {
        .sideArrange {
            padding: 40px 10px 40px 10px;
        }

        #table-area {
            .tablesize {
                .table {
                    th {
                        &:first-child {
                            padding-left: 10px;
                        }
                    }

                    td {
                        &:first-child {
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
    }

    #coupon {
        md-dialog-content {
            margin-left: 80px;
            margin-right: 80px;
        }
    }
}

@media (max-width: 480px) {
    #company {
        md-dialog-content {
            form {
                margin: 0px 10px;

                .right-companyDetail {
                    padding: 0px;
                }

                .left-companyDetail {
                    padding: 0px;
                }
            }
        }
    }

    #coupon {
        md-dialog-content {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    #product {
        .product-container {
            margin-top: 0px;
            margin-bottom: 0px;
            height: unset;

            .inner-layout-align {
                padding: 54px 10px 8px 10px;
            }
        }
    }
}
