﻿@import "base";

#assemble-sideBar {
    max-width: 240px;
    min-width: 200px;

    &.leftside-nav-area {
        margin-top: 90px;
    }

    md-content {
        padding: 28px 24px 24px 24px;
        text-align: center;

        &::-webkit-scrollbar {
            width: 2px;
            height: 2px;
            display: block;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: none;
            border-radius: 0px;
            background-color: transparent;
            display: block;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 0px;
            -webkit-box-shadow: inset 1px 1px 6px #333;
            background-color: #898b8e;
            background-color: var(--steel);
            display: block;
        }

        .avatar-layout {
            position: relative;
            width: 136px;
            height: 136px;
            margin: auto;

            .avatar {
                width: 68px;
                height: 68px;
                background-color: #f7f7f7;
                border-radius: 50%;
                min-width: 68px;
                min-height: 68px;
            }

            .md-icon-button {
                height: 38px;
                width: 38px;
                border-radius: 100%;
                background: #898b8e;
                padding: 0px;
                position: absolute;
                bottom: 0px;
                right: 0px;
                display: none;
                margin: 0px;
            }
        }

        .project-name {
            margin: 0px;
            padding-top: 16px;
            text-align: center;
            font-family: $librebaskerville;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            text-align: center;
            color: $black-two;
        }

        .black-btn {
            margin: 0px;
            margin-bottom: 4px;
            margin-top: 24px;
            border-radius: 0px;
            width: 192px;
            min-height: 24px;
            background-color: $black-two;
            font-family: $helveticaneuemedium;
            font-size: 12px;
            font-weight: 500;
            line-height: 24px;
            text-align: center;
            color: $white;

            &.yellow-btn {
                background-color: $piss-yellow;
                color: $black-two;
            }
        }

        .outline-btn {
            margin: 0px;
            margin-top: 4px;
            margin-bottom: 4px;
            border-radius: 0px;
            width: 192px;
            min-height: 24px;
            border: solid 1px $black;
            font-family: $helveticaneue;
            font-size: 12px;
            font-weight: 400;
            line-height: 22px;
            color: $black-two;

            .icon {
                padding-right: 24px;
            }
        }

        .control-layout {
            margin-top: 20px;
            text-align: left;
        }

        .value {
            font-family: $montserratlight;
            font-size: 12px;
            font-weight: 300;
            line-height: 1.5;
            padding-left: 2px;
            color: $black;
        }

        .title {
            font-family: $montserratlight;
            font-size: 12px;
            font-weight: 300;
            line-height: 1.5;
            color: $steel;
            margin: 0px;
            padding-left: 2px;
        }

        .date-button {
            height: 24px;
            border-color: rgb(225, 225, 229);
            border-width: 1px 1px 1px 0px;
            border-radius: 0px;
            margin: 6px 0px 0px;
            padding: 0px 8px;
        }

        .control {
            border: solid 1px $pale-grey;
            outline: none;
            margin: 6px 0px 0px;
            padding: 4px 8px;
            font-family: $montserratlight;
            font-size: 12px;
            font-weight: 300;
            line-height: 1;
            color: $black-two;
            height: 24px;
            box-shadow: none;
            border-radius: 0px;

            &::-webkit-input-placeholder {
                color: #e1e1e5;
            }

            &[uib-datepicker-popup] {
                border-width: 1px 0px 1px 1px;
            }
        }

        textarea.control {
            line-height: 1.5;
            height: auto;
        }

        .btn-add {
            height: 16px;
            font-family: $montserrat;
            font-size: 12px;
            font-weight: 300;
            line-height: 1;
            color: $black;
            background-color: transparent;
            padding: 0px;
            margin: 10px 0px 0px 0px;
            min-height: 0px;
            min-width: 0px;
            border-radius: 0px;
            display: none;
            text-align: left;
        }

        .btn-cancel {
            height: 20px;
            font-family: $montserratlight;
            font-size: 12px;
            font-weight: 300;
            line-height: 1;
            color: $steel;
            background-color: transparent;
            padding: 4px 12px;
            margin: 10px 0px 0px 0px;
            min-height: 0px;
            min-width: 0px;
            border-radius: 0px;
        }

        .btn-save {
            height: 20px;
            background-color: $black;
            font-family: $montserratlight;
            font-size: 12px;
            font-weight: 300;
            line-height: 1;
            color: $white;
            padding: 4px 12px;
            margin: 10px 0px 0px 0px;
            min-height: 0px;
            min-width: 0px;
            border-radius: 0px;
        }

        .btn-close-list {
            display: none;
            margin-left: 6px;
            color: #e1e1e5 !important;
            background-color: transparent !important;
            cursor: pointer;
            line-height: 1.5px;
        }

        &:hover {
            .avatar-layout {

                .md-icon-button {
                    display: block;
                }
            }
        }
    }
}

#assemble-content {

    .content-size {
        max-width: 850px;
        width: 100%;
        margin: 0px auto;
        padding: 0px 17px;

        .button-layout {
            padding-top: 16px;
            padding-bottom: 20px;

            md-menu {
                padding: 0px;
                margin-top: 20px;
                height: 24px;

                .md-button {
                    margin: 0px 8px 0px 0px;
                    border-radius: 0px;
                    width: 160px;
                    min-height: 24px;
                    font-family: $helveticaneuemedium;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 24px;
                    color: $black-two;
                    background-color: rgba(255, 255, 255, 0.5);
                    border: solid 1px $steel;
                }
            }

            .add-crew-btn {
                margin: 0px;
                margin-top: 20px;
                border-radius: 0px;
                width: 160px;
                min-height: 24px;
                width: 120px;
                height: 24px;
                background-color: $black-two;
                font-family: $helveticaneuemedium;
                font-size: 12px;
                font-weight: 500;
                line-height: 24px;
                text-align: center;
                color: $white;

                md-icon {
                    margin-top: -3px;
                    margin-right: 4px;
                }
            }

            .confirm-btn {
                margin: 0px;
                margin-top: 20px;
                border-radius: 0px;
                width: 160px;
                min-height: 24px;
                font-family: $helveticaneuemedium;
                font-size: 12px;
                font-weight: 500;
                line-height: 24px;
                text-align: center;
                color: $piss-yellow;
                background-color: $black-two;

                &[disabled] {
                    background-color: $steel;
                    color: $white;
                }
            }

            .undo-btn {
                margin: 0px;
                margin-top: 20px;
                border-radius: 0px;
                width: 120px;
                min-height: 22px;
                border: solid 1px $black-two;
                font-family: $helveticaneuemedium;
                font-size: 12px;
                font-weight: 500;
                line-height: 22px;
                text-align: center;
                color: $black-two;
            }

            .undo-confirm-btn {
                margin: 0px;
                margin-top: 20px;
                border-radius: 0px;
                width: 160px;
                min-height: 24px;
                background-color: $black-two;
                font-family: $helveticaneuemedium;
                font-size: 12px;
                font-weight: 500;
                line-height: 24px;
                text-align: center;
                color: $piss-yellow;
            }

            .accept-date-btn {
                margin: 0px;
                margin-top: 20px;
                margin-left: 5px;
                border-radius: 0px;
                width: 160px;
                min-height: 24px;
                background-color: $piss-yellow;
                font-family: $helveticaneuemedium;
                font-size: 12px;
                font-weight: 500;
                line-height: 24px;
                text-align: center;
                color: $black-two;
            }
        }

        #assmble-table {
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04);

            .table {
                margin: 0px;
                background-color: $white;

                .heading-style {
                    font-family: $helveticaneueitalic;
                    font-size: 12px;
                    font-weight: 400;
                    font-style: italic;
                    line-height: 1;
                    color: $steel;

                    th {
                        text-align: left;
                        font-weight: 400;
                        box-shadow: 0px 2px 0 0px rgba(0, 0, 0, 0.08);
                        border: none;

                        &.fixed-width {
                            min-width: 195px;
                            max-width: 195px;
                        }

                        md-checkbox {
                            margin: 0px;
                            width: 12px;
                            min-width: 12px;


                            ._md-container, .md-container {
                                width: 12px;
                                height: 12px;

                                ._md-icon, .md-icon {
                                    width: 12px;
                                    height: 12px;
                                    border-width: 1px;
                                    border-style: solid;
                                    border-radius: 2px;
                                    border-color: #e1e1e5;
                                    background-color: transparent;

                                    &:after {
                                        border-color: #e6e51a;
                                        width: 5px;
                                        height: 9px;
                                        left: 3px;
                                        top: 0px;
                                    }
                                }
                            }
                        }

                        .select-menu {
                            .md-icon-button {
                                padding: 0px;
                                width: 10px;
                                height: 10px;
                                min-height: 18px;
                                margin: 0px;
                            }

                            .icon-grey-chevron {
                                margin: auto 0px auto 5px;
                            }
                        }
                    }
                }

                .empty-text {
                    padding: 42px 0px 48px 0px;
                    text-align: center;
                    font-family: $helveticaneueitalic;
                    font-size: 14px;
                    font-weight: 400;
                    font-style: italic;
                    line-height: 1;
                    color: $steel;
                }

                .selected-profession {
                    .table {
                        margin-top: 2px;

                        thead {
                            td {
                                padding: 10px;

                                .icon-small-close {
                                    min-width: 8px;
                                    min-height: 8px;
                                    margin-left: 4px;
                                }


                                &.profession-display {
                                    vertical-align: middle;


                                    md-menu {
                                        padding: 0px;

                                        .icon-add-small {
                                            min-width: 8px;
                                            min-height: 8px;
                                            margin-bottom: 5px;
                                        }
                                    }

                                    label {
                                        font-family: $helveticaneuemedium;
                                        font-size: 12px;
                                        font-weight: 500;
                                        line-height: 1;
                                        color: $black;
                                        outline: none;
                                        margin: 0px;
                                    }
                                }
                            }
                        }

                        tbody {

                            .artist-detail {
                                width: 100%;
                                margin-top: 5px;

                                td {
                                    padding: 10px;
                                    border: none;
                                    vertical-align: middle;

                                    md-checkbox {
                                        margin: 0px;
                                        width: 12px;
                                        min-width: 12px;


                                        ._md-container, .md-container {
                                            width: 12px;
                                            height: 12px;

                                            ._md-icon, .md-icon {
                                                width: 12px;
                                                height: 12px;
                                                border-width: 1px;
                                                border-style: solid;
                                                border-radius: 2px;
                                                border-color: #e1e1e5;
                                                background-color: transparent;

                                                &:after {
                                                    border-color: #e6e51a;
                                                    width: 5px;
                                                    height: 9px;
                                                    left: 3px;
                                                    top: 0px;
                                                }
                                            }
                                        }
                                    }

                                    .select-menu {
                                        .md-icon-button {
                                            padding: 0px;
                                            width: 10px;
                                            min-height: 18px;
                                            height: 10px;
                                            margin: 0px;
                                        }

                                        .icon-grey-chevron {
                                            margin: auto 0px auto 5px;
                                        }
                                    }

                                    .member-details {
                                        border: solid 1px $pale-grey;
                                        padding: 0px 2px 0px 8px;
                                        min-width: 170px;

                                        .avatar {
                                            margin: 8px 0px;
                                            width: 40px;
                                            height: 40px;
                                            border-radius: 50%;
                                            background-color: $steel;

                                            md-icon {
                                                margin: 8px;
                                                color: #FFF;
                                                font-size: 20px;
                                                text-align: center;
                                            }

                                            img {
                                                width: 100%;
                                                height: 100%;
                                            }
                                        }

                                        .job {
                                            font-weight: normal;
                                            font-family: $helveticaneuelight;
                                            color: $steel;
                                            padding: 6px 0px 4px 8px;
                                            margin: 0px;
                                        }

                                        label {
                                            font-family: $helveticaneuebold;
                                            font-size: 12px;
                                            line-height: 1;
                                            font-weight: normal;
                                            color: $black;
                                            padding-left: 8px;
                                        }

                                        .phone-number {
                                            font-family: $helveticaneuelight;
                                            font-size: 12px;
                                            font-weight: 300;
                                            font-style: normal;
                                            font-stretch: normal;
                                            line-height: 1;
                                            text-align: left;
                                            color: $black-two;
                                        }
                                    }

                                    .member-agent {
                                        border: solid 1px $pale-grey;
                                        padding: 0px 8px 0px 8px;
                                        min-width: 175px;

                                        .avatar {
                                            margin: 8px 0px;
                                            width: 40px;
                                            height: 40px;
                                            border-radius: 50%;
                                            background-color: $steel;

                                            md-icon {
                                                margin: 8px;
                                                color: #FFF;
                                                font-size: 20px;
                                                text-align: center;

                                                &.icon-add-small-white {
                                                    margin: 16px;
                                                }
                                            }

                                            img {
                                                width: 100%;
                                                height: 100%;
                                            }
                                        }

                                        label {
                                            font-family: $helveticaneuebold;
                                            font-size: 12px;
                                            font-weight: normal;
                                            line-height: 1;
                                            color: $black;
                                            padding-left: 8px;
                                        }

                                        .agency-name {
                                            font-weight: normal;
                                            font-family: $helveticaneuelight;
                                            color: $steel;
                                            padding: 6px 0px 4px 8px;
                                            margin: 0px;
                                        }

                                        .phone-number {
                                            font-family: $helveticaneuelight;
                                            font-size: 12px;
                                            font-weight: 300;
                                            font-style: normal;
                                            font-stretch: normal;
                                            line-height: 1;
                                            text-align: left;
                                            color: $black-two;
                                        }

                                        .agent-name {
                                            padding: 0px 0px 0px 8px;
                                        }
                                    }
                                }

                                .currency-menu {
                                    width: 25px;
                                    height: 24px;
                                    border: solid 1px #f1f1f2;
                                    font-family: HelveticaNeue-Medium;
                                    font-size: 12px;
                                    font-weight: 500;
                                    line-height: 1.17;
                                    color: #000000;
                                    padding: 0px;
                                    text-align: center;
                                    margin-right: 2px;

                                    span {
                                        line-height: 24px;
                                    }
                                }

                                .rate-textbox {
                                    width: 60px;
                                    height: 24px;
                                    border: none;
                                    background-color: $light-tan;
                                    font-family: $helveticaneuebold;
                                    font-size: 14px;
                                    font-weight: normal;
                                    line-height: 1;
                                    letter-spacing: 1px;
                                    text-align: right;
                                    color: $black;
                                    padding: 5px 10px;
                                    margin-right: 2px;
                                }

                                .time-menu {
                                    width: 32px;
                                    height: 24px;
                                    border: solid 1px #f1f1f2;
                                    font-family: HelveticaNeue-Medium;
                                    font-size: 14px;
                                    font-weight: 500;
                                    line-height: 1.17;
                                    color: #000000;
                                    padding: 0px;
                                    text-align: center;
                                    margin-right: 2px;

                                    span {
                                        line-height: 24px;
                                    }
                                }

                                .date-container {
                                    .date-layout {
                                        position: relative;
                                        margin-right: 12px;

                                        .date-menu {
                                            padding: 0px;

                                            .md-button {
                                                width: 24px;
                                                height: 24px;
                                                min-width: 0;
                                                min-height: 0;
                                                border: solid 1px $black-two;
                                                font-family: $montserratlight;
                                                font-size: 12px;
                                                font-weight: 300;
                                                line-height: 0.67;
                                                text-align: center;
                                                color: $black;
                                                border-radius: 0px;
                                                position: static;
                                                margin: 0px 0px 6px;
                                                padding: 0px;

                                                .choice {
                                                    position: absolute;
                                                    top: -5px;
                                                }

                                                &.not-available {
                                                    border: solid 1px $steel;
                                                    background-color: $steel;
                                                    color: $white;
                                                }

                                                &.confirm-date {
                                                    width: 24px;
                                                    height: 24px;
                                                    border: solid 2px $piss-yellow;
                                                }

                                                &.accept-date {
                                                    background-color: $piss-yellow;
                                                    border: solid 1px $piss-yellow;
                                                    color: $black;

                                                    .choice {
                                                        display: none;
                                                    }
                                                }
                                            }
                                        }

                                        .date-circle {
                                            width: 8px;
                                            height: 8px;
                                            border: solid 1px #e1e1e5;
                                            margin: auto;
                                            border-radius: 4px;
                                            cursor: pointer;
                                            outline: none;

                                            &.black {
                                                border: solid 1px $black-two;
                                                background-color: $black-two;
                                            }
                                        }
                                    }

                                    .next-date {
                                        width: 24px;
                                        height: 24px;
                                        min-width: 0;
                                        min-height: 0;
                                        border-radius: 0px;
                                        margin: 0px 12px 16px 0px;

                                        md-icon {
                                            margin-top: -16px;

                                            &.pre {
                                                transform: rotate(180deg);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.agent-dropdown {
    padding: 0px;
    min-width: 177px;

    md-list-item {
        padding: 0px;
        cursor: pointer;

        .member-agent {
            padding: 0px 8px;

            &:hover {
                background-color: $light-tan;
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }

            label {
                font-family: $helveticaneuebold;
                font-size: 12px;
                font-weight: normal;
                line-height: 1;
                color: $black;
                padding-left: 12px;
            }

            .agency-name {
                font-weight: normal;
                font-family: $helveticaneuelight;
                color: $steel;
                padding: 6px 0px 4px 12px;
                margin: 0px;
            }

            .phone-number {
                font-family: $helveticaneuelight;
                font-size: 12px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                text-align: left;
                color: $black-two;
            }

            .agent-name {
                padding: 0px 0px 0px 12px;
            }
        }
    }
}

#selectCrew {
    max-width: 740px;
    width: 100%;
    height: 444px;
    background-color: $white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    border-radius: 0px;

    md-toolbar {
        background-color: transparent;
        min-height: 32px;

        .nobullet {
            list-style: none;
            margin: 0px;

            .md-button.md-icon-button {
                min-height: 32px;
            }

            .closeAlign {
                padding: 0px;
                max-height: 32px;

                img {
                    padding-top: 16px;
                }
            }
        }
    }

    .crewContent {
        padding: 0px 44px 0px 44px;

        .crewTitle {
            font-family: $montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
            color: $black;
        }

        .searchField {
            margin: 0px;
            min-width: 64px;
            padding-bottom: 10px;

            input {
                padding-left: 6px;
                margin: 18px 6px 0px 0px;
                width: 226px;
                height: 24px;
                border: solid 1px #e1e1e5;
                font-family: $helveticaneueitalic;
                font-size: 12px;
                font-weight: 400;
                font-style: italic;
                line-height: 1.33;
                color: $steel;
            }

            .add {
                margin: 18px 0px 0px 0px;
                min-width: 64px;
                min-height: 24px;
                border: solid 1px #4a4a4a;
                border-radius: 0px;
                font-family: $helveticaneuemedium;
                font-size: 12px;
                font-weight: 500;
                line-height: 24px;
                color: $black;
            }
        }

        .saveArea {
            text-align: right;
            padding-bottom: 4px;

            input {
                padding-left: 6px;
                margin-top: 0px;
                max-width: 226px;
                width: 100%;
                height: 24px;
                border: solid 1px #e1e1e5;
                font-family: $helveticaneueitalic;
                font-size: 12px;
                font-weight: 400;
                font-style: italic;
                line-height: 1.33;
                color: $steel;
            }

            .save {
                margin: 0px;
                margin-left: 8px;
                margin-top: 6px;
                min-width: 64px;
                min-height: 24px;
                height: 24px;
                border: solid 1px #4a4a4a;
                border-radius: 0px;
                font-family: HelveticaNeue-Medium;
                font-size: 12px;
                font-weight: 500;
                line-height: 24px;
                vertical-align: bottom;
                color: #000000;
            }
        }

        .saveTemplate {
            text-align: end;
            padding-bottom: 22px;

            .template {
                margin: 6px 0px 0px 0px;
                width: 172px;
                min-height: 24px;
                border: solid 1px #4a4a4a;
                border-radius: 0px;
                font-family: $helveticaneuemedium;
                font-size: 12px;
                font-weight: 500;
                line-height: 24px;
                color: $black;
            }

            .assemble {
                margin: 6px 0px 0px 8px;
                width: 120px;
                min-height: 24px;
                background-color: $black;
                border: solid 1px $black;
                border-radius: 0px;
                font-family: $helveticaneuemedium;
                font-size: 12px;
                font-weight: 500;
                line-height: 24px;
                color: $white;
            }
        }

        .crewSelect {
            margin-bottom: 10px;

            #scrollcrew::-webkit-scrollbar {
                width: 2px;
                height: 20px;
                display: block;
            }

            #scrollcrew::-webkit-scrollbar-track {
                -webkit-box-shadow: none;
                border-radius: 0px;
                background-color: transparent;
                display: block;
            }

            #scrollcrew::-webkit-scrollbar-thumb {
                border-radius: 0px;
                -webkit-box-shadow: inset 1px 1px 6px #333;
                background-color: #898b8e;
                background-color: var(--steel);
                display: block;
            }

            .addbuttons {
                .md-button.md-fab {
                    margin: 0px 6px 12px 6px;
                    padding: 0px;
                    width: 20px;
                    min-height: 20px;
                    max-height: 20px;
                    border: solid 1px $steel;
                    background-color: transparent;
                    color: black;
                    line-height: 17px;
                    box-shadow: none;
                    padding-bottom: 2px;
                }
            }

            .crew-list {
                width: 300px;
                height: 240px;
                border: solid 1px #e1e1e5;
                padding: 3px 0px 3px 3px;
                overflow: auto;

                md-list-item {
                    min-height: 0px;

                    &.selected {
                        background-color: #1E90FF;
                        color: #fff;
                    }

                    .md-button {
                        padding: 0px 10px 0px 10px;
                        min-height: 25px;
                        line-height: 25px;
                    }
                }

                option {
                    padding: 5px 0px 5px 10px;
                }
            }
        }
    }
}

.select-template {
    min-width: 160px;
    padding: 0px;
    min-height: 80px;

    md-menu-item {
        min-height: 40px;
        height: 40px;

        md-checkbox {
            margin: 0px;
            padding: 0px;
            height: 38px;

            ._md-container, .md-container {
                height: 100%;

                &:after {
                    top: unset;
                    right: unset;
                    bottom: unset;
                    left: unset;
                }

                ._md-icon, .md-icon {
                    margin: 14px 0px 14px 12px;
                    width: 12px;
                    height: 12px;
                    border-width: 1px;
                    border-style: solid;
                    border-radius: 2px;
                    border-color: #e1e1e5;
                    background-color: transparent;

                    &:after {
                        border-color: #e6e51a;
                        width: 5px;
                        height: 9px;
                        left: 3px;
                        top: 0px;
                    }
                }
            }
        }


        .template-name {
            min-width: 70px;
            margin-left: 8px;
            line-height: 41px;
            margin: 0px;
            padding: 0px;
            padding-left: 8px;
            font-family: $helveticaneuemedium;
            font-size: 12px;
            font-weight: 500;
            color: #333333;
        }


        .btn-close {
            margin-left: 14px;
            height: 40px;
            text-decoration: none;
            padding-left: 15px;
            line-height: 40px;
            padding-right: 15px;
            color: #898b8e;
            font-size: 7.8px;
            display: inline-block;
            text-align: center;
            outline: none;
        }
    }
}


.crew-dropdown {
    padding: 0px;

    &.share-dropdown {
        &:after {
            content: "";
            position: absolute;
            right: 50%;
            top: -13px;
            margin-right: -2px;
            border: 7px solid transparent;
            border-bottom: 7px solid #fff;
        }

        md-list {
            border-bottom: none;

            md-list-item {
                min-height: 32px;
                line-height: 32px;

                .md-button {
                    min-height: 32px;
                    line-height: 32px;
                    padding: 0px !important;

                    &:hover {
                        background-color: transparent;
                    }

                    ._md-list-item-inner, .md-list-item-inner {
                        min-height: 32px;
                        line-height: 32px;
                    }
                }
            }
        }
    }
}

.choice-dropdown, .time-dropdown, .currency-dropdown, .select-dropdown {
    padding: 0px;

    md-list-item {
        min-height: 23px;
        line-height: 23px;
        border-bottom: solid 1px $pale-grey;
        text-align: center !important;
        display: block;

        &:before {
            min-height: 0px;
            display: none;
        }

        .md-button {
            min-height: 23px;
            line-height: 23px;

            ._md-list-item-inner, .md-list-item-inner {
                min-height: 23px;
                line-height: 23px;
                text-align: center !important;
                display: block;
                font-family: $helveticaneue;
                font-size: 12px;
                font-weight: 400;
                color: $black-two;

                &:before {
                    min-height: 0px;
                    display: none;
                }
            }
        }

        &:last-child {
            border-bottom: none;
        }
    }
}

.select-dropdown {
    md-list-item {
        .md-button {
            margin: 0px;
            color: $black-two !important;
            width: 100%;
        }
    }
}

#image-upload {
    border-radius: 0px;
    max-width: 720px;


    md-toolbar {
        background-color: transparent;
        min-height: 48px;
        height: 48px;

        .md-toolbar-tools {
            padding: 0px;

            .md-button {
                margin: 0px;
                padding: 0px;
                padding-bottom: 23px;
                height: 16px;
                min-height: 16px;
                margin-top: 13.3px;
            }
        }
    }

    .inner-layout {
        .profile-pic-area {
            padding: 0px 39px;
            margin-bottom: 40px;
        }

        label {
            text-align: center;
            font-family: $montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
            text-align: center;
            color: $black;
            margin: 0px;

            &.main-logo {
                width: 136px;
                font-family: $montserrat;
                font-size: 12px;
                font-weight: 300;
                line-height: 1.17;
                text-align: center;
                color: $steel;
                margin-top: 20px;
            }
        }

        .images {
            margin: 24px 0px 0px 0px;
            padding: 0px 12px 0px 12px;

            md-menu {
                width: 136px;
                height: 136px;

                &:first-child {
                    height: 166px;
                }

                &._md-open, .md-open {
                    border: solid 1px $piss-yellow;
                }

                &:not(:last-child) {
                    margin-right: 23px;
                }

                .avatar-display {
                    border-radius: 50%;
                    height: 136px;
                    background-color: #898b8e;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 136px;

                    img {
                        width: 136px;
                        min-height: 136px;
                        border-radius: 50%;
                        background-color: #f7f7f7;
                    }
                }
            }
        }
    }
}

.upload-options {
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.32);
    padding: 0px;

    md-menu-item {
        min-height: 0px;
        height: unset;
        border-bottom: solid 1px #f1f1f2;

        &:last-child {
            border-bottom: none;
        }

        .md-button {
            font-family: $helveticaneue;
            font-size: 12px;
            line-height: 1.33;
            color: $black;
            min-height: 24px;
            height: 24px;
            margin: 0px;
            text-align: center;
            display: block;
        }
    }
}

#invite-collaborators {
    border-radius: 0px;
    width: 720px;
    background-color: $white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    display: inline;

    md-toolbar {
        background-color: transparent;
        min-height: 48px;
        height: 48px;

        .md-toolbar-tools {
            padding: 0px;

            .md-button {
                margin: 0px;
                padding: 0px;
                padding-bottom: 23px;
                height: 16px;
                min-height: 16px;
                margin-top: 13.3px;
            }
        }
    }

    .top-layout {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04);
        max-width: 400px;
        margin: 0px auto;
        padding: 0px 10px;

        label {
            font-family: $montserratlight;
            font-size: 12px;
            font-weight: 300;
            line-height: 0.83;
            color: $steel;
            margin-bottom: 8px;

            &.heading {
                font-family: $montserrat;
                font-size: 16px;
                line-height: 1;
                color: $black;
                margin: 0px;
                text-align: center;
                margin-bottom: 32px;
            }
        }

        input {
            width: 100%;
            border: solid 1px #e1e1e5;
            font-family: $helveticaneueitalic;
            font-size: 12px;
            line-height: 1.33;
            color: $black-two;
            padding-left: 6px;
            margin: 0px 0px 20px;
            height: 36px;
        }

        textarea {
            width: 100%;
            height: 100px;
            border: solid 1px #e1e1e5;
            font-family: $helveticaneue;
            font-size: 12px;
            line-height: 1.33;
            color: $black-two;
            margin-bottom: 32px;
            text-align-last: left;
            padding: 0px 8px 0px 6px;
        }

        .md-button {
            border-radius: 0px;
            margin: 0px 0px 28px 0px;
            width: 276px;
            height: 36px;
            min-height: 36px;
            line-height: 36px;
            max-width: 276px;
            background-color: $piss-yellow;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);

            span {
                font-family: $montserrat;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                text-align: center;
                color: $black;
            }
        }
    }


    .bottom-layout {
        background-color: #f7f7f7;
        padding: 0px 10px;

        label {
            font-family: $montserratlight;
            font-size: 12px;
            font-weight: 300;
            line-height: 0.83;
            color: $steel;
            margin: 32px 0px 10px 0px;
            text-align: center;

            &.owner {
                margin: 0px 20px 0px 0px;
                display: none;
            }

            &.name {
                font-family: $helveticaneuebold;
                font-size: 12px;
                line-height: 1;
                color: $black;
                margin: 0px 0px 0px 9px;
            }
        }

        md-content {
            max-width: 400px;
            width: 100%;
            height: 240px;
            background-color: $white;
            margin-bottom: 34px;
            border: solid 1px #e1e1e5;

            &::-webkit-scrollbar {
                width: 2px;
                height: 2px;
                display: block;
            }

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: none;
                border-radius: 0px;
                background-color: transparent;
                display: block;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 0px;
                -webkit-box-shadow: inset 1px 1px 6px #333;
                background-color: #898b8e;
                background-color: var(--steel);
                display: block;
            }

            .total-layout {
                height: 100%;
                padding: 8px 6px;

                .content-layout {
                    padding: 8px 6px;
                    max-height: 56px;

                    .remove-btn {
                        line-height: 40px;
                        margin-right: 12px;
                    }


                    &:first-child {
                        .remove-btn {
                            visibility: hidden;
                        }

                        .owner {
                            display: inline-block;
                        }

                        .select-menu {
                            display: none;
                        }
                    }

                    .select-menu {
                        .md-button {
                            font-family: $helveticaneue;
                            font-size: 12px;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1.33;
                            text-align: right;
                            color: $black-two;
                        }
                    }

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }

                    .data-layout {
                        margin: auto 0px;
                    }
                }
            }
        }
    }
}

#add-crew-dropdown {
    width: 240px;
    min-height: 357px;
    padding: 0px;

    .add-crew-content {
        width: 0px;
        overflow: hidden;
        padding: 16px 0px;

        &.open {
            width: 240px;
            padding: 16px 24px;
        }
    }

    .head {
        font-family: $helveticaneuemedium;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        color: $black;
        margin-bottom: 16px;

        .back-btn {
            min-width: 0 !important;
            min-height: 0 !important;
            width: auto !important;
            height: auto !important;
            float: left !important;
            margin: 0px !important;
            padding: 0px 10px 0px 0px !important;
            background-color: transparent !important;
        }
    }

    .form-group {
        margin: 0px 0px 12px 0px;

        .md-button {
            width: 92px;
            height: 36px;
            background-color: $white;
            border: solid 1px #e1e1e5;
            font-family: $montserrat;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            text-align: center;
            color: $black;
            margin: 12px 0px 0px;
            border-radius: 0px;

            &.yellow-btn {
                background-color: $piss-yellow;
            }

            &.md-button + .md-button {
                margin-left: 8px;
            }
        }

        label {
            font-family: $montserratlight;
            font-size: 12px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            text-align: left;
            color: $steel;
            margin-bottom: 2px;
        }

        .form-control {
            height: 36px;
            background-color: $white;
            border: solid 1px #e1e1e5;
            border-radius: 0px;
            box-shadow: none;
            font-family: $helveticaneuemedium;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            text-align: left;
            color: $black-two;

            &.textarea {
                height: 108px;
            }
        }
    }

    .input-group {
        margin-bottom: 16px;

        .form-control {
            height: 36px;
            background-color: $white;
            border: solid 1px #e1e1e5;
            border-radius: 0px;
            font-size: 12px;
            box-shadow: none;
        }

        .input-group-addon {
            background-color: $steel;
            border: solid 1px $steel;
            border-radius: 0px;
        }
    }

    .crew-member {
        background-color: $white;
        border: solid 1px #e1e1e5;
        margin-bottom: 4px;
        padding: 8px;

        &.add {
            border: dashed 1px #e1e1e5;
        }

        .avatar {
            width: 40px;
            height: 40px;
            background-color: $steel;
            border-radius: 50%;
            margin-right: 12px;

            md-icon {
                margin: 16px;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        .name {
            font-family: $helveticaneuebold;
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            text-align: left;
            color: $black-two;
            margin: 4px 0px 4px;
        }

        .agency {
            font-family: $helveticaneuelight;
            font-size: 12px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            text-align: left;
            color: $steel;
        }

        .phone {
            font-family: $helveticaneuelight;
            font-size: 12px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            text-align: left;
            color: $black-two;
        }
    }
}

#leftnav-min-btn, #rightnav-min-btn {
    position: fixed;
    top: 72px;
    padding: 0px;
    border-radius: 0px;
    left: -10px;
    z-index: 77;
    -webkit-transition: left 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: left 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    height: 32px;
    width: 32px;
    background-color: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    min-height: 32px;
    opacity: inherit;
    display: none;

    &.showExpander {
        display: block;
    }

    &.message-leftnav-min-btn {
        &.open {
            left: 215px;
            top: 60px;

            md-icon {
                transform: rotate(180deg);
            }
        }

        &.close {
            top: 60px;
            left: -10px;
        }
    }
}

#leftnav-min-btn {
    &.open {
        left: 215px;
        top: 90px;

        md-icon {
            transform: rotate(180deg);
        }
    }

    &.close {
        top: 90px;
        left: -10px;
    }
}

#rightnav-min-btn {
    top: 60px;
    right: -10px;
    left: inherit;
    -webkit-transition: right 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: right 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    display: none;

    &.showExpander {
        display: block;
    }

    md-icon {
        transform: rotate(180deg);
    }

    &.open {
        right: 172px;
        top: 60px;

        md-icon {
            transform: rotate(0deg);
        }
    }

    &.close {
        top: 60px;
        right: -10px;
    }
}

@media (max-width:960px) {
    #selectCrew {
        .crewContent {
            .crewSelect {
                .addbuttons {
                    .md-button {
                        &.md-fab {
                            margin-top: 12px;
                        }
                    }
                }
            }
        }
    }

    #selectCrew {
        .crewContent {
            padding: 0px 10px 0px 10px;
        }

        md-toolbar {
            .nobullet {
                padding-left: 10px;
            }
        }
    }

    #image-upload {
        .inner-layout {
            .profile-pic-area {
                padding: 0px 39px;

                .profile-pic {
                    margin: 0px auto;
                }
            }
        }
    }
}

@media (max-width:600px) {

    #image-upload {
        .inner-layout {
            .images {
                md-menu {
                    margin: 20px auto 0px;
                }
            }
        }
    }
}
