﻿@import "base";

#attachment-content {
    .side-align {
        max-width: 784px;
        width: 100%;
        padding: 0px 17px;
        margin: 30px auto 0px;
        background-color: transparent;
        color: black;

        .browse-layout {
            padding: 8px;
            width: 100%;
            background-color: $white;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
            height: 264px;

            .inner-layout {
                height: 100%;
                width: 100%;
                border: 2px dashed #e1e1e5;

                .browse {
                    padding-right: 74px;
                    padding-left: 101px;
                    text-align: center;


                    label {
                        font-family: $montserrat;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1.5;
                        text-align: center;
                        color: #4a4a4a;
                        padding: 16px 6px 0px;
                        margin: 0px;
                        padding-bottom: 14px;
                    }

                    button {
                        margin-top: 16px;
                        width: 192px;
                        min-height: 24px;
                        border: solid 1px $black-two;
                        border-radius: 0px;
                        line-height: 24px;
                        font-family: $helveticaneuemedium;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 1;
                        text-align: center;
                        color: $black-two;
                        margin: 0px;
                    }
                }

                md-divider {
                    border: solid 1px #e1e1e5;
                    margin: 0px;
                    height: 200px;
                    width: 2px;
                }

                .select {
                    padding-right: 101px;
                    padding-left: 72px;
                    text-align: center;

                    label {
                        font-family: $montserrat;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1.5;
                        text-align: center;
                        color: #4a4a4a;
                        margin: 0px;
                        padding: 16px 48px 0px;
                    }

                    button {
                        width: 192px;
                        min-height: 24px;
                        border: solid 1px $black-two;
                        border-radius: 0px;
                        line-height: 24px;
                        font-family: $helveticaneuemedium;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 1;
                        text-align: center;
                        color: $black-two;
                        margin: 0px;
                        margin-top: 16px;
                    }
                }
            }
        }

        .search-sort-layout {
            padding-top: 22px;

            label {
                font-family: $helveticaneuemedium;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.25;
                color: $black-two;
                margin-right: 65px;
                margin-top: 10px;
                width: 123px;

                b {
                    font-family: $helveticaneuelight;
                    font-weight: 300;
                }
            }

            .sort {
                font-family: $helveticaneuelight;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.25;
                color: $black-two;
                margin: 10px 12px 0px 0px;
                width: unset;
            }

            .input-group {
                margin-top: 10px;
                max-width: 339px;
                width: 100%;
                margin-right: 31px;
            }

            md-menu {
                width: 146px;
                height: 24px;
                margin-top: 10px;
                background-color: $white;
                border: solid 1px #e1e1e5;
                padding: 0px;

                .md-button {
                    margin: 0px;
                    line-height: 24px;
                    min-height: 24px;
                    font-family: $helveticaneuemedium;
                    font-size: 12px;
                    font-weight: 500;
                    text-align: center;
                    color: $black-two;
                    width: 100%;
                }
            }
        }

        .table-layout {
            margin-top: 18px;
            border: none;
            margin: 0px;

            table {
                background-color: $white;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04);
                margin: 18px 0px;

                th {
                    font-family: $helveticaneueitalic;
                    font-size: 12px;
                    font-weight: 400;
                    font-style: italic;
                    line-height: 1;
                    color: #898b8e;
                    height: 32px;
                    vertical-align: middle;
                    border-bottom: solid 1px $pale-grey;

                    &:first-child {
                        padding-left: 42px;
                    }
                }

                td {
                    border: none;
                    font-family: $helveticaneuemedium;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1;
                    color: $black-two;
                    vertical-align: middle;
                    /*&:first-child {
                        padding-left: 42px;
                    }*/
                    md-menu {
                        .md-fab {
                            background-color: $steel;
                            width: 40px;
                            height: 40px;
                            border: none;
                            border-radius: 20px;
                            box-shadow: none;


                            label {
                                color: $white;
                                font-family: $helveticaneuemedium;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 0.75;
                                text-align: center;
                                margin: 0px;
                                line-height: 42px;
                            }
                        }

                        &.md-open {
                            .md-fab {
                                background-color: $piss-yellow;

                                label {
                                    color: $black-two;
                                }
                            }
                        }
                    }

                    .label-text {
                        min-height: 24px;
                        border-radius: 4px;
                        font-family: $helveticaneuemedium;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 24px;
                        text-align: center;
                        color: $white;
                        border: none;
                        padding: 0px 15px;
                        display: inline-block;

                        &.billing {
                            background-color: #669cdb;
                        }

                        &.production {
                            background-color: #e06bbd;
                        }

                        &.media {
                            background-color: #6fd1bb;
                        }

                        &.bts {
                            background-color: #ffc15c;
                        }
                    }


                    img {
                        width: 40px;
                        height: 40px;
                        margin-right: 8px;
                    }

                    label {
                        font-family: $helveticaneue;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 1;
                        color: $steel;
                    }

                    button {
                        width: 93px;
                        min-height: 24px;
                        border: solid 1px $black-two;
                        border-radius: 0px;
                        font-family: $helveticaneuemedium;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 22px;
                        color: $black-two;
                        text-transform: none;
                        margin: 0px;

                        &.selected {
                            background-color: $black-two;
                            color: $white;
                        }
                    }

                    .add-crew-btn {
                        width: 40px;
                        height: 40px;
                        border-radius: 24px;
                        margin: auto 0px;
                        margin-right: 12px;
                    }

                    .remove-btn {
                        width: 24px;
                        height: 24px;
                        border: none;
                    }

                    .artist-align {
                        margin: auto 0px;
                    }
                }
            }
        }

        .pagenation-layout {
            margin-bottom: 30px;

            .info {
                font-family: $helveticaneue;
                font-size: 16px;
                font-weight: normal;
                line-height: 1.25;
                color: $black-two;
                margin-right: 20px;

                b {
                    font-family: $helveticaneuemedium;
                    font-weight: normal;
                }
            }

            .md-icon-button {
                width: 28px;
                height: 24px;
                min-height: 24px;
                background-color: $white;
                border: solid 1px #e1e1e5;
                margin: 0px;
                border-radius: 0px;
                padding: 0px;
                line-height: 1;

                &[disabled] {
                    md-icon {
                        opacity: .3;
                    }
                }
            }

            .md-icon-button + .md-icon-button {
                margin-left: -5px;
            }
        }

        md-divider {
            width: 100%;
            margin-bottom: 32px;
            height: 2px;
            border: solid 1px #e1e1e5;
        }

        .shared-layout {
            label {
                font-family: $helveticaneuemedium;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.25;
                color: $black-two;
                padding-left: 15px;

                b {
                    font-family: $helveticaneuelight;
                    font-weight: 300;
                }
            }
        }

        md-card {
            max-width: 220px;


            md-card-header {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);

                img {
                    width: 40px;
                    height: 40px;
                    margin-left: 8px;
                }

                div {
                    padding-left: 8px;
                    margin: auto 0px;

                    label {
                        font-family: $helveticaneue;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 1;
                        color: $steel;
                        margin-bottom: 4px;

                        + label {
                            font-family: $helveticaneuemedium;
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 1;
                            color: $black-two;
                        }
                    }
                }
            }

            .winkboards {
                margin: 1px 0px 0px 0px;

                .winkboard {
                    margin: 0px;
                    padding: 0px;
                    margin-top: 1px;
                    height: 274px;
                    background-color: #ffffff;
                    padding: 3.2px;
                    cursor: pointer;
                    outline: none;
                    box-shadow: none;
                    border-radius: 0px;
                    position: relative;

                    &.add-box {
                        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
                    }

                    &.selected {
                        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 0 8px 0 #e6e51a;
                    }

                    .add-button {
                        margin: 5.8px;
                        text-align: center;
                        border: dashed 2px #e1e1e5;

                        span {
                            font-family: $montserrat;
                            font-size: 12px;
                            font-weight: normal;
                            line-height: 1.17;
                            color: #898b8e;
                            display: block;
                            margin-top: 15px;
                        }
                    }

                    .image-layout {
                        margin: 2px;
                        overflow: hidden;
                        background-color: #d8d8d8;
                        position: relative;
                    }

                    .winks {
                        border-radius: 3.2px;
                        background-color: #000000;
                        font-family: $montserrat;
                        font-size: 12px;
                        font-weight: normal;
                        line-height: 0.67;
                        color: #ffffff;
                        padding: 2px 7px;
                        position: absolute;
                        display: block;
                        height: 18px;
                        line-height: 14px;
                        bottom: 8px;
                        right: 12px;
                    }


                    .wink-name {
                        font-family: $montserrat;
                        font-size: 12px;
                        font-weight: normal;
                        line-height: 0.67;
                        color: #000000;
                        padding: 10px;
                    }
                }
            }

            md-card-actions {
                padding: 4.8px 12px 12px 8px;

                md-menu {
                    margin: 0px;
                }
            }

            .bottom-header {
                padding: 12px 0px 12px 16px;

                label {
                    font-family: $helveticaneueitalic;
                    font-size: 12px;
                    font-weight: 400;
                    font-style: italic;
                    line-height: 1;
                    color: $steel;
                    padding-bottom: 8px;
                    margin: 0px;
                }

                button {
                    padding: 0px;
                    margin: 0px;
                    border: 1px solid $black-two;
                }

                div {
                    padding: 0px;

                    .add-crew-btn {
                        margin: 0px;
                        margin-right: 4px;
                    }

                    md-menu {
                        padding: 0px;

                        img {
                            margin: 0px 4px;
                        }

                        .md-mini {
                            margin-left: 4px;
                            background-color: $steel;
                            width: 40px;
                            height: 40px;
                            border: none;
                            border-radius: 20px;
                            box-shadow: none;
                            color: $white;

                            label {
                                color: $white;
                                font-family: $helveticaneuemedium;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 0.75;
                                text-align: center;
                                margin: 0px;
                                line-height: 42px;
                            }
                        }

                        &.md-open {
                            .md-mini {
                                background-color: $piss-yellow;

                                label {
                                    color: $black-two;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.label-menu {
    padding: 0px;
    width: 148px;

    md-menu-item {
        min-height: 23px;
        height: 23px;
        border-bottom: solid 1px $pale-grey;

        &:last-child {
            border-bottom: none;
        }

        .md-button {
            line-height: 23px;
            min-height: 23px;
            font-family: $helveticaneue;
            font-size: 12px;
            font-weight: 400;
            line-height: 1.33;
            text-align: center;
            color: $black-two;
            text-transform: uppercase;
            display: block;
        }
    }
}

#sharedwinkboard {
    width: 800px;
    border-radius: 0px;
    max-height: 652px;
    height: 100%;

    md-toolbar {
        background-color: transparent;
        min-height: 110px;

        ul {
            list-style: none;
            margin: 0px;
            min-height: 32px;
            height: 32px;

            button {
                margin: 3px;
                padding: 0px;
            }
        }

        .toolbar-content {
            padding: 0px 10px;

            label {
                font-family: $montserrat;
                font-size: 16px;
                font-weight: 400;
                line-height: 1;
                color: $black;
                padding-left: 64px;
                margin: 0px;
            }

            .input-group {
                max-width: 368px;
                width: 100%;
                margin: 15px 0px 0px 64px;
            }
        }
    }

    md-dialog-content {
        height: 100%;

        .buttom-layout {
            background-color: #f7f7f7;
            box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.16);
            text-align: right;
            padding: 14px 50px;
            max-height: 52px;
            height: 100%;

            .md-button {
                width: 192px;
                height: 24px;
                min-height: 24px;
                line-height: 24px;
                margin: 0px;
                background-color: $piss-yellow;
                font-family: $helveticaneuemedium;
                font-size: 12px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                color: $black-two;
                border-radius: 0px;
            }
        }

        .content-layout {
            overflow: auto;
            background-color: #f7f7f7;
            box-shadow: -1px 0 1px 0 rgba(0, 0, 0, 0.12);
            height: 100%;
            padding: 0px 50px;

            &::-webkit-scrollbar {
                width: 2px;
                height: 2px;
                display: block;
                margin-right: 4px;
            }

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: none;
                border-radius: 0px;
                background-color: transparent;
                display: block;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 0px;
                -webkit-box-shadow: inset 1px 1px 6px #333;
                background-color: #898b8e;
                background-color: var(--steel);
                display: block;
            }

            .winkboard {
                &.selected {
                    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 0 8px 0 #e6e51a;
                }

                padding: 4px 6px 0px 6px;
                min-width: 220px;
                min-height: 342px;
                max-width: 220px;
                max-height: 342px;
                background-color: #ffffff;
                padding: 3.2px;
                cursor: pointer;
                outline: none;
                box-shadow: none;
                border-radius: 0px;
                position: relative;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);

                &.selected {
                    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 0 8px 0 #e6e51a;
                }

                .image-layout {
                    margin: 2px;
                    overflow: hidden;
                    background-color: #d8d8d8;
                }

                .winks {
                    border-radius: 3.2px;
                    background-color: #000000;
                    font-family: $montserrat;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 0.67;
                    color: #ffffff;
                    padding: 2px 7px;
                    position: absolute;
                    display: block;
                    height: 18px;
                    line-height: 14px;
                    bottom: 36px;
                    right: 12px;
                }

                md-card-actions {
                    margin: 0px;

                    md-card-icon-actions {
                        font-family: $montserrat;
                        font-size: 12px;
                        font-weight: normal;
                        line-height: 0.67;
                        color: #000000;
                        padding: 10px;
                    }

                    md-menu {
                        padding: 0px;
                        margin-right: 10px;
                        height: 16px;

                        button {
                            md-icon {
                                &.active {
                                    display: none;
                                }
                            }
                        }

                        &.md-open {
                            button {
                                md-icon {
                                    display: none;

                                    &.active {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }

                    .icon-btn {
                        margin: 5px;
                        padding: 0px;
                        height: unset;
                        width: unset;
                        min-width: unset;
                        min-height: unset;
                        line-height: 1;
                        margin: 0px !important;
                    }

                    .icon-btn + .icon-btn {
                        margin-left: 10px !important;
                    }
                }
            }
        }
    }
}

@media (max-width:960px) {
    #attachment-content {
        .side-align {
            .browse-layout {
                .inner-layout {
                    .browse {
                        padding-right: 10px;
                        padding-left: 10px;
                        text-align: center;
                        margin: 16px auto;

                        button {
                            margin: 16px 0px 0px;
                            max-width: 192px;
                            width: 100%;
                        }

                        label {
                            padding-bottom: 0px;
                        }
                    }

                    .select {
                        padding-right: 10px;
                        padding-left: 10px;
                        text-align: center;
                        margin: 16px auto;

                        label {
                            padding: 16px 0px 0px;
                        }

                        button {
                            margin: 16px 0px 0px;
                            max-width: 192px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:600px) {
    #attachment-content {
        .side-align {
            .browse-layout {
                height: 340px;

                .inner-layout {
                    md-divider {
                        height: 2px;
                        width: 80%;
                    }
                }
            }
        }
    }

    #sharedwinkboard {
        md-dialog-content {
            .content-layout {
                .winkboard {
                    margin: 8px auto;
                }
            }
        }

        md-toolbar {
            .toolbar-content {
                label {
                    padding-left: 0px;
                }

                .input-group {
                    margin: 15px 0px 0px 0px;
                }
            }
        }
    }
}

md-dialog[aria-label='Remove Shared Files'] {
    width: 324px;
    height: 160px;
    background-color: #ffffff;
    background-color: var(--white);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.36);
    border-radius: 0px;

    .md-title {
        font-family: $librebaskervilleitalic;
        font-size: 16px;
        font-weight: normal;
        font-style: italic;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #242424;
    }

    md-dialog-actions {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;

        .md-button {
            width: 120px;
            height: 24px;
            min-height: 24px;
            background-color: #f1f1f2;
            font-family: $helveticaneuemedium;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #242424 !important;
            border-radius: 0px;

            &.md-confirm-button {
                background-color: #e6e51a !important;
            }
        }
    }
}
