
/* Colors */
$white: #ffffff;
$white-two: #d8d8d8;
$white-three: #f7f7f7;
$black: #000000;
$black-two: #242424;
$gray-97: #f7f7f7;
$light-tan: #faf9c9;
$pale-grey: #f1f1f2;

$steel: #898b8e;
$piss-yellow: #e6e51a;

$gothamcondbook: GothamCond-Book;

$helveticaneue: HelveticaNeue;
$helveticaneuebold: HelveticaNeue-Bold;
$helveticaneuelight: HelveticaNeue-Light;
$helveticaneuelightitalic: HelveticaNeue-LightItalic;
$helveticaneueitalic: HelveticaNeue-Italic;
$helveticaneuemedium: HelveticaNeue-Medium;

$montserrat: Montserrat-Regular;
$montserratlight: Montserrat-Light;
$montserratbold: Montserrat-Bold;

$agaramondprobold: AGaramondPro-Bold;
$agaramondproitalic: AGaramondPro-Italic;

$librebaskerville: LibreBaskerville-Regular;
$librebaskervillebold: LibreBaskerville-Bold;
$librebaskervilleitalic: LibreBaskerville-Italic;

