
@import "base";


#calendar-view {
    padding: 20px 10px;

    .calendar-layout {
        max-width: 700px;
        margin: 0px auto;

        #calendar {
            .fc-toolbar {
                margin-bottom: 16px;

                .fc-left {
                    h2 {
                        font-family: $helveticaneuemedium;
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 1;
                        color: $black-two;
                        padding-left: 6px;
                    }
                }

                .fc-right {
                    .fc-today-button {
                        display: none;
                    }

                    .fc-button {
                        width: 28px;
                        height: 24px;
                        background-color: $white;
                        border: solid 1px #e1e1e5;
                        border-radius: 0px;
                        background-image: none;
                        box-shadow: none;
                    }
                }
            }

            .fc-view-container {
                .fc-view {
                    background-color: $white;
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);

                    .fc-head {
                        .fc-head-container {
                            border: none;

                            .fc-day-header {
                                height: 31px;
                                font-family: $montserrat;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 1;
                                text-align: left;
                                color: #4a4a4a;
                                padding: 4px 8px;
                                border: none;
                                vertical-align: middle;

                                &.fc-sun {
                                    color: $steel;
                                }
                            }
                        }
                    }

                    .fc-body {
                        td {
                            &.fc-widget-content {
                                border: solid 1px #f7f7f7;
                                border-width: 1px 0px 0px 0px;

                                .fc-week {
                                    .fc-day-number {
                                        font-family: $montserratlight;
                                        font-size: 14px;
                                        font-weight: 300;
                                        line-height: 1.14;
                                        color: $steel;
                                        text-align: left;
                                        padding: 4px 8px;

                                        &.fc-today {
                                            background-color: $light-tan;
                                            border: solid 1px #f7f7f7;
                                            font-family: $montserrat;
                                            font-weight: 400;
                                            color: $black-two;
                                        }

                                        &.fc-other-month {
                                            color: #e1e1e5;
                                        }
                                    }

                                    .fc-event-container {
                                        .fc-event {
                                            height: 20px;
                                            border-radius: 100px;
                                            background-color: $piss-yellow;
                                            border: none;
                                            margin-bottom: 2px;

                                            &.fc-not-end {
                                                border-radius: 100px 0px 0px 100px;
                                            }

                                            &.fc-not-start {
                                                border-radius: 0px 100px 100px 0px;

                                                .fc-content {
                                                    visibility: hidden;
                                                }
                                            }

                                            .fc-content {
                                                .fc-time {
                                                    display: none;
                                                }

                                                .fc-title {
                                                    opacity: 0.9;
                                                    font-family: $montserrat;
                                                    font-size: 12px;
                                                    font-weight: 400;
                                                    line-height: 20px;
                                                    color: $black-two;

                                                    img {
                                                        width: 20px;
                                                        height: 20px;
                                                        max-width: 20px;
                                                        max-height: 20px;
                                                        border-radius: 10px;
                                                        border: solid 1px $piss-yellow;
                                                        margin-right: 12px;
                                                    }

                                                    img + img {
                                                        margin-left: -22px;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .fc-bg {
                                        .fc-day {
                                            background-color: $white;
                                            border: solid 1px #f7f7f7;

                                            &.fc-today {
                                                background-color: $light-tan;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    #calendar-view {
        .calendar-layout #calendar {
            .fc-view-container {
                .fc-view {
                    .fc-body {
                        td {
                            &.fc-widget-content {
                                .fc-week {
                                    .fc-event-container {
                                        .fc-event {
                                            .fc-content {
                                                .fc-title {
                                                    .name {
                                                        display: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
