
@import "base";

body {
    font-family: $helveticaneue;
    color: $black;
    font-size: 12px;
}

* {
    outline: none;
}

.rotate-90 {
    transform: rotate(90deg);
}

.navbar-brand {
    padding: 12px 15px 12px 42px;
    height: 60px;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.navbar-toggle .icon-bar {
    background-color: $black;
}

.navbar-collapse {
    border-top: 1px solid #eee;
}

md-backdrop.md-opaque {
    background-color: #000;
    opacity: 0.72 !important;
}

.bg-gray-97 {
    background-color: $gray-97;
}

.bg-white-three {
    background-color: $white-three;
}

.bg-transparent {
    background-color: transparent !important;
}

.content-padding {
    padding: 28px 32px;

    &.artists {
        max-width: 764px;
        margin: 0px auto;
    }

    &.winkboards {
        max-width: 784px;
        width: 100%;
        margin: 0px auto;
    }
}

.padding-0 {
    padding: 0px !important;
}

.padding-r-2 {
    padding-right: 2px !important;
}

.padding-l-2 {
    padding-left: 2px !important;
}

.padding-36 {
    padding: 36px;
}

.padding-0-36 {
    padding: 0px 36px;

    &.winkBoard {
        max-width: 784px;
        width: 100%;
        margin: 0px auto;
    }
}

.margin-0 {
    margin: 0px !important;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-20-0 {
    margin: 20px 0;
}

.margin-right-6 {
    margin-right: 6px;
}

.icon {
    display: inline-block;
    min-width: 0px;
    min-height: 0px;
}

.full-width {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.shape {
    width: 4.3px;
    height: 4.3px;
    background-color: $black;
    border-radius: 50%;
}

.xe-masonry {
    padding: 0;
    -moz-column-gap: 0px;
    -webkit-column-gap: 0px;
    column-gap: 0px;

    .item {
        display: inline-block;
        width: 100%;
    }
}



@media only screen and (min-width: 450px) {
    .xe-masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    .xe-masonry.sm {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

    .masonry-2 {
        -moz-column-count: 2 !important;
        -webkit-column-count: 2 !important;
        column-count: 2 !important;
    }
}

@media only screen and (min-width: 700px) {
    .xe-masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }

    .xe-masonry.sm {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    .masonry-2 {
        -moz-column-count: 2 !important;
        -webkit-column-count: 2 !important;
        column-count: 2 !important;
    }
}

@media only screen and (min-width: 1024px) {
    .xe-masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }

    .xe-masonry.sm {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }

    .masonry-2 {
        -moz-column-count: 2 !important;
        -webkit-column-count: 2 !important;
        column-count: 2 !important;
    }

    .masonry-3 {
        -moz-column-count: 3 !important;
        -webkit-column-count: 3 !important;
        column-count: 3 !important;
    }

    .masonry-4 {
        -moz-column-count: 4 !important;
        -webkit-column-count: 4 !important;
        column-count: 4 !important;
    }
}

@media only screen and (min-width: 1200px) {
    .xe-masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }

    .xe-masonry.sm {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }

    .masonry-2 {
        -moz-column-count: 2 !important;
        -webkit-column-count: 2 !important;
        column-count: 2 !important;
    }

    .masonry-3 {
        -moz-column-count: 3 !important;
        -webkit-column-count: 3 !important;
        column-count: 3 !important;
    }

    .masonry-4 {
        -moz-column-count: 4 !important;
        -webkit-column-count: 4 !important;
        column-count: 4 !important;
    }
}

@media only screen and (min-width: 1400px) {
    .xe-masonry {
        -moz-column-count: 6;
        -webkit-column-count: 6;
        column-count: 6;
    }

    .xe-masonry.sm {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }

    .masonry-2 {
        -moz-column-count: 2 !important;
        -webkit-column-count: 2 !important;
        column-count: 2 !important;
    }

    .masonry-3 {
        -moz-column-count: 3 !important;
        -webkit-column-count: 3 !important;
        column-count: 3 !important;
    }

    .masonry-4 {
        -moz-column-count: 4 !important;
        -webkit-column-count: 4 !important;
        column-count: 4 !important;
    }
}

@media only screen and (min-width: 1600px) {
    .xe-masonry {
        -moz-column-count: 7;
        -webkit-column-count: 7;
        column-count: 7;
    }

    .xe-masonry.sm {
        -moz-column-count: 6;
        -webkit-column-count: 6;
        column-count: 6;
    }

    .masonry-2 {
        -moz-column-count: 2 !important;
        -webkit-column-count: 2 !important;
        column-count: 2 !important;
    }

    .masonry-3 {
        -moz-column-count: 3 !important;
        -webkit-column-count: 3 !important;
        column-count: 3 !important;
    }

    .masonry-4 {
        -moz-column-count: 4 !important;
        -webkit-column-count: 4 !important;
        column-count: 4 !important;
    }
}

@media only screen and (min-width: 1900px) {
    .xe-masonry {
        -moz-column-count: 6;
        -webkit-column-count: 6;
        column-count: 6;
    }

    .xe-masonry.sm {
        -moz-column-count: 6;
        -webkit-column-count: 6;
        column-count: 6;
    }

    .masonry-2 {
        -moz-column-count: 2 !important;
        -webkit-column-count: 2 !important;
        column-count: 2 !important;
    }

    .masonry-3 {
        -moz-column-count: 3 !important;
        -webkit-column-count: 3 !important;
        column-count: 3 !important;
    }

    .masonry-4 {
        -moz-column-count: 4 !important;
        -webkit-column-count: 4 !important;
        column-count: 4 !important;
    }
}



.dropdown-menu {
    background-color: $white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    border: none;

    &.arrow-right {
        &:before {
            content: "";
            position: absolute;
            right: 12px;
            top: -16px;
            border: 8px solid transparent;
            border-bottom: 8px solid #e2edeb;
        }

        &:after {
            content: "";
            position: absolute;
            right: 13px;
            top: -14px;
            border: 7px solid transparent;
            border-bottom: 7px solid #fff;
        }
    }
}

._md-open-menu-container._md-active, .md-open-menu-container.md-active {
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
}

#page-content {
    position: relative;
}

md-content._md {
    margin-top: 0px;
}

[xe-href] {
    cursor: pointer;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 19px;
        padding-bottom: 20px;
    }
}

@media (max-width:767px) {
    .padding-0-36.winkBoard {
        padding: 0px 0px;
    }
}

@media all and (max-width: 830px) and (min-width:767px ) {
    .nav > li > a {
        padding: 19px 9px 20px 10px;
    }

    .navbar-brand {
        padding: 12px 15px 12px 22px;
    }
}


