@import "base";

#header {
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    height: 60px;
    margin-bottom: 0px;
    z-index: 78 !important;

    .logo-center {
        padding: 12px 15px;
    }

    .btn-layout {
        position: absolute;
        right: 15px;
        top: 0px;
    }

    .xe-btn {
        line-height: 1;
        color: $black-two;
        min-width: 100px;
        min-height: 24px;
        margin: 18px 8px;
        font-size: 12px;
        border-radius: 0px;

        &.outline {
            border: solid 1px $black;
        }
    }

    nav {
        background-color: $white;

        li {
            a {
                text-align: center;
                color: $black;
                font-family: $montserratlight;
                font-size: 12px;
                font-weight: 300;
                text-align: center;
                color: $black;
                background: transparent !important;

                &.bg-white-three {
                    background-color: $white-three !important;
                }

                &.active {
                    font-family: $montserratbold;
                }

                .notifiy {
                    position: absolute;
                    left: 8px;
                    bottom: 17px;
                }
            }
        }

        #notifications {
            display: block;

            &.smallScreen-nav {
                display: none;
            }

            a {
                padding-top: 16px;
                padding-bottom: 20px;
                width: 50px;
                margin: auto;
            }

            .dropdown-menu {
                padding: 0px;
                margin: -10px 5px 0px 0px;

                md-card {
                    margin: 0px;
                    border-radius: 0px;
                    box-shadow: none;
                    border-bottom: 1px solid $pale-grey;

                    &.read {
                        background-color: $white-three;
                    }

                    md-card-header {
                        padding: 10px;

                        md-card-avatar {
                            margin-left: 0px;
                            width: 28px;
                            height: 28px;
                        }

                        md-card-content {
                            padding: 0px;
                        }

                        md-card-action {
                            width: 248px;
                            min-width: 248px;
                            font-family: HelveticaNeue;
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 1.33;
                            color: $black;

                            b {
                                font-family: $helveticaneuebold;
                                font-weight: normal;
                            }

                            .btn-decline {
                                width: 103px;
                                min-height: 22px !important;
                                line-height: 22px !important;
                                border: solid 1px $black-two;
                                background-color: transparent !important;
                                color: $black-two;
                                border-radius: 0px;
                                margin-top: 12px;
                                font-family: $helveticaneuemedium;
                                font-size: 12px;
                            }

                            .btn-accept {
                                width: 103px;
                                min-height: 22px !important;
                                line-height: 22px !important;
                                background-color: $black-two;
                                color: $white;
                                border-radius: 0px;
                                margin-top: 12px;
                                font-family: $helveticaneuemedium;
                                font-size: 12px;
                            }
                        }
                    }
                }

                .view-all {
                    margin: 0px;
                    width: 100%;
                    border-radius: 0px;
                    text-transform: none;
                    padding: 18px;
                    text-align: center;
                    font-family: $montserratlight;
                    font-size: 16px;
                    color: $black-two;
                    line-height: 1;
                }
            }
        }

        #message {
            display: block;

            &.smallScreen-nav {
                display: none;
            }

            a {
                width: 50px;
                margin: auto;
            }

            .dropdown-menu {
                padding: 0px;
                margin: -10px 5px 0px 0px;

                md-card {
                    margin: 0px;
                    border-radius: 0px;
                    box-shadow: none;
                    border-bottom: 1px solid $pale-grey;

                    &.read {
                        background-color: $white-three;
                    }

                    md-card-header {
                        padding: 10px;

                        md-card-avatar {
                            margin-left: 0px;
                            width: 28px;
                            height: 28px;
                        }

                        md-card-content {
                            padding: 0px;
                        }

                        md-card-action {
                            width: 248px;
                            min-width: 248px;

                            h2 {
                                margin: 0px;
                                height: 16px;
                                font-family: $helveticaneuebold;
                                font-size: 12px;
                                line-height: 1.33;
                                color: $black;
                                margin-bottom: 3px;
                            }

                            h3 {
                                margin: 0px;
                                font-family: $helveticaneue;
                                font-size: 12px;
                                font-weight: 300;
                                line-height: 1.33;
                                color: $black;
                            }
                        }
                    }
                }

                .view-all {
                    margin: 0px;
                    width: 100%;
                    border-radius: 0px;
                    text-transform: none;
                    padding: 18px;
                    text-align: center;
                    font-family: $montserratlight;
                    font-size: 16px;
                    color: $black-two;
                    line-height: 1;
                }
            }
        }

        #profile-dropdown {
            margin-right: 15px;

            a {
                padding-top: 9px;
                padding-bottom: 10px;
                width: 92px;
                margin: auto;

                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                    border-radius: 50%;
                }
            }

            .panel {
                background-color: $white;
                box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
                border: none;
                padding: 0px;
                margin: -5px 0px 0px 0px;

                md-card {
                    margin: 0px;
                    border-radius: 0px;
                    box-shadow: none;
                    padding: 10px 24px 10px 24px;

                    md-card-header {
                        padding: 0px;

                        a {
                            font-family: $helveticaneuemedium;
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 1.33;
                            color: $black;
                            text-align: left;
                            padding: 0px;
                            width: auto;
                            margin: auto;
                            text-decoration: none;
                        }
                    }

                    &:first-child {
                        padding: 20px 24px 10px 24px;
                    }

                    &:last-child {
                        padding: 10px 24px 20px 24px;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: relative;
        left: 0px;
        right: auto;
        margin-left: 10px !important;
        margin-bottom: 10px !important;
    }

    #header nav #profile-dropdown .panel md-card md-card-header {
        md-card-action {
            margin: auto;
        }
    }
}

.xe-card {
    background-color: $white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    border-radius: 0px;
    margin: 6px 10px;
    position: relative;

    &.winkBoard-xe-card:hover {
        .icon-trash-btn {
            display: block !important;
        }
    }

    .md-card-image {
        border-radius: 0px;
    }

    md-card-actions {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
        margin: 0px;
        padding: 8px;

        md-card-icon-actions {
            font-family: $montserrat;
            font-size: 12px;
            font-weight: normal;
            line-height: 0.83;
            color: $black-two;
        }

        md-menu {
            padding: 0px;
            margin-right: 10px;
            height: 20px;

            button {
                md-icon {
                    &.active {
                        display: none;
                    }
                }
            }

            &._md-open, .md-open {
                button {
                    md-icon {
                        display: none;

                        &.active {
                            display: block;
                        }
                    }
                }
            }
        }

        .icon-btn {
            margin: 5px;
            padding: 0px;
            height: unset;
            width: unset;
            min-width: unset;
            min-height: unset;
            line-height: 1;
            margin: 0px !important;
        }

        .icon-btn + .icon-btn {
            margin-left: 10px !important;
        }
    }

    md-card-header {
        padding: 8px;

        .md-icon-button {
            margin-right: -10px;
        }

        md-card-avatar {
            width: 40px;
            min-width: 40px;
            height: 40px;
            margin-left: 0px !important;
            margin-right: 8px;
            border-radius: 15px;

            .md-user-avatar {
                border: 1px solid $white;
            }

            .remove-btn {
                position: absolute;
                font-size: 12px;
                font-weight: normal;
                line-height: 1.33;
                color: rgb(137, 139, 142);
                width: 96px !important;
                height: 24px;
                min-height: 24px !important;
                background-color: rgb(255, 255, 255) !important;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.32);
                border-radius: 0px !important;
                margin: -15px 0px 0px 14px;
                padding: 0px !important;
            }
        }

        md-card-avatar + md-card-avatar {
            margin-left: -38px !important;
        }

        .md-title {
            font-family: $helveticaneuelight;
            font-size: 12px;
            font-weight: 500;
            line-height: 1;
            color: $steel;
            margin-bottom: 6px;
        }

        .md-subhead {
            font-size: 12px;
            font-family: $helveticaneuebold;
            color: $black;
            text-transform: uppercase;
            line-height: 1;
        }
    }

    md-list {
        margin-top: 0px;
        padding: 0px;

        md-list-item {
            padding: 6px 8px;

            a {
                text-decoration: none;
            }

            .md-icon-button {
                margin-right: -10px !important;
            }

            .md-user-avatar-expand {
                width: 40px;
                height: 40px;
                margin-right: 8px;
            }

            .title {
                font-family: $helveticaneuemedium;
                font-size: 12px;
                font-weight: 500;
                line-height: 1;
                color: $steel;
            }

            .subhead {
                font-family: $helveticaneuebold;
                font-size: 12px;
                font-weight: bold;
                line-height: 1;
                color: $black-two;
            }
        }
    }

    &.artists {
        margin-top: 20px;
        margin-bottom: 0px;

        .md-title {
            font-family: $librebaskervillebold;
            font-size: 14px;
            line-height: 1;
            color: $black-two;
            padding: 3px 8px;
        }

        .md-subhead {
            font-family: $helveticaneuelight;
            font-size: 12px;
            font-weight: 300;
            line-height: 1.17;
            color: $steel;
            padding: 3px 8px;
        }
    }
}

.logoin-bg {
    background-image: url('../images/login-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.md-content {
    #login-dialog {
        width: 720px;
        background-color: $white-two;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.32);
        background-image: url("../images/bg.png");
        border-radius: 0px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 40px;
        padding-bottom: 16px;
        position: relative;

        .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .login-container {
            width: 275px;
            margin: auto;
        }

        h2 {
            font-family: $gothamcondbook;
            font-size: 100px;
            font-weight: normal;
            font-stretch: condensed;
            line-height: 1;
            color: $piss-yellow;
            text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
            margin-bottom: 27px;
        }

        .form-control {
            font-family: $montserrat;
            font-size: 12px;
            color: $steel;
            background-color: $white;
            border: solid 1px #e1e1e5;
            border-radius: 0px;
            margin: 12px 0px;
            outline: none !important;
            box-shadow: none !important;
        }

        .forgot-password {
            font-family: $montserratlight;
            font-size: 10px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            text-align: right;
            color: $black;
            display: block;
            margin: -4px 0px 8px 0px;
            text-decoration: underline;
        }

        #login-btn {
            margin: 12px 0px;
            height: 36px;
            width: 100%;
            border-radius: 0px;
            background-color: $piss-yellow;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
            font-family: $montserrat;
            font-size: 12px;
            text-align: center;
            color: $black;
        }

        #apply-btn {
            font-family: $montserrat;
            font-size: 12px;
            text-align: center;
            color: $black;
            text-decoration: underline;
            background-color: transparent !important;
            line-height: 15px;
            white-space: normal;
        }

        .link-btn {
            font-family: $montserratlight;
            font-size: 10px;
            text-align: center;
            color: $black;
            text-decoration: underline;
            background-color: transparent !important;
        }
    }
}

#registration-dialog {
    width: 720px;
    background-color: $white-two;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.32);
    background-image: url("../images/bg.png");
    border-radius: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 48px 84px 0px;
    position: relative;

    &.last-step{
        background-image: url("../images/bg-1.png");        
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &.fixed-height {
        height: 460px;
    }

    &.step-1 {
        height: 460px;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            left: 0px;
            top: 0px;
            height: 4px;
            background-color: $steel;
        }

        &:after {
            content: "";
            left: 0px;
            top: 0px;
            position: absolute;
            width: 33.33%;
            height: 4px;
            background-color: $piss-yellow;
        }
    }

    &.step-2 {
        height: 460px;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            left: 0px;
            top: 0px;
            height: 4px;
            background-color: $steel;
        }

        &:after {
            content: "";
            left: 0px;
            top: 0px;
            position: absolute;
            width: 66.66%;
            height: 4px;
            background-color: $piss-yellow;
        }
    }

    &.step-3 {
        height: 460px;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            left: 0px;
            top: 0px;
            height: 4px;
            background-color: $piss-yellow;
        }
    }

    .registration-container {
        margin: auto;
        margin-bottom: 120px;

        &.welcome {
            margin-top: 130px;
        }

        &.bottom-32 {
            margin-bottom: 36px;
        }

        .registration-controls {
            max-width: 276px;
            margin: auto;
        }

        label {
            font-family: $librebaskervilleitalic;
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
            text-align: center;
            color: $black-two;
            margin: 0px;

            &.text-hint {
                font-family: $librebaskervilleitalic;
                font-size: 16px;
                font-weight: normal;
                font-style: italic;
                font-stretch: normal;
                line-height: 1.5;
                text-align: center;
                color: $black-two;
                max-width: 522px;
                margin: 0px auto 32px;
            }

            &.text-hint2 {
                font-family: $librebaskervilleitalic;
                font-size: 16px;
                font-weight: normal;
                font-style: italic;
                font-stretch: normal;
                line-height: 1.5;
                text-align: center;
                color: $black-two;
                max-width: 337px;
                margin: 0px auto 25px;
            }

            &.text-hint3 {
                font-family: $librebaskervilleitalic;
                font-size: 16px;
                font-weight: normal;
                font-style: italic;
                font-stretch: normal;
                line-height: 1.5;
                text-align: center;
                color: $black-two;
                max-width: 354px;
                margin: 52px auto 52px;
            }

            &.text-hint4 {
                font-family: $librebaskervilleitalic;
                font-size: 16px;
                font-weight: normal;
                font-style: italic;
                font-stretch: normal;
                line-height: 1.5;
                text-align: center;
                color: $black-two;
                margin: 12px auto 0px;
            }

            &.text-hint5 {
                font-family: $librebaskervilleitalic;
                font-size: 16px;
                font-weight: normal;
                font-style: italic;
                font-stretch: normal;
                line-height: 1.5;
                text-align: center;
                color: $black-two;
                margin: 70px auto 134px;
            }

            &.or {
                font-family: $librebaskervilleitalic;
                font-size: 12px;
                font-weight: 400;
                font-style: italic;
                line-height: 1.33;
                text-align: center;
                color: $black-two;
                margin: 16px 0px;
            }

            &.member {
                font-family: $gothamcondbook;
                font-size: 100px;
                font-weight: 400;
                font-stretch: condensed;
                line-height: 1;
                color: $piss-yellow;
                text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
                margin-top: -4px;
                margin-bottom: 60.5px;

                &.bottom-40 {
                    margin-bottom: 27px;
                }
            }
        }

        input {
            border-radius: 0px;
            width: 100%;
            height: 36px;
            background-color: $white;
            border: solid 1px #e1e1e5;
            font-family: $montserrat;
            font-size: 12px;
            font-weight: 400;
            color: $steel;
            margin-bottom: 12px;
        }

        #role {
            margin: 0px;
            margin-bottom: 12px;
            text-align: left;
            border-radius: 0px;
            width: 100%;
            height: 36px;
            background-color: $white;
            border: solid 1px #e1e1e5;
            font-family: $montserrat;
            font-size: 12px;
            font-weight: 400;
            color: $steel;
            padding: 0px 12px;

            md-select-value {
                border: none;
                color: $steel !important;

                .md-select-icon {
                    &:after {
                        background-image: url(icon-sprite.png);
                        background-position: 0px -18px;
                        width: 8px;
                        height: 4px;
                        content: '';
                        transform: none !important;
                        right: -15px;
                    }
                }
            }
        }

        md-chips {
            margin-bottom: 25px;

            md-chips-wrap {
                max-width: 552px;
                width: 100%;
                height: 108px;
                background-color: $white;
                border: solid 1px #e1e1e5;
                box-shadow: none;
                padding: 0px 12px 8px;

                .md-chip-input-container {
                    line-height: 28px;

                    input {
                        border: none;
                        height: 28px;
                        margin: 0px;
                        line-height: 28px;
                    }
                }

                md-chip {
                    background-color: $white-three !important;
                    border: solid 1px #e1e1e5 !important;
                    height: 28px;
                    line-height: 28px;
                    border-radius: 0px;
                    font-family: $montserrat;
                    font-size: 12px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    padding: 0px 28px 0px 8px;
                    color: $black-two !important;

                    .md-chip-remove {
                        height: 28px;
                        width: 28px;

                        &:after {
                            content: "";
                            background-image: url(icon-sprite.png);
                            background-position: 0px -58px;
                            width: 8px;
                            height: 8px;
                            position: absolute;
                            top: 7.5px;
                            left: 7.5px;
                        }

                        md-icon {
                            display: none;
                        }
                    }
                }
            }
        }

        .md-button {
            line-height: 32px;
            margin: 0px;
            border-radius: 0px;
            width: 100%;
            height: 36px;
            background-color: rgba(255, 255, 255, 0.72);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
            border: solid 1px #e1e1e5;

            span {
                font-family: $montserrat;
                font-size: 12px;
                font-weight: 400;
                text-align: center;
                color: $black;
            }

            &.apply {
                line-height: 32px;
                margin: 0px;
                border-radius: 0px;
                width: 100%;
                height: 36px;
                background-color: $piss-yellow;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
                border: none;
                margin-top: 12px;

                span {
                    font-family: $montserrat;
                    font-size: 12px;
                    font-weight: 400;
                    text-align: center;
                    color: $black;
                }

                &.not-have {
                    height: 34px;
                    background-color: $white;
                    border: solid 1px #e1e1e5;
                    position: relative;
                    right: 6px;

                    & ~ .apply {
                        position: relative;
                        left: 6px;
                    }

                    span {
                        color: $steel;
                    }
                }

                &.welcome {
                    margin-top: 73px;
                }
            }
        }
    }
}

#enlarged-dialog {
    border-radius: 0px;
    max-width: 750px;

    md-toolbar {
        min-height: 34px;

        .md-toolbar-tools {
            max-height: 34px;
            height: 34px;

            .md-button {
                padding: 16px 8px;
            }
        }
    }

    md-dialog-content {
        padding: 0px 20px 30px;
    }

    .button-layout {
        width: 52px;

        .md-button {
            position: absolute;
            top: 250px;
        }
    }

    .layout {
        padding: 10px;

        .xe-btn-group {
            position: absolute;
            right: 12px;
            top: 354px;
            padding: 0px 3px;
            z-index: 10;

            .icon-btn {
                margin: 5px;
                padding: 0px;
                height: unset;
                width: unset;
                min-width: unset;
                min-height: unset;
                line-height: 1;
                border: none;
                border-radius: 100px;
                background-color: rgba(36, 35, 36, 0.6);
                width: 28px;
                height: 28px;
            }


            md-menu + .icon-btn {
                margin: 5px 5px 5px 0px;
            }

            md-menu {
                padding: 0px;
                height: 16px;

                button {
                    md-icon {
                        &.active {
                            display: none;
                        }
                    }
                }

                &._md-open, .md-open {
                    button {
                        md-icon {
                            display: none;

                            &.active {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .image-layout {
            position: relative;
            text-align: center;
            display: block;

            & > a {
                z-index: 5;

                img {
                    width: auto;
                    height: 388px;
                }
            }
        }


        .title {
            text-align: center;

            h2 {
                font-family: $librebaskervilleitalic;
                font-size: 24px;
                line-height: 1;
                text-align: center;
                color: $black;
                margin: 20px 0px 12px;
            }

            a {
                font-family: $montserratlight;
                font-size: 12px;
                font-weight: 300;
                line-height: 1;
                color: $black;
                text-decoration: underline;
            }

            div {
                font-family: $montserratlight;
                font-size: 12px;
                font-weight: 300;
                line-height: 1;
                color: $steel;
                padding: 8px 0px 14px;
            }
        }

        md-divider {
            border-top-width: 2px;
            border-top-color: #e1e1e5;
            margin-bottom: 17px;
        }

        md-menu {
            padding: 0px;
            text-align: center;
            max-width: 192px;
            width: 100%;

            .md-button {
                max-width: 192px;
                width: 100%;
                min-height: 24px;
                border-radius: 0px;
                border: solid 1px $black-two;
                line-height: 24px;
                margin: 0px;
                margin-top: 32px;

                & span {
                    font-family: $helveticaneuemedium;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1;
                    text-align: center;
                    color: $black-two;
                }
            }
        }


        .member-list {
            .member {
                padding: 6px 10px;

                md-list-item {
                    padding: 8px;
                    background-color: $white;
                    border: solid 1px $pale-grey;
                    overflow: hidden;
                    height: 56px;

                    .md-avatar {
                        width: 40px;
                        height: 40px;
                        margin: 0px 12px 0px 0px;
                        border-radius: 50%;
                    }

                    .pending-overlay {
                        width: 40px;
                        height: 40px;
                        opacity: 0.5;
                        background-color: #242324;
                        position: absolute;
                        border-radius: 50%;
                        padding: 6px;
                        left: 8px;
                        top: 8px;
                    }

                    h3 {
                        font-family: $helveticaneuelight;
                        font-size: 12px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        text-align: left;
                        color: $steel;
                        margin: 0px 0px 4px;
                    }

                    h2 {
                        font-family: $helveticaneuebold;
                        font-size: 12px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        text-align: left;
                        color: $black;
                        margin: 0px;
                    }

                    .pending {
                        width: 72px;
                        height: 16px;
                        background-color: $piss-yellow;
                        font-family: $helveticaneuemedium;
                        font-size: 12px;
                        font-weight: normal;
                        line-height: 16px;
                        text-align: center;
                        color: $black-two;
                        margin-top: 4px;
                    }

                    .md-secondary {
                        margin-right: -5px;
                        height: 20px;
                        width: 20px;
                        padding: 0px;
                    }
                }
            }
        }
    }
}

.remove-credits {
    padding: 0px;

    label {
        font-family: $helveticaneuelight;
        font-size: 12px;
        line-height: 1.33;
        color: $steel;
        margin: auto;
        padding: 4px;
    }
}

.add-credit {
    padding: 0px;
    min-height: 348px;
    max-height: 348px;
    width: 240px;
    background-color: $white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.36);

    .add-credit-content {
        width: 0px;
        overflow: hidden;
        padding: 16px 0px;

        &.open {
            width: 240px;
            padding: 16px 24px;
        }
    }

    .title {
        font-family: $helveticaneuemedium;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        color: $black;
        margin: 0px 0px 16px;

        .back-btn {
            min-width: 0 !important;
            min-height: 0 !important;
            width: auto !important;
            height: auto !important;
            float: left !important;
            margin: 0px !important;
            padding: 0px 10px 0px 0px !important;
            background-color: transparent !important;
        }
    }

    .search-group {
        margin: 0px 0px 16px;
        width: 192px;
        height: 36px;

        .form-control {
            background-color: #FFF;
            border: solid 1px #e1e1e5;
            border-radius: 0px;
            height: 36px;
            font-family: $helveticaneue;
            font-size: 12px;
            font-weight: 300;
            line-height: 1.5;
            color: $steel;
        }

        .input-group-addon {
            padding: 0px;
            font-size: 12px;
            background-color: $steel;
            border: none;
            border-radius: 0px;
            width: 36px;
            height: 36px;
            cursor: pointer;
        }
    }

    md-list {
        margin: 0px -24px;
        padding: 0px 24px;
        height: 242px;
        overflow: auto;


        &::-webkit-scrollbar {
            width: 6px;
            height: 2px;
            display: block;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: none;
            border-radius: 0px;
            background-color: transparent;
            display: block;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 0px;
            -webkit-box-shadow: none;
            background-color: transparent;
            display: block;
            border-left: 2px solid $steel;
        }

        md-list-item {
            padding: 0px 8px;
            min-height: 56px;
            cursor: pointer;
            background-color: $white;
            border: solid 1px $pale-grey;
            margin-bottom: 4px;

            .md-button {
                padding: 0px !important;
                margin: 0px;
                width: 100%;
                text-transform: none;
                background-color: transparent !important;
            }

            &:hover {
                background-color: $light-tan;
            }

            .md-avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin: 0px 12px 0px 0px;

                &.new-artist {
                    background-color: $steel;
                    text-align: center;
                }
            }

            h2 {
                font-family: $helveticaneuelight;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                text-align: left;
                color: $steel;
                margin: 0px 0px 4px;
            }

            h3 {
                font-family: $helveticaneuebold;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                text-align: left;
                color: $black-two;
                margin: 0px;
            }
        }
    }

    .new-credit {
        .header {
            background-color: #f7f7f7;
            box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.04);
            margin: -16px -24px 0px;
            padding: 16px 24px 1px;
        }

        .body {
            padding-top: 24px;
        }

        .form-group {
            margin-bottom: 16px;

            label {
                font-family: $helveticaneue;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                text-align: left;
                color: $steel;
            }

            .form-control {
                height: 36px;
                background-color: $white;
                border: solid 1px #e1e1e5;
                border-radius: 0px;
                box-shadow: none;
            }
        }

        .md-button {
            width: 92px;
            height: 36px;
            background-color: #e1e1e5;
            font-family: $montserrat;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            text-align: center;
            color: $white;
            border-radius: 0px;
            float: right;
            margin: 8px 0px 0px;

            &:hover, &:focus {
                background-color: $piss-yellow;
                color: $black-two;
            }
        }
    }
}

#winkboard-dialog {
    max-width: 850px;
    background-color: $white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    border-radius: 0px;
    height: 100%;

    .left {
        overflow: auto;

        &::-webkit-scrollbar {
            width: 6px;
            height: 2px;
            display: block;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: none;
            border-radius: 0px;
            background-color: transparent;
            display: block;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 0px;
            -webkit-box-shadow: none;
            background-color: transparent;
            display: block;
            border-left: 2px solid $steel;
        }

        .left-inner-layout {
            padding: 28px 22px 28px 28px;


            h2 {
                font-family: $montserrat;
                font-size: 16px;
                font-weight: normal;
                line-height: 1;
                color: $black;
                margin-top: 4px;
                margin-bottom: 15px;
            }

            md-card {
                margin: 0px 0px 20px 0px;
                background-color: $white;
                box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.08);

                md-card-header {
                    padding: 10px 16px;

                    .md-title {
                        font-family: $montserrat;
                        font-size: 14px;
                        font-weight: normal;
                        line-height: 1.17;
                        color: $black;
                    }

                    .md-subhead {
                        font-family: $montserratlight;
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 1;
                        color: $steel;
                        margin-top: 4px;
                    }
                }
            }

            .form-group {
                label {
                    font-family: $montserratlight;
                    font-size: 12px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.5;
                    text-align: left;
                    color: $steel;
                    margin-bottom: 2px;
                }

                .form-control {
                    border: solid 1px #e1e1e5;
                    border-radius: 0px;
                    font-family: $helveticaneuelightitalic;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 0.83;
                    color: $steel;
                    padding: 7px;
                    height: 24px;
                }

                .select-layout {
                    border: solid 1px #e1e1e5;
                    padding: 14px 2px 0px 2px;

                    md-card {
                        box-shadow: none;
                        margin: 0px 4px 10px 4px;
                        cursor: pointer;
                        outline: none;

                        &:hover, &.selected {
                            background-color: #faf9c9;
                        }

                        md-card-header {
                            padding: 8px;

                            md-card-avatar {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                margin-right: 8px !important;
                            }

                            md-card-header-text {
                                .md-title {
                                    font-family: $montserratlight;
                                    font-size: 12px;
                                    font-weight: 300;
                                    line-height: 0.83;
                                    color: $steel;
                                }

                                .md-subhead {
                                    font-family: $helveticaneuebold;
                                    font-size: 12px;
                                    line-height: 1;
                                    color: $black;
                                    text-transform: capitalize;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .right {
        background-color: $white-three;
        box-shadow: -1px 0 1px 0 rgba(0, 0, 0, 0.12);

        .padding-layout {
            padding: 0px 32px 0px 20px;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 6px;
                height: 2px;
                display: block;
            }

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: none;
                border-radius: 0px;
                background-color: transparent;
                display: block;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 0px;
                -webkit-box-shadow: none;
                background-color: transparent;
                display: block;
                border-left: 2px solid $steel;
            }

            .input-group {
                width: 100%;
            }

            .winkboards {
                margin: 10px -6px 10px -6px;

                .winkboard {
                    height: 274px;
                    background-color: $white;
                    padding: 3.2px;
                    cursor: pointer;
                    outline: none;
                    box-shadow: none;
                    border-radius: 0px;

                    &.add-box {
                        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
                    }

                    &.selected {
                        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 0 8px 0 $piss-yellow;
                    }

                    .add-button {
                        margin: 5.8px;
                        text-align: center;
                        border: dashed 2px #e1e1e5;

                        span {
                            font-family: $montserrat;
                            font-size: 12px;
                            font-weight: normal;
                            line-height: 1.17;
                            color: $steel;
                            display: block;
                            margin-top: 15px;
                        }
                    }

                    .image-layout {
                        margin: 3.2px;
                        overflow: hidden;
                        background-color: $white-two;
                        position: relative;

                        .winks {
                            border-radius: 3.2px;
                            background-color: $black;
                            font-family: $montserrat;
                            font-size: 12px;
                            font-weight: normal;
                            line-height: 0.67;
                            color: $white;
                            padding: 2px 7px;
                            position: absolute;
                            display: block;
                            height: 18px;
                            line-height: 14px;
                            bottom: 2px;
                            right: 2px;
                        }
                    }

                    .wink-name {
                        font-family: $montserrat;
                        font-size: 12px;
                        font-weight: normal;
                        line-height: 0.67;
                        color: $black;
                        padding: 10px;
                    }
                }
            }
        }

        .btn-layout {
            background-color: $white-three;
            box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.04);
            padding: 10px 0px;

            #btn-add {
                background-color: $piss-yellow;
                font-family: $helveticaneuemedium;
                font-size: 12px;
                font-weight: 500;
                line-height: 1;
                color: $black-two;
                height: 24px;
                width: 192px;
                min-height: 24px;
                border-radius: 0px;
            }
        }
    }
}



#min-btn, #home-min-btn {
    position: fixed;
    top: 72px;
    padding: 0px;
    border-radius: 0px;
    right: -10px;
    z-index: 77;
    -webkit-transition: right 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: right 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    height: 32px;
    width: 32px;
    background-color: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    min-height: 32px;
    display: none;

    &.showExpander {
        display: block;
    }

    &.nav-top {
        top: 90px;
    }

    &.open {
        right: 215px;
    }

    &:not(.open) {
        md-icon {
            transform: rotate(180deg);
        }
    }

    &.left {
        left: -10px;
        right: auto;
        -webkit-transition: left 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: left 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

        &.open {
            left: 215px;
            right: auto;
        }

        md-icon {
            transform: rotate(180deg);
        }

        &:not(.open) {
            md-icon {
                transform: rotate(0deg);
            }
        }
    }
}

#home-min-btn {
    display: block;
}

#user-sidenav, #home-sidenav {
    width: 240px;
    min-width: 240px;
    max-width: 240px;
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);

    md-toolbar {
        min-height: 154px;
        color: $black;
        background-color: $white;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);

        .md-toolbar-tools {
            height: 154px;
            max-height: 154px;
            padding: 5px 5px 5px 26px;

            .today {
                padding: 19px 0px 7px;

                .day {
                    font-family: $agaramondproitalic;
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 1;
                    letter-spacing: 1px;
                    color: #4a4a4a;
                }

                .date {
                    font-family: $agaramondprobold;
                    font-size: 16px;
                    line-height: 1;
                    letter-spacing: 1px;
                    color: $black;
                }
            }

            .address {
                padding: 7px 0px 7px 5px;
                font-family: $montserratlight;
                font-size: 12px;
                font-weight: 300;
                line-height: 1.5;
                color: $black;

                .text {
                    padding-left: 25px;
                }
            }

            .weather {
                padding: 7px 0px 14px 2px;
                font-family: $montserratlight;
                font-size: 12px;
                font-weight: 300;
                line-height: 1.5;
                color: $black;

                .text {
                    padding-left: 22px;
                }
            }
        }
    }

    md-content {
        md-tabs {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
            margin-bottom: 2px;

            md-tabs-canvas.md-paginated {
                margin: 0px;
            }

            md-tabs-wrapper md-next-button, md-tabs-wrapper md-prev-button {
                display: none;
            }

            md-tabs-wrapper {
                height: 30px;
            }

            md-pagination-wrapper {
                width: 240px !important;
                height: 30px;
            }

            md-tab-item {
                width: 120px;
                text-align: center;
                height: 12px;
                font-family: $montserratlight;
                font-size: 12px;
                font-weight: 300;
                line-height: 1;
                color: $steel;
                padding: 10px 0px;
                height: 30px;
                border-bottom: solid 1px $pale-grey;

                &.md-active {
                    font-family: $montserrat;
                    color: $black;
                    font-weight: normal;
                }
            }

            md-tab-item + md-tab-item {
                border-left: solid 1px $pale-grey;
            }

            md-ink-bar {
                color: $piss-yellow;
                background: $piss-yellow;
            }

            md-content {
                .agent-details {
                    padding: 20px;

                    h2 {
                        font-family: $helveticaneuebold;
                        font-size: 12px;
                        line-height: 1.33;
                        color: $black;
                        margin-top: 0px;
                    }

                    dl {
                        margin-bottom: 0px;

                        dt {
                            font-family: $montserratlight;
                            font-size: 12px;
                            font-weight: 300;
                            line-height: 1.5;
                            text-align: right;
                            color: $black;
                            width: 50px;
                            float: left;
                            overflow: hidden;
                            clear: left;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        dd {
                            font-family: $helveticaneue;
                            font-size: 12px;
                            font-weight: normal;
                            line-height: 1.5;
                            color: $steel;
                            margin-left: 50px;
                            padding-left: 20px;
                            margin-top: 7px;
                        }
                    }
                }
            }
        }

        md-list {
            &.atrist-list {
                padding: 0px;

                md-list-item {
                    padding: 0px 10px;
                    min-height: 48px;
                    background-color: $white;
                    border: solid 1px $pale-grey;
                    border-width: 1px 0px 1px 0px;
                    cursor: pointer;

                    &:before {
                        min-height: 0px;
                    }

                    h3 {
                        font-family: $helveticaneuebold;
                        font-size: 12px;
                        line-height: 1.33;
                        color: $black;

                        md-icon {
                            margin-left: 8px;

                            &:not(.open) {
                                transform: rotate(180deg);
                            }
                        }

                        outline: none;
                    }

                    .md-avatar {
                        width: 28px;
                        height: 28px;
                        margin: 10px 9px 0px 0px;
                    }
                }
            }

            &.productions-list {
                .md-subheader {
                    background-color: transparent;
                    font-family: $montserrat;
                    font-size: 12px;
                    line-height: 1;
                    color: $black;
                    border-bottom: 2px solid $piss-yellow;
                    text-align: center;

                    ._md-subheader-inner, .md-subheader-inner {
                        padding: 9px 16px;
                    }
                }

                md-list-item {
                    height: 54px;
                    min-height: 54px;
                    background-color: $white;
                    border-bottom: solid 1px $pale-grey;
                    padding: 0px 10px;

                    md-icon {
                        width: 28px;
                        height: 28px;
                        background-color: $white-two;
                        margin: 13px 10px 13px 11px;
                    }

                    .md-list-item-text {
                        h3 {
                            font-family: $helveticaneuebold;
                            font-size: 12px;
                            line-height: 1;
                            color: $black;
                        }

                        h4 {
                            font-family: $montserratlight;
                            font-size: 12px;
                            font-weight: 300;
                            line-height: 1;
                            color: $steel;
                        }
                    }

                    &.agent {
                        height: 100px;
                        min-height: 100px;

                        md-card {
                            box-shadow: none;
                            margin: 15px 0px 0px 0px;

                            md-card-header {
                                padding: 0px;

                                md-card-avatar {
                                    width: 30px;
                                    height: 30px;
                                    margin-left: 0px !important;
                                    margin-right: 8px;
                                    border: 1px solid $white;
                                    border-radius: 15px;

                                    img {
                                    }
                                }

                                md-card-avatar + md-card-avatar {
                                    margin-left: -30px !important;
                                }

                                md-card-header-text {
                                    .md-title {
                                        font-family: $helveticaneuebold;
                                        font-size: 12px;
                                        line-height: 1.33;
                                        color: $black;
                                        line-height: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.page-heading {
    padding-left: 10px;
    padding-right: 10px;

    h2 {
        font-family: $librebaskervillebold;
        font-size: 14px;
        font-weight: bold;
        line-height: 0.86;
        color: $black-two;
        margin: 8px 0px;
    }

    p {
        font-family: $helveticaneue;
        font-size: 12px;
        font-weight: normal;
        line-height: 1.3;
        color: $steel;
    }

    .search-group {
        max-width: 339px;
        width: 100%;
        margin-bottom: 10px;
    }
}

.search-group {

    .form-control {
        background-color: #FFF;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.04);
        border: solid 1px #e1e1e5;
        border-radius: 0px;
        height: 25px;
        font-family: $helveticaneue;
        font-size: 12px;
        font-weight: 300;
        line-height: 25px;
        color: $steel;
    }

    .input-group-addon {
        padding: 0px;
        font-size: 12px;
        background-color: $black;
        border: none;
        border-radius: 0px;
        width: 24px;
        height: 24px;
        cursor: pointer;

        &.hover {
            md-icon {
                &.hover {
                    display: none;
                }
            }

            &:hover {
                background-color: $piss-yellow;

                md-icon {
                    &:not(.hover) {
                        display: none;
                    }

                    &.hover {
                        display: block;
                    }
                }
            }
        }
    }
}

.link-group {
    .form-control {
        background-color: #FFF;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.04);
        border: solid 1px #e1e1e5;
        height: 25px;
        font-family: $helveticaneuelight;
        font-size: 12px;
        font-weight: 300;
        line-height: 0.83;
        color: $steel;
        border-radius: 0px;
        padding-left: 32px;
    }

    md-icon {
        &.icon-link {
            position: absolute;
            z-index: 99;
            margin: 4px 8px;
        }
    }

    .input-group-addon {
        padding: 5px;
        font-size: 12px;
        background-color: $black;
        border: none;
        border-radius: 0px;
    }
}

.share-dropdown {
    padding: 0px;
    width: 224px;
    height: 336px;
    background-color: $white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.36);

    .search-group {
        margin: 16px 16px;
        width: 192px;
        height: 36px;

        .form-control {
            background-color: #FFF;
            border: solid 1px #e1e1e5;
            border-radius: 0px;
            height: 36px;
            font-family: $helveticaneue;
            font-size: 12px;
            font-weight: 300;
            line-height: 1.5;
            color: $steel;
        }

        .input-group-addon {
            padding: 0px;
            font-size: 12px;
            background-color: $steel;
            border: none;
            border-radius: 0px;
            width: 36px;
            height: 36px;
            cursor: pointer;
        }
    }

    md-list {
        padding: 0px 16px;
        border-bottom: 1px solid $pale-grey;
        overflow: auto;


        &::-webkit-scrollbar {
            width: 6px;
            height: 2px;
            display: block;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: none;
            border-radius: 0px;
            background-color: transparent;
            display: block;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 0px;
            -webkit-box-shadow: none;
            background-color: transparent;
            display: block;
            border-left: 2px solid $steel;
        }

        md-list-item {
            padding: 0px 8px;
            min-height: 56px;
            cursor: pointer;
            background-color: $white;
            border: solid 1px $pale-grey;
            margin-bottom: 2px;

            &:hover {
                background-color: $light-tan;
            }

            .md-button {
                background-color: transparent !important;
                margin: 0px;
                padding:0px;
                text-transform: capitalize;
                &:hover {
                    background-color: $light-tan !important;
                }
            }

            .md-avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin: 0px 12px 0px 0px;
            }

            h2 {
                font-family: $helveticaneuelight;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                text-align: left;
                color: $steel;
                margin: 0px 0px 4px;
            }

            h3 {
                font-family: $helveticaneuebold;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                text-align: left;
                color: $black-two;
                margin: 0px;
            }
        }
    }

    .social-media-group {
        padding: 8px 0px 12px 16px;
        background-color: $white-three;
        box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.04);

        h2 {
            font-family: $helveticaneue;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            text-align: left;
            color: $steel;
            margin: 0px 0px 8px 8px;
        }

        .icon-btns {
            margin: 0px 0px 0px 8px;

            .icon-btn {
                padding: 0px;
                width: 28px;
                height: 28px;
                min-height: 0px;
                margin: 0px 0px 0px 0px;
            }

            .icon-btn + .icon-btn {
                margin-left: 10px;
            }
        }


        .social-media-link {
            width: 207px;
            height: 36px;
            position: relative;

            .icon-link {
                position: absolute;
                left: 8px;
                top: 12px;
                z-index: 10;
            }

            .form-control {
                background-color: #FFF;
                border: solid 1px #e1e1e5;
                border-radius: 0px;
                height: 36px;
                font-family: $helveticaneue;
                font-size: 12px;
                font-weight: 300;
                line-height: 1.5;
                color: $steel;
                padding-left: 32px;
                box-shadow: none !important;
            }

            .input-group-addon {
                padding: 0px;
                font-size: 12px;
                background-color: transparent;
                border: none;
                border-radius: 0px;
                width: 36px;
                height: 36px;
                cursor: pointer;
            }
        }
    }
}

#page-nav {
    .md-nav-bar {
        border: none;
        height: 30px;
        background-color: $black-two;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            width: 8px;
            height: 3px;
            display: none;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: none;
            border-radius: 0px;
            background-color: transparent;
            display: none;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 0px;
            -webkit-box-shadow: inset 1px 1px 6px rgba(137, 139, 142, 0.70);
            background-color: rgba(137, 139, 142, 0.70);
            display: none;
        }

        nav {
            margin: auto;

            .md-button._md-nav-button, .md-button.md-nav-button {
                font-family: $montserratlight;
                font-size: 12px;
                text-align: center;
                color: $pale-grey;
                padding: 8px 16px;
                line-height: 12px;
                min-height: unset;

                &.md-active {
                    font-family: $montserratbold;
                    color: $piss-yellow;
                    border-bottom: 2px solid $piss-yellow;
                    border-radius: 0px;
                }
            }

            ul {
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-align-content: center;
                -ms-flex-line-pack: center;
                align-content: center;
                max-width: 100%;
            }
        }
    }

    md-nav-ink-bar {
        display: none;
    }
}

.page-toolbar {
    min-height: 30px;

    .md-toolbar-tools {
        height: 30px;
    }

    h2 {
        font-family: $helveticaneuemedium;
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        color: $black-two;
        margin: 0px;
    }

    h1 {
        font-family: $helveticaneuemedium;
        font-size: 20px;
        font-weight: 500;
        line-height: 0.8;
        color: $black-two;
        margin: 0px;

        .notify-number {
            font-family: $helveticaneue;
            font-weight: normal;
        }
    }

    .sort-select {
        margin-right: -6px;

        label {
            font-family: $helveticaneue;
            font-size: 12px;
            font-weight: normal;
            line-height: 1.33;
            color: $black-two;
        }

        select {
            font-family: $helveticaneuemedium;
            font-size: 12px;
            font-weight: 500;
            line-height: 1.33;
            color: $black-two;
            background-color: rgba(255, 255, 255, 0.5);
            border: solid 1px $steel;
            height: 24px;
            padding: 4px 28px;
            margin-left: 16px;
            outline: 0px;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        i {
            position: relative;
            right: 24px;
            bottom: 3px;
        }
    }

    .xe-btn {
        min-width: 100px;
        min-height: 24px;
        border-radius: 0px;
        font-family: HelveticaNeue;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.33;
        color: $black-two;

        &.outline {
            border: solid 1px $black-two;
        }
    }
}

#story {
    background-color: $white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    position: relative;
    margin: 0px 62px;

    &.open {
        max-width: unset;
        margin-left: 0px;
        margin-right: 32px;
    }

    .story-container {
        max-width: 680px;
        margin: 0px auto;
        float: none;

        .title {
            font-family: $librebaskervilleitalic;
            font-size: 24px;
            font-weight: normal;
            line-height: 1;
            color: $black;
            text-align: center;
        }

        .date {
            font-family: $montserratlight;
            font-size: 12px;
            font-weight: 300;
            line-height: 1;
            color: $steel;
            text-align: center;
        }

        p {
            margin-top: 32px;
            margin-bottom: 53px;
            text-align: center;
            font-size: 12px;
            font-weight: 300;
            line-height: 1.5;
            color: #4a4a4a;
        }

        .margin-lr-14 {
            margin: 0px 14px;
        }

        .margin-18-10 {
            margin: 18px 10px;
        }

        .story-credits {
            padding: 6px 10px;

            md-list-item {
                background-color: $white;
                border: solid 1px $pale-grey;
                padding: 0px 8px;

                .md-avatar {
                    width: 40px;
                    height: 40px;
                    margin-right: 12px;
                    border-radius: 50%;
                }

                .md-list-item-text {

                    .job-title {
                        font-family: $montserratlight;
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 1;
                        color: $steel;
                        padding: 0px 0px 4px;
                    }

                    .members {
                        font-family: $helveticaneuebold;
                        font-size: 12px;
                        line-height: 1;
                        color: $black;
                        padding: 0px;
                    }
                }
            }
        }
    }
}

.mywinkboards {
    margin: 10px -6px 10px -6px;

    .winkboard {
        height: 342px;
        background-color: $white;
        padding: 3.2px;
        cursor: pointer;
        outline: none;
        box-shadow: none;
        border-radius: 0px;
        position: relative;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);

        &.selected {
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 0 8px 0 $piss-yellow;
        }

        .add-button {
            margin: 5.8px;
            text-align: center;
            border: dashed 2px #e1e1e5;

            span {
                font-family: $montserrat;
                font-size: 12px;
                font-weight: normal;
                line-height: 1.17;
                color: $steel;
                display: block;
                margin-top: 15px;
            }
        }

        .image-layout {
            margin: 3.2px;
            overflow: hidden;
            background-color: $white-two;

            .md-user-avatar {
                width: 100%;
            }
        }

        .winks {
            border-radius: 3.2px;
            background-color: $black;
            font-family: $montserrat;
            font-size: 12px;
            font-weight: normal;
            line-height: 0.67;
            color: $white;
            padding: 2px 7px;
            position: absolute;
            display: block;
            height: 18px;
            line-height: 14px;
            bottom: 36px;
            right: 12px;
        }

        md-card-actions {
            margin: 0px;

            md-card-icon-actions {
                font-family: $montserrat;
                font-size: 12px;
                font-weight: normal;
                line-height: 0.67;
                color: $black;
                padding: 10px;
            }

            md-menu {
                padding: 0px;
                margin-right: 10px;
                height: 16px;

                button {
                    md-icon {
                        &.active {
                            display: none;
                        }
                    }
                }

                &._md-open, .md-open {
                    button {
                        md-icon {
                            display: none;

                            &.active {
                                display: block;
                            }
                        }
                    }
                }
            }

            .icon-btn {
                margin: 5px;
                padding: 0px;
                height: unset;
                width: unset;
                min-width: unset;
                min-height: unset;
                line-height: 1;
                margin: 0px !important;
            }

            .icon-btn + .icon-btn {
                margin-left: 10px !important;
            }
        }
    }
}

.winkboard-divider {
    height: 2px;
    border: solid 1px #e1e1e5;
    margin: 24px 0px 32px 0px;
}

#winkboard-creation, #portfolio-creation {
    width: 700px;
    background-color: $white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    border-radius: 0px;

    md-toolbar {
        min-height: 32px;

        .md-toolbar-tools {
            height: 32px;
            max-height: 32px;
            padding: 0px;

            .md-button {
                margin: 0px;
                padding: 0px;
                min-height: 32px;
                height: 32px;

                md-icon {
                    margin-top: 14px;
                    margin-right: 7.3px;
                }
            }
        }
    }

    .heading {
    }

    .top {
        padding: 0px 24px 12px 24px;
    }

    .left, .right {
        padding: 0px 18px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group-portfolio {
        margin-bottom: 54px;
    }

    label {
        font-family: $montserratlight;
        font-size: 12px;
        font-weight: 300;
        line-height: 0.83;
        color: $steel;
        margin-bottom: 8px;

        &.heading {
            font-family: $montserrat;
            font-size: 16px;
            line-height: 1;
            text-align: center;
            color: $black;
            margin-bottom: 32px;
        }
    }

    .form-control {
        height: 24px;
        border: solid 1px #e1e1e5;
        font-family: $helveticaneue;
        font-size: 12px;
        font-weight: normal;
        line-height: 1.33;
        color: $black-two;
        border-radius: 0px;
        box-shadow: none;
        outline: none;
        padding: 0px 6px;
    }

    textarea.form-control {
        height: auto;
    }

    textarea.portfolio {
        height: 90px;
    }

    ::-webkit-input-placeholder {
        opacity: 0.6;
        font-family: $helveticaneueitalic;
        font-size: 12px;
        font-weight: normal;
        font-style: italic;
        line-height: 1.33;
        color: $steel;
    }

    .invite {
        font-family: HelveticaNeue;
        font-size: 12px;
        font-weight: 500;
        line-height: 24px;
        color: $black-two;
        height: 24px;
        min-width: 64px;
        min-height: 24px;
        border: solid 1px #4a4a4a;
        border-radius: 0px;
        margin: 0px 0px 0px 10px;
    }

    .select-layout {
        border: solid 1px #e1e1e5;
        margin-top: 5px;
        padding: 12px 3px 0px 3px;
        height: 100px;
        overflow-y: scroll;

        md-card {
            box-shadow: none;
            margin: 0px 3px 10px 3px;
            cursor: pointer;
            outline: none;

            md-card-header {
                padding: 3px;

                md-card-avatar {
                    width: 28px;
                    min-width: 28px;
                    height: 28px;
                    margin-right: 8px !important;
                }

                md-card-header-text {
                    .md-title {
                        font-family: $montserratlight;
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 0.83;
                        color: $steel;
                        margin-bottom: 5px;
                    }

                    .md-subhead {
                        font-family: $helveticaneuebold;
                        font-size: 11px;
                        line-height: 1;
                        color: $black;
                    }
                }
            }
        }
    }

    .button-layout {
        height: 52px;
        padding: 0px 42px;
        background-color: $white;
        box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.08);

        .delete {
            width: 192px;
            height: 24px;
            min-height: 24px;
            border: solid 1px $steel;
            font-family: $helveticaneuemedium;
            font-size: 12px;
            font-weight: 500;
            line-height: 24px;
            color: #4a4a4a;
            border-radius: 0px;
            margin: 14px 0px;
        }

        .cancel {
            width: 96px;
            height: 24px;
            min-height: 24px;
            border: solid 1px $steel;
            font-family: $helveticaneuemedium;
            font-size: 12px;
            font-weight: 500;
            line-height: 24px;
            color: #4a4a4a;
            border-radius: 0px;
            margin: 14px 12px 14px 0px;
        }

        .save {
            width: 192px;
            height: 24px;
            min-height: 24px;
            background-color: $black-two;
            font-family: $helveticaneuemedium;
            font-size: 12px;
            font-weight: 500;
            line-height: 24px;
            color: $white;
            border-radius: 0px;
            margin: 14px 0px;
        }
    }
}

.board-details {
    background-color: $white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    padding: 32px 20px 16px 20px;
    margin: 0px 8px 20px 8px;

    h2 {
        font-family: $helveticaneuelight;
        font-size: 20px;
        font-weight: 300;
        line-height: 0.8;
        color: $black-two;
        margin: 0px;

        .name {
            font-family: $helveticaneuebold;
        }
    }

    .description {
        font-family: $helveticaneuelight;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.43;
        color: $black-two;
        margin-top: 16px;
        margin-bottom: 0px;
    }

    .tags {
        font-family: $helveticaneuemedium;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.43;
        color: $black-two;
        margin-top: 16px;

        span {
            font-family: $helveticaneuelight;
        }
    }

    .btn-layout {
        margin-top: 16px;

        .collaborators {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .collaborators + .collaborators {
            margin-left: 8px;
        }

        .share-btn {
            width: 96px;
            height: 24px;
            min-height: 24px;
            border-radius: 0px;
            border: solid 1px $black-two;
            font-family: $helveticaneuemedium;
            font-size: 12px;
            font-weight: 500;
            line-height: 24px;
            color: $black-two;
            margin: 6px 4px;
        }

        .edit-btn {
            width: 192px;
            height: 24px;
            min-height: 24px;
            border-radius: 0px;
            border: solid 1px $black-two;
            font-family: $helveticaneuemedium;
            font-size: 12px;
            font-weight: 500;
            line-height: 24px;
            color: $black-two;
            margin: 6px 4px;
        }
    }
}


.options-dropdown {
    padding: 8px 12px 4px 12px;
    width: 160px;

    &:before {
        content: "";
        position: absolute;
        right: 15px;
        top: -16px;
        border: 9px solid transparent;
        border-bottom: 8px solid #e2edeb;
    }

    &:after {
        content: "";
        position: absolute;
        right: 15px;
        top: -13px;
        margin-right: 2px;
        border: 7px solid transparent;
        border-bottom: 7px solid #fff;
    }

    md-list {
        padding: 0px;

        md-list-item {
            padding: 0px;
            min-height: 34px;

            md-menu {
                margin: 0px -16px;
            }

            &:before {
                display: none;
            }

            button {
                margin: 0px;
                min-height: 34px;
                font-family: $helveticaneuebold;
                font-size: 12px;
                font-weight: 500;
                line-height: 1.33;
                color: $black;
                background-color: transparent !important;
                text-transform: none;
                width: 100%;
                text-align: left;
                padding: 0px;

                md-icon {
                    margin-right: 12px;
                }
            }
        }
    }
}

.wink-text {
    a {
        color: $black-two !important;
        text-decoration: none;
    }
}

textarea {
    resize: vertical;
}

.icon-trash-btn {
    position: absolute !important;
    top: 8px !important;
    right: 8px;
    background-color: $black !important;
    margin: 0px !important;
    width: 28px !important;
    height: 28px !important;
    border-radius: 0px !important;
    min-height: 0;
    padding: 0px !important;
    display: none;
}

.avatar-border:hover {
    border: solid 1px $piss-yellow;
}

.credit-divider {
    margin: 32px 0px;
}

.border-radius-0 {
    border-radius: 0px;
}

#notification-page {
    max-width: 756px;
    width: 100%;
    margin: 0px auto;

    .page-toolbar {
        margin-bottom: 22px;
    }

    .notification-layout {
        background-color: $white;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    }

    md-card {
        margin: 0px;
        border-radius: 0px;
        box-shadow: none;
        border-bottom: 1px solid $pale-grey;

        &.read {
            background-color: $white-three;
        }

        md-card-header {
            padding: 16px 8px 12px 16px;
            min-height: 80px;

            md-card-avatar {
                margin-left: 0px;
                width: 28px;
                min-width: 28px;
                height: 28px;
            }

            md-card-action {
                font-family: $helveticaneue;
                font-size: 12px;
                font-weight: 500;
                line-height: 1.33;
                color: $black-two;

                .md-card-action-text {
                    width: 400px;

                    b {
                        font-family: $helveticaneuebold;
                        font-weight: normal;
                    }

                    .date {
                        font-family: $helveticaneuelight;
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 1.33;
                        color: $steel;
                    }
                }
            }

            md-card-content {
                padding: 0px;
                min-width: 250px;
                text-align: right;

                .btn-yellow {
                    background-color: $piss-yellow !important;
                    width: 103px;
                    min-height: 22px !important;
                    line-height: 22px !important;
                    color: $black-two;
                    border-radius: 0px;
                    margin: 4px;
                    font-family: $helveticaneuemedium;
                    font-size: 12px;
                }

                .btn-decline {
                    width: 103px;
                    min-height: 22px !important;
                    line-height: 22px !important;
                    border: solid 1px $black-two;
                    background-color: transparent !important;
                    color: $black-two;
                    border-radius: 0px;
                    margin: 4px;
                    font-family: $helveticaneuemedium;
                    font-size: 12px;
                }

                .btn-accept {
                    width: 103px;
                    min-height: 22px !important;
                    line-height: 22px !important;
                    background-color: $black-two;
                    color: $white;
                    border-radius: 0px;
                    margin: 4px;
                    font-family: $helveticaneuemedium;
                    font-size: 12px;
                }
            }
        }
    }
}


#sortMenu {
    .md-button {
        width: 160px;
        height: 24px;
        background-color: rgba(255, 255, 255, 0.5);
        border: solid 1px $steel;
        min-height: 24px;
        min-width: 160px;
        border-radius: 0px;
        font-family: $helveticaneuemedium;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        text-align: center;
        color: $black-two;
        margin: 0px 0px 0px 16px;
    }
}

#sortMenu-content {
    padding: 0px;
    width: 160px;

    md-menu-item {
        height: 24px;
        min-height: 24px;

        .md-button {
            height: 23px;
            min-height: 23px;
            min-width: 160px;
            border-radius: 0px;
            font-family: $helveticaneue;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            text-align: center;
            text-transform: uppercase;
            color: $black-two;
            border-top: solid 1px $pale-grey;
        }

        &:first-child {
            .md-button {
                border-top: solid 0px $pale-grey;
            }
        }
    }
}

md-list-item .md-list-item-inner:before, md-list-item:before {
    content: '';
    min-height: 0px;
    visibility: hidden;
    display: inline-block;
}

[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    margin: 6px 10px;
    display: block;
    min-height: 200px;
}
/*[dnd-list] .dndDraggingSource {
    visibility: hidden;
}*/

@media (max-width:767px) {
    #story {
        margin: 0px 0px;
        padding: 36px 10px;

        &.open {
            margin: 0px 20px 0px 0px;
            padding: 36px 20px !important;
        }
    }

    #header {
        nav {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);

            #profile-dropdown {
                .panel {
                    box-shadow: none;
                }
            }
        }
    }

    .dropdown-menu {
        &.arrow-right {
            &:before {
                display: none;
            }
        }
    }

    .md-content {
        padding: 0px;
    }

    #notifications, #message {
        display: none !important;

        &.smallScreen-nav {
            display: block !important;
        }
    }
}

@media (max-width:600px) {
    #registration-dialog {
        padding: 48px 10px 0px;

        .registration-container {
            label {
                &.member {
                    font-size: 65px;
                }
            }
        }
    }

    #winkboard-creation, #portfolio-creation {
        .left {
            padding: 0px;
        }

        .right {
            padding: 0px;
        }

        .top {
            padding: 0px 10px 12px 10px;
        }

        .button-layout {
            padding: 0px 10px;
        }
    }

    .page-toolbar h1 {
        line-height: normal;
    }

    .board-details {
        margin: 0px 0px 20px 0px;
    }

    #story {
        .story-container {
            .margin-lr-14 {
                margin: 0px;
            }
        }
    }

    #winkboard-dialog {
        .left {
            .left-inner-layout {
                padding: 0px 10px 28px 10px;
            }
        }

        .right {
            padding-top: 20px;

            .padding-layout {
                padding: 0px 10px;
            }
        }
    }

    #enlarged-dialog {
        md-dialog-content {
            padding: 0px 10px 30px;
            position: relative;

            .button-layout {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 388px;

                &:last-child {
                    left: auto;
                    right: 0px;
                }

                .md-button {
                    background: rgba(255, 255, 255, 0.8) !important;
                    top: 50%;
                    z-index: 9999;
                    margin-top: -20px;
                }
            }
        }

        .layout {
            padding: 0px;
        }
    }

    #user-sidenav {
        margin-top: 90px;
    }

    #home-sidenav {
        margin-top: 60px;
    }
}

@media (max-width:960px) {
    md-card-action {

        .md-card-action-text {
            width: 100% !important;
        }
    }
}
