﻿@import "base";


#leftnav {
    max-width: 239px;
    width: 100%;
    min-width: 239px;
    background-color: $white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);

    &.side-nav-area {
        margin-top: 60px;
    }

    #messagetoolbar {
        height: 128px;
        padding: 20px 24px;
        color: $black;
        background-color: $white;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);

        label {
            padding: 0px;
            margin: 0px;
            font-family: $montserrat;
            font-size: 16px;
            font-weight: normal;
            line-height: 1;
            color: #242424;
        }

        .composeAlign {
            padding-top: 12px;
            padding-bottom: 6px;

            .md-button {
                margin: 0px;
                min-height: 24px;
                border-radius: 0px;
                width: 192px;
                line-height: 24px;
                background-color: $black-two;
                font-family: $helveticaneue;
                font-size: 12px;
                font-weight: normal;
                color: $white;
            }

            .numberOfMsg {
                font-family: $montserratlight;
                font-size: 16px;
                font-weight: normal;
                line-height: 1;
                color: $black;
            }

            .icon-editWhite {
                margin-right: 8px;
            }
        }

        .search-group {
            margin-top: 1px;
            width: 192px;
            height: 24px;
            background-color: $white;
            box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.04);
            border: solid 1px #e1e1e5;
        }
    }

    .groups {
        padding: 0px;

        .toggle {
            padding: 0px;
            min-height: 32px;
            height: 32px;
            border-bottom: 2px solid $piss-yellow;

            .production {
                height: 32px;
                width: 100%;
                outline: none;
                margin: 0px;
                padding-top: 10px;
                font-family: $montserrat;
                font-size: 12px;
                font-weight: bold;
                line-height: 1;
                color: $black-two;
                text-align: center;
            }

            .icon-chevron {
                margin-left: 14px;
                transform: rotate(180deg);
            }

            .icon-chevron:not(.open) {
                transform: rotate(0deg);
            }


            h3 {
                margin: 0px;
                width: 100%;
                outline: none;
            }
        }

        .productionDetail {
            padding: 0px;
            padding-left: 10px;
            min-height: 54px;
            background-color: $white;
            border-bottom: solid 1px #f1f1f2;

            .outline {
                outline: none;
                width: 100%;
            }

            .productionpic {
                margin: 10px 10px 16px 0px;
                width: 28px;
                height: 28px;
                background-color: #d8d8d8;
            }

            .bookName {
                padding-top: 10px;
                font-family: $helveticaneuebold;
                font-size: 12px;
                font-weight: bold;
                line-height: 1.33;
                color: $black-two;
            }

            .members {
                font-family: $helveticaneuelight;
                font-size: 12px;
                font-weight: 300;
                line-height: 1.33;
                color: $steel;
            }
        }

        md-list-item.selected {
            background-color: rgba(230,229,26,0.24);
        }

        .messageDetail {
            padding: 0px;
            padding-left: 10px;
            min-height: 54px;
            background-color: $white;
            border-bottom: solid 1px #f1f1f2;
        }
    }

    .directMessage {
        .toggle {
            border-bottom: 2px solid $piss-yellow;
            padding: 0px;
            min-height: 32px;
            height: 32px;

            .direct {
                height: 32px;
                text-align: center;
                width: 100%;
                margin: 0px;
                outline: none;
                font-family: $montserrat;
                font-size: 12px;
                font-weight: bold;
                line-height: 32px;
                color: $black-two;
            }

            .icon-chevron {
                margin-left: 14px;
                transform: rotate(180deg);
            }

            .icon-chevron:not(.open) {
                transform: rotate(0deg);
            }
        }

        .messageDetail {
            padding: 0px;
            padding-left: 10px;
            min-height: 54px;
            background-color: $white;
            border-bottom: solid 1px #f1f1f2;

            .outline {
                outline: none;
                width: 100%;
            }

            .productionpic {
                margin: 10px 10px 16px 0px;
                width: 28px;
                height: 28px;
            }

            .bookName {
                padding-top: 10px;
                font-family: $helveticaneuebold;
                font-size: 12px;
                font-weight: bold;
                line-height: 1.33;
                color: $black-two;
            }

            .members {
                font-family: $helveticaneuelight;
                font-size: 12px;
                font-weight: 300;
                line-height: 1.33;
                color: $black;
            }

            .topContentAlign {
                width: 184px;
            }

            .date {
                font-family: $helveticaneuelight;
                font-size: 12px;
                font-weight: 300;
                line-height: 1.33;
                text-align: right;
                color: $steel;
            }
        }

        md-list-item.selected {
            background-color: rgba(230,229,26,0.24);
        }
    }
}

#rightnav {
    max-width: 192px;
    width: 100%;
    min-width: 192px;
    // background-color: $white;
    background-color: transparent;
    box-shadow: none;

    md-content._md {
        margin-top: 0px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
    }

    &.side-nav-area {
        margin-top: 60px;
    }

    #messagerighttoolbar {


        .shadow {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
            padding: 0px;


            .toggle {
                padding: 0px;
                min-height: 32px;
                height: 32px;
                border-bottom: solid 2px $piss-yellow;
            }

            .production {
                height: 32px;
                width: 100%;
                outline: none;
                margin: 0px;
                padding-top: 10px;
                font-family: $montserrat;
                font-size: 12px;
                font-weight: bold;
                line-height: 1;
                color: $black-two;
                text-align: center;
            }

            .icon-chevron {
                margin-left: 14px;
                transform: rotate(180deg);
            }

            .icon-chevron:not(.open) {
                transform: rotate(0deg);
            }

            .document {
                padding: 0px;
                line-height: 54px;
                padding-left: 12px;
                min-height: 54px;
                background-color: $white;
                border-bottom: solid 1px #f1f1f2;
            }

            .icon-attach {
                margin: 0px 12px 0px 0px;
            }

            .icon-picture {
                margin: 0px 12px 0px 0px;
            }

            .doc {
                width: 100%;
                line-height: 54px;
                font-family: $helveticaneuemedium;
                font-size: 12px;
                font-weight: 500;
                color: $black-two;
            }
        }

        .groups {
            padding: 0px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);

            .toggle {
                padding: 0px;
                min-height: 32px;
                height: 32px;
                border-bottom: 2px solid $piss-yellow;

                .production {
                    height: 32px;
                    width: 100%;
                    outline: none;
                    margin: 0px;
                    padding-top: 10px;
                    font-family: $montserrat;
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 1;
                    color: $black-two;
                    text-align: center;
                }

                .icon-chevron {
                    margin-left: 14px;
                    transform: rotate(180deg);
                }

                .icon-chevron:not(.open) {
                    transform: rotate(0deg);
                }

                h3 {
                    margin: 0px;
                    width: 100%;
                    outline: none;
                }
            }

            .messageDetail {
                padding: 0px;
                padding-left: 10px;
                min-height: 54px;
                background-color: $white;
                border-bottom: solid 1px #f1f1f2;

                .outline {
                    outline: none;
                    width: 100%;
                }

                .picture {
                    margin: 10px 10px 16px 0px;
                    width: 28px;
                    height: 28px;
                }

                .bookName {
                    padding-top: 10px;
                    font-family: $helveticaneuebold;
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 1.33;
                    color: $black-two;
                }

                .members {
                    font-family: $helveticaneuelight;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 1.33;
                    color: $steel;
                }
            }

            md-list-item.selected {
                background-color: rgba(230,229,26,0.24);
            }
        }
    }
}

#messageArea::-webkit-scrollbar {
    width: 4px;
    height: 2px;
    display: block;
}

#messageArea::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 0px;
    background-color: transparent;
    display: block;
}

#messageArea::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: none;
    background-color: $steel;
    display: block;
}

#messageArea {
    margin-left: 14px;
    margin-right: 18px;
    margin-bottom: 22px;
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);

    .displayDate {
        font-family: $helveticaneuelight;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.33;
        text-align: right;
        color: #898b8e;
        text-align: center;
    }

    .messageDetail {
        padding-left: 22px;

        .userMessage {
            width: 100%;
            margin-bottom: 5px;

            .messageplaceUser {
                width: 240px;
                border-radius: 4px;
                background-color: #faf9c9;

                .messagContent {
                    padding: 10px 12px;
                    font-family: $helveticaneuelight;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 1.33;
                    color: $black;
                }
            }

            .avatar {
                margin-right: 2px;
                margin-left: 4px;
                width: 20px;
                height: 20px;
            }
        }
    }

    .messageplace {
        width: 240px;
        border-radius: 4px;
        background-color: #f7f7f7;

        .messagContent {
            padding: 10px 12px;
            font-family: $helveticaneuelight;
            font-size: 12px;
            font-weight: 300;
            line-height: 1.33;
            color: $black;
        }
    }
}

#type {
    margin-left: 14px;
    margin-right: 18px;
    max-height: 198px;
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);

    .textAreaAlign {
        margin-top: 16px;
        margin-left: 20px;
        margin-right: 20PX;

        .enter {
            width: 100%;
            height: 120px;
            background-color: $white;
            border: solid 1px #e1e1e5;
        }

        .sendAlign {
        }

        .send {
            border-radius: 0px;
            margin: 16px 0px 0px 0px;
            width: 96px;
            min-height: 24px;
            background-color: $black-two;
            font-family: $helveticaneue;
            font-size: 12px;
            font-weight: normal;
            line-height: 24px;
            color: $white;
        }

        .icon-picture {
            margin-left: 16px;
            margin-right: 16px;
        }
    }
}

#new-message {
    width: 720px;
    height: 612px;
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0px;

    md-toolbar {
        background-color: transparent;
        min-height: 32px;
        height: 32px;

        .nobullet {
            list-style: none;
            margin: 0px;

            .md-button.md-icon-button {
                min-height: 32px;
            }

            .closeAlign {
                padding: 0px;
                max-height: 32px;

                img {
                    padding-top: 16px;
                }
            }
        }
    }

    .inner-layout {
        max-width: 400px;
        margin: auto;
        width: 100%;
        padding: 0PX 10PX;

        .title {
            text-align: center;
            margin-top: 20px;

            label {
                margin: 0px;
                font-family: $montserrat;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                text-align: left;
                color: #000000;
            }
        }

        .second-layer {
            margin-top: 32px;

            .content {
                max-width: 352px;
                width: 100%;
                background-color: #ffffff;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 0 8px 0 $piss-yellow;

                .selected-crew {
                    height: 24px;
                    border: solid 1px #e1e1e5;
                    padding: 0px 4px;
                    margin: 6px 4px;

                    .crew-name {
                        font-family: $helveticaneuebold;
                        font-size: 12px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        text-align: left;
                        color: $black-two;
                        margin: 0px 8px 0px 7px;
                    }
                }

                input {
                    border: none;
                    height: 24px;
                    padding: 0px 4px;
                    margin: 6px 4px;
                }
            }

            .md-button {
                min-width: 36px;
                margin: 0px 0px 0px 12px;
                height: 36px;
                background-color: $black-two;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0,0.08);
                font-family: $montserrat;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                text-align: left;
                color: $white;
                border-radius: 0px;
            }
        }

        .last-layer {
            margin-top: 32px;
            overflow: scroll;
            height: 361px;

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: none;
                border-radius: 0px;
                background-color: transparent;
                display: block;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 0px;
                -webkit-box-shadow: inset 1px 1px 6px #333;
                background-color: #898b8e;
                background-color: var(--steel);
                display: block;
            }

            &::-webkit-scrollbar {
                width: 2px;
                height: 2px;
                display: block;
            }

            md-list {
                padding: 0px;
                border: solid 1px #f1f1f2;

                md-list-item {
                    padding: 0px 12px;
                    height: 54px;
                    border-bottom: solid 1px #f1f1f2;

                    .md-button {
                        padding: 0px;
                    }

                    .avatar {
                        width: 28px;
                        height: 28px;
                    }

                    .person-detail {
                        margin-left: 10px;

                        .designation {
                            font-family: $helveticaneuelight;
                            font-size: 12px;
                            font-weight: 300;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1;
                            text-align: left;
                            color: $steel;
                            margin-bottom: 4px;
                        }

                        .name {
                            font-family: $helveticaneuebold;
                            font-size: 12px;
                            font-weight: bold;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1;
                            text-align: left;
                            color: $black-two;
                            margin: 0px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:600px) {
    #messageArea {
        margin-left: 0px;
        margin-right: 0px;
    }

    #type {
        margin-left: 0px;
        margin-right: 0px;
    }
}
