﻿@import "base";

#production-book-sidebar {
    max-width: 240px;
    min-width: 200px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);

    md-content {
        md-list {
            padding: 0px;

            h2 {
                font-family: $montserrat;
                font-size: 12px;
                font-weight: 400;
                line-height: 1;
                color: $black-two;
                margin: 0px;
                padding: 10px;
                text-align: center;
                border-bottom: 2px solid $piss-yellow;
            }

            md-list-item {
                min-height: 48px;
                border-bottom: 1px solid $pale-grey;

                &.selected {
                    background-color: $light-tan;
                }

                .md-button {
                    padding: 0px;
                    background-color: transparent !important;

                    .avatar {
                        margin: 10px 9px 10px 16px;
                        width: 28px;
                        height: 28px;
                    }

                    .crew-Name {
                        margin: 16px 0px 16px 0px;
                        font-family: $helveticaneuebold;
                        font-size: 12px;
                        font-weight: bold;
                        line-height: 1.33;
                        color: $black;
                    }

                    md-divider {
                    }
                }
            }
        }
    }
}

#production-book-list {
    .table-container {
        margin: 0px auto;
        max-width: 783px;
        padding: 32px 16px 0px 16px;
        width: 100%;

        .button-layout {
            text-align: center;
            margin-bottom: 24px;

            .new-btn {
                margin: 0px;
                border-radius: 0px;
                width: 240px;
                min-height: 24px;
                background-color: $black;
                font-family: $helveticaneuemedium;
                font-size: 12px;
                font-weight: 500;
                line-height: 24px;
                text-align: center;
                color: $white;
            }
        }

        .title-layout {
            margin: 0px 0px 0px 8px;
            font-family: $helveticaneuemedium;
            font-size: 16px;
            font-weight: 500;
            line-height: 1;
            color: $black-two;

            .count {
                font-family: $helveticaneuelight;
                font-size: 16px;
                font-weight: 500;
                line-height: 1;
                color: $black-two;
            }
        }


        .table-responsive {
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04);
            margin: 2px;
            border: none;
            margin-top: 16px;

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: none;
                border-radius: 0px;
                background-color: transparent;
                display: block;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 0px;
                -webkit-box-shadow: inset 1px 1px 6px #333;
                background-color: #898b8e;
                background-color: var(--steel);
                display: block;
            }

            &::-webkit-scrollbar {
                width: 8px;
                height: 2px;
                display: block;
            }

            .table {
                background-color: $white;
                margin: 0px;

                th {
                    border: none;
                    font-family: $helveticaneueitalic;
                    font-size: 12px;
                    font-weight: normal;
                    font-style: italic;
                    line-height: 1;
                    color: $steel;
                    height: 32px;
                }

                td {
                    border-top: solid 1px $pale-grey;
                    padding-top: 12px;
                    vertical-align: middle;
                    font-family: $helveticaneue;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 17px;
                    color: $black;

                    &:first-child {
                        padding-left: 14px;
                        font-family: $montserrat;
                        font-size: 12px;
                        font-weight: normal;
                        color: #e1e1e5;
                    }

                    .logo {
                        width: 40px;
                        height: 40px;
                    }

                    b {
                        font-family: $helveticaneuebold;
                        font-size: 12px;
                        color: $black;
                        display: block;
                    }
                }
            }
        }

        md-divider {
            height: 2px;
            border: solid 1px #e1e1e5;
            margin: 32px 0px;
        }
    }
}

#production-creation {
    max-width: 720px;
    width: 100%;
    background-color: $white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.32);
    border-radius: 0px;
    display: inline;

    md-toolbar {
        min-height: 48px;
        background-color: transparent;
    }

    .form-container {
        /*padding: 0px 155px;*/
        label {
            font-family: $montserrat;
            font-size: 16px;
            line-height: 1;
            text-align: center;
            color: $black;
            margin-bottom: 40px;
        }

        h3 {
            font-family: $helveticaneuemedium;
            font-size: 12px;
            font-weight: 500;
            line-height: 1.33;
            color: $steel;
            text-align: center;
            margin: 0px;
        }

        .form-layout {
            max-width: 400px;
            margin: auto;
            padding: 0px 6px;

            .form-group {
                padding: 0px 4px;

                label {
                    font-family: $montserratlight;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: normal;
                    color: $steel;
                    margin-bottom: 4px;
                }

                .form-control {
                    max-width: 400px;
                    width: 100%;
                    height: 36px;
                    background-color: #ffffff;
                    border: solid 1px #e1e1e5;
                    border-radius: 0px;
                    box-shadow: none;
                }

                textarea {
                    &.form-control {
                        height: 70px;
                    }
                }

                .input-group {
                    .form-control {
                        border-width: 1px 0px 1px 1px;
                    }
                }

                .btn {
                    border-color: #e1e1e5;
                    border-width: 1px 1px 1px 0px;
                    border-radius: 0px;
                    height: 36px;
                }
            }
        }


        .btn-create {
            width: 276px;
            height: 36px;
            background-color: $piss-yellow;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
            font-family: $montserrat;
            font-size: 12px;
            font-weight: 400;
            text-align: center;
            color: $black;
            border-radius: 0px;
            margin: 15px 0px 25px 0px;
        }
    }
}

md-menu-content.calendar {
    max-height: unset;
    padding: 0px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.32);

    &.time-picker {
        padding: 0px 5px;

        .form-control, .btn {
            border: none;
            box-shadow: none;
            outline: none;
        }
    }

    * {
        outline: none;
    }

    &.up-arrow {
        &:before {
            content: "";
            position: absolute;
            right: 50%;
            top: -16px;
            border: 8px solid transparent;
            border-bottom: 8px solid rgba(0, 0, 0, 0.32);
            margin-right: -4px;
        }

        &:after {
            content: "";
            position: absolute;
            right: 50%;
            top: -14px;
            border: 7px solid transparent;
            border-bottom: 7px solid #fff;
            margin-right: -3px;
        }
    }

    &.down-arrow {
        &:before {
            content: "";
            position: absolute;
            right: 50%;
            bottom: -16px;
            border: 8px solid transparent;
            border-top: 8px solid rgba(0, 0, 0, 0.32);
            margin-right: -4px;
        }

        &:after {
            content: "";
            position: absolute;
            right: 50%;
            bottom: -14px;
            border: 7px solid transparent;
            border-top: 7px solid #fff;
            margin-right: -3px;
        }
    }

    #datepicker {
        background-color: $white;

        .back {
            height: 69px;
            border: 0px;
            border-radius: 0px;
            padding-left: 59px;
            background-color: transparent !important;
        }

        .displayMonth {
            padding: 25px 0px 17px 0px;
            border-radius: 0px;
            border: 0px;
            background-color: transparent !important;
        }

        .displayMonthStyle {
            font-family: $montserrat;
            font-size: 18px;
            font-weight: 400;
            line-height: 0.67;
            text-align: center;
            color: #4a4a4a;
            text-transform: uppercase;
        }

        .nextMonth {
            height: 69px;
            border: 0px;
            padding-right: 58px;
            border-radius: 0px;
            background-color: transparent !important;
        }

        .dayStyle {
            font-family: $montserrat;
            font-size: 12px;
            font-weight: 400;
            line-height: 1;
            text-align: center;
            color: #4a4a4a;
            text-transform: uppercase;
        }

        .displayDate {
            width: 50px;
            height: 50px;
        }

        .dateOnMonth {
            position: relative;
            padding: 0px;
            border-radius: 0px;
            width: 50px;
            height: 50px;
            background-color: $white;
            border: solid 0.5px $white-three;
            color: $steel;
        }

        .display {
            position: absolute;
            margin: 6px 0px 0px 6px;
            top: 0px;
            left: 0px;
        }

        .radius {
            border-radius: 0px;
            height: 100%;
            border: solid 0.5px #f7f7f7;
            width: 116.66px;
        }

        .uib-datepicker-popup.dropdown-menu {
            padding: 0px;
        }

        .text-muted {
            font-family: $montserratlight;
            font-size: 12px;
            font-weight: 300;
            line-height: 1;
            color: #e1e1e5;
        }

        .btn-info.active, .btn-info:active, .open > .dropdown-toggle.btn-info {
            font-family: $montserratlight;
            font-size: 12px;
            font-weight: 300;
            line-height: 0.67;
            color: $steel;
            box-shadow: none;
        }

        .btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
            box-shadow: none;
        }

        ul.uib-datepicker-popup.dropdown-menu.ng-scope {
            box-shadow: none;
        }

        .buttonheightmonth {
            color: $steel;
            height: 65px;
            width: 117px;
        }

        .buttonheight {
            background-color: transparent;
            color: $steel;
            height: 64px;
            width: 69px;
            border-radius: 0px;
            border: solid 0.5px #f7f7f7;
        }

        .rowheightyear {
            height: 50px;
        }

        .btn-info.active, .btn-info:active, .open > .dropdown-toggle.btn-info {
            background-color: transparent;
        }

        .text-info {
            color: $steel;
        }

        .btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
            background-image: none;
            background: transparent;
        }

        .day-text {
            padding-bottom: 3px;
        }
    }
}

@media (max-width:599px) {
    #production-book-sidebar {
        margin: 90px 0px 0px 0px;

        &.calender-sidebar {
            margin: 60px 0px 0px 0px;
        }
    }

    md-menu-content {
        &.calendar {
            #datepicker {
                .displayDate {
                    width: 40px;
                    height: 40px;
                }

                .dateOnMonth {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}
