﻿@import "base";

#artists-sidenav {
    width: 240px;
    min-width: 240px;
    max-width: 240px;
    padding: 0px;
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);

    &.leftside-nav-area {
        margin-top: 90px;
    }

    md-content {
        padding: 56px 22px 0px 22px;
        overflow: visible;

        .md-icon-button {
            height: 38px;
            width: 38px;
            border-radius: 100%;
            background: #898b8e;
            padding: 0px;
            position: absolute;
            bottom: 0px;
            right: 20px;
        }

        .avatar-layout {
            position: relative;
            width: 136px;
            height: 136px;
            min-width: 136px;
            min-height: 136px;
            margin: 0px auto;
            overflow: hidden;

            .avatar {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: $pale-grey;
            }

            .md-icon-button {
                height: 38px;
                width: 38px;
                border-radius: 100%;
                background: #898b8e;
                padding: 0px;
                position: absolute;
                bottom: 0px;
                right: 20px;
                display: none;
            }
        }

        .value {
            font-family: $montserratlight;
            font-size: 12px;
            font-weight: 300;
            line-height: 1.5;
            padding-left: 2px;
            color: $black;
        }

        .title {
            font-family: $montserratlight;
            font-size: 12px;
            font-weight: 300;
            line-height: 1.5;
            color: $steel;
            margin: 0px;
            padding-left: 2px;
        }

        .name {
            font-family: $librebaskervillebold;
            font-size: 14px;
            line-height: 1.14;
            text-align: center;
            color: $black;
            margin-bottom: 18px;
            margin-top: 10px;
        }

        .count {
            font-family: $helveticaneuelight;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.29;
            text-align: center;

            .dd {
                font-family: $helveticaneuebold;
            }

            .dt {
                color: $steel;
            }
        }



        .button-layout {
            margin-top: 10px;

            .md-button {
                width: 192px;
                height: 24px;
                min-height: 24px;
                border: solid 1px $black-two;
                font-family: $helveticaneuemedium;
                font-size: 12px;
                font-weight: 500;
                line-height: 24px;
                color: $black-two !important;
                border-radius: 0px;
                margin: 8px 0px;

                &.black {
                    background-color: $black;
                    border: solid 1px $black;
                    color: #FFF !important;
                }

                &.yellow {
                    background-color: $piss-yellow;
                    border: solid 1px $piss-yellow;
                    color: $black-two !important;
                }
            }
        }



        .role-layout {
            margin-top: 15px;
        }

        .specialty-layout {
            margin-top: 15px;
        }

        .aboutme-layout {
            margin-top: 15px;
        }

        .agency-layout {
            margin-top: 15px;
        }

        .contact-layout {
            margin-top: 15px;
        }

        md-divider {
            height: 2px;
            border: solid 1px #e1e1e5;
            margin: 24px 0px;
        }

        .control {
            border: solid 1px $pale-grey;
            outline: none;
            margin: 6px 0px 0px;
            padding: 4px 8px;
            font-family: $montserratlight;
            font-size: 12px;
            font-weight: 300;
            line-height: 1;
            color: $black-two;

            &::-webkit-input-placeholder {
                color: #e1e1e5;
            }
        }

        textarea.control {
            line-height: 1.5;
        }

        .btn-add {
            height: 16px;
            font-family: $montserrat;
            font-size: 12px;
            font-weight: 300;
            line-height: 1;
            color: $black;
            background-color: transparent;
            padding: 0px;
            margin: 10px 0px 0px 0px;
            min-height: 0px;
            min-width: 0px;
            border-radius: 0px;
            display: none;
            text-align: left;
        }

        .btn-cancel {
            height: 20px;
            font-family: $montserratlight;
            font-size: 12px;
            font-weight: 300;
            line-height: 1;
            color: $steel;
            background-color: transparent;
            padding: 4px 12px;
            margin: 10px 0px 0px 0px;
            min-height: 0px;
            min-width: 0px;
            border-radius: 0px;
        }

        .btn-save {
            height: 20px;
            background-color: $black;
            font-family: $montserratlight;
            font-size: 12px;
            font-weight: 300;
            line-height: 1;
            color: $white;
            padding: 4px 12px;
            margin: 10px 0px 0px 0px;
            min-height: 0px;
            min-width: 0px;
            border-radius: 0px;
        }

        .btn-close-list {
            display: none;
            margin-left: 6px;
            color: #e1e1e5 !important;
            background-color: transparent !important;
            cursor: pointer;
            line-height: 1.5px;
        }

        .switch-layout {
            .title {
                font-family: $montserratlight;
                font-size: 12px;
                font-weight: 300;
                color: #898b8e;
                margin: 0px;
            }

            md-switch {
                margin: 10px 0px 0px 0px;
                display: inline-block;
                height: 15px;

                ._md-container, .md-container {
                    margin-left: 8px;
                    margin-right: 0px;
                    float: right;
                }

                ._md-thumb, .md-thumb {
                    width: 18px;
                    height: 18px;
                    background-color: $steel;
                    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
                }

                ._md-bar, .md-bar {
                    width: 36px;
                    border-radius: 100px;
                    background-color: $pale-grey;
                    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.15);
                }

                ._md-label, .md-label {
                    font-family: $helveticaneuemedium;
                    font-size: 12px;
                    font-weight: 500;
                    color: $black;
                    float: left;
                }

                &.md-checked {
                    ._md-bar, .md-bar {
                        background-color: $light-tan;
                        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.15);
                    }

                    ._md-thumb, .md-thumb {
                        background-color: $piss-yellow;
                        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
                    }
                }
            }
        }
    }
}
