﻿@import "_base.scss";

.productions {
    max-width: 764px;
    width: 100%;
    margin: 0px auto;

    .production {
        height: 342px;
        background-color: #ffffff;
        padding: 0px;
        cursor: pointer;
        outline: none;
        box-shadow: none;
        border-radius: 0px;
        position: relative;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);

        .md-user-avatar {
            width: auto;
            min-width: 100%;
        }

        .image-layout {
            overflow: hidden;
            position: relative;
            background-color: #d8d8d8;

            .visible-btn {
                position: absolute;
                top: 0px;
                right: 0px;
                width: 28px;
                height: 28px;
                background-color: #242324 !important;
                border-radius: 0px;
                padding: 0px;
                line-height: 1;
                min-height: 0;
                margin-top: 8px;
                border-radius: 100px;
                opacity: .6;

                md-icon {
                    &.active {
                        display: none;
                    }
                }
            }
        }

        md-card-actions {
            margin: 0px;
            padding: 10px 16px;

            md-card-icon-actions {
                font-family: $librebaskervillebold;
                font-size: 14px;
                font-weight: bold;
                line-height: 1.43;
                color: $black-two;

                a {
                    color: $black-two;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .content-padding {
        padding: 28px 10px;
    }
}
