﻿@import "base";

#schedule-content {
    max-width: 784px;
    width: 100%;
    padding: 32px 17px 0px 17px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;

    .button-layout {
        text-align: center;

        .new-date-btn {
            width: 160px;
            min-height: 24px;
            background-color: $black-two;
            font-family: $helveticaneuemedium;
            font-size: 12px;
            font-weight: 500;
            line-height: 1;
            text-align: center;
            color: $white;
            margin: 0px;
            border-radius: 0px;
            line-height: 24px;

            md-icon {
                margin-top: -3px;
                margin-right: 2px;
            }
        }
    }

    .events {
        margin-top: 20px;

        md-toolbar {
            min-height: 56px;

            .md-toolbar-tools {
                height: 56px;
                max-height: 56px;
                background-color: $white;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
                padding: 0px;

                .remove-btn {
                    margin: 0px;
                }

                .week-text {
                    font-family: $librebaskervilleitalic;
                    font-size: 16px;
                    font-weight: 400;
                    font-style: italic;
                    line-height: 1;
                    letter-spacing: 1px;
                    color: #4a4a4a;
                }

                .dot {
                    width: 4px;
                    height: 4px;
                    background-color: $black-two;
                    border-radius: 2px;
                    display: inline-block;
                    margin: 4px 8px 4px;
                }

                .date-text {
                    font-family: $librebaskervillebold;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 1;
                    letter-spacing: 1px;
                    color: $black;
                }

                .add-event {
                    width: 160px;
                    min-height: 24px;
                    background-color: $white;
                    border: solid 1px $black-two;
                    border-radius: 0px;
                    line-height: 22px;
                    font-family: $helveticaneuemedium;
                    font-size: 12px;
                    font-weight: 500;
                    text-align: center;
                    color: $black-two;
                    margin: 0px 12px;

                    md-icon {
                        margin-top: -3px;
                        margin-right: 4px;
                    }
                }
            }
        }

        .event-table {
            background-color: $white;
            margin: 0px;

            thead {
                th {
                    font-family: $helveticaneueitalic;
                    font-size: 12px;
                    font-weight: 400;
                    font-style: italic;
                    line-height: 1;
                    color: $steel;
                    border-bottom: solid 1px $pale-grey;
                    height: 34px;
                    vertical-align: middle;
                }
            }

            tbody {
                td {
                    vertical-align: middle;
                    border: none;

                    md-checkbox {
                        &:last-of-type {
                            margin: 0px 0px 0px 10px;
                            width: 12px;
                            min-width: 12px;
                        }

                        ._md-container, .md-container {
                            width: 12px;
                            height: 12px;
                            box-shadow: none;

                            ._md-icon, .md-icon {
                                width: 12px;
                                height: 12px;
                                border-width: 1px;
                                border-style: solid;
                                border-radius: 2px;
                                border-color: #e1e1e5;
                                background-color: transparent;

                                &:after {
                                    border-color: #e6e51a;
                                    width: 5px;
                                    height: 9px;
                                    left: 3px;
                                    top: 0px;
                                }
                            }
                        }
                    }

                    .form-control {
                        border: none;
                        outline: none;
                        box-shadow: none;
                        padding: 0px;
                        border-radius: 0px;

                        &::-webkit-input-placeholder {
                            font-family: $helveticaneueitalic;
                            font-size: 12px;
                            font-weight: 400;
                            font-style: italic;
                            line-height: 1.33;
                            color: $steel;
                        }

                        &.time {
                            width: 70px;
                            height: 20px;
                            font-family: $helveticaneuemedium;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 1;
                            letter-spacing: 1px;
                            color: $black-two;
                            vertical-align: middle;
                            display: inherit;

                            &.empty-time {
                                background-color: $pale-grey;
                                display: block;
                            }
                        }

                        &.location {
                            font-family: $helveticaneuemedium;
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 1;
                            color: $black-two;
                            min-width: 100px;
                        }

                        &.action {
                            font-family: $helveticaneue;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 1;
                            color: $black-two;
                            min-width: 120px;
                        }
                    }

                    .crew-avatars {
                        .add-crew-btn {
                            border: solid 1px $black-two;
                            padding: 0px;
                            margin: 0px 4px 0px 0px;
                            min-width: 40px;
                        }

                        md-menu {
                            padding: 0px;

                            img {
                                width: 40px;
                                height: 40px;
                                min-width: 40px;
                                min-height: 40px;
                                margin: 0px 4px;
                                border-radius: 50%;
                            }

                            .md-fab.md-mini {
                                width: 40px;
                                height: 40px;
                                background-color: $steel;
                                margin: 0px 4px;
                                box-shadow: none;

                                label {
                                    font-family: $helveticaneuemedium;
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 0.75;
                                    text-align: center;
                                    color: $white;
                                }
                            }

                            &.md-open {
                                .md-fab.md-mini {
                                    background-color: $piss-yellow;

                                    label {
                                        color: $black-two;
                                    }
                                }

                                img {
                                    border: solid 1px $piss-yellow;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.crew-dropdown {
    width: 192px;
    background-color: $white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.36);
    padding: 0px;
    border-radius: 0px;

    &:before {
        content: "";
        position: absolute;
        right: 50%;
        top: -16px;
        border: 8px solid transparent;
        border-bottom: 8px solid rgba(0, 0, 0, 0.36);
        margin-right: -4px;
    }

    &:after {
        content: "";
        position: absolute;
        right: 50%;
        top: -14px;
        border: 7px solid transparent;
        border-bottom: 7px solid #fff;
        margin-right: -3px;
    }

    md-menu-item {
        min-height: 70px !important;
        text-align: left;

        &.button-layout {
            min-height: 40px !important;
        }

        img {
            padding: 0px;
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
            border-radius: 50%;
            margin-left: 8px;
        }

        .job {
            font-family: $montserratlight;
            font-size: 12px;
            font-weight: 300;
            line-height: 0.83;
            text-align: left;
            color: $steel;
            margin: 0px;
        }

        .name {
            font-family: $helveticaneuebold;
            font-size: 12px;
            font-weight: 700;
            line-height: 1.33;
            text-align: left;
            color: $black;
            margin: 0px;
            padding-top: 2px;
            padding-bottom: 0px;
        }

        .phone {
            font-family: $montserratlight;
            font-size: 12px;
            font-weight: 300;
            line-height: 0.83;
            text-align: left;
            color: $black-two;
            margin: 0px;
            padding-top: 4px;
        }


        &.layout-row {
            min-height: 40px;
            height: 40px;

            .md-button {
                height: 40px;
                text-align: center;
                margin: 0px;
                border-radius: 0px;
                width: 50%;

                md-icon {
                    margin: auto;
                }
            }

            md-divider {
                width: 2px;
                padding: 0px;
                height: 40px;
                border: solid 1px $pale-grey;
                margin: 0px;
            }
        }

        &:not(:last-child) {
            border-bottom: solid 1px $pale-grey;
        }
    }
}


.more-crew-dropdown {
    width: 260px;
    background-color: $white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.36);
    padding: 7px 0px;

    &:before {
        content: "";
        position: absolute;
        right: 23px;
        top: -16px;
        border: 8px solid transparent;
        border-bottom: 8px solid rgba(0, 0, 0, 0.36);
        margin-right: -4px;
    }

    &:after {
        content: "";
        position: absolute;
        right: 23px;
        top: -14px;
        border: 7px solid transparent;
        border-bottom: 7px solid #fff;
        margin-right: -3px;
    }

    md-menu-item {
        padding: 5px 0px 5px 12px;
        height: auto;

        img {
            padding: 0px;
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
            border-radius: 50%;
        }

        .layout-column {
            padding: 0px;
            padding-left: 12px;


            .job {
                font-family: $montserratlight;
                font-size: 12px;
                font-weight: 300;
                line-height: 0.83;
                text-align: left;
                color: $steel;
                margin: 0px;
            }

            .name {
                font-family: $helveticaneuebold;
                font-size: 12px;
                font-weight: 700;
                line-height: 1.33;
                text-align: left;
                color: $black;
                margin: 0px;
                padding-top: 3px;
            }

            .phone {
                font-family: $montserratlight;
                font-size: 12px;
                font-weight: 300;
                line-height: 0.83;
                text-align: left;
                color: $black-two;
                margin: 0px;
                padding-top: 4px;
            }
        }

        md-icon {
            margin: 13px 10px;
            padding-left: 10px;
            padding-right: 12px;
        }
    }
}

#schedule-add-crew {
    border-radius: 0px;
    max-width: 720px;
    width: 720px;
    height: 594px;
    background-color: $white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);

    md-toolbar {
        background-color: transparent;
        padding-top: 16px;
        min-height: 16px;
        max-height: 32px;
    }

    md-content {
        background-color: transparent;

        .select-from-crew {
            max-width: 440px;
            padding: 0px 20px;
            width: 100%;

            h2 {
                font-family: $montserrat;
                font-size: 16px;
                font-weight: 400;
                line-height: 1;
                color: $black;
                padding-bottom: 34px;
                margin: 0px;
                text-align: center;
            }

            label {
                font-family: $montserratlight;
                font-size: 12px;
                font-weight: 300;
                line-height: 1;
                color: #898b8e;
                background-color: transparent;
                margin-bottom: 10px;
            }

            .crew-list {
                padding: 4px;
                width: 100%;
                height: 240px;
                background-color: $white;
                border: solid 1px #e1e1e5;
                margin-bottom: 20px;
                overflow: auto;

                &::-webkit-scrollbar {
                    width: 2px;
                    height: 20px;
                    display: block;
                }

                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: none;
                    border-radius: 0px;
                    background-color: transparent;
                    display: block;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 0px;
                    -webkit-box-shadow: inset 1px 1px 6px #333;
                    background-color: #898b8e;
                    background-color: var(--steel);
                    display: block;
                }

                .crew-items {
                    padding: 0px;
                    cursor: pointer;

                    .crew-item {
                        padding: 2px;
                        min-height: 48px;
                        outline: none;

                        .bordered {
                            background-color: $white;
                            border: solid 1px $pale-grey;

                            &.selected {
                                background-color: $light-tan;
                            }
                        }


                        md-icon {
                            margin-left: 4px;
                            margin: 10px 0px 10px 4px;
                        }

                        img {
                            width: 40px;
                            height: 40px;
                            margin-left: 4px;
                            margin: 10px 0px 10px 4px;
                        }

                        .all-crew {
                            font-family: $helveticaneuebold;
                            font-size: 12px;
                            color: $black;
                            line-height: 28px;
                            padding-left: 8px;
                            margin-top: 10px;
                        }

                        .job {
                            font-family: $montserratlight;
                            font-size: 12px;
                            font-weight: 300;
                            line-height: 1;
                            color: $steel;
                            margin-bottom: 0px;
                            padding-left: 8px;
                            padding-top: 10px;
                        }

                        .name {
                            font-family: $helveticaneuebold;
                            font-size: 12px;
                            line-height: 1;
                            color: $black;
                            margin-bottom: 0px;
                            padding-left: 8px;
                            padding-top: 4px;
                        }

                        .phone {
                            font-family: $helveticaneuelight;
                            font-size: 12px;
                            font-weight: 300;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1;
                            text-align: left;
                            color: $black-two;
                            margin-bottom: 0px;
                            padding-left: 8px;
                            padding-top: 4px;
                        }
                    }
                }
            }

            textarea {
                width: 100%;
                min-height: 100px;
                border: solid 1px #e1e1e5;
                font-family: $helveticaneue;
                font-size: 12px;
                font-weight: 400;
                line-height: 1.33;
                color: $black-two;
                margin-bottom: 12px;
                padding-left: 6px;
            }

            .md-button {
                width: 276px;
                min-height: 36px;
                line-height: 36px;
                border-radius: 0px;
                background-color: $piss-yellow;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
                border: 0px;
                font-family: $montserrat;
                font-size: 12px;
                font-weight: normal;
                color: $black;
                margin: 32px 0px 28px 0px;
            }
        }
    }
}


@media (max-width:600px) {
    #schedule-content .events md-toolbar .md-toolbar-tools {
        .week-text {
            font-size: 12px;
        }

        .dot {
            margin: 4px 0px 4px;
        }

        .date-text {
            font-size: 12px;
        }
    }

    #schedule-add-crew {
        md-content {
            .select-from-crew {
                padding: 0px 10px;
            }
        }
    }
}
