﻿@import "base";

#travel-content {
    max-width: 784px;
    width: 100%;
    padding: 32px 8px 0px 8px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;

    .button-layout {
        text-align: center;

        .new-date-btn {
            width: 160px;
            min-height: 24px;
            background-color: $black-two;
            font-family: $helveticaneuemedium;
            font-size: 12px;
            font-weight: 500;
            text-align: center;
            color: $white;
            margin: 0px 0px 2px;
            border-radius: 0px;
            line-height: 24px;

            md-icon {
                margin-top: -3px;
                margin-right: 2px;
            }
        }
    }

    .card-layout {
        margin-top: 12px;
        padding: 6px;

        .travel-card {
            background-color: $white;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
            height: 572px;

            .card-header {
                background-color: $white;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
                padding: 20px 0px 16px 24px;
                height: 152px;

                label {
                    font-family: $montserratlight;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 1;
                    color: $steel;
                    margin-bottom: 8px;
                    width: 100%;
                }

                span {
                    font-family: $helveticaneuemedium;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.13;
                    color: $black;
                }

                .travelers-layout {
                    .add-crew-btn {
                        border: solid 1px #000;
                        padding: 0px;
                        margin: 0px 4px 0px 0px;
                    }

                    md-menu {
                        padding: 0px;

                        img {
                            width: 40px;
                            height: 40px;
                            min-width: 40px;
                            min-height: 40px;
                            margin: 0px 4px;
                            border-radius: 50%;
                        }

                        .md-fab.md-mini {
                            width: 40px;
                            height: 40px;
                            background-color: $steel;
                            margin: 0px 4px;
                            box-shadow: none;

                            label {
                                font-family: $helveticaneuemedium;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 0.75;
                                text-align: center;
                                color: $white;
                            }
                        }

                        &.md-open {
                            .md-fab.md-mini {
                                background-color: $piss-yellow;

                                label {
                                    color: $black-two;
                                }
                            }

                            img {
                                border: solid 1px $piss-yellow;
                            }
                        }
                    }
                }
            }

            .date-layout {
                overflow: auto;

                &::-webkit-scrollbar {
                    width: 2px;
                    height: 2px;
                    display: block;
                }

                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: none;
                    border-radius: 0px;
                    background-color: transparent;
                    display: block;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 0px;
                    -webkit-box-shadow: inset 1px 1px 6px #333;
                    background-color: $steel;
                    display: block;
                }

                h2 {
                    font-family: $helveticaneuemedium;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.13;
                    color: #e1e1e5;
                    margin: 20px 20px 20px 24px;

                    &.active {
                        color: $black;
                    }
                }

                .value-group {
                    padding-left: 24px;




                    md-icon {
                        display: block;
                        margin-right: 24px;

                        &:not(:first-child) {
                            margin-top: 14px;
                        }
                    }

                    .text-group {
                        margin-bottom: 20px;

                        label {
                            font-family: $montserratlight;
                            font-size: 12px;
                            font-weight: 300;
                            line-height: 1;
                            color: $steel;
                            display: block;
                            margin-bottom: 4px;
                        }

                        span {
                            font-family: $helveticaneuemedium;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 1.29;
                            color: $black-two;
                        }
                    }

                    md-divider {
                        width: 220px;
                        height: 2px;
                        border: solid 1px #e1e1e5;
                        margin: -4px 0px 14px;
                    }
                }
            }
        }
    }
}

#itinerary-creation {
    max-width: 786px;
    width: 100%;
    border-radius: 0px;

    .header-toolbar {
        min-height: 40px;
        position: absolute;
        z-index: 5;
        background: transparent;

        .md-toolbar-tools {
            height: 40px;
            max-height: 40px;
            background-color: transparent;
        }
    }

    .header-layout {
        z-index: 2;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
        padding: 24px 42px 20px 42px;
        min-height: 100px;

        label {
            font-family: $montserratlight;
            font-size: 12px;
            font-weight: 300;
            line-height: 1;
            color: $steel;
            width: 100%;
            margin-bottom: 8px;
        }

        .name-control {
            padding-right: 42px;

            .form-control {
                border-radius: 0px;
                box-shadow: none;
                outline: none;
                height: 36px;
                background-color: $white;
                border: solid 1px #e1e1e5;
                font-family: $helveticaneuemedium;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.13;
                color: $black-two;
            }
        }

        .selected-crew {
            padding-left: 24px;

            .travelers-layout {
                .add-crew-btn {
                    border: solid 1px #000;
                    padding: 0px;
                    margin: 0px 4px 0px 0px;
                    min-width: 40px;
                }

                md-menu {
                    padding: 0px;

                    img {
                        width: 40px;
                        height: 40px;
                        min-width: 40px;
                        min-height: 40px;
                        margin: 0px 4px;
                        border-radius: 50%;
                    }

                    .md-fab.md-mini {
                        width: 40px;
                        height: 40px;
                        background-color: $steel;
                        margin: 0px 4px;
                        box-shadow: none;

                        label {
                            font-family: $helveticaneuemedium;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 0.75;
                            text-align: center;
                            color: $white;
                        }
                    }

                    &.md-open {
                        .md-fab.md-mini {
                            background-color: $piss-yellow;

                            label {
                                color: $black-two;
                            }
                        }

                        img {
                            border: solid 1px $piss-yellow;
                        }
                    }
                }
            }
        }
    }

    .right-layout {
        overflow: auto;

        &::-webkit-scrollbar {
            width: 4px;
            height: 2px;
            display: block;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: none;
            border-radius: 0px;
            background-color: transparent;
            display: block;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 0px;
            -webkit-box-shadow: inset 1px 1px 6px #333;
            background-color: #898b8e;
            display: block;
        }

        md-tabs {
            margin-top: 58px;

            .attachment {
                vertical-align: middle;
                margin: auto;
                margin-left: 7px;
                font-family: $helveticaneuemedium;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.13;
                color: $black-two;
                text-decoration: underline;
            }

            md-tabs-wrapper {
                md-tabs-canvas {
                    height: 60px;

                    md-pagination-wrapper {
                        height: 60px;
                        width: 100% !important;

                        .md-tab {
                            text-align: center;
                            padding: 0px 22px;

                            md-icon {
                                &.active {
                                    display: none;
                                }
                            }

                            label {
                                font-family: $montserratlight;
                                font-size: 12px;
                                font-weight: 300;
                                line-height: 1.5;
                                color: $steel;
                                display: block;
                                text-transform: none;
                                margin-top: 2px;
                            }

                            &.md-active {
                                md-icon {
                                    &:not(.active) {
                                        display: none;
                                    }

                                    &.active {
                                        display: block;
                                    }
                                }

                                label {
                                    font-family: $montserrat;
                                    font-weight: 400;
                                    color: $black-two;
                                }
                            }
                        }
                    }
                }
            }

            md-tabs-content-wrapper {
                md-tab-content {
                    padding: 16px 33px;

                    .input-group {
                        margin: 0px 0px 20px;
                        padding: 0px 9px;

                        label {
                            font-family: $montserratlight;
                            font-size: 12px;
                            font-weight: 300;
                            line-height: 1;
                            color: $steel;
                            width: 100%;
                            margin-bottom: 8px;
                        }

                        .form-control {
                            border-radius: 0px;
                            box-shadow: none;
                            outline: none;
                            height: 36px;
                            background-color: $white;
                            border: solid 1px #e1e1e5;
                            font-family: $helveticaneuemedium;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 1.13;
                            color: $black-two;
                        }

                        .md-icon-button {
                            margin-left: -14px;
                        }

                        &.datepicker {
                            .input-group-btn {
                                position: absolute;
                                right: 50px;
                                top: 22px;
                                z-index: 2;

                                .date-button {
                                    border: none;
                                }
                            }

                            .form-control {
                                padding-right: 40px;
                            }
                        }
                    }

                    .btn-layout {
                        margin: 20px 0px 16px;
                        padding: 0px 9px;

                        .md-button {
                            min-height: 0px;
                            width: 100px;
                            height: 24px;
                            border: solid 1px #4a4a4a;
                            border-radius: 0px;
                            font-family: $helveticaneuemedium;
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 22px;
                            text-align: center;
                            color: $black;
                            margin: 0px;

                            &.save {
                                margin-left: 10px;
                                background-color: #242424;
                                color: #fff;
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .left-layout {
        background-color: $white;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);

        .date-layout {
            overflow: auto;
            height: 600px;

            &::-webkit-scrollbar {
                width: 4px;
                height: 2px;
                display: block;
            }

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: none;
                border-radius: 0px;
                background-color: transparent;
                display: block;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 0px;
                -webkit-box-shadow: inset 1px 1px 6px #333;
                background-color: #898b8e;
                display: block;
            }

            h2 {
                font-family: $helveticaneuemedium;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.13;
                color: #e1e1e5;
                margin: 20px 20px 20px 24px;

                &.active {
                    color: $black;
                }
            }

            .value-group {

                .md-icon-button {
                    margin: 0px;
                    padding: 8px;
                    width: 24px;
                    height: 24px;
                }

                md-icon {
                    display: block;
                    margin-right: 24px;

                    &:not(:first-child) {
                        margin-top: 14px;
                    }
                }

                .text-group {
                    margin-bottom: 20px;

                    label {
                        font-family: $montserratlight;
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 1;
                        color: $steel;
                        display: block;
                        margin-bottom: 4px;
                    }

                    span {
                        font-family: $helveticaneuemedium;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 1.29;
                        color: $black-two;
                    }
                }
            }
        }

        .btn-layout {
            height: 72px;
            padding: 16px 42px 32px;
            background-color: $white;
            box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.04);

            .md-button {
                width: 100px;
                height: 24px;
                min-height: 0;
                background-color: $black-two;
                border: solid 1px #4a4a4a;
                border-radius: 0px;
                font-family: $helveticaneuemedium;
                font-size: 12px;
                font-weight: 500;
                line-height: 22px;
                text-align: center;
                color: $white;
                margin: 0px;
            }
        }
    }
}

.flex-100, .layout-column > .flex-100, .layout-row > .flex-100 {
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 100%;
    max-height: unset;
    box-sizing: border-box;
}

@media (max-width:600px) {

    #itinerary-creation {
        .header-layout {
            min-height: 158px;
            padding: 20px 10px;

            .name-control {
                padding: 0px;
            }

            .selected-crew {
                padding-left: 0px;

                .travelers {
                    margin-top: 8px;
                }
            }
        }

        .left-layout {
            .btn-layout {
                display: none;
            }
        }

        .right-layout {
            md-tabs {
                md-tabs-content-wrapper {
                    md-tab-content {
                        padding: 16px 10px;

                        .btn-layout {
                            .md-button {
                                &.save {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
