/* Font */

@font-face {
    font-family: 'GothamCond-Book';
    src: url('../fonts/GothamCond-Book.otf') format('opentype');
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('../fonts/HelveticaNeue-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue-LightItalic';
    src: url('../fonts/HelveticaNeue-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue-Medium';
    src: url('../fonts/HelveticaNeue-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue-Italic';
    src: url('../fonts/HelveticaNeue-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('../fonts/HelveticaNeue-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'AGaramondPro-Bold';
    src: url('../fonts/AGaramondPro-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'AGaramondPro-Italic';
    src: url('../fonts/AGaramondPro-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'LibreBaskerville-Regular';
    src: url('../fonts/LibreBaskerville-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'LibreBaskerville-Italic';
    src: url('../fonts/LibreBaskerville-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'LibreBaskerville-Bold';
    src: url('../fonts/LibreBaskerville-Bold.ttf') format('truetype');
}

@import "_common.scss";
@import "_account.scss";
@import "_calendar.scss";
@import "_schedule.scss";
@import "_travel.scss";
@import "_messages.scss";
@import "_productions.scss";
@import "_production.scss";
@import "_attachment.scss";
@import "_assemble.scss";
@import "_profile.scss";
@import "_admin.scss";
@import "_index";
