﻿<div layout="column" flex>
    <div layout="column">
        <div>
            <md-nav-bar aria-label="topbar" md-selected-nav-item="currentNavItem" id="page-nav" layout-algin="center center">
                <md-nav-item md-nav-click="clickNavigation('assemble')" name="assemble">ASSEMBLE</md-nav-item>
                <md-nav-item md-nav-click="clickNavigation('schedule')" name="schedule">SCHEDULE</md-nav-item>
                <md-nav-item md-nav-click="clickNavigation('travel')" name="travel">TRAVEL</md-nav-item>
                <md-nav-item md-nav-click="clickNavigation('attachments')" name="attachments">ATTACHMENTS</md-nav-item>
            </md-nav-bar>
        </div>
    </div>
    <md-button class="md-icon-button" id="leftnav-min-btn" ng-class="{'open' :(sidenavOpen), 'close':(!sidenavOpen),'showExpander' :screen}" aria-label="open sidebar" ng-click="sidebarToggle()">
        <md-icon class="icon icon-minimize"></md-icon>
    </md-button>
    <div layout="row" flex>
        <md-sidenav class="md-sidenav-left" id="assemble-sideBar" ng-class="{'leftside-nav-area' :screen}" md-is-open="sidenavOpen" md-is-locked-open="$mdMedia('gt-xs')" md-component-id="left" md-disable-backdrop md-whiteframe="4" ng-include="sidebar">
        </md-sidenav>
        <md-content layout="column" id="assemble-content" flex>
            <div layout="row" class="content-size" layout-wrap>
                <div flex="100" class="button-layout" layout="row" layout-wrap>
                    <md-menu class="menu" md-offset="0 27">
                        <md-button ng-click="$mdOpenMenu($event)">SELECT TEMPLATE</md-button>
                        <md-menu-content class="select-template">
                            <md-menu-item ng-repeat="template in templates">
                                <md-checkbox md-no-ink aria-label="template"></md-checkbox>
                                <span class="template-name">{{template.name}}</span>
                                <a md-menu-align-target href="javascript:void(0)" ng-click="removetemplate($index)" class="pull-right btn-close" md-autofocus>
                                    <md-icon class="icon icon-small-close"></md-icon>
                                </a>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-button ng-click="addcrew($event)" class="add-crew-btn">
                        <md-icon class="icon icon-add-small-white"></md-icon>
                        CREW
                    </md-button>
                    <span flex></span>
                    <div class="action-buttons">
                        <div ng-if="onlyUndo">
                            <md-button class="undo-confirm-btn" ng-click="undo()">UNDO CONFIRM</md-button>
                        </div>
                        <div class="pull-right" ng-if="onlyAccept">
                            <md-button class="undo-btn" ng-click="undo()">UNDO</md-button>
                            <md-button class="accept-date-btn" ng-click="acceptdate()">ACCEPT DATES</md-button>
                        </div>
                        <md-button class="confirm-btn pull-right" ng-click="confirm()" ng-if="!onlyUndo && !onlyAccept" ng-disabled="!onlySelected">CONFIRM</md-button>
                    </div>
                </div>

                <div layout="row" layout-wrap flex="100">
                    <div class="table-condensed table-responsive" flex id="assmble-table">
                        <table class="table">
                            <tr class="heading-style">
                                <th style="width: 42px;">
                                    <md-menu md-offset="-15 0" class="select-menu">
                                        <div layout="row">
                                            <md-checkbox md-no-ink aria-label="artistcheck" class="md-primary" ng-model="book.selectAll" ng-change="selectAllChange()">
                                            </md-checkbox>
                                            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                                <md-icon class="icon icon-grey-chevron"></md-icon>
                                            </md-button>
                                        </div>
                                        <md-menu-content class="select-dropdown">
                                            <md-list-item>
                                                <md-button href="#/messages"> MESSAGE </md-button>
                                            </md-list-item>
                                            <md-list-item>
                                                <md-button ng-click="confirmAllDates()"> CONFIRM ALL DATES</md-button>
</md-list-item>
                                            <md-list-item>
                                                <md-button ng-click="resetAllDates()">RESET ALL DATES</md-button>
                                            </md-list-item>
                                            <md-list-item>
                                                <md-button ng-click="release()">RELEASE</md-button>
                                            </md-list-item>
                                        </md-menu-content>
                                    </md-menu>
                                </th>
                                <th class="fixed-width"> Role / Name </th>
                                <th class="fixed-width"> Agency / Agent </th>
                                <th style="width:150px;"> Rate </th>
                                <th style="width:272px;">  Availability </th>
                            </tr>

                            <tr ng-if="!book.assembles.length">
                                <td colspan="5" class="empty-text">
                                    There is no one here yet. Assemble your crew!
                                </td>
                            </tr>
                            <tr ng-repeat="assemble in book.assembles" class="selected-profession">
                                <td colspan="5" class="padding-0">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td style="min-width: 42px;width: 42px;">
                                                    <a href="javascript:void(0)" ng-click="removeAssemble($index)" class="">
                                                        <md-icon class="icon icon-small-close"></md-icon>
                                                    </a>
                                                </td>
                                                <td class="profession-display" colspan="4">
                                                    <md-menu md-offset="10 10">
                                                        <label ng-click="$mdOpenMenu($event)">
                                                            {{assemble.name}}
                                                            <span>
                                                                <md-icon class="icon icon-add-small"></md-icon>
                                                            </span>
                                                        </label>
                                                        <md-menu-content id="add-crew-dropdown" layout="row">
                                                            <div layout="row" layout-wrap layout-align="start start" class="add-crew-content" ng-class="{'open' : !newArtist}">
                                                                <div class="head" flex="100">{{assemble.name}}</div>
                                                                <div class="input-group" flex="100">
                                                                    <input type="text" class="form-control" ng-model="search" placeholder="Name or email">
                                                                    <span class="input-group-addon">
                                                                        <md-icon class="icon icon-go"></md-icon>
                                                                    </span>
                                                                </div>
                                                                <div flex="100" layout="row" class="crew-member add" md-prevent-menu-close ng-click="newmember()">
                                                                    <div class="avatar">
                                                                        <md-icon class="icon icon-add-small-white"></md-icon>
                                                                    </div>
                                                                    <div flex layout="column" layout-align="center start">
                                                                        <div class="name">Invite new artist</div>
                                                                    </div>
                                                                </div>
                                                                <div flex="100" layout="row" class="crew-member" ng-repeat="member in defaultMembers | filter : search" ng-click="addMember(assemble, member)">
                                                                    <div class="avatar">
                                                                        <img ng-src="{{member.avatar}}" class="md-avatar" />
                                                                    </div>
                                                                    <div flex layout="column" layout-align="center start">
                                                                        <div class="name">{{member.name}}</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div layout="row" layout-wrap layout-align="start start" class="add-crew-content" ng-class="{'open' : newArtist}">
                                                                <div class="head" flex="100">
                                                                    <md-button md-prevent-menu-close class="md-icon-button back-btn" ng-click="newmember()">
                                                                        <md-icon class="icon icon-chevron-black"></md-icon>
                                                                    </md-button>
                                                                    Invite new artist
                                                                </div>
                                                                <div class="form-group" flex="100">
                                                                    <label>First name</label>
                                                                    <input type="text" class="form-control" ng-model="artist.firstName">
                                                                </div>
                                                                <div class="form-group" flex="100">
                                                                    <label>Last name</label>
                                                                    <input type="text" class="form-control" ng-model="artist.lastName">
                                                                </div>
                                                                <div class="form-group" flex="100">
                                                                    <label>Email</label>
                                                                    <input type="text" class="form-control" ng-model="artist.email">
                                                                </div>
                                                                <div class="form-group" flex="100">
                                                                    <label>Has an agent?</label>
                                                                    <div layout="row" layout-align="space-between start">
                                                                        <md-button ng-click="addNewMember(assemble, artist, false)">NO</md-button>
                                                                        <md-button class="yellow-btn" ng-click="addNewMember(assemble, artist, true)">YES</md-button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </md-menu-content>
                                                    </md-menu>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="member in assemble.members" class="artist-detail">
                                                <td style="min-width: 42px;width: 42px;">

                                                    <md-menu md-offset="-15 0" class="select-menu">
                                                        <div layout="row">
                                                            <md-checkbox md-no-ink aria-label="artistcheck" ng-model="member.select" class="md-primary">
                                                            </md-checkbox>
                                                            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                                                <md-icon class="icon icon-grey-chevron"></md-icon>
                                                            </md-button>
                                                        </div>
                                                        <md-menu-content class="select-dropdown">
                                                            <md-list-item>
                                                                <md-button href="#/messages">MESSAGE</md-button>
                                                            </md-list-item>
                                                            <md-list-item>
                                                                <md-button ng-click="confirmAllDates(member)">CONFIRM ALL DATES</md-button>
                                                            </md-list-item>
                                                            <md-list-item>
                                                                <md-button ng-click="resetAllDates(member)">RESET ALL DATES</md-button>
                                                            </md-list-item>
                                                            <md-list-item>
                                                                <md-button ng-click="release($index, assemble.members)"> RELEASE</md-button>
                                                            </md-list-item>
                                                        </md-menu-content>
                                                    </md-menu>

                                                </td>
                                                <td>
                                                    <div class="member-details" layout="row" layout-align="start center">
                                                        <div class="avatar">
                                                            <img ng-src="{{member.avatar}}" ng-if="member.avatar" />
                                                            <md-icon ng-if="!member.avatar">?</md-icon>
                                                        </div>
                                                        <div layout="column">
                                                            <label class="job">{{member.job}}</label>
                                                            <label>{{member.name}}</label>
                                                            <label class="phone-number">{{member.phoneNumber}}</label>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <md-menu md-offset="2 0">
                                                        <div layout="row" class="member-agent" layout-align="start center" ng-click="$mdOpenMenu($event)">
                                                            <div layout="row" flex ng-if="member.agent">
                                                                <div class="avatar">
                                                                    <img ng-src="{{member.agent.avatar}}" ng-if="member.agent.avatar" />
                                                                    <md-icon ng-if="!member.agent.avatar">?</md-icon>
                                                                </div>
                                                                <div layout="column" flex layout-align="center start">
                                                                    <label class="agency-name">{{member.agent.agency}}</label>
                                                                    <label class="agent-name">{{member.agent.name}}</label>
                                                                    <label class="phone-number">{{member.agent.phoneNumber}}</label>
                                                                </div>
                                                                <md-icon class="icon icon-grey-chevron"></md-icon>
                                                            </div>
                                                            <div layout="row" flex ng-if="!member.agent">
                                                                <div class="avatar">
                                                                    <md-icon class="icon icon-add-small-white"></md-icon>
                                                                </div>
                                                                <div layout="column" flex layout-align="center start">
                                                                    <label class="agent-name">Add agent</label>
                                                                </div>
                                                                <md-icon class="icon icon-grey-chevron"></md-icon>
                                                            </div>
                                                        </div>
                                                        <md-menu-content id="add-crew-dropdown" layout="row">
                                                            <div layout="row" layout-wrap layout-align="start start" class="add-crew-content" ng-class="{'open' : !newAgentVal}">
                                                                <div class="head" flex="100">Select {{member.name}}’s Agent</div>
                                                                <div class="input-group" flex="100">
                                                                    <input type="text" class="form-control" ng-model="search" placeholder="Name or email">
                                                                    <span class="input-group-addon">
                                                                        <md-icon class="icon icon-go"></md-icon>
                                                                    </span>
                                                                </div>
                                                                <div flex="100" layout="row" class="crew-member add" md-prevent-menu-close ng-click="newAgent()">
                                                                    <div class="avatar">
                                                                        <md-icon class="icon icon-add-small-white"></md-icon>
                                                                    </div>
                                                                    <div flex layout="column" layout-align="center start">
                                                                        <div class="name">Invite new agent</div>
                                                                    </div>
                                                                </div>
                                                                <div flex="100" layout="row" class="crew-member" ng-repeat="agent in member.agents" ng-click="member.agent = agent">
                                                                    <div class="avatar">
                                                                        <img ng-src="{{agent.avatar}}" class="md-avatar" />
                                                                    </div>
                                                                    <div flex layout="column" layout-align="center start">
                                                                        <div class="agency">{{agent.agency}}</div>
                                                                        <div class="name">{{agent.name}}</div>
                                                                        <div class="phone">{{agent.phoneNumber}}</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div layout="row" layout-wrap layout-align="start start" class="add-crew-content" ng-class="{'open' : newAgentVal}">
                                                                <div class="head" flex="100">
                                                                    <md-button md-prevent-menu-close class="md-icon-button back-btn" ng-click="newAgent()">
                                                                        <md-icon class="icon icon-chevron-black"></md-icon>
                                                                    </md-button>
                                                                    Invite new agent
                                                                </div>
                                                                <div class="form-group" flex="100">
                                                                    <label>First name</label>
                                                                    <input type="text" class="form-control" ng-model="agent.firstName">
                                                                </div>
                                                                <div class="form-group" flex="100">
                                                                    <label>Last name</label>
                                                                    <input type="text" class="form-control" ng-model="agent.lastName">
                                                                </div>
                                                                <div class="form-group" flex="100">
                                                                    <label>Email</label>
                                                                    <input type="text" class="form-control" ng-model="agent.email">
                                                                </div>
                                                                <div class="form-group text-right" flex="100">
                                                                    <md-button class="yellow-btn" ng-click="agentInvite(member, agent)">INVITE</md-button>
                                                                </div>
                                                            </div>
                                                        </md-menu-content>                                                        
                                                    </md-menu>
                                                </td>
                                                <td style="width:150px;">
                                                    <div layout="row">
                                                        <md-menu md-offset="-50 20" class="currency-menu">
                                                            <span ng-click="$mdOpenMenu($event)">
                                                                {{member.currency}}
                                                            </span>
                                                            <md-menu-content class="currency-dropdown" md-prevent-menu-close>
                                                                <md-list-item ng-click="member.currency='$'">
                                                                    USD
                                                                </md-list-item>
                                                                <md-list-item ng-click="member.currency='$'">
                                                                    CAN
                                                                </md-list-item>
                                                                <md-list-item ng-click="member.currency='$'">
                                                                    EUR
                                                                </md-list-item>
                                                            </md-menu-content>
                                                        </md-menu>
                                                        <input type="text" class="rate-textbox" ng-model="member.rate" />
                                                        <md-menu md-offset="-50 20" class="time-menu">
                                                            <span ng-click="$mdOpenMenu($event)">
                                                                /{{member.time}}
                                                            </span>
                                                            <md-menu-content class="time-dropdown" md-prevent-menu-close>
                                                                <md-list-item ng-click="member.time='hr'">
                                                                    HOURLY
                                                                </md-list-item>
                                                                <md-list-item ng-click="member.time='day'">
                                                                    DAILY
                                                                </md-list-item>
                                                                <md-list-item ng-click="member.time='one'">
                                                                    ONE TIME PAY
                                                                </md-list-item>
                                                            </md-menu-content>
                                                        </md-menu>
                                                    </div>
                                                </td>
                                                <td style="width:272px;">
                                                    <div layout="row" class="date-container">
                                                        <md-button class="next-date" ng-click="showPervDate(member)" ng-if="member.begin">
                                                            <md-icon class="icon icon-chevron-right-small pre"></md-icon>
                                                        </md-button>
                                                        <div layout="column" ng-repeat="date in member.dates | limitTo  : 5 : member.begin" class="date-layout">
                                                            <md-menu class="date-menu" md-offset="-50 15">
                                                                <md-button class="date" ng-click="$mdOpenMenu($event)" ng-class="{'not-available' : date.choice==3, 'confirm-date' : date.status == 1, 'accept-date' : date.status == 2 }">
                                                                    {{date.value| date: 'd'}}
                                                                    <md-icon class="icon choice" ng-class="{'icon-first-choice' : date.choice==1, 'icon-second-choice' : date.choice==2}"></md-icon>
                                                                </md-button>
                                                                <md-menu-content class="choice-dropdown">
                                                                    <md-list-item ng-click="date.choice=1;date.status = null;">
                                                                        1ST OPTION
                                                                    </md-list-item>
                                                                    <md-list-item ng-click="date.choice=2;date.status = null;">
                                                                        2ND OPTION
                                                                    </md-list-item>
                                                                    <md-list-item ng-click="date.choice=3;date.status = null;">
                                                                        NOT AVAILABLE
                                                                    </md-list-item>
                                                                    <md-list-item ng-click="date.choice=0;date.status = null;">
                                                                        RESET
                                                                    </md-list-item>
                                                                </md-menu-content>
                                                            </md-menu>
                                                            <div class="date-circle" ng-if="date.choice<3 && ((onlyUndo && date.status ==2 ) || (onlyAccept && date.status == 1) || (onlySelected && !date.status) || (!onlyUndo && !onlyAccept && !onlySelected))" ng-click="dateSelect(date)" ng-class="{'black' : date.selected}"></div>
                                                        </div>
                                                        <md-button class="next-date" ng-click="showNextDate(member)" ng-if="member.begin != member.dates.length-5">
                                                            <md-icon class="icon icon-chevron-right-small"></md-icon>
                                                        </md-button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </md-content>
    </div>
</div>