﻿<div layout="column" flex>
    <div layout="column">
        <div>
            <md-nav-bar aria-label="topbar" md-selected-nav-item="currentNavItem" id="page-nav" layout-algin="center center">
                <md-nav-item md-nav-click="clickNavigation('assemble')" name="assemble">ASSEMBLE</md-nav-item>
                <md-nav-item md-nav-click="clickNavigation('schedule')" name="schedule">SCHEDULE</md-nav-item>
                <md-nav-item md-nav-click="clickNavigation('travel')" name="travel">TRAVEL</md-nav-item>
                <md-nav-item md-nav-click="clickNavigation('attachments')" name="attachments">ATTACHMENTS</md-nav-item>
            </md-nav-bar>
        </div>
    </div>
    <md-button class="md-icon-button" id="leftnav-min-btn" ng-class="{'open' :(sidenavOpen), 'close':(!sidenavOpen),'showExpander' :screen}" aria-label="open sidebar" ng-click="sidebarToggle()">
        <md-icon class="icon icon-minimize"></md-icon>
    </md-button>
    <div layout="row" flex>
        <md-sidenav class="md-sidenav-left" id="assemble-sideBar" ng-class="{'leftside-nav-area' :screen}" md-is-open="sidenavOpen" md-is-locked-open="$mdMedia('gt-xs')" md-component-id="left" md-disable-backdrop md-whiteframe="4" ng-include="sidebar">
        </md-sidenav>
        <md-content layout="column" id="attachment-content" flex>
            <div layout="row" class="side-align" layout-wrap>
                <div class="browse-layout" flex="100">
                    <div class="inner-layout" layout="column" layout-gt-xs="row" flex="100" layout-align="space-between center">
                        <div class="browse" layout="column">
                            <md-icon class="icon icon-upload-big"></md-icon>
                            <label>
                                Drag and drop a file
                                or
                            </label>
                            <md-button ngf-select ng-model="selectedImg" ng-change="upload(selectedImg)" name="file" ngf-accept="'image/*'">BROWSE</md-button>
                        </div>
                        <md-divider></md-divider>
                        <div class="select" layout="column">
                            <md-icon class="icon icon-group"></md-icon>
                            <label>
                                Share a
                                Wink Board
                            </label>
                            <md-button ng-click="sharedwinkboard()">SELECT</md-button>
                        </div>
                    </div>
                </div>
                <div layout="row" class="search-sort-layout" flex="100" layout-wrap>
                    <label>Shared Files <b>({{sharedFiles.length}})</b></label>
                    <div class="input-group search-group">
                        <input type="text" ng-model="search" class="form-control" id="search" placeholder="Search shared files">
                        <div class="input-group-addon">
                            <md-icon class="icon icon-magnify"></md-icon>
                        </div>
                    </div>
                    <div layout="row">
                        <label class="sort">Sort:</label>
                        <md-menu md-offset="0 22" ng-if="!file.label">
                            <md-button ng-click="$mdOpenMenu($event)" layout="row">
                                <span>{{sort}} </span><span flex></span><md-icon class="icon icon-chevron"></md-icon>
                            </md-button>
                            <md-menu-content class="label-menu">
                                <md-menu-item>
                                    <md-button ng-click="sort='NEWEST FIRST'">NEWEST FIRST</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="sort='OLDEST FIRST'">OLDEST FIRST</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="sort='billing'">BILLING</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="sort='production'">PRODUCTION</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="sort='story'">STORY</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="sort='behind the scenes'">BEHIND THE SCENES</md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
                <div class="table-responsive table-layout" flex="100">
                    <table class="table table-condensed" flex>
                        <thead>
                            <tr>
                                <th style="width: 30px;"></th>
                                <th>File name</th>
                                <th>Size</th>
                                <th>Label</th>
                                <th>Posted By</th>
                                <th>Shared With</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="file in sharedFiles | filter :search | limitTo : 5 : beginer">
                                <td>
                                    <md-button class="md-icon-button remove-btn" ng-click="removeSharedFiles($event, $index)">
                                        <md-icon class="icon icon-close-small"></md-icon>
                                    </md-button>
                                </td>
                                <td> {{file.filename}}</td>
                                <td> <label>{{file.size | number:1}}MB</label></td>
                                <td>


                                    <md-menu md-offset="0 22">
                                        <div ng-click="$mdOpenMenu($event)">
                                            <md-button ng-if="!file.label" ng-click="clicked = !clicked" ng-class="{'selected' : clicked}">Add a label</md-button>
                                            <span class="label-text billing" ng-if="file.label == 'billing'">Billing</span>
                                            <span class="label-text production" ng-if="file.label == 'production'">Production</span>
                                            <span class="label-text media" ng-if="file.label == 'story'">Story</span>
                                            <span class="label-text bts" ng-if="file.label == 'bts'">B.T.S</span>
                                        </div>
                                        <md-menu-content class="label-menu">
                                            <md-menu-item>
                                                <md-button ng-click="file.label='billing'">Billing</md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="file.label='production'">Production</md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="file.label='story'">Story</md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="file.label='bts'">B.T.S</md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </td>
                                <td>
                                    <div layout="row">
                                        <img ng-src="{{file.posted.avatar}}" />
                                        <div layout="column" class="artist-align">
                                            <label>{{file.posted.date}}</label>
                                            {{file.posted.name}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div layout="row">
                                        <md-button class="md-icon-button add-crew-btn" aria-label="crew" ng-click="addcrewdialog($event,file)">
                                            <md-icon class="icon icon-add-crew-24"></md-icon>
                                        </md-button>
                                        <md-menu ng-repeat="crews in file.crew | limitTo : 1" md-offset="-200 60">
                                            <md-button class="md-fab md-mini" aria-label="remaining" ng-click="$mdOpenMenu($event)">
                                                <label>{{file.crew.length}}</label>
                                            </md-button>
                                            <md-menu-content class="more-crew-dropdown">
                                                <md-menu-item layout="row" ng-repeat="crews in file.crew">
                                                    <img ng-src="{{crews.avatar}}" />
                                                    <div layout="column">
                                                        <label class="job">{{crews.artist}}</label>
                                                        <label class="name">{{crews.name}}</label>
                                                        <div class="phone">{{crews.phoneNumber}}</div>
                                                    </div>
                                                    <md-icon class="icon icon-envelope"></md-icon>
                                                    <md-icon class="icon icon-medium-x" ng-click="removeCrew($index,file.crew)"></md-icon>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div layout="row" flex="100" layout-align="end center" class="pagenation-layout">
                    <span class="info"><b>{{beginer+1}}-{{beginer+5}}</b> of <b>{{sharedFiles.length}}</b> Files</span>
                    <md-button class="md-icon-button" aria-label="Prev" ng-click="beginer= beginer-5" ng-disabled="!beginer">
                        <md-icon class="icon icon-chevron-left-4x8"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Next" ng-click="beginer = beginer+5" ng-disabled="(beginer+5)>=sharedFiles.length">
                        <md-icon class="icon icon-chevron-right-4x8"></md-icon>
                    </md-button>
                </div>
                <md-divider></md-divider>
                <div flex="100" class="shared-layout">
                    <label>Shared Wink Boards <b>({{sharedwink.length}})</b></label>
                </div>
                <div flex="100" layout="row" layout-wrap layout-align-xs="center center">
                    <md-card class="xe-card" ng-repeat="shares in sharedwink">
                        <md-card-header layout="row">
                            <img src="images/data/avatar-12.png" />
                            <div layout="column">
                                <label>{{shares.date}}</label>
                                <label>{{shares.name}}</label>
                            </div>
                        </md-card-header>
                        <div layout="row" layout-wrap class="winkboards">
                            <div flex>
                                <md-card class="winkboard" layout="column">
                                    <div layout="column" flex>
                                        <div flex class="image-layout">
                                            <img class="md-user-avatar" ng-src="{{shares.winks[0]}}" />
                                        </div>
                                        <div flex layout="row" ng-if="shares.winks[1]">
                                            <div flex class="image-layout">
                                                <img class="md-user-avatar" ng-src="{{shares.winks[1]}}" />
                                            </div>
                                            <div flex class="image-layout" ng-if="shares.winks[2]">
                                                <img class="md-user-avatar" ng-src="{{shares.winks[2]}}" />
                                            </div>
                                        </div>
                                        <span class="winks" ng-if="shares.winks.length">{{shares.winks.length}} WINKS</span>
                                    </div>
                                </md-card>
                            </div>
                        </div>
                        <md-card-actions layout="row" layout-align="start center" uib-dropdown>
                            <md-card-icon-actions>
                                {{shares.profession}}
                            </md-card-icon-actions>
                            <md-menu md-offset="-77 12">
                                <md-button class="md-icon-button icon-btn" aria-label="share" ng-click="$mdOpenMenu($event)">
                                    <md-icon class="icon icon-share"></md-icon>
                                    <md-icon class="icon icon-share-active active"></md-icon>
                                </md-button>
                                <md-menu-content class="share-dropdown">
                                    <div class="input-group search-group">
                                        <input type="text" ng-model="search" class="form-control" id="search" placeholder="Name or email">
                                        <div class="input-group-addon hover">
                                            <md-icon class="icon icon-go"></md-icon>
                                            <md-icon class="icon icon-go-active hover"></md-icon>
                                        </div>
                                    </div>
                                    <md-list flex>
                                        <md-list-item>
                                            <md-button flex layout="row">
                                                <img src="images/data/avatar-1.png" class="md-avatar" />
                                                <div class="md-list-item-text" layout="column">
                                                    <h2>Assistant</h2>
                                                    <h3>Chad Cooper</h3>
                                                </div>
                                            </md-button>
                                        </md-list-item>
                                        <md-list-item>
                                            <md-button flex layout="row">
                                                <img src="images/data/avatar-2.png" class="md-avatar" />
                                                <div class="md-list-item-text" layout="column">
                                                    <h2>Photographer</h2>
                                                    <h3>Heather Greene</h3>
                                                </div>
                                            </md-button>
                                        </md-list-item>
                                        <md-list-item>
                                            <md-button flex layout="row">
                                                <img src="images/data/avatar-3.png" class="md-avatar" />
                                                <div class="md-list-item-text" layout="column">
                                                    <h2>Art Director</h2>
                                                    <h3>Matt Jackson</h3>
                                                </div>
                                            </md-button>
                                        </md-list-item>
                                        <md-list-item>
                                            <md-button flex layout="row">
                                                <img src="images/data/avatar-4.png" class="md-avatar" />
                                                <div class="md-list-item-text" layout="column">
                                                    <h2>Set Designer</h2>
                                                    <h3>Lili Regen</h3>
                                                </div>
                                            </md-button>
                                        </md-list-item>
                                    </md-list>
                                    <div class="social-media-group">
                                        <h2>Share on social media</h2>
                                        <div class="icon-btns" ng-show="!openlink">
                                            <md-button class="md-icon-button icon-btn" aria-label="share">
                                                <md-icon class="icon icon-facebook"></md-icon>
                                            </md-button>
                                            <md-button class="md-icon-button icon-btn" aria-label="share">
                                                <md-icon class="icon icon-linkedin"></md-icon>
                                            </md-button>
                                            <md-button class="md-icon-button icon-btn" aria-label="share">
                                                <md-icon class="icon icon-twitter"></md-icon>
                                            </md-button>
                                            <md-button class="md-icon-button icon-btn" aria-label="share" ng-click="openlink=true" md-prevent-menu-close>
                                                <md-icon class="icon icon-social-media"></md-icon>
                                            </md-button>
                                        </div>
                                        <div class="input-group social-media-link" ng-show="openlink">
                                            <md-icon class="icon icon-link"></md-icon>
                                            <input type="text" class="form-control" placeholder="" value="http://lenspire.com/abc">
                                            <div class="input-group-addon" ng-click="openlink=false" md-prevent-menu-close>
                                                <md-icon class="icon icon-close-12x12"></md-icon>
                                            </div>
                                        </div>
                                    </div>
                                </md-menu-content>
                            </md-menu>
                        </md-card-actions>
                        <md-card-header class="bottom-header" layout="column">
                            <label>Shared With</label>
                            <div layout="row">
                                <md-button class="md-icon-button add-crew-btn" aria-label="crew" ng-click="sharedwinkdialog($event,shares)">
                                    <md-icon class="icon icon-add-crew-24"></md-icon>
                                </md-button>
                                <div layout="row">
                                    <md-menu ng-repeat="crew in shares.crews | limitTo : 2" md-offset="-55 50">
                                        <img ng-src="{{crew.avatar}}" ng-click="$mdOpenMenu($event)" />
                                        <md-menu-content class="crew-dropdown" md-offset="">
                                            <md-menu-item layout="row">
                                                <img ng-src="{{crew.avatar}}" />
                                                <div flex layout="column" ayout-align="space-between start">
                                                    <div class="job">{{crew.artist}}</div>
                                                    <div class="name">{{crew.name}}</div>
                                                    <div class="phone">{{crew.phoneNumber}}</div>
                                                </div>
                                            </md-menu-item>
                                            <md-menu-item layout="row" flex class="button-layout">
                                                <md-button aria-label="More">
                                                    <md-icon class="icon icon-envelope"></md-icon>
                                                </md-button>
                                                <md-divider></md-divider>
                                                <md-button aria-label="More" ng-click="removeCrew($index,shares.crews)">
                                                    <md-icon class="icon icon-medium-x"></md-icon>
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                    <md-menu ng-if="shares.crews.length>2" md-offset="-200 60">
                                        <md-button class="md-fab md-mini" aria-label="remaining" ng-click="$mdOpenMenu($event)">
                                            <label>{{shares.crews.length-2}}</label>
                                        </md-button>
                                        <md-menu-content class="more-crew-dropdown">
                                            <md-menu-item layout="row" ng-repeat="crew in shares.crews | limitTo : 9999 : 2">
                                                <img ng-src="{{crew.avatar}}" />
                                                <div layout="column">
                                                    <label class="job">{{crew.artist}}</label>
                                                    <label class="name">{{crew.name}}</label>
                                                    <div class="phone">{{crew.phoneNumber}}</div>
                                                </div>
                                                <md-icon class="icon icon-envelope"></md-icon>
                                                <md-icon class="icon icon-medium-x" ng-click="removeCrew($index,shares.crews)"></md-icon>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                            </div>
                        </md-card-header>
                    </md-card>
                </div>
            </div>
        </md-content>
    </div>
</div>