﻿<md-dialog id="selectCrew">
    <div layout="column">
        <md-toolbar class="close">
            <ul class="nobullet">
                <li class="pull-right list">
                    <md-button class="md-icon-button closeAlign" ng-click="cancel()">
                        <img src="images/data/icon_x.png" aria-label="Close dialog">
                    </md-button>
                </li>
            </ul>
        </md-toolbar>
        <div layout="row" flex="100" layout-wrap class="crewContent">
            <div flex="100" class="crewTitle">
                SELECT CREW
            </div>
            <div flex="100" class="searchField">
                <form ng-submit="addCrew()" layout="row" flex layout-wrap>
                    <input type="text" placeholder="Search fields" ng-model="crew" />
                    <md-button class="add" type="submit">ADD</md-button>
                </form>
            </div>
            <div flex="100" layout="row" class="crewSelect" layout-wrap ng-show="getMobileOperatingSystem() == 'unknown'">
                <select size="9" id="scrollcrew" multiple="multiple" ng-model="leftOption" name="select1" class="crew-list" ng-options="option as option.name for option in crews | orderBy: 'name'" flex-sm="100" flex-xs="100">                    
                </select>
                <div layout="row" layout-gt-sm="column" class="addbuttons" layout-align="center center" flex-xs="100"  flex-sm="100">
                    <md-button class="md-fab" aria-label="add" ng-click="add()">+ </md-button>
                    <md-button class="md-fab" aria-label="remove" ng-click="remove()">- </md-button>
                </div>
                <select id="scrollcrew" multiple="multiple" ng-model="rightOption" name="select2" class="crew-list" ng-options="option as option.name for option in addedcrews | orderBy: 'name'" flex-sm="100" flex-xs="100">
                </select>
            </div>
            <div flex="100" layout="row" class="crewSelect" layout-wrap ng-show="getMobileOperatingSystem() != 'unknown'">               
                <md-list id="scrollcrew" class="crew-list" flex-sm="100" flex-xs="100">                    
                    <md-list-item ng-repeat="crew in crews | orderBy: 'name'" ng-class="{'selected': crew.selected}" ng-click="crewSelected(crew)">
                        <div class="md-list-item-text" layout="column">
                            {{crew.name}}
                        </div>
                    </md-list-item>
                </md-list>
                <div layout="row" layout-gt-sm="column" class="addbuttons" layout-align="center center" flex-xs="100" flex-sm="100">
                    <md-button class="md-fab" aria-label="add" ng-click="addList()">+ </md-button>
                    <md-button class="md-fab" aria-label="remove" ng-click="removeList()">- </md-button>
                </div>
                <md-list id="scrollcrew" class="crew-list" flex-sm="100" flex-xs="100">
                    <md-list-item ng-repeat="crew in addedcrews | orderBy: 'name'" ng-class="{'selected': crew.selected}" ng-click="crewSelected(crew)">
                        <div class="md-list-item-text" layout="column">
                            {{crew.name}}
                        </div>
                    </md-list-item>
                </md-list>
            </div>

            <div flex="100" class="saveArea" ng-if="$scope.showtemplate">
                <input type="text" placeholder="Call Sheet Template Name" />
                <md-button class="save" ng-click="$scope.showtemplate= false">SAVE</md-button>
            </div>
            <div flex="100" class="saveTemplate" layout="row" layout-wrap layout-align="end center">
                <md-button class="template" ng-show="!$scope.showtemplate" ng-click="$scope.showtemplate= true">SAVE AS TEMPLATE</md-button>
                <md-button class="assemble" ng-click="assemble()">ASSEMBLE</md-button>
            </div>
        </div>
    </div>
</md-dialog>