﻿<md-dialog id="itinerary-creation">
    <div layout="column">
        <md-toolbar class="header-toolbar">
            <div class="md-toolbar-tools">
                <span flex></span>
                <md-button class="md-icon-button closeAlign" ng-click="cancel()">
                    <img src="images/data/icon_x.png" aria-label="Close dialog">
                </md-button>
            </div>
        </md-toolbar>
        <div layout="row" class="header-layout" layout-wrap flex>
            <div flex flex-xs="100" class="name-control">
                <label>Itinerary Name</label>
                <input type="text" class="form-control" ng-model="itinerary.name" />
            </div>
            <div flex flex-xs="100" class="selected-crew">
                <label class="travelers">Travelers</label>
                <div layout="row" class="travelers-layout">
                    <md-button class="md-icon-button add-crew-btn" aria-label="crew" ng-click="addTraveler($event, itinerary)">
                        <md-icon class="icon icon-add-crew-24"></md-icon>
                    </md-button>
                    <md-menu ng-repeat="crews in itinerary.travelers | limitTo : numberOfCrews" md-offset="-55 50">
                        <img ng-src="{{crews.avatar}}" ng-click="$mdOpenMenu($event)" />
                        <md-menu-content class="crew-dropdown" md-offset="">
                            <md-menu-item layout="row">
                                <img ng-src="{{crews.avatar}}" />
                                <div flex layout="column" ayout-align="space-between start">
                                    <div class="job">{{crews.artist}}</div>
                                    <div class="name">{{crews.name}}</div>
                                    <div class="phone">{{crews.phoneNumber}}</div>
                                </div>
                            </md-menu-item>
                            <md-menu-item layout="row" flex class="button-layout">
                                <md-button aria-label="More">
                                    <md-icon class="icon icon-envelope"></md-icon>
                                </md-button>
                                <md-divider></md-divider>
                                <md-button aria-label="More" ng-click="removeCrews($index,itinerary.travelers)">
                                    <md-icon class="icon icon-medium-x"></md-icon>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu ng-if="itinerary.travelers.length>5" md-offset="-200 60">
                        <md-button class="md-fab md-mini" aria-label="remaining" ng-click="$mdOpenMenu($event)">
                            <label>{{itinerary.travelers.length-numberOfCrews}}</label>
                        </md-button>
                        <md-menu-content class="more-crew-dropdown">
                            <md-menu-item layout="row" ng-repeat="crews in itinerary.travelers | limitTo : 9999 : numberOfCrews">
                                <img ng-src="{{crews.avatar}}" />
                                <div layout="column">
                                    <label class="job">{{crews.artist}}</label>
                                    <label class="name">{{crews.name}}</label>
                                    <div class="phone">{{crews.phoneNumber}}</div>
                                </div>
                                <md-icon class="icon icon-envelope"></md-icon>
                                <md-icon class="icon icon-medium-x" ng-click="removeCrews($index,itinerary.travelers)"></md-icon>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </div>
        <div layout="row" class="" layout-wrap>
            <div flex class="right-layout" flex-xs="100">
                <md-tabs md-dynamic-height md-center-tabs="true" md-no-pagination="true" md-no-ink-bar="true" md-no-ink="true">
                    <md-tab>
                        <md-tab-label>
                            <md-icon class="icon icon-car"></md-icon>
                            <md-icon class="icon icon-car-active active"></md-icon>
                            <label>Car</label>
                        </md-tab-label>
                        <md-tab-body>
                            <div layout="row" layout-wrap>
                                <div layout="column" flex="50" flex-sm="100" flex-xs="100" class="input-group datepicker">
                                    <label>Pick up Date</label>
                                    <input type="text" class="form-control " ng-model="car.pickUpDate" uib-datepicker-popup="MM/dd/yy" />
                                    <span class="input-group-btn">
                                        <md-menu md-position-mode="target-right target" md-offset="158 36">
                                            <button type="button" class="btn btn-default date-button" ng-click="$mdOpenMenu($event)">
                                                <md-icon class="icon icon-calendar-travel"></md-icon>
                                            </button>
                                            <md-menu-content class="calendar up-arrow" md-prevent-menu-close>
                                                <uib-datepicker ng-model="car.pickUpDate" datepicker-options="{startingDay: 0, formatDayTitle: 'MMMM', formatDay: 'd', minDate: book.startDate, maxDate: book.endDate}"></uib-datepicker>
                                            </md-menu-content>
                                        </md-menu>
                                    </span>
                                </div>
                                <div layout="column" flex="50" flex-sm="100" flex-xs="100" class="input-group">
                                    <label>Time</label>
                                    <input type="text" class="form-control" ng-model="car.pickUpTime" />
                                </div>
                                <div layout="column" flex="100" class="input-group">
                                    <label>Pick up Location</label>
                                    <input type="text" class="form-control" ng-model="car.pickUpLocation" />
                                </div>
                                <div layout="column" flex="100" class="input-group">
                                    <label>Drop-off Location</label>
                                    <input type="text" class="form-control" ng-model="car.dropOffLocation" />
                                </div>
                                <div layout="column" flex="100" class="input-group">
                                    <label>Notes</label>
                                    <input type="text" class="form-control" ng-model="car.notes" />
                                </div>
                                <div layout="column" flex="100" class="input-group">
                                    <label>Attachments</label>
                                    <div layout="row">
                                        <md-button class="md-icon-button" aria-label="Attachments" ngf-select ng-model="car.attachments">
                                            <md-icon class="icon icon-attach"></md-icon>
                                        </md-button>
                                        <span class="attachment">{{car.attachments.name}}</span>
                                    </div>
                                </div>
                                <div flex="100" layout="row" class="btn-layout" layout-align="end center">
                                    <md-button ng-click="addCar()">ADD</md-button>
                                    <md-button class="save" ng-click="saveitinerary()">Save</md-button>
                                </div>
                            </div>

                        </md-tab-body>
                    </md-tab>
                    <md-tab>
                        <md-tab-label>
                            <md-icon class="icon icon-plane"></md-icon>
                            <md-icon class="icon icon-plane-active active"></md-icon>
                            <label>Flight</label>
                        </md-tab-label>
                        <md-tab-body>
                            <div layout="row" layout-wrap>
                                <div layout="column" flex="100" class="input-group">
                                    <label>Flight Number</label>
                                    <input type="text" class="form-control" ng-model="flight.flightNumber" />
                                </div>
                                <div layout="column" flex="50" flex-sm="100" flex-xs="100" class="input-group">
                                    <label>From</label>
                                    <input type="text" class="form-control" ng-model="flight.from" />
                                </div>
                                <div layout="column" flex="50" flex-sm="100" flex-xs="100" class="input-group">
                                    <label>To</label>
                                    <input type="text" class="form-control" ng-model="flight.to" />
                                </div>
                                <div layout="column" flex="50" flex-sm="100" flex-xs="100" class="input-group datepicker">
                                    <label>Depart Date</label>
                                    <input type="text" class="form-control " ng-model="flight.departDate" uib-datepicker-popup="MM/dd/yy" />
                                    <span class="input-group-btn">
                                        <md-menu md-position-mode="target-right target" md-offset="158 36">
                                            <button type="button" class="btn btn-default date-button" ng-click="$mdOpenMenu($event)">
                                                <md-icon class="icon icon-calendar-travel"></md-icon>
                                            </button>
                                            <md-menu-content class="calendar up-arrow" md-prevent-menu-close>
                                                <uib-datepicker ng-model="flight.departDate" datepicker-options="{startingDay: 0, formatDayTitle: 'MMMM', formatDay: 'd', minDate: book.startDate, maxDate: book.endDate}"></uib-datepicker>
                                            </md-menu-content>
                                        </md-menu>
                                    </span>
                                </div>
                                <div layout="column" flex="50" flex-sm="100" flex-xs="100" class="input-group">
                                    <label>Time</label>
                                    <input type="text" class="form-control" ng-model="flight.departTime" />
                                </div>
                                <div layout="column" flex="50" flex-sm="100" flex-xs="100" class="input-group datepicker">
                                    <label>Arrival Date</label>
                                    <input type="text" class="form-control " ng-model="flight.arrivalDate" uib-datepicker-popup="MM/dd/yy" />
                                    <span class="input-group-btn">
                                        <md-menu md-position-mode="target-right target" md-offset="158 36">
                                            <button type="button" class="btn btn-default date-button" ng-click="$mdOpenMenu($event)">
                                                <md-icon class="icon icon-calendar-travel"></md-icon>
                                            </button>
                                            <md-menu-content class="calendar up-arrow" md-prevent-menu-close>
                                                <uib-datepicker ng-model="flight.arrivalDate" datepicker-options="{startingDay: 0, formatDayTitle: 'MMMM', formatDay: 'd', minDate: book.startDate, maxDate: book.endDate}"></uib-datepicker>
                                            </md-menu-content>
                                        </md-menu>
                                    </span>
                                </div>
                                <div layout="column" flex="50" flex-sm="100" flex-xs="100" class="input-group">
                                    <label>Time</label>
                                    <input type="text" class="form-control" ng-model="flight.arrivalTime" />
                                </div>
                                <div layout="column" flex="100" class="input-group">
                                    <label>Notes</label>
                                    <input type="text" class="form-control" ng-model="flight.notes" />
                                </div>
                                <div layout="column" flex="100" class="input-group">
                                    <label>Attachments</label>
                                        <div layout="row">
                                            <md-button class="md-icon-button" aria-label="Attachments" ngf-select ng-model="flight.attachments">
                                                <md-icon class="icon icon-attach"></md-icon>
                                            </md-button>
                                            <span class="attachment">{{flight.attachments.name}}</span>
                                        </div>
                                </div>
                                <div flex="100" layout="row" class="btn-layout" layout-align="end center">
                                    <md-button ng-click="addFlight()">ADD</md-button>
                                    <md-button class="save" ng-click="saveitinerary()">Save</md-button>
                                </div>
                            </div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab>
                        <md-tab-label>
                            <md-icon class="icon icon-hotel"></md-icon>
                            <md-icon class="icon icon-hotel-active active"></md-icon>
                            <label>Hotel</label>
                        </md-tab-label>
                        <md-tab-body>
                            <div layout="row" layout-wrap>
                                <div layout="column" flex="100" class="input-group">
                                    <label>Hotel Name</label>
                                    <input type="text" class="form-control" ng-model="hotel.hotelName" />
                                </div>
                                <div layout="column" flex="100" class="input-group">
                                    <label>Address</label>
                                    <input type="text" class="form-control" ng-model="hotel.address" />
                                </div>
                                <div layout="column" flex="50" flex-sm="100" flex-xs="100" class="input-group datepicker">
                                    <label>Check-In Date</label>
                                    <input type="text" class="form-control " ng-model="hotel.checkInDate" uib-datepicker-popup="MM/dd/yy" />
                                    <span class="input-group-btn">
                                        <md-menu md-position-mode="target-right target" md-offset="158 36">
                                            <button type="button" class="btn btn-default date-button" ng-click="$mdOpenMenu($event)">
                                                <md-icon class="icon icon-calendar-travel"></md-icon>
                                            </button>
                                            <md-menu-content class="calendar up-arrow" md-prevent-menu-close>
                                                <uib-datepicker ng-model="hotel.checkInDate" datepicker-options="{startingDay: 0, formatDayTitle: 'MMMM', formatDay: 'd', minDate: book.startDate, maxDate: book.endDate}"></uib-datepicker>
                                            </md-menu-content>
                                        </md-menu>
                                    </span>
                                </div>
                                <div layout="column" flex="50" flex-sm="100" flex-xs="100" class="input-group">
                                    <label>Time</label>
                                    <input type="text" class="form-control" ng-model="hotel.checkInTime" />
                                </div>
                                <div layout="column" flex="50" flex-sm="100" flex-xs="100" class="input-group datepicker">
                                    <label>Check-Out Date</label>
                                    <input type="text" class="form-control " ng-model="hotel.checkOutDate" uib-datepicker-popup="MM/dd/yy" />
                                    <span class="input-group-btn">
                                        <md-menu md-position-mode="target-right target" md-offset="158 36">
                                            <button type="button" class="btn btn-default date-button" ng-click="$mdOpenMenu($event)">
                                                <md-icon class="icon icon-calendar-travel"></md-icon>
                                            </button>
                                            <md-menu-content class="calendar up-arrow" md-prevent-menu-close>
                                                <uib-datepicker ng-model="hotel.checkOutDate" datepicker-options="{startingDay: 0, formatDayTitle: 'MMMM', formatDay: 'd', minDate: book.startDate, maxDate: book.endDate}"></uib-datepicker>
                                            </md-menu-content>
                                        </md-menu>
                                    </span>
                                </div>
                                <div layout="column" flex="50" flex-sm="100" flex-xs="100" class="input-group">
                                    <label>Time</label>
                                    <input type="text" class="form-control" ng-model="hotel.checkOutTime" />
                                </div>
                                <div layout="column" flex="100" class="input-group">
                                    <label>Notes</label>
                                    <input type="text" class="form-control" ng-model="hotel.notes" />
                                </div>
                                <div layout="column" flex="100" class="input-group">
                                    <label>Attachments</label>
                                    <div layout="row">
                                        <md-button class="md-icon-button" aria-label="Attachments" ngf-select ng-model="hotel.attachments">
                                            <md-icon class="icon icon-attach"></md-icon>
                                        </md-button>
                                        <span class="attachment">{{hotel.attachments.name}}</span>
                                    </div>
                                </div>
                                <div flex="100" layout="row" class="btn-layout" layout-align="end center">
                                    <md-button ng-click="addHotel()">ADD</md-button>
                                    <md-button class="save" ng-click="saveitinerary()">Save</md-button>
                                </div>
                            </div>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </div>
            <div flex layout="column" class="left-layout" flex-xs="100">
                <div layout="row" layout-wrap class="date-layout" flex>
                    <div layout="row" flex="100" layout-wrap ng-repeat="data in itinerary.datas">
                        <h2 flex="100" ng-class="{'active': data.values.length}">{{data.date}}</h2>
                        <div class="value-group" layout="row" flex="100" ng-repeat="value in data.values">
                            <div>
                                <md-button class="md-icon-button" aria-label="remove" ng-click="removeItinerary($index,data.values)">
                                    <md-icon class="icon icon-small-close"></md-icon>
                                </md-button>
                            </div>
                            <div>
                                <md-icon class="icon icon-car-active" ng-if="value.type=='car'"></md-icon>
                                <md-icon class="icon icon-plane-active" ng-if="value.type=='flight'"></md-icon>
                                <md-icon class="icon icon-hotel-active" ng-if="value.type=='hotel'"></md-icon>
                                <md-icon class="icon icon-attachment" ng-if="value.attachments"></md-icon>
                            </div>
                            <div flex layout="row" layout-wrap>
                                <div layout="column" flex="100" class="text-group" ng-if="value.pickUpTime">
                                    <label>Pick up </label>
                                    <span class="value">{{value.pickUpTime}}</span>
                                </div>
                                <div layout="column" flex="100" class="text-group" ng-if="value.pickUpLocation">
                                    <label>Pick up Location</label>
                                    <span class="value">{{value.pickUpLocation}}</span>
                                </div>
                                <div layout="column" flex="100" class="text-group" ng-if="value.dropOffLocation">
                                    <label>Drop-off Location</label>
                                    <span class="value">{{value.dropOffLocation}}</span>
                                </div>

                                <div layout="column" flex="100" class="text-group" ng-if="value.flightNumber">
                                    <label>Flight Number</label>
                                    <span class="value">{{value.flightNumber}}</span>
                                </div>
                                <div layout="column" flex="50" class="text-group" ng-if="value.departTime">
                                    <label>Depart</label>
                                    <span class="value">{{value.departTime}}</span>
                                </div>
                                <div layout="column" flex="50" class="text-group" ng-if="value.from">
                                    <label>&nbsp;</label>
                                    <span class="value">{{value.from}}</span>
                                </div>
                                <div layout="column" flex="50" class="text-group" ng-if="value.arrivalTime">
                                    <label>Arrival</label>
                                    <span class="value">{{value.arrivalTime}}</span>
                                </div>
                                <div layout="column" flex="50" class="text-group" ng-if="value.to">
                                    <label>&nbsp;</label>
                                    <span class="value">{{value.to}}</span>
                                </div>

                                <div layout="column" flex="100" class="text-group" ng-if="value.hotelName">
                                    <label>Hotel Name</label>
                                    <span class="value">{{value.hotelName}}</span>
                                </div>
                                <div layout="column" flex="100" class="text-group" ng-if="value.address">
                                    <label>Address</label>
                                    <span class="value">{{value.address}}</span>
                                </div>
                                <div layout="column" flex="100" class="text-group" ng-if="value.checkInTime">
                                    <label>Check-In Time</label>
                                    <span class="value">{{value.checkInTime}}</span>
                                </div>
                                <div layout="column" flex="100" class="text-group" ng-if="value.checkOutTime">
                                    <label>Check-Out Time</label>
                                    <span class="value">{{value.checkOutTime}}</span>
                                </div>

                                <div layout="column" flex="100" class="text-group" ng-if="value.notes">
                                    <label>Notes</label>
                                    <span class="value">{{value.notes}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div layout="row" class="btn-layout" layout-align="end center">
                    <md-button ng-click="saveitinerary()">Save</md-button>
                </div>
            </div>
        </div>
    </div>
</md-dialog>