﻿<md-dialog id="invite-collaborators">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="close">
                <md-icon class="icon icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div layout="row" flex layout-wrap>
        <div layout="row" flex="100" layout-wrap class="top-layout">
            <label flex="100" class="heading">INVITE COLLABORATORS</label>
            <label flex="100">Name or email</label>
            <input flex="100" type="text" placeholder="" />
            <label flex="100">INCLUDE A NOTE (OPTIONAL)</label>
            <textarea flex="100">Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim.</textarea>
            <div layout="row" flex="100" layout-align="center center">
                <md-button>INVITE</md-button>
            </div>
        </div>
        <div layout="row" flex="100" layout-wrap class="bottom-layout" layout-align="center center">
            <label flex="100" class="heading">CURRENT COLLABORATORS</label>
            <md-content flex="100" layout="column">
                <div layout="row" class="total-layout" flex layout-wrap layout-align="start start">
                    <div layout="row" class="content-layout" flex="100" ng-repeat="collaborator in collaborators">
                        <a href="javascript:void(0)" ng-click="removecollaborator($index)" class="remove-btn">
                            <md-icon class="icon icon-small-close material-icons" aria-hidden="true"></md-icon>
                        </a>
                        <img ng-src="{{collaborator.avatar}}" />
                        <div layout="row" class="data-layout" flex>                            
                            <label class="name">{{collaborator.name}}</label>
                            <span flex></span>
                            <label class="owner" ng-if="collaborator.profession">{{collaborator.profession}}</label>
                            <md-menu md-offset="0 40" class="select-menu">
                                <div>
                                    <md-button ng-click="$mdOpenMenu($event)">
                                        {{collaborator.profession}}
                                        <md-icon class="icon icon-chevron"></md-icon>
                                    </md-button>                                    
                                </div>
                                <md-menu-content class="select-dropdown">
                                    <md-list-item>                                        
                                        <md-button ng-click="collaborator.profession='CAN EDIT'">CAN EDIT</md-button>
                                    </md-list-item>                                  
                                    <md-list-item>
                                        <md-button ng-click="collaborator.profession='VIEW ONLY'">VIEW ONLY</md-button>
                                    </md-list-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </div>
            </md-content>
        </div>
    </div>
</md-dialog>