﻿<md-content>
    <md-list flex>
        <h2>YOUR ARTISTS</h2>
        <md-list-item  ng-repeat="crew in crews" ng-class="{'selected': checkCerw(crew)}" ng-click="selectCerw(crew)">
            <img ng-src={{crew.profile}} class="avatar" />
            <div class="crew-Name">
                {{crew.name}}
            </div>
        </md-list-item>
    </md-list>
</md-content>


