﻿<md-content ng-controller="ProductionEditCtrl as pc">
    <div layout="row" class="assemble-bar" layout-wrap>
        <div class="avatar-layout text-center" layout="row" layout-wrap>
            <div flex="50" ng-repeat="logo in pc.book.logo track by $index">
                <img ngf-src="logo" class="avatar" />
            </div>
            
            <md-button class="md-icon-button" aria-label="browse" ng-click="pc.updatelogo()">
                <md-icon class="icon icon-camera"></md-icon>
            </md-button>
        </div>
        <label layout="row" layout-align="center center" class="project-name" flex="100">
            {{pc.book.bookName}}
        </label>
        <md-button class="black-btn" flex="100" ng-disabled="true" ng-if="!pc.book.publish">PUBLISH</md-button>
        <md-button class="black-btn yellow-btn" flex="100" ng-disabled="true" ng-if="pc.book.publish">PUBLISHED</md-button>
        <md-button class="outline-btn" flex="100" ng-click="pc.inviteCollaborators($event)">
            <md-icon class="icon icon-add-crew "></md-icon>INVITE COLLABORATORS
        </md-button>
        <md-button class="outline-btn" flex="100">
            <md-icon class="icon icon-download"></md-icon>DOWNLOAD AS PDF
        </md-button>
        <md-button class="outline-btn" flex="100" ng-click="pc.editProductinBook($event)">
            EDIT PRODUCTION BOOK
        </md-button>
        <div layout="column" class="control-layout" flex="100">
            <h2 class="title">JOB NUMBER</h2>
            <div class="value">{{pc.book.jobNo}}</div>           
        </div>
        <div layout="column" class="control-layout" flex="100">
            <h2 class="title">DATES</h2>
            <div class="value">{{pc.book.startDate  | date : 'MMMM d, yyyy'}}</div>
            <div class="value">{{pc.book.endDate  | date : 'MMMM d, yyyy'}}</div>            
        </div>
        <div layout="column" class="control-layout"  flex="100">
            <h2 class="title">CLIENT</h2>
            <div ng-repeat="client in pc.book.client">
                <span class="value">{{client}}</span>
            </div>
        </div>
        <div layout="column" class="control-layout"  flex="100">
            <h2 class="title">AGENCY</h2>
            <div ng-repeat="agency in pc.book.agency">
                <span class="value">{{agency}}</span>
            </div>
        </div>
        <div layout="column" class="control-layout" flex="100">
            <h2 class="title">SHOOTING NOTES</h2>
            <div class="value">{{pc.book.shootNotes}}</div>            
        </div>
        <div layout="column" class="control-layout" flex="100">
            <h2 class="title">BILLING INFO</h2>
            <div class="value">{{pc.book.billingInfo}}</div>            
        </div>
        <div layout="column" class="control-layout" flex="100">
            <h2 class="title">USAGE TERMS</h2>
            <div class="value">{{pc.book.usageTerms}}</div>            
        </div>
        <div layout="column" class="control-layout" flex="100">
            <h2 class="title">START DATE</h2>
            <div class="value">{{pc.book.startDate1  | date : 'MMMM d, yyyy'}}</div>            
        </div>
        <div layout="column" class="control-layout" flex="100">
            <h2 class="title">END DATE</h2>
            <div class="value">{{pc.book.endDate1  | date : 'MMMM d, yyyy'}}</div>           
        </div>
    </div>
</md-content>