﻿<md-dialog id="image-upload" flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="close">
                <md-icon class="icon icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div layout="row" layout-wrap flex class="inner-layout">
        <label flex="100">UPLOAD UP TO 4 LOGOS</label>
        <div layout="row" flex="100" layout-wrap class="profile-pic-area">
            <div layout="row" layout-wrap class="profile-pic">
                <div layout="row" class="images" layout-wrap flex-xs="100" ng-repeat="logo in book.logo track by $index">
                    <md-menu class="menu" md-offset="73 112">
                        <div class="avatar-display" ng-click="$mdOpenMenu($event)" flex layout="column">
                            <img ng-if="logo" ngf-src="logo" />
                            <div>
                                <md-icon ng-if="!logo" class="icon icon-camera-large"></md-icon>
                            </div>
                            <label class="main-logo" ng-if="$index == 0">THIS WILL BE THE MAIN LOGO</label>
                        </div>
                        <md-menu-content class="upload-options">
                            <md-menu-item>
                                <md-button ngf-select="" ng-model="logo" name="file" ngf-accept="'image/*'" required="">UPLOAD NEW</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="removeLogo($index)">REMOVE</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </div>
        <div class="images" flex="100">
        </div>
    </div>
</md-dialog>

