﻿<md-dialog id="production-creation">
    <div layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" aria-label="close">
                    <md-icon class="icon icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div layout="row" flex layout-wrap class="form-container">
            <label flex="100" ng-if="!production.id">CREATE NEW PRODUCTION BOOK</label>
            <label flex="100" ng-if="production.id"> EDIT PRODUCTION BOOK</label>
            <div layout="row" layout-wrap flex="100" class="form-layout" layout-align="center center">
                <div class="form-group" flex="100">
                    <label> Book Name </label>
                    <input type="text" class="form-control" ng-model="production.bookName" />
                </div>
                <div class="form-group" flex="100">
                    <label> Job Number </label>
                    <input type="text" class="form-control" ng-model="production.jobNo" />
                </div>
                <div class="form-group" flex="50" flex-xs="100">
                    <label> Start Date</label>
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="MMM dd, yyyy" ng-model="production.startDate" />
                        <span class="input-group-btn">
                            <md-menu md-position-mode="target-right target" md-offset="158 36">
                                <button type="button" class="btn btn-default datebutton" ng-click="$mdOpenMenu($event)">
                                    <md-icon class="icon icon-datepicker"></md-icon>
                                </button>
                                <md-menu-content class="calendar up-arrow" md-prevent-menu-close>
                                    <uib-datepicker ng-model="production.startDate" datepicker-options="{startingDay: 0, formatDayTitle: 'MMMM', formatDay: 'd', minDate: today}"></uib-datepicker>
                                </md-menu-content>
                            </md-menu>
                        </span>
                    </div>
                </div>
                <div class="form-group" flex="50" flex-xs="100">
                    <label> End Date</label>
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="MMM dd, yyyy" ng-model="production.endDate" />
                        <span class="input-group-btn">
                            <md-menu md-position-mode="target-right target" md-offset="158 36">
                                <button type="button" class="btn btn-default datebutton" ng-click="$mdOpenMenu($event)" ng-disabled="!production.startDate">
                                    <md-icon class="icon icon-datepicker"></md-icon>
                                </button>
                                <md-menu-content class="calendar up-arrow" md-prevent-menu-close>
                                    <uib-datepicker ng-model="production.endDate" datepicker-options="{startingDay: 0, formatDayTitle: 'MMMM', formatDay: 'd', minDate : production.startDate}"></uib-datepicker>
                                </md-menu-content>
                            </md-menu>
                        </span>
                    </div>
                </div>
                <div class="form-group" flex="100">
                    <label> Client </label>
                    <input type="text" class="form-control" ng-model="production.client" />
                </div>
                <div class="form-group" flex="100">
                    <label> Agency </label>
                    <input type="text" class="form-control" ng-model="production.agency" />
                </div>
                <div class="form-group" flex="100">
                    <label> Shoot Notes </label>
                    <textarea rows="3" class="form-control" ng-model="production.shootNotes"></textarea>
                </div>
                <div class="form-group" flex="100">
                    <label> Billing Info </label>
                    <textarea rows="3" class="form-control" ng-model="production.billingInfo"></textarea>
                </div>
                <div class="form-group" flex="100">
                    <h3>USAGE (OPTIONAL)</h3>
                </div>
                <div class="form-group" flex="100">
                    <label> Usage Terms</label>
                    <textarea rows="3" class="form-control" ng-model="production.usageTerms"></textarea>
                </div>
                <div class="form-group" flex="50" flex-xs="100">
                    <label> Usage Start Date </label>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="MMM dd, yyyy" ng-model="production.startDate1" />
                        <span class="input-group-btn">
                            <md-menu md-position-mode="target-right target" md-offset="158 -386">
                                <button type="button" class="btn btn-default datebutton" ng-click="$mdOpenMenu($event)">
                                    <md-icon class="icon icon-datepicker"></md-icon>
                                </button>
                                <md-menu-content class="calendar down-arrow" md-prevent-menu-close>
                                    <uib-datepicker ng-model="production.startDate1" datepicker-options="{startingDay: 0, formatDayTitle: 'MMMM', formatDay: 'd', minDate : today}"></uib-datepicker>
                                </md-menu-content>
                            </md-menu>
                        </span>
                    </p>
                </div>
                <div class="form-group" flex="50" flex-xs="100">
                    <label> Usage End Date </label>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="MMM dd, yyyy" ng-model="production.endDate1" />
                        <span class="input-group-btn">
                            <md-menu md-position-mode="target-right target" md-offset="158 -386">
                                <button type="button" class="btn btn-default datebutton" ng-click="$mdOpenMenu($event)" ng-disabled="!production.startDate1">
                                    <md-icon class="icon icon-datepicker"></md-icon>
                                </button>
                                <md-menu-content class="calendar down-arrow" md-prevent-menu-close>
                                    <uib-datepicker ng-model="production.endDate1" datepicker-options="{startingDay: 0, formatDayTitle: 'MMMM', formatDay: 'd', minDate : production.startDate1}"></uib-datepicker>
                                </md-menu-content>
                            </md-menu>
                        </span>
                    </p>
                </div>
                <div flex="100" class="text-center">
                    <md-button class="btn-create" ng-click="save()">
                        <span ng-if="!production.id">CREATE</span>
                        <span ng-if="production.id">SAVE CHANGES</span>
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</md-dialog>