<div layout="column" flex>
    <div layout="column">
        <div>
            <md-nav-bar md-selected-nav-item="currentNavItem" id="page-nav" layout-algin="center center" aria-label="page-nav">
                <md-nav-item md-nav-click="clickNavigation('#/production/current')" name="current">CURRENT</md-nav-item>
                <md-nav-item md-nav-click="clickNavigation('#/production/completed')" name="completed">COMPLETED</md-nav-item>
            </md-nav-bar>
        </div>
    </div>
    <md-button class="md-icon-button" id="leftnav-min-btn" ng-class="{'open' :(sidenavOpen), 'close':(!sidenavOpen),'showExpander' :screen}" aria-label="open sidebar" ng-click="sidebarToggle()" ng-if="user.agent">
        <md-icon class="icon icon-minimize"></md-icon>
    </md-button>
    <div layout="row" flex>
        <md-sidenav class="md-sidenav-left" id="production-book-sidebar" ng-class="{'leftside-nav-area' :screen}" md-is-open="sidenavOpen" md-is-locked-open="$mdMedia('gt-xs')" md-component-id="left" md-disable-backdrop md-whiteframe="4" ng-include="productionSideBar" ng-if="user.agent">
        </md-sidenav>
        <md-content layout="row" flex id="production-book-list">
            <div layout="row" class="table-container" layout-wrap flex="100">
                <div class="button-layout" flex="100" layout-align="center center">
                    <md-button class="new-btn" ng-click="creation($event)">+ NEW PRODUCTION BOOK</md-button>
                </div>
                <div class="title-layout" flex="100">
                    In Production &nbsp;<span class="count"> ({{progressBooks.length}}) </span>
                </div>
                <div layout="row" ng-show="progressBooks.length" flex="100">
                    <div class="table-condensed table-responsive" flex>
                        <table class="table">
                            <tr>
                                <th></th>
                                <th></th>
                                <th> Date </th>
                                <th> Book Name </th>
                                <th> Agency </th>
                                <th> Client </th>
                            </tr>
                            <tr ng-repeat="book in progressBooks = ( productinBooks | filter : { status: 2} | filter :selectCerwFilter)" xe-href="/production/{{book.id}}/assemble">
                                <td> {{$index+1}} </td>
                                <td>
                                    <img class="logo" ngf-src="book.logo[0]" />
                                </td>
                                <td>
                                    {{book.startDate | date : 'MMMM d, yyyy' }} -
                                    <div>{{book.endDate | date : 'MMMM d, yyyy'}}</div>
                                </td>
                                <td>
                                    <b>{{book.bookName}}</b>
                                    <div>
                                        JOB NUMBER: <b>{{book.jobNo}}</b>
                                    </div>
                                </td>
                                <td>
                                    <b ng-repeat="agency in book.agency">{{agency}}</b>                                    
                                </td>
                                <td>
                                    <span ng-repeat="client in book.client">{{client}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <md-divider flex="100"></md-divider>
                <div class="title-layout" flex="100">
                    Drafts &nbsp;<span class="count"> ({{progressBooks.length}}) </span>
                </div>
                <div ng-show="draftsBooks.length" flex="100">
                    <div class="table-condensed table-responsive" flex>
                        <table class="table">
                            <tr>
                                <th></th>
                                <th></th>
                                <th> Date </th>
                                <th> Book Name </th>
                                <th> Agency </th>
                                <th> Client </th>
                            </tr>
                            <tr ng-repeat="book in draftsBooks = ( productinBooks | filter : { status: 1}  | filter :selectCerwFilter)" xe-href="/production/{{book.id}}/assemble">
                                <td> {{$index+1}} </td>
                                <td>
                                    <img class="logo" ngf-src="book.logo[0]" />
                                </td>
                                <td>
                                    {{book.startDate | date : 'MMMM d, yyyy' }} -
                                    <div>{{book.endDate | date : 'MMMM d, yyyy'}}</div>
                                </td>
                                <td>
                                    <b>{{book.bookName}}</b>
                                    <div>
                                        JOB NUMBER: <b>{{book.jobNo}}</b>
                                    </div>
                                </td>
                                <td>
                                    <b ng-repeat="agency in book.agency">{{agency}}</b>
                                </td>
                                <td>
                                    <span ng-repeat="client in book.client">{{client}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </md-content>
    </div>
</div>
