﻿<div layout="column" flex>
    <div layout="column">
        <div>
            <md-nav-bar aria-label="topbar" md-selected-nav-item="currentNavItem" id="page-nav" layout-algin="center center">
                <md-nav-item md-nav-click="clickNavigation('assemble')" name="assemble">ASSEMBLE</md-nav-item>
                <md-nav-item md-nav-click="clickNavigation('schedule')" name="schedule">SCHEDULE</md-nav-item>
                <md-nav-item md-nav-click="clickNavigation('travel')" name="travel">TRAVEL</md-nav-item>
                <md-nav-item md-nav-click="clickNavigation('attachments')" name="attachments">ATTACHMENTS</md-nav-item>
            </md-nav-bar>
        </div>
    </div>
    <md-button class="md-icon-button" id="leftnav-min-btn" ng-class="{'open' :(sidenavOpen), 'close':(!sidenavOpen),'showExpander' :screen}" aria-label="open sidebar" ng-click="sidebarToggle()">
    <md-icon class="icon icon-minimize"></md-icon>
    </md-button>
    <div layout="row" flex>
        <md-sidenav class="md-sidenav-left" id="assemble-sideBar" ng-class="{'leftside-nav-area' :screen}" md-is-open="sidenavOpen" md-is-locked-open="$mdMedia('gt-xs')" md-component-id="left" md-disable-backdrop md-whiteframe="4" ng-include="sidebar">
        </md-sidenav>
        <md-content layout="column" id="schedule-content" flex>
            <div layout="row" layout-wrap>
                <div flex="100" class="button-layout">
                    <md-menu md-position-mode="target-right target" md-offset="103 30">
                        <md-button class="new-date-btn" ng-click="$mdOpenMenu($event)">
                            <md-icon class="icon icon-add-small-white"></md-icon> NEW DATE
                        </md-button>
                        <md-menu-content class="calendar up-arrow" md-prevent-menu-close>
                            <uib-datepicker ng-model="selected" ng-change="addSchedule(selected)" datepicker-options="{startingDay: 0, formatDayTitle: 'MMMM', formatDay: 'd', minDate: today}"></uib-datepicker>
                        </md-menu-content>
                    </md-menu>
                </div>
                <div flex="100" class="events" ng-repeat="schedule in schedules">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <md-button class="md-icon-button remove-btn" aria-label="remove Event" ng-click="remove($index)">
                                <md-icon class="icon icon-small-close"></md-icon>
                            </md-button>
                            <h2>
                                <span class="week-text">{{schedule.date | date : 'EEE '}}</span>
                                <span class="dot"></span>
                                <span class="date-text">{{schedule.date | date : 'MMMM  d, yyyy' }}</span>
                            </h2>
                            <span flex></span>
                            <md-button class="add-event" ng-click="addcrew(schedule)">
                                <md-icon class="icon icon-add-small"></md-icon>EVENT
                            </md-button>
                        </div>
                    </md-toolbar>
                    <div class="table-responsive">
                        <table class="table event-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Time</th>
                                    <th>Location</th>
                                    <th>Action</th>
                                    <th>Crew</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="detail in schedule.event">
                                <td>
                                    <md-menu md-offset="0 45" class="select-menu">
                                        <div>
                                            <md-checkbox md-no-ink aria-label="artistcheck" class="md-primary" ng-click="$mdOpenMenu($event)">
                                            </md-checkbox>
                                            <md-icon class="icon icon-grey-chevron"></md-icon>
                                        </div>
                                        <md-menu-content class="select-dropdown">
                                            <md-list-item>
                                                MESSAGE ALL
                                            </md-list-item>
                                            <md-list-item ng-click="deleteEvent(schedule.event, $index)">
                                                DELETE EVENT
                                            </md-list-item>
                                        </md-menu-content>
                                    </md-menu>
                                </td>
                                <td>                                    
                                    <md-menu md-position-mode="target-right target" md-offset="43 30">
                                        <span ng-model="detail.time" class="form-control time" ng-class="{'empty-time': !detail.time}" ng-click="$mdOpenMenu($event)">{{detail.time | date:'shortTime' }}</span>
                                        <md-menu-content class="calendar time-picker up-arrow" md-prevent-menu-close>
                                            <uib-timepicker ng-model="detail.time"></uib-timepicker>
                                        </md-menu-content>
                                    </md-menu>
                                </td>
                                <td>
                                    <input type="text" ng-model="detail.location" class="form-control location" placeholder="Add a location" />
                                </td>
                                <td>
                                    <input type="text" ng-model="detail.action" class="form-control action" placeholder="Add an action item" />
                                </td>
                                <td>
                                    <div layout="row" class="crew-avatars travelers-layout">
                                        <md-button class="md-icon-button add-crew-btn" aria-label="crew" ng-click="addcrewdialog($event,detail)">
                                            <md-icon class="icon icon-add-crew-24" ></md-icon>
                                        </md-button>
                                        <div layout="row">
                                            <md-menu ng-repeat="crews in detail.crew | limitTo : numberOfCrews" md-offset="-55 50">
                                                <img ng-src="{{crews.avatar}}" ng-click="$mdOpenMenu($event)" />
                                                <md-menu-content class="crew-dropdown" md-offset="">                                                   
                                                    <md-menu-item layout="row">
                                                        <img ng-src="{{crews.avatar}}" />
                                                        <div flex layout="column" ayout-align="space-between start">
                                                            <div class="job">{{crews.artist}}</div>
                                                            <div class="name">{{crews.name}}</div>
                                                            <div class="phone">{{crews.phoneNumber}}</div>
                                                        </div>
                                                    </md-menu-item>
                                                    <md-menu-item layout="row" flex class="button-layout">
                                                        <md-button aria-label="More">
                                                            <md-icon class="icon icon-envelope"></md-icon>
                                                        </md-button>
                                                        <md-divider></md-divider>
                                                        <md-button aria-label="More" ng-click="removeExtra($index,detail.crew)">
                                                            <md-icon class="icon icon-medium-x"></md-icon>
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                            <md-menu ng-if="detail.crew.length> numberOfCrews" md-offset="-200 60">
                                                <md-button class="md-fab md-mini" aria-label="remaining" ng-click="$mdOpenMenu($event)">
                                                    <label>{{detail.crew.length - numberOfCrews}}</label>
                                                </md-button>
                                                <md-menu-content class="more-crew-dropdown">
                                                    <md-menu-item layout="row" ng-repeat="crews in detail.crew | limitTo : 9999 : numberOfCrews">
                                                        <img ng-src="{{crews.avatar}}" />
                                                        <div layout="column">
                                                            <label class="job">{{crews.artist}}</label>
                                                            <label class="name">{{crews.name}}</label>
                                                            <div class="phone">{{crews.phoneNumber}}</div>
                                                        </div>
                                                        <md-icon class="icon icon-envelope"></md-icon>
                                                        <md-icon class="icon icon-medium-x" ng-click="removeExtra($index,detail.crew)"></md-icon>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </md-content>
    </div>
</div>