﻿<md-dialog id="schedule-add-crew">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="close">
                <md-icon class="icon icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <div layout="row" layout-wrap>
            <div flex="100">
                <h2>SHARE WITH CREW</h2>
            </div>
            <div flex="100">
                <label>
                    SELECT FROM CREW
                </label>
            </div>
            <md-content class="crew-list">
                <div layout="row" layout-wrap layout-align="start start" class="crew-items">                    
                    <div flex="50" layout="row" ng-repeat="item in crewMembers track by item.id" class="crew-item" ng-click="selectCerw(item)">
                        <div flex layout="row" class="bordered" ng-class="{'selected': item.selected}">
                            <img ng-src="{{item.avatar}}" />
                            <div layout="column">
                                <div class="job">{{item.artist}}</div>
                                <div class="name">{{item.name}}</div>
                                <div class="phone">{{item.phoneNumber}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-content>
            <div flex="100">
                <label>
                    INCLUDE A NOTE (OPTIONAL)
                </label>
            </div>
            <div flex="100">
                <textarea>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim.</textarea>
            </div>
            <div flex="100" class="text-center">
                <md-button  ng-click="addCrews(selectedCrews)">SHARE</md-button>
            </div>

        </div>
    </md-content>
</md-dialog>