﻿<md-dialog aria-label="sharedwinkboard" id="sharedwinkboard">
    <md-toolbar>
        <ul>
            <li class="pull-right">
                <md-button class="md-icon-button closeAlign" ng-click="cancel()">
                    <img src="images/data/icon_x.png" aria-label="Close dialog">
                </md-button>
            </li>
        </ul>
        <div layout="column" class="toolbar-content">
            <div layout="row" flex="100" layout-wrap>
                <label flex="100">SHARE WINKBOARD</label>
                <div class="input-group search-group" flex="100">
                    <input type="text" ng-model="search" class="form-control" id="search" placeholder="Search Wink Boards">
                    <div class="input-group-addon">
                        <md-icon class="icon icon-magnify"></md-icon>
                    </div>
                </div>
            </div>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column" flex>
        <div layout="row" flex layout-wrap class="content-layout">
            <div flex="33" flex-xs="100" flex-sm="50" flex-md="33" flex-lg="33" flex-gt-lg="33" ng-repeat="shares in sharedwink">
                <md-card class="winkboard" layout="column" ng-class="{'selected' : clicked}" ng-click="clicked = !clicked">
                    <div flex layout="column">
                        <div flex class="image-layout">
                            <img class="md-user-avatar" ng-src="{{shares.winks[0]}}" />
                        </div>
                        <div flex layout="row" ng-if="shares.winks[1]">
                            <div flex class="image-layout">
                                <img class="md-user-avatar" ng-src="{{shares.winks[1]}}" />
                            </div>
                            <div flex class="image-layout" ng-if="shares.winks[2]">
                                <img class="md-user-avatar" ng-src="{{shares.winks[2]}}" />
                            </div>
                        </div>
                        <span class="winks" ng-if="shares.winks.length">{{shares.winks.length}} WINKS</span>
                    </div>
                    <md-card-actions layout="row" layout-align="start center" uib-dropdown>
                        <md-card-icon-actions class="wink-text">
                            {{shares.caption}}
                        </md-card-icon-actions>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
        <div class="buttom-layout" flex layout="row" layout-align="end center">
            <md-button ng-click="save()">ADD</md-button>
        </div>
    </md-dialog-content>
</md-dialog>