﻿<div layout="column" flex>
    <div layout="column">
        <div>
            <md-nav-bar aria-label="topbar" md-selected-nav-item="currentNavItem" id="page-nav" layout-algin="center center">
                <md-nav-item md-nav-click="clickNavigation('assemble')" name="assemble">ASSEMBLE</md-nav-item>
                <md-nav-item md-nav-click="clickNavigation('schedule')" name="schedule">SCHEDULE</md-nav-item>
                <md-nav-item md-nav-click="clickNavigation('travel')" name="travel">TRAVEL</md-nav-item>
                <md-nav-item md-nav-click="clickNavigation('attachments')" name="attachments">ATTACHMENTS</md-nav-item>
            </md-nav-bar>
        </div>
    </div>
    <md-button class="md-icon-button" id="leftnav-min-btn" ng-class="{'open' :(sidenavOpen), 'close':(!sidenavOpen),'showExpander' :screen}" aria-label="open sidebar" ng-click="sidebarToggle()">
        <md-icon class="icon icon-minimize"></md-icon>
    </md-button>
        <div layout="row" flex>
            <md-sidenav class="md-sidenav-left" id="assemble-sideBar" ng-class="{'leftside-nav-area' :screen}" md-is-open="sidenavOpen" md-is-locked-open="$mdMedia('gt-xs')" md-component-id="left" md-disable-backdrop md-whiteframe="4" ng-include="sidebar">
            </md-sidenav>
            <md-content layout="column" flex>
                <div layout="row" layout-wrap id="travel-content">
                    <div flex="100" class="button-layout">
                        <md-button class="new-date-btn" ng-click="addItinerary($event)">
                            <md-icon class="icon icon-add-small-white"></md-icon> NEW ITINERARY
                        </md-button>
                    </div>
                    <div layout="row" layout-wrap flex="50" flex-xs="100" flex-sm="100" class="card-layout" ng-repeat="itinerary in itinerarys">
                        <div class="travel-card" layout="column" layout-wrap flex="100">
                            <div class="card-header" layout="column">
                                <div layout="row" layout-wrap flex="100">
                                    <div layout="column">
                                        <label>Itinerary Name</label>
                                        <span>{{itinerary.name}}</span>
                                    </div>
                                    <span flex></span>
                                    <div>
                                        <md-menu md-offset="-105 50">
                                            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                                <md-icon class="icon icon-options-active" aria-label="menu">
                                            </md-button>
                                            <md-menu-content class="options-dropdown">
                                                <md-list flex>
                                                    <md-list-item>
                                                        <md-button ng-click="editItinerary(itinerary, $event)">
                                                            <md-icon class="icon icon-edit"></md-icon>
                                                            Edit
                                                        </md-button>
                                                    </md-list-item>
                                                    <md-list-item>
                                                        <md-menu md-offset="-77 12">
                                                            <md-button aria-label="share" ng-click="$mdOpenMenu($event)">
                                                                <md-icon class="icon icon-share-16"></md-icon>
                                                                Share
                                                            </md-button>
                                                            <md-menu-content class="share-dropdown">
                                                                <div class="input-group search-group">
                                                                    <input type="text" ng-model="search" class="form-control" id="search" placeholder="Name or email">
                                                                    <div class="input-group-addon hover">
                                                                        <md-icon class="icon icon-go"></md-icon>
                                                                        <md-icon class="icon icon-go-active hover"></md-icon>
                                                                    </div>
                                                                </div>
                                                                <md-list flex>
                                                                    <md-list-item>
                                                                        <md-button flex layout="row">
                                                                            <img src="images/data/avatar-1.png" class="md-avatar" />
                                                                            <div class="md-list-item-text" layout="column">
                                                                                <h2>Assistant</h2>
                                                                                <h3>Chad Cooper</h3>
                                                                            </div>
                                                                        </md-button>
                                                                    </md-list-item>
                                                                    <md-list-item>
                                                                        <md-button flex layout="row">
                                                                            <img src="images/data/avatar-2.png" class="md-avatar" />
                                                                            <div class="md-list-item-text" layout="column">
                                                                                <h2>Photographer</h2>
                                                                                <h3>Heather Greene</h3>
                                                                            </div>
                                                                        </md-button>
                                                                    </md-list-item>
                                                                    <md-list-item>
                                                                        <md-button flex layout="row">
                                                                            <img src="images/data/avatar-3.png" class="md-avatar" />
                                                                            <div class="md-list-item-text" layout="column">
                                                                                <h2>Art Director</h2>
                                                                                <h3>Matt Jackson</h3>
                                                                            </div>
                                                                        </md-button>
                                                                    </md-list-item>
                                                                    <md-list-item>
                                                                        <md-button flex layout="row">
                                                                            <img src="images/data/avatar-4.png" class="md-avatar" />
                                                                            <div class="md-list-item-text" layout="column">
                                                                                <h2>Set Designer</h2>
                                                                                <h3>Lili Regen</h3>
                                                                            </div>
                                                                        </md-button>
                                                                    </md-list-item>
                                                                </md-list>
                                                                <div class="social-media-group">
                                                                    <h2>Share on social media</h2>
                                                                    <div class="icon-btns" ng-show="!openlink">
                                                                        <md-button class="md-icon-button icon-btn" aria-label="share">
                                                                            <md-icon class="icon icon-facebook"></md-icon>
                                                                        </md-button>
                                                                        <md-button class="md-icon-button icon-btn" aria-label="share">
                                                                            <md-icon class="icon icon-linkedin"></md-icon>
                                                                        </md-button>
                                                                        <md-button class="md-icon-button icon-btn" aria-label="share">
                                                                            <md-icon class="icon icon-twitter"></md-icon>
                                                                        </md-button>
                                                                        <md-button class="md-icon-button icon-btn" aria-label="share" ng-click="openlink=true" md-prevent-menu-close>
                                                                            <md-icon class="icon icon-social-media"></md-icon>
                                                                        </md-button>
                                                                    </div>
                                                                    <div class="input-group social-media-link" ng-show="openlink">
                                                                        <md-icon class="icon icon-link"></md-icon>
                                                                        <input type="text" class="form-control" placeholder="" value="http://lenspire.com/abc">
                                                                        <div class="input-group-addon" ng-click="openlink=false" md-prevent-menu-close>
                                                                            <md-icon class="icon icon-close-12x12"></md-icon>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </md-menu-content>
                                                        </md-menu>
                                                    </md-list-item>
                                                    <md-list-item>
                                                        <md-button ng-click="deleteItinerary($index)">
                                                            <md-icon class="icon icon-delete-16"></md-icon>
                                                            Remove
                                                        </md-button>
                                                    </md-list-item>
                                                </md-list>
                                            </md-menu-content>
                                        </md-menu>
                                    </div>
                                </div>
                                <div layout="row" layout-wrap flex="100">
                                    <div layout="column">
                                        <label>Travelers</label>
                                        <div layout="row" class="travelers-layout">
                                            <md-button class="md-icon-button add-crew-btn" aria-label="crew">
                                                <md-icon class="icon icon-add-crew-24" ng-click="addTraveler($event, itinerary)"></md-icon>
                                            </md-button>
                                            <md-menu ng-repeat="crews in itinerary.travelers | limitTo : numberOfCrews" md-offset="-55 50">
                                                <img ng-src="{{crews.avatar}}" ng-click="$mdOpenMenu($event)" />
                                                <md-menu-content class="crew-dropdown" md-offset="">
                                                    <md-menu-item layout="row">
                                                        <img ng-src="{{crews.avatar}}" />
                                                        <div flex layout="column" ayout-align="space-between start">
                                                            <div class="job">{{crews.artist}}</div>
                                                            <div class="name">{{crews.name}}</div>
                                                            <div class="phone">{{crews.phoneNumber}}</div>
                                                        </div>
                                                    </md-menu-item>
                                                    <md-menu-item layout="row" flex class="button-layout">
                                                        <md-button aria-label="More">
                                                            <md-icon class="icon icon-envelope"></md-icon>
                                                        </md-button>
                                                        <md-divider></md-divider>
                                                        <md-button aria-label="More" ng-click="removeCrews($index,itinerary.travelers)">
                                                            <md-icon class="icon icon-medium-x"></md-icon>
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                            <md-menu ng-if="itinerary.travelers.length>5" md-offset="-200 60">
                                                <md-button class="md-fab md-mini" aria-label="remaining" ng-click="$mdOpenMenu($event)">
                                                    <label>{{itinerary.travelers.length-numberOfCrews}}</label>
                                                </md-button>
                                                <md-menu-content class="more-crew-dropdown">
                                                    <md-menu-item layout="row" ng-repeat="crews in itinerary.travelers | limitTo : 9999 : numberOfCrews">
                                                        <img ng-src="{{crews.avatar}}" />
                                                        <div layout="column">
                                                            <label class="job">{{crews.artist}}</label>
                                                            <label class="name">{{crews.name}}</label>
                                                            <div class="phone">{{crews.phoneNumber}}</div>
                                                        </div>
                                                        <md-icon class="icon icon-envelope"></md-icon>
                                                        <md-icon class="icon icon-medium-x" ng-click="removeCrews($index,itinerary.travelers)"></md-icon>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div layout="row" layout-wrap class="date-layout" flex>
                                <div layout="row" flex="100" layout-wrap ng-repeat="data in itinerary.datas">
                                    <h2 flex="100" ng-class="{'active': data.values.length}">{{data.date}}</h2>
                                    <div class="value-group" layout="row" flex="100" ng-repeat="value in data.values">
                                        <div>
                                            <md-icon class="icon icon-car-active" ng-if="value.type=='car'"></md-icon>
                                            <md-icon class="icon icon-plane-active" ng-if="value.type=='flight'"></md-icon>
                                            <md-icon class="icon icon-hotel-active" ng-if="value.type=='hotel'"></md-icon>
                                            <md-icon class="icon icon-attachment" ng-if="value.attachments"></md-icon>
                                        </div>
                                        <div flex layout="row" layout-wrap>
                                            <div layout="column" flex="100" class="text-group" ng-if="value.pickUpTime">
                                                <label>Pick up </label>
                                                <span class="value">{{value.pickUpTime}}</span>
                                            </div>
                                            <div layout="column" flex="100" class="text-group" ng-if="value.pickUpLocation">
                                                <label>Pick up Location</label>
                                                <span class="value">{{value.pickUpLocation}}</span>
                                            </div>
                                            <div layout="column" flex="100" class="text-group" ng-if="value.dropOffLocation">
                                                <label>Drop-off Location</label>
                                                <span class="value">{{value.dropOffLocation}}</span>
                                            </div>

                                            <div layout="column" flex="100" class="text-group" ng-if="value.flightNumber">
                                                <label>Flight Number</label>
                                                <span class="value">{{value.flightNumber}}</span>
                                            </div>
                                            <div layout="column" flex="50" class="text-group" ng-if="value.departTime">
                                                <label>Depart</label>
                                                <span class="value">{{value.departTime}}</span>
                                            </div>
                                            <div layout="column" flex="50" class="text-group" ng-if="value.from">
                                                <label>&nbsp;</label>
                                                <span class="value">{{value.from}}</span>
                                            </div>
                                            <div layout="column" flex="50" class="text-group" ng-if="value.arrivalTime">
                                                <label>Arrival</label>
                                                <span class="value">{{value.arrivalTime}}</span>
                                            </div>
                                            <div layout="column" flex="50" class="text-group" ng-if="value.to">
                                                <label>&nbsp;</label>
                                                <span class="value">{{value.to}}</span>
                                            </div>

                                            <div layout="column" flex="100" class="text-group" ng-if="value.hotelName">
                                                <label>Hotel Name</label>
                                                <span class="value">{{value.hotelName}}</span>
                                            </div>
                                            <div layout="column" flex="100" class="text-group" ng-if="value.address">
                                                <label>Address</label>
                                                <span class="value">{{value.address}}</span>
                                            </div>
                                            <div layout="column" flex="100" class="text-group" ng-if="value.checkInTime">
                                                <label>Check-In Time</label>
                                                <span class="value">{{value.checkInTime}}</span>
                                            </div>
                                            <div layout="column" flex="100" class="text-group" ng-if="value.checkOutTime">
                                                <label>Check-Out Time</label>
                                                <span class="value">{{value.checkOutTime}}</span>
                                            </div>

                                            <div layout="column" flex="100" class="text-group" ng-if="value.notes">
                                                <label>Notes</label>
                                                <span class="value">{{value.notes}}</span>
                                            </div>
                                            <md-divider ng-if="!$last"></md-divider>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-content>
        </div>
</div>